/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: "avenir";
  src: url(/static/fonts/avenir/AvenirLTProLight.otf);
}

@font-face {
  font-family: "avenirMed";
  src: url(/static/fonts/avenir/AvenirLTProMedium.otf);
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #066363;
  --ifm-color-primary-dark: #0A3F45;
  --ifm-color-primary-darker: #062A2E;
  --ifm-color-primary-darkest: #062A2E;
  --ifm-color-primary-light: #2B9E98;
  --ifm-color-primary-lighter: #97DFD5;
  --ifm-color-primary-lightest: #DAF7F0;

  --ifm-code-font-size: 80%;
  --docusaurus-highlighted-code-line-bg: rgb(199, 199, 199);

  --ifm-background-color: #f1fff9;

  --ifm-color-info: #39A1D5;
  --ifm-color-info-dark: #39A1D5;

  --ifm-table-stripe-background: transparent;
  --ifm-table-border-width: 0px;

  font-family: "avenir";
  line-height: 1.4em;

}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #2B9E98;
  --ifm-color-primary-dark: #2B9E98;
  --ifm-color-primary-darker: #97DFD5;
  --ifm-color-primary-darkest: #DAF7F0;
  --ifm-color-primary-light: #0A3F45;
  --ifm-color-primary-lighter: #062A2E;
  --ifm-color-primary-lightest: #062A2E;

  background-color: rgb(34, 37, 41);

  --docusaurus-highlighted-code-line-bg: rgb(100, 100, 100);
}

.container {
  display: flex;
  flex-direction: row;
  max-width: var(--ifm-container-width);
}

.child1 {
  width: 50%;
  background-color: transparent;
  padding-right: 30px;
  padding-top: 20px;
}

.child2 {
  width: 50%;
  background-color: transparent;
  padding-left: 20px;
  padding-top: 20px;
}

.child3 {
  width: 75%;
  background-color: transparent;
  padding: 10px;
  padding-top: 20px;
}

.child4 {
  width: 100%;
  background-color: transparent;
  padding: 10px;
  padding-top: 20px;
}

.thin-scrollbar {
  scrollbar-width: auto;
  --ifm-scrollbar-track-background-color: transparent;
  --ifm-scrollbar-thumb-background-color: #97DFD5;
}

[data-theme="dark"] .thin-scrollbar {
  --ifm-scrollbar-thumb-background-color: #0A3F45;
}

.menu__caret:before {
  background: var(--ifm-menu-link-sublist-icon) 50%/1.5rem 1.5rem;
}

.menu__link--sublist-caret:after {
  background: var(--ifm-menu-link-sublist-icon) 50%/1.5rem 1.5rem;
}

a.card {
  color: var(--ifm-heading-color);
  text-decoration: none;
}

.alert--info {
  --ifm-alert-background-color: #DAF7F0;
  --ifm-alert-border-color: #2B9E98;
}

[data-theme="dark"] .alert--info {
  --ifm-alert-background-color: #062A2E;
  --ifm-alert-border-color: #2B9E98;
}

.indexCards {
  background-color: #DAF7F0;
  border: 1.5px solid #2B9E98;
  height: 175px;
  font-size: 14px;
}

[data-theme="dark"] .indexCards {
  background-color: #062A2E;
  border: 1.5px solid #2B9E98;
}

.indexCards:hover {
  border: 1.5px solid black;
}

[data-theme="dark"] .indexCards:hover {
  border: 1.5px solid rgb(61, 61, 61);
}

.navbar__link--active {
  font-family: "avenirMed";
}

a.navbarLink:hover {
  font-family: "avenirMed";
}

.sidebarCategory {
  font-family: "avenirMed";
  font-size: 16px
}

.sidebarItem {
  font-family: "avenir";
  font-size: 14px;
}

.prism-code {
  max-height: 600px;
}

.code-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 90%;
  font-weight: 600;
}

.value-text {
  font-family: "avenir";
  font-weight: 600;
}

code {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 90%;
  font-weight: 600;
  background-color: transparent;
  border: none;
}

var {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 90%;
  font-style: normal;
  font-weight: 600;
  background-color: rgb(224, 224, 224);
  border: none;
  padding: 2px;
}

[data-theme="dark"] var {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 90%;
  font-style: normal;
  font-weight: 600;
  background-color: rgb(90, 90, 90);
  border: none;
  padding: 2px;
}

.path-text {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 90%;
}

:root .type-text {
  font-size: 80%;
  color: rgba(0, 0, 0, 0.75);
}

[data-theme="dark"] .type-text {
  font-size: 80%;
  color: rgba(219, 219, 219, 0.658);
}

.required-text {
  font-size: 80%;
  color: #E53E3E;
}

h1 {
  font-size: 40px;
  color: #147E7E;
  padding-bottom: 4px;
  line-height: 1.2em;
}

h2 {
  font-size: 36px;
  padding-bottom: 4px;
  line-height: 1.2em;
}

h3 {
  font-size: 32px;
  padding-bottom: 4px;
  line-height: 1.2em;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 18px;
}

[data-theme="dark"] tr {
  --ifm-table-stripe-background: transparent;
}

[data-theme="dark"] table th {
  --ifm-table-head-background: rgb(34, 37, 41);
}

table {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 4px;
}

[data-theme="dark"] table {
  border: 1px solid rgb(61, 61, 61);
  border-radius: 4px;
}

table th {
  border-bottom: 2px solid rgb(184, 184, 184);
}

[data-theme="dark"] table th {
  border-bottom: 2px solid rgb(61, 61, 61);
}

td:first-child {
  width: 175px;
  text-align: right;
}

td:nth-child(2) {
  font-size: 90%;
}

.border {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 0px 4px 4px 4px;
  padding-right: 5px;
  font-size: 90%;
}

.secondBorder {
  border: 3px solid rgb(184, 184, 184);
  border-style: double;
  border-radius: 0px 4px 4px 4px;
  padding-right: 5px;
  font-size: 90%;
}