{
  "openapi": "3.0.1",
  "info": {
    "title": "MCP Dashboard API Specification",
    "version": "1.0.0",
    "description": "MCP Dashboard API Specification",
    "contact": {
      "name": "IQM Support",
      "url": "https://iqm.com/contact/",
      "email": "support@iqm.com"
    }
  },
  "servers": [
    {
      "url": "https://api.iqm.com",
      "description": "IQM API"
    }
  ],
  "tags": [
    {
      "name": "MCP",
      "description": "MCP API endpoints"
    }
  ],
  "paths": {
    "/api/v3/das/dashboard/{dashboardId}": {
      "put": {
        "tags": [
          "MCP"
        ],
        "summary": "Update Dashboard API",
        "description": "This API allows user to update label and configuration of dashboard of an already created dashboard configuration.",
        "operationId": "updateDashboardAPI",
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "description": "Dashboard Id for which the dashboard configuration needs to be updated.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "description": "Map of configuration which needs to be updated mandatory keys (label, data)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardUpdateRequest"
              },
              "examples": {
                "Request body for updating label and data": {
                  "description": "Request body for updating label and data",
                  "value": {
                    "label": "Dashboard Name",
                    "data": {
                      "freeze": {
                        "rows": 0,
                        "columns": 0
                      },
                      "metric": {
                        "id": 9,
                        "key": "CTR",
                        "label": "CTR",
                        "order": 1,
                        "value": "CTR",
                        "description": "Click-through rate is the percentage of Clicks received per the Impressions served",
                        "fieldDataType": "percent",
                        "defaultEnabled": true,
                        "aggregationType": "avg"
                      },
                      "search": "",
                      "status": {
                        "label": "All (1428)",
                        "value": "all"
                      },
                      "timezone": {
                        "id": 29,
                        "label": "US/Eastern",
                        "value": "US/Eastern"
                      },
                      "dimension": {
                        "id": 1,
                        "key": "campaign",
                        "label": "Campaign",
                        "order": 1,
                        "value": "campaign",
                        "groupId": 1,
                        "description": "Campaign Name",
                        "fieldDataType": "text",
                        "isRowToColumn": false,
                        "isFilterSupported": true,
                        "isCustomerDependent": true
                      },
                      "tableLevel": {
                        "label": "Campaign Groups",
                        "value": "groups"
                      },
                      "lastModified": 1692167373,
                      "sortingColumns": [
                        {
                          "label": "ID",
                          "value": "campaignId",
                          "active": true,
                          "alwaysEnabled": true,
                          "draggableGroup": 1
                        },
                        {
                          "label": "Campaign Name",
                          "value": "campaignName",
                          "active": true,
                          "alwaysEnabled": true,
                          "draggableGroup": 1
                        },
                        {
                          "label": "VCR(%)",
                          "value": "VCR",
                          "active": true
                        },
                        {
                          "label": "WinRate(%)",
                          "value": "winRate",
                          "active": true
                        }
                      ],
                      "filteredGroupsIds": [135120],
                      "filteredCampaignsIds": [334656, 334651, 334650, 334649],
                      "sortingGroupsColumns": [
                        {
                          "label": "ID",
                          "value": "campaignGroupId",
                          "alwaysEnabled": true,
                          "draggableGroup": 1
                        },
                        {
                          "label": "WinRate(%)",
                          "value": "winRate",
                          "active": true
                        }
                      ],
                      "selectedCampaignTypes": [],
                      "isSelectingCampaignsByGroup": true
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardMessageResponse"
                },
                "examples": {
                  "Update Dashboard": {
                    "description": "Update Dashboard",
                    "value": {
                      "success": true,
                      "data": {
                        "message": "sample-1 has been saved"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid Dashboard Id for update": {
                    "description": "Invalid Dashboard Id for update",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Dashboard id is invalid for update"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/das/report/metrics-timeline": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Get campaign performance metrics over time (graph)",
        "description": "Returns time-bucketed data points representing campaign performance over the requested date range.\n\n**Output-point count by range**\n- 1–11 days (hourly): always **24 points** — hourly slots are merged so that each output point covers an equal number of hours.\n- 12–24 days (daily): **one point per day** — no merging, output count equals the number of calendar days.\n- 25–360 days (daily): **≤ 24 points** — consecutive days are merged into buckets using the smallest factor that keeps the output count ≤ 24.\n    - Example: if the range is 44 days, the system will merge days into 2-day buckets to produce 22 output points.\n    - If the range is 75 days, it will use 4-day buckets to produce 19 output points.\n- \u003E 360 days (daily): same as above, with the first N buckets absorbing one extra day each to distribute the remainder evenly.\n- Missing time slots (no DB data for a slot) are gap-filled with zero-value data points so the response always covers the full requested range.\n\n",
        "operationId": "dashboard-report-metrics-timeline",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "description": "Filters, dimension, and optional timezone for the metrics-timeline graph.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignGraphRequest"
              },
              "examples": {
                "Single day hourly graph (\u003C 12 days)": {
                  "summary": "Hourly breakdown for today",
                  "description": "Single day hourly graph (\u003C 12 days)",
                  "value": {
                    "filters": {
                      "startTimeEpochMillis": 1773633600000,
                      "endTimeEpochMillis": 1773719999000
                    },
                    "dimension": "CAMPAIGN",
                    "timezoneId": 29
                  }
                },
                "30-day daily graph with filters": {
                  "summary": "Daily breakdown for a month with campaign and owner filters",
                  "description": "30-day daily graph with filters",
                  "value": {
                    "filters": {
                      "startTimeEpochMillis": 1771041600000,
                      "endTimeEpochMillis": 1773719999000,
                      "campaignStatusList": [
                        "running",
                        "paused"
                      ],
                      "owIds": [200058, 200062],
                      "campaignIds": [582510, 582511]
                    },
                    "dimension": "CAMPAIGN",
                    "timezoneId": 29
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invalid sortBy value."
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "Successful graph data response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignGraphDataPointResponse"
                },
                "examples": {
                  "Successful response with 24 data points": {
                    "summary": "Typical graph response",
                    "description": "Successful response with 24 data points",
                    "value": {
                      "success": true,
                      "data": {
                        "totalRecords": 24,
                        "recordsList": [
                          {
                            "startDate": 1773633600000,
                            "endDate": 1773636599000,
                            "impressions": 21000,
                            "clicks": 630,
                            "spent": 2100,
                            "mediaSpent": 1890,
                            "startCount": 0,
                            "firstCount": 0,
                            "midCount": 0,
                            "thirdCount": 0,
                            "completeCount": 0,
                            "winRate": 28.5,
                            "CTR": 3,
                            "eCPM": 90,
                            "totalECPM": 100,
                            "eCPC": 3,
                            "totalECPC": 3.5,
                            "eCPCV": 0,
                            "VCR": 0,
                            "totalAttributedConversion": 0,
                            "workspaceSpent": 1750,
                            "platformSpent": 210,
                            "platformMediaEarning": 189,
                            "workspaceMediaEarning": 945
                          }
                        ]
                      }
                    }
                  },
                  "Empty response for app/workspace owner with no accessible OW IDs": {
                    "summary": "No-data response when user has no effective ownership scope",
                    "description": "Empty response for app/workspace owner with no accessible OW IDs",
                    "value": {
                      "success": true,
                      "data": {
                        "totalRecords": 0,
                        "recordsList": []
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/das/report/metrics-comparison": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Compare aggregated campaign metrics between two periods",
        "description": "Returns aggregated performance metrics for the selected date range (current period)\nand for the immediately preceding period of the exact same duration (previous period).\n\nComparison logic:\n- If the selected range is 1 day, response compares \"today vs yesterday\".\n- If the selected range is 7 days, response compares \"this 7‑day period vs previous 7‑day period\".\n- In general, previous period = [startTimeEpochMillis - duration, startTimeEpochMillis),\n  where duration = endTimeEpochMillis - startTimeEpochMillis.\n\nThe API supports rich filtering on campaigns, creatives, IOs, verticals, statuses and owners.\nData is fetched from reporting.tblr_campaigns and is filtered partition‑first on ow_id and ts_epoch_hourly.\n\n**Ownership rules and owIds behaviour**\n- If filters.owIds is provided, it is validated against the logged‑in user's ownership configuration.\n- If filters.owIds is omitted or empty, the system will automatically expand it to:\n  (a) all customer OW IDs the user is allowed to see, plus\n  (b) the logged‑in user's own OW ID.\n- For app / workspace owners, if after validation there are no effective OW IDs,\n  the API returns a successful response with all metrics set to 0 for both periods.\n\n**Validation rules**\n- filters: mandatory object.\n- filters.startTimeEpochMillis: required, must be \u003C endTimeEpochMillis.\n- filters.endTimeEpochMillis: required, must be \u003E startTimeEpochMillis.\n- dimension: required, must be one of the supported values of DashboardDimension\n  (e.g. CAMPAIGN, IO, CUSTOMER, WORKSPACE, EXCHANGE). Any other value results\n  in HTTP 422 with an appropriate error message.\n\n**Search behaviour (searchField)**\n- When dimension = CAMPAIGN, the free‑text search is applied on campaign fields\n\n**Response semantics**\n- data.current: metrics aggregated over [startTimeEpochMillis, endTimeEpochMillis).\n- data.previous: metrics aggregated over the immediately preceding window of the same duration.\n",
        "operationId": "dashboard-report-metrics-comparison",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "description": "Filters and aggregation dimension to compute current vs previous period metrics.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetricsComparisonRequest"
              },
              "examples": {
                "Single day, campaign dimension, minimal filters": {
                  "summary": "Today vs yesterday for a single campaign",
                  "description": "Compares metrics for one campaign for a 1‑day window against the previous day.",
                  "value": {
                    "filters": {
                      "startTimeEpochMillis": 1773719999000,
                      "endTimeEpochMillis": 1773806399000,
                      "campaignIds": [582510]
                    },
                    "dimension": "CAMPAIGN"
                  }
                },
                "Seven‑day range with rich filters": {
                  "summary": "Week‑over‑week comparison for multiple campaigns and owners",
                  "description": "Compares a 7‑day period vs the previous 7‑day period with campaign, status and owner filters.",
                  "value": {
                    "filters": {
                      "startTimeEpochMillis": 1773633600000,
                      "endTimeEpochMillis": 1774238399000,
                      "searchField": "temp-camp",
                      "creativeTypeIds": [11, 13, 14, 17],
                      "campaignTypeIds": [1],
                      "campaignIds": [582510, 582511, 582512],
                      "campaignStatusList": [
                        "running"
                      ],
                      "owIds": [200058, 200062, 200153, 200178],
                      "ioIds": [],
                      "verticalIds": []
                    },
                    "dimension": "CAMPAIGN"
                  }
                },
                "Invalid range (start \u003E= end)": {
                  "summary": "Validation error example",
                  "description": "Demonstrates a request that will fail validation because the start time is not less than end time.",
                  "value": {
                    "filters": {
                      "startTimeEpochMillis": 1773806399000,
                      "endTimeEpochMillis": 1773806399000
                    },
                    "dimension": "CAMPAIGN"
                  }
                },
                "Invalid dimension value": {
                  "summary": "Dimension validation failure",
                  "description": "Request using an unsupported dimension value; results in HTTP 422 with an Invalid dimension message.",
                  "value": {
                    "filters": {
                      "startTimeEpochMillis": 1773719999000,
                      "endTimeEpochMillis": 1773806399000
                    },
                    "dimension": "INVALID_DIMENSION"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "Successful metrics comparison.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsComparisonResponse"
                },
                "examples": {
                  "Successful response with non‑zero metrics": {
                    "summary": "Today vs yesterday example",
                    "description": "Successful response with non‑zero metrics",
                    "value": {
                      "success": true,
                      "data": {
                        "current": {
                          "impressions": 500000,
                          "clicks": 15000,
                          "spent": 50000,
                          "CTR": 3,
                          "totalECPC": 3.33,
                          "totalECPM": 100,
                          "winRate": 285,
                          "mediaSpent": 45000
                        },
                        "previous": {
                          "impressions": 480000,
                          "clicks": 14400,
                          "spent": 48000,
                          "CTR": 3,
                          "totalECPC": 3.33,
                          "totalECPM": 100,
                          "winRate": 280,
                          "mediaSpent": 43200
                        }
                      }
                    }
                  },
                  "Empty metrics for app/workspace owner with no accessible OW IDs": {
                    "summary": "All‑zero metrics when user has no effective ownership scope",
                    "description": "Empty metrics for app/workspace owner with no accessible OW IDs",
                    "value": {
                      "success": true,
                      "data": {
                        "current": {
                          "impressions": 0,
                          "clicks": 0,
                          "spent": 0,
                          "CTR": 0,
                          "totalECPC": 0,
                          "totalECPM": 0,
                          "winRate": 0,
                          "mediaSpent": 0
                        },
                        "previous": {
                          "impressions": 0,
                          "clicks": 0,
                          "spent": 0,
                          "CTR": 0,
                          "totalECPC": 0,
                          "totalECPM": 0,
                          "winRate": 0,
                          "mediaSpent": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/das/report/by-workspace": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Get campaign performance report grouped by workspace (v4).",
        "description": "Fetches aggregated campaign performance metrics grouped by workspace owner (owId). Only Super IQM users are authorised. When owIds is empty the API auto-populates all customer owIds of the logged-in super user. Supports AGGREGATED, AGGREGATED_LIST, and AGGREGATED_TOTAL request types.",
        "operationId": "v4-dashboard-get-report-by-workspace",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceReportRequest"
              },
              "examples": {
                "Report data list and total": {
                  "description": "Report data list and total",
                  "value": {
                    "pagination": {
                      "pageNo": 1,
                      "noOfEntries": 200
                    },
                    "sort": {
                      "field": "impressions",
                      "order": "DESC"
                    },
                    "filters": {
                      "owIds": [200058, 200062, 200153, 200178],
                      "startTimeEpochMillis": 1773633600000,
                      "endTimeEpochMillis": 1773719999000,
                      "searchField": "",
                      "creativeTypeIds": [11, 13, 14, 17],
                      "campaignTypeIds": [1],
                      "verticalIds": [],
                      "campaignStatusList": [
                        "running"
                      ]
                    },
                    "requestType": "AGGREGATED"
                  }
                },
                "Report data list only": {
                  "description": "Report data list only",
                  "value": {
                    "pagination": {
                      "pageNo": 1,
                      "noOfEntries": 200
                    },
                    "sort": {
                      "field": "impressions",
                      "order": "DESC"
                    },
                    "filters": {
                      "owIds": [200058, 200062, 200153, 200178],
                      "startTimeEpochMillis": 1773633600000,
                      "endTimeEpochMillis": 1773719999000,
                      "searchField": "",
                      "campaignStatusList": []
                    },
                    "requestType": "AGGREGATED_LIST"
                  }
                },
                "Totals only": {
                  "description": "Totals only",
                  "value": {
                    "filters": {
                      "owIds": [200058, 200062, 200153, 200178],
                      "startTimeEpochMillis": 1773633600000,
                      "endTimeEpochMillis": 1773719999000
                    },
                    "requestType": "AGGREGATED_TOTAL"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invalid sortBy value."
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceReportEnvelope"
                },
                "examples": {
                  "Report data list and total": {
                    "description": "Report data list and total",
                    "value": {
                      "success": true,
                      "data": {
                        "totalRecords": 4,
                        "filteredRecords": 4,
                        "recordsTotal": {
                          "filteredRecordsTotal": 4,
                          "impressions": 105709,
                          "clicks": 99,
                          "mediaSpent": 1534.25,
                          "CTR": 0.094,
                          "winRate": 13.52,
                          "spent": 1837.82,
                          "VCR": 0,
                          "dataCost": 18.44,
                          "thirdPartyCost": 2.75,
                          "workspaceSpent": 623.6,
                          "platformSpent": 541.08,
                          "workspaceMediaEarning": 512.3,
                          "platformMediaEarning": 425.1,
                          "organizationBidShadingSaving": 0,
                          "totalAttributedConversion": 5,
                          "totalAttributedViewThroughConversion": 2,
                          "totalAttributedClickThroughConversion": 3,
                          "costPerAttributedConversion": 367.56,
                          "totalAttributedConversionRate": 0.0047,
                          "prebidCost": 0,
                          "pldInsightsCost": 12.33,
                          "slsInsightsCost": 5.1,
                          "vldInsightsCost": 8.75,
                          "aqInsightsCost": 3.2,
                          "adServingCost": 2.75,
                          "platformTotalEarning": 425.1,
                          "platformPLDInsightsEarnings": 10,
                          "platformSLSInsightsEarnings": 4.2,
                          "platformVLDInsightsEarnings": 7.5,
                          "platformBidShadingEarning": 0,
                          "platformAQInsightsEarnings": 2.8,
                          "workspaceTotalEarning": 512.3,
                          "workspacePLDInsightsEarnings": 2.33,
                          "workspaceSLSInsightsEarnings": 0.9,
                          "workspaceVLDInsightsEarnings": 1.25,
                          "workspaceBidShadingEarning": 0,
                          "workspaceAQInsightsEarnings": 0.4
                        },
                        "recordsList": [
                          {
                            "owId": 200058,
                            "workspaceId": 1053,
                            "workspaceName": "stageadv1",
                            "organizationName": "Test Organisation - Alpha",
                            "budgetDay": 65.69,
                            "budgetTotal": 1000,
                            "budgetDayCombined": 130.5,
                            "budgetTotalCombined": 2000,
                            "impressions": 47326,
                            "clicks": 42,
                            "mediaSpent": 638.47,
                            "CTR": 0.0886,
                            "winRate": 20.01,
                            "spent": 765.72,
                            "VCR": 0,
                            "dataCost": 8.2,
                            "thirdPartyCost": 2.75,
                            "workspaceSpent": 253.4,
                            "platformSpent": 210.05,
                            "workspaceMediaEarning": 210.3,
                            "platformMediaEarning": 175.22,
                            "organizationBidShadingSaving": 0,
                            "totalAttributedConversion": 3,
                            "totalAttributedViewThroughConversion": 1,
                            "totalAttributedClickThroughConversion": 2,
                            "costPerAttributedConversion": 255.24,
                            "totalAttributedConversionRate": 0.0063,
                            "prebidCost": 0,
                            "pldInsightsCost": 6.5,
                            "slsInsightsCost": 2.1,
                            "vldInsightsCost": 4.25,
                            "aqInsightsCost": 1.6,
                            "adServingCost": 1.2,
                            "platformTotalEarning": 175.22,
                            "platformPLDInsightsEarnings": 5.4,
                            "platformSLSInsightsEarnings": 1.8,
                            "platformVLDInsightsEarnings": 3.6,
                            "platformBidShadingEarning": 0,
                            "platformAQInsightsEarnings": 1.4,
                            "workspaceTotalEarning": 210.3,
                            "workspacePLDInsightsEarnings": 1.1,
                            "workspaceSLSInsightsEarnings": 0.3,
                            "workspaceVLDInsightsEarnings": 0.65,
                            "workspaceBidShadingEarning": 0,
                            "workspaceAQInsightsEarnings": 0.2
                          }
                        ]
                      }
                    }
                  },
                  "Only totals": {
                    "description": "Only totals",
                    "value": {
                      "success": true,
                      "data": {
                        "totalRecords": 0,
                        "filteredRecords": 0,
                        "recordsTotal": {
                          "filteredRecordsTotal": 4,
                          "impressions": 105709,
                          "clicks": 99,
                          "mediaSpent": 1534.25,
                          "CTR": 0.094,
                          "winRate": 13.52,
                          "spent": 1837.82,
                          "VCR": 0,
                          "dataCost": 18.44,
                          "thirdPartyCost": 2.75,
                          "workspaceSpent": 623.6,
                          "platformSpent": 541.08,
                          "workspaceMediaEarning": 512.3,
                          "platformMediaEarning": 425.1,
                          "organizationBidShadingSaving": 0,
                          "totalAttributedConversion": 5,
                          "totalAttributedViewThroughConversion": 2,
                          "totalAttributedClickThroughConversion": 3,
                          "costPerAttributedConversion": 367.56,
                          "totalAttributedConversionRate": 0.0047,
                          "prebidCost": 0,
                          "pldInsightsCost": 12.33,
                          "slsInsightsCost": 5.1,
                          "vldInsightsCost": 8.75,
                          "aqInsightsCost": 3.2,
                          "adServingCost": 2.75,
                          "platformTotalEarning": 425.1,
                          "platformPLDInsightsEarnings": 10,
                          "platformSLSInsightsEarnings": 4.2,
                          "platformVLDInsightsEarnings": 7.5,
                          "platformBidShadingEarning": 0,
                          "platformAQInsightsEarnings": 2.8,
                          "workspaceTotalEarning": 512.3,
                          "workspacePLDInsightsEarnings": 2.33,
                          "workspaceSLSInsightsEarnings": 0.9,
                          "workspaceVLDInsightsEarnings": 1.25,
                          "workspaceBidShadingEarning": 0,
                          "workspaceAQInsightsEarnings": 0.4
                        }
                      }
                    }
                  },
                  "Report data list only": {
                    "description": "Report data list only",
                    "value": {
                      "success": true,
                      "data": {
                        "totalRecords": 4,
                        "filteredRecords": 4,
                        "recordsList": [
                          {
                            "owId": 200058,
                            "workspaceId": 1053,
                            "workspaceName": "stageadv1",
                            "organizationName": "Test Organisation - Alpha",
                            "budgetDay": 65.69,
                            "budgetTotal": 1000,
                            "budgetDayCombined": 130.5,
                            "budgetTotalCombined": 2000,
                            "impressions": 47326,
                            "clicks": 42,
                            "mediaSpent": 638.47,
                            "CTR": 0.0886,
                            "winRate": 20.01,
                            "spent": 765.72,
                            "VCR": 0,
                            "dataCost": 8.2,
                            "thirdPartyCost": 2.75,
                            "workspaceSpent": 253.4,
                            "platformSpent": 210.05,
                            "workspaceMediaEarning": 210.3,
                            "platformMediaEarning": 175.22,
                            "organizationBidShadingSaving": 0,
                            "totalAttributedConversion": 3,
                            "totalAttributedViewThroughConversion": 1,
                            "totalAttributedClickThroughConversion": 2,
                            "costPerAttributedConversion": 255.24,
                            "totalAttributedConversionRate": 0.0063,
                            "prebidCost": 0,
                            "pldInsightsCost": 6.5,
                            "slsInsightsCost": 2.1,
                            "vldInsightsCost": 4.25,
                            "aqInsightsCost": 1.6,
                            "adServingCost": 1.2,
                            "platformTotalEarning": 175.22,
                            "platformPLDInsightsEarnings": 5.4,
                            "platformSLSInsightsEarnings": 1.8,
                            "platformVLDInsightsEarnings": 3.6,
                            "platformBidShadingEarning": 0,
                            "platformAQInsightsEarnings": 1.4,
                            "workspaceTotalEarning": 210.3,
                            "workspacePLDInsightsEarnings": 1.1,
                            "workspaceSLSInsightsEarnings": 0.3,
                            "workspaceVLDInsightsEarnings": 0.65,
                            "workspaceBidShadingEarning": 0,
                            "workspaceAQInsightsEarnings": 0.2
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/das/report/by-workspace-download": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Download workspace report based on filters",
        "description": "Downloads a workspace-level campaign performance report in the specified file format based on the provided filters.\n\n**When to use this API:**\n- Use this endpoint to export workspace-level campaign performance data for offline analysis or reporting.\n- The API returns a pre-signed URL that is valid for a limited time to download the generated file.\n\n**Supported file formats:**\n- `xlsx` - Microsoft Excel format\n- `csv` - Comma-separated values format\n\n**Supported column fields and labels:**\n| Label | Field Value |\n|-------|-------------|\n| ID | workspaceId |\n| Workspace Name | workspaceName |\n| Insertion Order Name | ioName |\n| Daily Budget | budgetDay |\n| Total Budget | budgetTotal |\n| Bid Shading Saving | organizationBidShadingSaving |\n| Workspace Media Earnings | workspaceMediaEarning |\n| Total Workspace Earnings | workspaceTotalEarning |\n| Workspace PLD Insights Earnings | workspacePLDInsightsEarnings |\n| Workspace SLS Insights Earnings | workspaceSLSInsightsEarnings |\n| Workspace VLD Insights Earnings | workspaceVLDInsightsEarnings |\n| Workspace Bid Shading Earnings | workspaceBidShadingEarning |\n| Workspace AQ Insights Earnings | workspaceAQInsightsEarnings |\n| Platform Media Earnings | platformMediaEarning |\n| Total Platform Earnings | platformTotalEarning |\n| Platform PLD Insights Earnings | platformPLDInsightsEarnings |\n| Platform SLS Insights Earnings | platformSLSInsightsEarnings |\n| Platform VLD Insights Earnings | platformVLDInsightsEarnings |\n| Platform Bid Shading Earnings | platformBidShadingEarning |\n| Platform AQ Insights Earnings | platformAQInsightsEarnings |\n| Impressions | impressions |\n| Clicks | clicks |\n| CTR | CTR |\n| Win Rate | winRate |\n| VCR | VCR |\n| Total Advertiser Spent | spent |\n| Ad Serving Cost | adServingCost |\n| Data Cost | dataCost |\n| Pre-bid Cost | prebidCost |\n| Media Cost | mediaSpent |\n| 3rd Party Cost | thirdPartyCost |\n| PLD Insights Cost | pldInsightsCost |\n| SLS Insights Cost | slsInsightsCost |\n| VLD Insights Cost | vldInsightsCost |\n| AQ Insights Cost | aqInsightsCost |\n| Workspace Spent | workspaceSpent |\n| Platform Spent | platformSpent |\n| Attributed Conversions | totalAttributedConversion |\n| Attributed View Through Conversions | totalAttributedViewThroughConversion |\n| Attributed Click Through Conversions | totalAttributedClickThroughConversion |\n| Cost Per Attributed Conversion | costPerAttributedConversion |\n| Attributed Conversion Rate | totalAttributedConversionRate |\n\n**Pagination:**\n- This endpoint does **not** support pagination parameters. All matching records based on the applied filters are included in the downloaded file.\n- Sorting is supported via the `sort` object with `field` (column name) and `order` (`ASC` or `DESC`).\n\n**Response URL:**\n- On success, the response contains a pre-signed download URL in `data.url`.\n- The URL is a temporary, pre-signed cloud storage link (e.g., AWS S3) that expires after a limited period.\n- The client should initiate the file download promptly after receiving the URL.\n",
        "operationId": "dashboard-report-by-workspace-download",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceReportDownloadRequest"
              },
              "examples": {
                "Request payload for downloading workspace report": {
                  "description": "Request payload for downloading workspace report",
                  "value": {
                    "sort": {
                      "field": "impressions",
                      "order": "DESC"
                    },
                    "filters": {
                      "startTimeEpochMillis": 1773896400000,
                      "endTimeEpochMillis": 1773982799000,
                      "campaignStatusList": [
                        "running"
                      ]
                    },
                    "downloadRequest": {
                      "columns": [
                        {
                          "label": "ID",
                          "value": "workspaceId"
                        },
                        {
                          "label": "Workspace Name",
                          "value": "workspaceName"
                        },
                        {
                          "label": "Total Budget",
                          "value": "budgetTotal"
                        },
                        {
                          "label": "Daily Budget",
                          "value": "budgetDay"
                        },
                        {
                          "label": "Bid Shading Savings",
                          "value": "organizationBidShadingSaving"
                        },
                        {
                          "label": "Impressions",
                          "value": "impressions"
                        },
                        {
                          "label": "Clicks",
                          "value": "clicks"
                        },
                        {
                          "label": "CTR",
                          "value": "CTR"
                        },
                        {
                          "label": "Win Rate",
                          "value": "winRate"
                        },
                        {
                          "label": "VCR",
                          "value": "VCR"
                        },
                        {
                          "label": "Attributed Conversions",
                          "value": "totalAttributedConversion"
                        },
                        {
                          "label": "Attributed View Through Conversions",
                          "value": "totalAttributedViewThroughConversion"
                        },
                        {
                          "label": "Attributed Click Through Conversions",
                          "value": "totalAttributedClickThroughConversion"
                        },
                        {
                          "label": "Cost Per Attributed Conversion",
                          "value": "costPerAttributedConversion"
                        },
                        {
                          "label": "Attributed Conversion Rate",
                          "value": "totalAttributedConversionRate"
                        },
                        {
                          "label": "Data Cost",
                          "value": "dataCost"
                        },
                        {
                          "label": "Pre-bid Cost",
                          "value": "prebidCost"
                        },
                        {
                          "label": "Media Cost",
                          "value": "mediaSpent"
                        },
                        {
                          "label": "3rd Party Cost",
                          "value": "thirdPartyCost"
                        },
                        {
                          "label": "PLD Insights Cost",
                          "value": "pldInsightsCost"
                        },
                        {
                          "label": "SLS Cost",
                          "value": "slsInsightsCost"
                        },
                        {
                          "label": "VLD Insights Cost",
                          "value": "vldInsightsCost"
                        },
                        {
                          "label": "AQ Insights Cost",
                          "value": "aqInsightsCost"
                        },
                        {
                          "label": "Total Advertiser Spent",
                          "value": "spent"
                        },
                        {
                          "label": "Workspace Spent",
                          "value": "workspaceSpent"
                        },
                        {
                          "label": "Platform Spent",
                          "value": "platformSpent"
                        },
                        {
                          "label": "Ad Serving Cost",
                          "value": "adServingCost"
                        },
                        {
                          "label": "Workspace Media Earnings",
                          "value": "workspaceMediaEarning"
                        },
                        {
                          "label": "Platform Media Earnings",
                          "value": "platformMediaEarning"
                        },
                        {
                          "label": "Total Platform Earnings",
                          "value": "platformTotalEarning"
                        },
                        {
                          "label": "Platform PLD Insights Earnings",
                          "value": "platformPLDInsightsEarnings"
                        },
                        {
                          "label": "Platform SLS Earnings",
                          "value": "platformSLSInsightsEarnings"
                        },
                        {
                          "label": "Platform VLD Insights Earnings",
                          "value": "platformVLDInsightsEarnings"
                        },
                        {
                          "label": "Platform Bid Shading Earnings",
                          "value": "platformBidShadingEarning"
                        },
                        {
                          "label": "Platform AQ Insights Earnings",
                          "value": "platformAQInsightsEarnings"
                        },
                        {
                          "label": "Total Workspace Earnings",
                          "value": "workspaceTotalEarning"
                        },
                        {
                          "label": "Workspace PLD Insights Earnings",
                          "value": "workspacePLDInsightsEarnings"
                        },
                        {
                          "label": "Workspace SLS Earnings",
                          "value": "workspaceSLSInsightsEarnings"
                        },
                        {
                          "label": "Workspace VLD Insights Earnings",
                          "value": "workspaceVLDInsightsEarnings"
                        },
                        {
                          "label": "Workspace Bid Shading Earnings",
                          "value": "workspaceBidShadingEarning"
                        },
                        {
                          "label": "Workspace AQ Insights Earnings",
                          "value": "workspaceAQInsightsEarnings"
                        }
                      ],
                      "fileType": "xlsx",
                      "fileName": "Workspace"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invalid sortBy value."
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "examples": {
                  "Response for successful workspace report download": {
                    "description": "Response for successful workspace report download",
                    "value": {
                      "success": true,
                      "data": {
                        "url": "https://example.com/download/workspace_report.xlsx"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/das/report/by-io": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Get IO (Insertion-Order) level performance report data (v4).",
        "description": "This API fetches IO (Insertion-Order) level aggregated performance report data including core metrics, pacing, reach/frequency, insights earnings and conversions as per the given filters in the request body. It supports pagination and sorting on supported columns.",
        "operationId": "v4-dashboard-report-by-io",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IOReportRequest"
              },
              "examples": {
                "Report data list and total": {
                  "description": "Report data list and total",
                  "value": {
                    "pagination": {
                      "pageNo": 1,
                      "noOfEntries": 50
                    },
                    "sort": {
                      "field": "impressions",
                      "order": "DESC"
                    },
                    "filters": {
                      "owIds": [200058, 200062, 200153, 200178],
                      "startTimeEpochMillis": 1773633600000,
                      "endTimeEpochMillis": 1773719999000,
                      "searchField": "",
                      "ioIds": [1001, 1002],
                      "campaignBudgetTypeIds": [1, 2],
                      "campaignStatusList": [
                        "running",
                        "paused",
                        "pending"
                      ]
                    },
                    "requestType": "AGGREGATED"
                  }
                },
                "Report data list": {
                  "description": "Report data list",
                  "value": {
                    "pagination": {
                      "pageNo": 1,
                      "noOfEntries": 50
                    },
                    "sort": {
                      "field": "impressions",
                      "order": "DESC"
                    },
                    "filters": {
                      "owIds": [200058, 200062, 200153, 200178],
                      "startTimeEpochMillis": 1773633600000,
                      "endTimeEpochMillis": 1773719999000,
                      "searchField": "",
                      "ioIds": [],
                      "campaignBudgetTypeIds": [1, 2],
                      "campaignStatusList": [
                        "running",
                        "paused",
                        "pending"
                      ]
                    },
                    "requestType": "AGGREGATED_LIST"
                  }
                },
                "Report data total": {
                  "description": "Report data total",
                  "value": {
                    "pagination": {
                      "pageNo": 1,
                      "noOfEntries": 50
                    },
                    "sort": {
                      "field": "impressions",
                      "order": "DESC"
                    },
                    "filters": {
                      "owIds": [200058, 200062, 200153, 200178],
                      "startTimeEpochMillis": 1773633600000,
                      "endTimeEpochMillis": 1773719999000
                    },
                    "requestType": "AGGREGATED_TOTAL"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IOReportEnvelope"
                },
                "examples": {
                  "Report data list and total": {
                    "description": "Report data list and total",
                    "value": {
                      "success": true,
                      "data": {
                        "totalRecords": 2,
                        "filteredRecords": 2,
                        "recordsTotal": {
                          "filteredRecordsTotal": 2,
                          "impressions": 248500,
                          "clicks": 7455,
                          "spent": 4312.75,
                          "mediaSpent": 3881.48,
                          "dataCost": 216.4,
                          "prebidCost": 0,
                          "winRate": 26.3,
                          "CTR": 3,
                          "VCR": 0,
                          "workspaceSpent": 3881.48,
                          "platformSpent": 431.27,
                          "workspaceMediaEarning": 194.07,
                          "platformMediaEarning": 388.15,
                          "workspaceBidShadingEarning": 0,
                          "platformBidShadingEarning": 0,
                          "workspaceTotalEarning": 194.07,
                          "platformTotalEarning": 388.15,
                          "organizationBidShadingSaving": 0,
                          "adServingCost": 0,
                          "thirdPartyCost": 0,
                          "ivtImpressions": 0,
                          "ivtClicks": 0,
                          "reach": 210000,
                          "frequency": 1.18,
                          "totalAttributedConversion": 0,
                          "totalAttributedViewThroughConversion": 0,
                          "totalAttributedClickThroughConversion": 0,
                          "costPerAttributedConversion": 0,
                          "totalAttributedConversionRate": 0,
                          "ioTotalBudget": 13000,
                          "ioTotalImpressions": 0,
                          "vldInsightsCost": null,
                          "pldInsightsCost": 0,
                          "slsInsightsCost": 0,
                          "aqInsightsCost": 0,
                          "workspacePLDInsightsEarnings": 0,
                          "platformPLDInsightsEarnings": 0,
                          "workspaceVLDInsightsEarnings": null,
                          "platformVLDInsightsEarnings": null,
                          "workspaceSLSInsightsEarnings": 0,
                          "platformSLSInsightsEarnings": 0,
                          "workspaceAQInsightsEarnings": 0,
                          "platformAQInsightsEarnings": 0
                        },
                        "recordsList": [
                          {
                            "ioId": 1001,
                            "ioName": "Summer Campaign IO",
                            "owId": 200058,
                            "organizationName": "Acme Corp",
                            "ioBudgetTypeId": 1,
                            "ioStatusId": 1,
                            "ioStartTime": 1773633600000,
                            "ioEndTime": 1775398399000,
                            "ioTimezone": 29,
                            "ioTimezoneName": "US/Eastern",
                            "isAutoSumIoTotalBudget": true,
                            "campaignsCount": 4,
                            "ioTotalBudget": 8000,
                            "ioTotalBudgetCombined": 8000,
                            "ioTotalImpressions": 0,
                            "targetImpression": 0,
                            "impressions": 148500,
                            "clicks": 4455,
                            "spent": 2643.8,
                            "mediaSpent": 2379.42,
                            "dataCost": 132.19,
                            "prebidCost": 0,
                            "thirdPartyCost": 0,
                            "winRate": 27.1,
                            "CTR": 3,
                            "VCR": 0,
                            "workspaceSpent": 2379.42,
                            "platformSpent": 264.38,
                            "workspaceMediaEarning": 118.97,
                            "platformMediaEarning": 237.94,
                            "workspaceBidShadingEarning": 0,
                            "platformBidShadingEarning": 0,
                            "workspaceTotalEarning": 118.97,
                            "platformTotalEarning": 237.94,
                            "organizationBidShadingSaving": 0,
                            "adServingCost": null,
                            "ivtImpressions": 0,
                            "ivtClicks": 0,
                            "reach": 130000,
                            "frequency": 1.14,
                            "totalAttributedConversion": 12,
                            "totalAttributedViewThroughConversion": 5,
                            "totalAttributedClickThroughConversion": 7,
                            "costPerAttributedConversion": 220.32,
                            "totalAttributedConversionRate": 0.27,
                            "ioDuration": 21,
                            "ioRemainingDuration": 10,
                            "ioActualSpent": 2643.8,
                            "ioExpectedSpent": 4000,
                            "ioPacingPercentage": 33.05,
                            "vldInsightsCost": null,
                            "pldInsightsCost": 50,
                            "slsInsightsCost": 12.5,
                            "aqInsightsCost": 8,
                            "workspacePLDInsightsEarnings": 5,
                            "platformPLDInsightsEarnings": 45,
                            "workspaceVLDInsightsEarnings": null,
                            "platformVLDInsightsEarnings": null,
                            "workspaceSLSInsightsEarnings": 1.25,
                            "platformSLSInsightsEarnings": 11.25,
                            "workspaceAQInsightsEarnings": 0.8,
                            "platformAQInsightsEarnings": 7.2
                          },
                          {
                            "ioId": 1002,
                            "ioName": "Q2 Branding IO",
                            "owId": 200062,
                            "organizationName": "Beta Media",
                            "ioBudgetTypeId": 2,
                            "ioStatusId": 1,
                            "ioStartTime": 1771041600000,
                            "ioEndTime": 1775398399000,
                            "ioTimezone": 420,
                            "ioTimezoneName": "US/Mountain",
                            "isAutoSumIoTotalBudget": false,
                            "campaignsCount": 2,
                            "ioTotalBudget": 0,
                            "ioTotalBudgetCombined": 500000,
                            "ioTotalImpressions": 500000,
                            "targetImpression": 500000,
                            "impressions": 100000,
                            "clicks": 3000,
                            "spent": 1668.95,
                            "mediaSpent": 1502.06,
                            "dataCost": 84.21,
                            "prebidCost": 0,
                            "thirdPartyCost": 0,
                            "winRate": 25,
                            "CTR": 3,
                            "VCR": 0,
                            "workspaceSpent": 1502.06,
                            "platformSpent": 166.89,
                            "workspaceMediaEarning": 75.1,
                            "platformMediaEarning": 150.21,
                            "workspaceBidShadingEarning": 0,
                            "platformBidShadingEarning": 0,
                            "workspaceTotalEarning": 75.1,
                            "platformTotalEarning": 150.21,
                            "organizationBidShadingSaving": 0,
                            "adServingCost": 0,
                            "ivtImpressions": 0,
                            "ivtClicks": 0,
                            "reach": 80000,
                            "frequency": 1.25,
                            "totalAttributedConversion": null,
                            "totalAttributedViewThroughConversion": null,
                            "totalAttributedClickThroughConversion": null,
                            "costPerAttributedConversion": null,
                            "totalAttributedConversionRate": null,
                            "ioDuration": 50,
                            "ioRemainingDuration": 24,
                            "ioActualSpent": 100000,
                            "ioExpectedSpent": 250000,
                            "ioPacingPercentage": 20,
                            "vldInsightsCost": 12.33,
                            "pldInsightsCost": 0,
                            "slsInsightsCost": 0,
                            "aqInsightsCost": 0,
                            "workspacePLDInsightsEarnings": 0,
                            "platformPLDInsightsEarnings": 0,
                            "workspaceVLDInsightsEarnings": 1.23,
                            "platformVLDInsightsEarnings": 11.1,
                            "workspaceSLSInsightsEarnings": 0,
                            "platformSLSInsightsEarnings": 0,
                            "workspaceAQInsightsEarnings": 0,
                            "platformAQInsightsEarnings": 0
                          }
                        ]
                      }
                    }
                  },
                  "Only totals": {
                    "description": "Only totals",
                    "value": {
                      "success": true,
                      "data": {
                        "totalRecords": 0,
                        "filteredRecords": 0,
                        "recordsTotal": {
                          "filteredRecordsTotal": 26,
                          "impressions": 248500,
                          "clicks": 7455,
                          "spent": 4312.75,
                          "mediaSpent": 3881.48,
                          "dataCost": 216.4,
                          "prebidCost": 0,
                          "winRate": 26.3,
                          "CTR": 3,
                          "VCR": 0,
                          "workspaceSpent": 3881.48,
                          "platformSpent": 431.27,
                          "workspaceMediaEarning": 194.07,
                          "platformMediaEarning": 388.15,
                          "workspaceBidShadingEarning": 0,
                          "platformBidShadingEarning": 0,
                          "workspaceTotalEarning": 194.07,
                          "platformTotalEarning": 388.15,
                          "organizationBidShadingSaving": 0,
                          "adServingCost": 0,
                          "thirdPartyCost": 0,
                          "ivtImpressions": 0,
                          "ivtClicks": 0,
                          "reach": 210000,
                          "frequency": 1.18,
                          "totalAttributedConversion": 12,
                          "totalAttributedViewThroughConversion": 5,
                          "totalAttributedClickThroughConversion": 7,
                          "costPerAttributedConversion": 220.32,
                          "totalAttributedConversionRate": 0.27,
                          "ioTotalBudget": 13000,
                          "ioTotalImpressions": 500000,
                          "vldInsightsCost": 12.33,
                          "pldInsightsCost": 50,
                          "slsInsightsCost": 12.5,
                          "aqInsightsCost": 8,
                          "workspacePLDInsightsEarnings": 5,
                          "platformPLDInsightsEarnings": 45,
                          "workspaceVLDInsightsEarnings": 1.23,
                          "platformVLDInsightsEarnings": 11.1,
                          "workspaceSLSInsightsEarnings": 1.25,
                          "platformSLSInsightsEarnings": 11.25,
                          "workspaceAQInsightsEarnings": 0.8,
                          "platformAQInsightsEarnings": 7.2
                        }
                      }
                    }
                  },
                  "Report data list": {
                    "description": "Report data list",
                    "value": {
                      "success": true,
                      "data": {
                        "totalRecords": 2,
                        "filteredRecords": 2,
                        "recordsList": [
                          {
                            "ioId": 1001,
                            "ioName": "Summer Campaign IO",
                            "owId": 200058,
                            "organizationName": "Acme Corp",
                            "ioBudgetTypeId": 1,
                            "ioStatusId": 1,
                            "ioStartTime": 1773633600000,
                            "ioEndTime": 1775398399000,
                            "ioTimezone": 29,
                            "ioTimezoneName": "US/Eastern",
                            "isAutoSumIoTotalBudget": true,
                            "campaignsCount": 4,
                            "ioTotalBudget": 8000,
                            "ioTotalBudgetCombined": 8000,
                            "ioTotalImpressions": 0,
                            "targetImpression": 0,
                            "impressions": 148500,
                            "clicks": 4455,
                            "spent": 2643.8,
                            "mediaSpent": 2379.42,
                            "dataCost": 132.19,
                            "prebidCost": 0,
                            "thirdPartyCost": 0,
                            "winRate": 27.1,
                            "CTR": 3,
                            "VCR": 0,
                            "workspaceSpent": 2379.42,
                            "platformSpent": 264.38,
                            "workspaceMediaEarning": 118.97,
                            "platformMediaEarning": 237.94,
                            "workspaceBidShadingEarning": 0,
                            "platformBidShadingEarning": 0,
                            "workspaceTotalEarning": 118.97,
                            "platformTotalEarning": 237.94,
                            "organizationBidShadingSaving": 0,
                            "adServingCost": null,
                            "ivtImpressions": 0,
                            "ivtClicks": 0,
                            "reach": 130000,
                            "frequency": 1.14,
                            "totalAttributedConversion": 12,
                            "totalAttributedViewThroughConversion": 5,
                            "totalAttributedClickThroughConversion": 7,
                            "costPerAttributedConversion": 220.32,
                            "totalAttributedConversionRate": 0.27,
                            "ioDuration": 21,
                            "ioRemainingDuration": 10,
                            "ioActualSpent": 2643.8,
                            "ioExpectedSpent": 4000,
                            "ioPacingPercentage": 33.05,
                            "vldInsightsCost": null,
                            "pldInsightsCost": 50,
                            "slsInsightsCost": 12.5,
                            "aqInsightsCost": 8,
                            "workspacePLDInsightsEarnings": null,
                            "platformPLDInsightsEarnings": null,
                            "workspaceVLDInsightsEarnings": null,
                            "platformVLDInsightsEarnings": null,
                            "workspaceSLSInsightsEarnings": null,
                            "platformSLSInsightsEarnings": null,
                            "workspaceAQInsightsEarnings": null,
                            "platformAQInsightsEarnings": null
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invalid sortBy value."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/das/report/by-io-download": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Download IO (Insertion-Order) level performance report (v4).",
        "description": "This API generates and uploads an IO level performance report file (xlsx/csv) based on the given filters and columns, and returns a pre-signed S3 download URL.",
        "operationId": "v4-dashboard-report-by-io-download",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IOReportDownloadRequest"
              },
              "examples": {
                "IO Report Download Request": {
                  "description": "IO Report Download Request",
                  "value": {
                    "filters": {
                      "owIds": [200058, 200062],
                      "startTimeEpochMillis": 1773633600000,
                      "endTimeEpochMillis": 1773719999000,
                      "searchField": "",
                      "ioIds": [],
                      "campaignStatusList": [
                        "running",
                        "paused",
                        "pending"
                      ]
                    },
                    "downloadRequest": {
                      "columns": [
                        {
                          "label": "ID",
                          "value": "ioId"
                        },
                        {
                          "label": "Insertion Order Name",
                          "value": "ioName"
                        },
                        {
                          "label": "Organization Name",
                          "value": "organizationName"
                        },
                        {
                          "label": "Status",
                          "value": "ioStatusId"
                        },
                        {
                          "label": "Campaigns",
                          "value": "campaignsCount"
                        },
                        {
                          "label": "Start Date",
                          "value": "ioStartTime"
                        },
                        {
                          "label": "End Date",
                          "value": "ioEndTime"
                        },
                        {
                          "label": "Total Budget",
                          "value": "ioTotalBudget"
                        },
                        {
                          "label": "IO Pacing",
                          "value": "ioPacingPercentage"
                        },
                        {
                          "label": "Workspace Media Earnings",
                          "value": "workspaceMediaEarning"
                        },
                        {
                          "label": "Total Workspace Earnings",
                          "value": "workspaceTotalEarning"
                        },
                        {
                          "label": "Workspace PLD Insights Earnings",
                          "value": "workspacePLDInsightsEarnings"
                        },
                        {
                          "label": "Workspace SLS Earnings",
                          "value": "workspaceSLSInsightsEarnings"
                        },
                        {
                          "label": "Workspace AQ Insights Earnings",
                          "value": "workspaceAQInsightsEarnings"
                        },
                        {
                          "label": "Workspace VLD Insights Earnings",
                          "value": "workspaceVLDInsightsEarnings"
                        },
                        {
                          "label": "Workspace Bid Shading Earnings",
                          "value": "workspaceBidShadingEarning"
                        },
                        {
                          "label": "Platform Media Earnings",
                          "value": "platformMediaEarning"
                        },
                        {
                          "label": "Total Platform Earnings",
                          "value": "platformTotalEarning"
                        },
                        {
                          "label": "Platform PLD Insights Earnings",
                          "value": "platformPLDInsightsEarnings"
                        },
                        {
                          "label": "Platform SLS Earnings",
                          "value": "platformSLSInsightsEarnings"
                        },
                        {
                          "label": "Platform AQ Insights Earnings",
                          "value": "platformAQInsightsEarnings"
                        },
                        {
                          "label": "Platform VLD Insights Earnings",
                          "value": "platformVLDInsightsEarnings"
                        },
                        {
                          "label": "Platform Bid Shading Earnings",
                          "value": "platformBidShadingEarning"
                        },
                        {
                          "label": "Total Advertiser Spent",
                          "value": "spent"
                        },
                        {
                          "label": "Ad Serving Cost",
                          "value": "adServingCost"
                        },
                        {
                          "label": "Data Cost",
                          "value": "dataCost"
                        },
                        {
                          "label": "Pre-bid Cost",
                          "value": "prebidCost"
                        },
                        {
                          "label": "3rd Party Cost",
                          "value": "thirdPartyCost"
                        },
                        {
                          "label": "Media Cost",
                          "value": "mediaSpent"
                        },
                        {
                          "label": "PLD Insights Cost",
                          "value": "pldInsightsCost"
                        },
                        {
                          "label": "SLS Cost",
                          "value": "slsInsightsCost"
                        },
                        {
                          "label": "AQ Insights Cost",
                          "value": "aqInsightsCost"
                        },
                        {
                          "label": "VLD Insights Cost",
                          "value": "vldInsightsCost"
                        },
                        {
                          "label": "Impressions",
                          "value": "impressions"
                        },
                        {
                          "label": "IVT Impressions",
                          "value": "ivtImpressions"
                        },
                        {
                          "label": "Clicks",
                          "value": "clicks"
                        },
                        {
                          "label": "IVT Clicks",
                          "value": "ivtClicks"
                        },
                        {
                          "label": "Reach",
                          "value": "reach"
                        },
                        {
                          "label": "Frequency",
                          "value": "frequency"
                        },
                        {
                          "label": "Attributed Conversions",
                          "value": "totalAttributedConversion"
                        },
                        {
                          "label": "Budget Type",
                          "value": "budgetTypeId"
                        }
                      ],
                      "fileType": "xlsx",
                      "fileName": "InsertionOrders"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invalid sortBy value."
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "examples": {
                  "Response for successful IO report download": {
                    "description": "Response for successful IO report download",
                    "value": {
                      "success": true,
                      "data": {
                        "url": "https://example.com/download/InsertionOrders_report.xlsx"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/das/report/by-exchange": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Get campaign performance report grouped by exchange.",
        "description": "This API fetches campaign performance aggregated metrics grouped by exchange as per the given filters in the request body. Only Super IQM users are authorised to access exchange-level reports. It supports pagination and sorting on supported columns.",
        "operationId": "v4-dashboard-get-report-by-exchange",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExchangeReportRequest"
              },
              "examples": {
                "Report data list and total": {
                  "description": "Report data list and total",
                  "value": {
                    "pagination": {
                      "pageNo": 1,
                      "noOfEntries": 200
                    },
                    "sort": {
                      "field": "impressions",
                      "order": "DESC"
                    },
                    "filters": {
                      "owIds": [1, 2, 3],
                      "startTimeEpochMillis": 1773979200000,
                      "endTimeEpochMillis": 1774065599000,
                      "searchField": "",
                      "creativeTypeIds": [],
                      "campaignIds": [],
                      "verticalIds": [],
                      "campaignStatusList": []
                    },
                    "requestType": "AGGREGATED"
                  }
                },
                "Report data list only": {
                  "description": "Report data list only",
                  "value": {
                    "pagination": {
                      "pageNo": 1,
                      "noOfEntries": 200
                    },
                    "sort": {
                      "field": "impressions",
                      "order": "DESC"
                    },
                    "filters": {
                      "owIds": [1, 2, 3],
                      "startTimeEpochMillis": 1773979200000,
                      "endTimeEpochMillis": 1774065599000,
                      "searchField": "",
                      "creativeTypeIds": [],
                      "campaignIds": [],
                      "verticalIds": [],
                      "campaignStatusList": []
                    },
                    "requestType": "AGGREGATED_LIST"
                  }
                },
                "Totals only": {
                  "description": "Totals only",
                  "value": {
                    "filters": {
                      "owIds": [1, 2, 3],
                      "startTimeEpochMillis": 1773979200000,
                      "endTimeEpochMillis": 1774065599000
                    },
                    "requestType": "AGGREGATED_TOTAL"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeReportResponse"
                },
                "examples": {
                  "Report data list and total": {
                    "description": "Report data list and total",
                    "value": {
                      "success": true,
                      "data": {
                        "totalRecords": 6,
                        "filteredRecords": 6,
                        "recordsTotal": {
                          "filteredRecordsTotal": 6,
                          "impressions": 59960,
                          "bidImpressions": 123456,
                          "clicks": 1487,
                          "prebidCost": 0,
                          "spent": 4514.2209112436,
                          "winRate": 251.01547123045,
                          "ivtImpressions": 0,
                          "ivtClicks": 0,
                          "platformSpent": 312.5784125,
                          "workspaceSpent": 3629.5875338042,
                          "CTR": 15.3497017869547,
                          "VCR": 0
                        },
                        "recordsList": [
                          {
                            "impressions": 17130,
                            "clicks": 392,
                            "prebidCost": 0,
                            "spent": 1240.2156829563,
                            "winRate": 44.5270463465987,
                            "bidImpressions": 123456,
                            "ivtImpressions": 0,
                            "ivtClicks": 0,
                            "platformSpent": 79.5123125,
                            "workspaceSpent": 965.1793245861,
                            "exchangeId": 16,
                            "exchangeName": "Pubmatic",
                            "CTR": 2.28838295388208,
                            "VCR": 0
                          },
                          {
                            "impressions": 15109,
                            "clicks": 408,
                            "prebidCost": 0,
                            "spent": 1143.5672841,
                            "winRate": 40.2573872265594,
                            "bidImpressions": 123456,
                            "ivtImpressions": 0,
                            "ivtClicks": 0,
                            "platformSpent": 87.9769125,
                            "workspaceSpent": 927.647839387,
                            "exchangeId": 88,
                            "exchangeName": "One Tag",
                            "CTR": 2.7003772585876,
                            "VCR": 0
                          }
                        ]
                      }
                    }
                  },
                  "Only totals": {
                    "description": "Only totals",
                    "value": {
                      "success": true,
                      "data": {
                        "totalRecords": 0,
                        "filteredRecords": 0,
                        "recordsTotal": {
                          "filteredRecordsTotal": 6,
                          "impressions": 59960,
                          "bidImpressions": 123456,
                          "clicks": 1487,
                          "prebidCost": 0,
                          "spent": 4514.2209112436,
                          "winRate": 251.01547123045,
                          "ivtImpressions": 0,
                          "ivtClicks": 0,
                          "platformSpent": 312.5784125,
                          "workspaceSpent": 3629.5875338042,
                          "CTR": 15.3497017869547,
                          "VCR": 0
                        }
                      }
                    }
                  },
                  "Report data list only": {
                    "description": "Report data list only",
                    "value": {
                      "success": true,
                      "data": {
                        "totalRecords": 6,
                        "filteredRecords": 6,
                        "recordsList": [
                          {
                            "impressions": 17130,
                            "clicks": 392,
                            "prebidCost": 0,
                            "spent": 1240.2156829563,
                            "winRate": 44.5270463465987,
                            "bidImpressions": 123456,
                            "ivtImpressions": 0,
                            "ivtClicks": 0,
                            "platformSpent": 79.5123125,
                            "workspaceSpent": 965.1793245861,
                            "exchangeId": 16,
                            "exchangeName": "Pubmatic",
                            "CTR": 2.28838295388208,
                            "VCR": 0
                          },
                          {
                            "impressions": 15109,
                            "clicks": 408,
                            "prebidCost": 0,
                            "spent": 1143.5672841,
                            "winRate": 40.2573872265594,
                            "bidImpressions": 123456,
                            "ivtImpressions": 0,
                            "ivtClicks": 0,
                            "platformSpent": 87.9769125,
                            "workspaceSpent": 927.647839387,
                            "exchangeId": 88,
                            "exchangeName": "One Tag",
                            "CTR": 2.7003772585876,
                            "VCR": 0
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invalid sortBy value."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
[...]
