{
  "openapi": "3.0.1",
  "info": {
    "title": "MCP Insights API Specification",
    "version": "v0",
    "description": "MCP Insights API Specification",
    "contact": {
      "name": "IQM Support",
      "url": "https://iqm.com/contact/",
      "email": "support@iqm.com"
    }
  },
  "servers": [
    {
      "url": "https://api.iqm.com",
      "description": "IQM API"
    }
  ],
  "tags": [
    {
      "name": "MCP",
      "description": "MCP API endpoints"
    }
  ],
  "paths": {
    "/api/v3/ins/vld-reports/computation": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "This API computes the cost and impressions for creation of VLD reports",
        "description": "This API appropriately calculates the cost for the impressions for the Voter Level Data Reports based on the impressions and the mark up charged on the organisation.",
        "operationId": "getChargeableImpressionsDataForVLDReports",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VLDReportComputationRequestVO"
              },
              "examples": {
                "For new Campaign and date range": {
                  "description": "For new Campaign and date range",
                  "value": {
                    "campaignId": 1,
                    "vldStartDate": 1722311000,
                    "vldEndDate": 1722315000
                  }
                },
                "For Generate Again": {
                  "description": "For Generate Again",
                  "value": {
                    "vldId": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VLDComputationResponse"
                },
                "examples": {
                  "Successful VLD Report computation": {
                    "description": "Successful VLD Report computation",
                    "value": {
                      "success": true,
                      "data": {
                        "vldReportCreated": true,
                        "campaignId": 1,
                        "campaignName": "Campaign Name",
                        "campaignStatus": "running",
                        "vldStartDate": 1722311000,
                        "vldEndDate": 1722315000,
                        "vldChargeableImps": 1000,
                        "vldChargedImps": 100,
                        "vldChargeableCost": 1000,
                        "vldChargedCost": 100,
                        "fundsAvailable": true
                      }
                    }
                  },
                  "Same VLD report exists": {
                    "description": "Same VLD report exists",
                    "value": {
                      "success": true,
                      "data": {
                        "vldReportCreated": false,
                        "vldId": 1,
                        "vldName": "1_VLD_INSIGHTS_1",
                        "vldStatusId": 1,
                        "vldCreatedOn": 1722315234,
                        "campaignId": 1,
                        "campaignName": "Campaign Name",
                        "creativeTypeId": 1,
                        "ioId": 1,
                        "ioName": "Insertion Order Name",
                        "ioTypeId": 1
                      }
                    }
                  },
                  "VLD report exists same campaign with overlapping date range is in processing": {
                    "description": "VLD report exists same campaign with overlapping date range is in processing",
                    "value": {
                      "success": true,
                      "data": {
                        "vldReportCreated": false,
                        "message": "VLD Insights can't be generated for this campaign at the moment as another insight with overlapping date range is processing"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ins/vld-report": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "This API generates VLD reports",
        "description": "This API appropriately calculates the cost for the impressions for the Voter Level Data Reports based on the impressions and the mark up charged on the organisation and then creates the VLD Reports.",
        "operationId": "generateVLDReports",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VLDReportComputationRequestVO"
              },
              "examples": {
                "For new Campaign and date range": {
                  "description": "For new Campaign and date range",
                  "value": {
                    "campaignId": 1,
                    "vldStartDate": 1722311000,
                    "vldEndDate": 1722315000
                  }
                },
                "For Generate Again": {
                  "description": "For Generate Again",
                  "value": {
                    "vldId": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VLDReport"
                },
                "examples": {
                  "Successful VLD Report": {
                    "description": "Successful VLD Report",
                    "value": {
                      "success": true,
                      "data": {
                        "vldReportCreated": true,
                        "campaignId": 1,
                        "campaignName": "Campaign Name",
                        "campaignStatus": "running",
                        "vldStartDate": 1722311000,
                        "vldEndDate": 1722315000,
                        "vldChargeableImps": 1000,
                        "vldChargedImps": 100,
                        "vldChargeableCost": 1000,
                        "vldChargedCost": 100,
                        "fundsAvailable": true
                      }
                    }
                  },
                  "Same VLD report exists": {
                    "description": "Same VLD report exists",
                    "value": {
                      "success": true,
                      "data": {
                        "vldReportCreated": false,
                        "vldId": 1,
                        "vldName": "1_VLD_INSIGHTS_1",
                        "vldStatusId": 1,
                        "vldCreatedOn": 1722315234,
                        "campaignId": 1,
                        "campaignName": "Campaign Name",
                        "creativeTypeId": 1,
                        "ioId": 1,
                        "ioName": "Insertion Order Name",
                        "ioTypeId": 1
                      }
                    }
                  },
                  "VLD report exists same campaign with overlapping date range is in processing": {
                    "description": "VLD report exists same campaign with overlapping date range is in processing",
                    "value": {
                      "success": true,
                      "data": {
                        "vldReportCreated": false,
                        "message": "VLD Insights can't be generated for this campaign at the moment as another insight with overlapping date range is processing"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "MCP"
        ],
        "summary": "Delete Failed VLD Reports",
        "description": "This API deletes VLD reports that are not marked as deleted and have a 'failed' status. It requires the user to be authorized and checks if the provided VLD IDs are valid.",
        "operationId": "deleteFailedVLDReport",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          },
          {
            "name": "vldIds",
            "in": "query",
            "description": "Comma-separated list of VLD IDs to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "individual VLD report successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                },
                "examples": {
                  "Success response": {
                    "description": "Success response",
                    "value": {
                      "success": true,
                      "data": {
                        "message": "255944_VLD_Insights_2 deleted successfully"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invalid sortBy value."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ins/vld-report/email": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Sends an email containing the VLD report to specified recipients.",
        "description": "This API handles the process of sending an email with a VLD (Voter Level Data) report.",
        "operationId": "sendMailForVlDReport",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequestVO"
              },
              "examples": {
                "Email XLSX file": {
                  "description": "Email XLSX file",
                  "value": {
                    "fileTypeId": 1,
                    "emailIds": [
                      "user1@email.com"
                    ],
                    "reportId": 50
                  }
                },
                "Email CSV file": {
                  "description": "Email CSV file",
                  "value": {
                    "fileTypeId": 2,
                    "emailIds": [
                      "user1@email.com"
                    ],
                    "reportId": 50
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                },
                "examples": {
                  "Successful response body": {
                    "description": "Successful response body",
                    "value": {
                      "success": true,
                      "data": {
                        "message": "VLD report e-mail sent successfully."
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invalid sortBy value."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ins/vld-report/download": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Download VLD (Audience Quality Score) Report",
        "description": "Downloads the Audience Quality Score (VLD) report.\nOnly reports with a 'ready' status are eligible for download.\nThe API validates the report status, file type, and user permissions before generating a pre-signed download URL.\n",
        "operationId": "getVLDReportDownloadUrl",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadReportRequestVO"
              },
              "examples": {
                "Download XLSX file": {
                  "description": "Download XLSX file",
                  "value": {
                    "fileTypeId": 1,
                    "reportId": 50
                  }
                },
                "Download CSV file": {
                  "description": "Download CSV file",
                  "value": {
                    "fileTypeId": 2,
                    "reportId": 50
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully generated download URL for the VLD report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadVldReport"
                },
                "examples": {
                  "Successful response": {
                    "description": "Successful response",
                    "value": {
                      "success": true,
                      "data": {
                        "vldReportUrl": "https://xyz.abc.com/reports/abcd/2024-12-03/50_acbd_Report.xlsx?X-Amz-Algorithm=AWS4-HMAC"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - unsupported file type",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid file type": {
                    "description": "Invalid file type",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Unsupported file type provided. Please use fileType 1 for XLSX or 2 for CSV."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invalid sortBy value."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ins/sls-reports": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "This API provides a list of SLS reports in the Insight app.",
        "description": "API to get a list of sls report based on the provided searchField, pageSize, pageNo, and sortBy parameters.",
        "operationId": "getSLSReportList",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          },
          {
            "name": "searchField",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "noOfEntries",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 200
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "reportId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SLSReportsList"
                },
                "examples": {
                  "SLS reports list": {
                    "description": "SLS reports list",
                    "value": {
                      "success": true,
                      "data": {
                        "totalRecords": 2,
                        "slsReportDataList": [
                          {
                            "slsId": 10,
                            "slsName": "530667_SLS_Insights_7",
                            "campaignIds": [
                              21145,
                              21146,
                              21147
                            ],
                            "slsStatusId": 3,
                            "slsStatusName": "Failed",
                            "startDate": 1732165200000,
                            "endDate": 1732424399000,
                            "ioId": 5,
                            "ioName": "Corporate, Inc.",
                            "isCampaignEligible": false,
                            "slsCreatedOn": 1721253632,
                            "campaignSlsTimezoneId": 29,
                            "ioTypeId": 1,
                            "pdfFileSize": 2500000,
                            "excelFileSize": 2500000,
                            "slsReportTypeIds": [
                              1,
                              2,
                              3
                            ]
                          },
                          {
                            "slsId": 9,
                            "slsName": "530667_SLS_Insights_6",
                            "campaignId": [
                              4949,
                              5959
                            ],
                            "slsStatusId": 2,
                            "slsStatusName": "Processing",
                            "startDate": 1732165200000,
                            "endDate": 1732424399000,
                            "ioId": 15,
                            "ioName": "Quinton for Mayor",
                            "isCampaignEligible": false,
                            "slsCreatedOn": 1720325578,
                            "campaignSlsTimezoneId": 29,
                            "ioTypeId": 1,
                            "slsReportTypeIds": [
                              1,
                              3
                            ]
                          }
                        ],
                        "filteredRecords": 2
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "This API generates SLS reports",
        "description": "This API appropriately calculates the cost for the impressions for the ScriptLift Studies Reports based on the impressions and the mark up charged on the organisation and then creates the SLS Reports.",
        "operationId": "generateSLSReports",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SLSReportComputationRequestVO"
              },
              "examples": {
                "For generation of new report without competitive_analysis report type": {
                  "description": "For generation of new report without competitive_analysis report type",
                  "value": {
                    "ioId": 1234,
                    "campaignIds": [
                      1,
                      2,
                      3
                    ],
                    "slsStartDate": 1722311000,
                    "slsEndDate": 1722315000,
                    "slsName": "Dummy SLS Name",
                    "slsLookbackDuration": 3,
                    "conceptGroupId": "202335",
                    "reportTypes": [
                      1,
                      2
                    ]
                  }
                },
                "For generation of new report competitive_analysis report type": {
                  "description": "For generation of new report competitive_analysis report type",
                  "value": {
                    "ioId": 1234,
                    "campaignIds": [
                      1,
                      2,
                      3
                    ],
                    "slsStartDate": 1722311000,
                    "slsEndDate": 1722315000,
                    "slsName": "Dummy SLS Name",
                    "slsLookbackDuration": 3,
                    "conceptGroupId": "202335",
                    "reportTypes": [
                      1,
                      2,
                      3
                    ],
                    "competitorConceptGroupIds": [
                      "800214",
                      "800215",
                      "800216"
                    ]
                  }
                },
                "For regeneration of failed SLS reports": {
                  "description": "For regeneration of failed SLS reports",
                  "value": {
                    "slsId": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SLSComputationResponse"
                },
                "examples": {
                  "Successful SLS Report computation": {
                    "description": "Successful SLS Report computation",
                    "value": {
                      "success": true,
                      "data": {
                        "slsReportCreated": true,
                        "campaignIds": [
                          1,
                          2,
                          3
                        ],
                        "slsStartDate": 1722311000,
                        "slsEndDate": 1722315000,
                        "slsChargeableImps": 1000,
                        "slsChargedImps": 100,
                        "slsChargeableCost": 1000,
                        "slsChargedCost": 100,
                        "slsName": "Dummy SLS Name",
                        "slsLookbackDuration": 3,
                        "conceptGroupId": "202335",
                        "reportTypes": [
                          1,
                          2,
                          3
                        ],
                        "competitorConceptGroupIds": [
                          "800214",
                          "800215",
                          "800216"
                        ],
                        "fundsAvailable": true
                      }
                    }
                  },
                  "Same SLS report exists": {
                    "description": "Same SLS report exists",
                    "value": {
                      "success": true,
                      "data": {
                        "slsReportCreated": false,
                        "slsId": 1,
                        "slsName": "SLS report 1",
                        "slsStatusId": 1,
                        "slsCreatedOn": 1722315234,
                        "campaignId": [
                          1,
                          2
                        ],
                        "ioId": 1,
                        "ioName": "Insertion Order Name",
                        "ioTypeId": 1,
                        "slsLookbackDuration": 3,
                        "conceptGroupId": "202335",
                        "reportTypes": [
                          1,
                          2,
                          3
                        ],
                        "competitorConceptGroupIds": [
                          "800214",
                          "800215",
                          "800216"
                        ]
                      }
                    }
                  },
                  "Another SLS report with same campaign with overlapping date range is in processing": {
                    "description": "Another SLS report with same campaign with overlapping date range is in processing",
                    "value": {
                      "success": true,
                      "data": {
                        "slsReportCreated": false,
                        "message": "SLS Insights can't be generated for this campaigns at the moment as another insight with overlapping date range is processing"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "MCP"
        ],
        "summary": "Delete Failed SLS Reports",
        "description": "This API deletes SLS reports that are not marked as deleted and have a 'failed' status. It requires the user to be authorized and checks if the provided SLS IDs are valid.\n---\n#### Request Body Detail\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| slsIds | Array | List of slsIds to be deleted |\n",
        "operationId": "deleteFailedSLSReport",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          },
          {
            "name": "slsIds",
            "in": "query",
            "description": "Comma-separated list of SLS IDs to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                },
                "examples": {
                  "Bulk SLS reports successfully deleted.": {
                    "description": "Bulk SLS reports successfully deleted.",
                    "value": {
                      "success": true,
                      "data": {
                        "message": "2 SLS insights deleted successfully"
                      }
                    }
                  },
                  "Individual SLS report successfully deleted.": {
                    "description": "Individual SLS report successfully deleted.",
                    "value": {
                      "success": true,
                      "data": {
                        "message": "255944_SLS_Insights_2 deleted successfully"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid SLS IDs provided": {
                    "description": "Invalid SLS IDs provided",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Some of the provided SLS ID(s) are either already deleted, do not exist, or do not have a 'failed' status."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ins/sls-reports/email": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Sends an email containing the SLS report to specified recipients.",
        "description": "This API handles the process of sending an email with an SLS (Script Lift Study) report.",
        "operationId": "sendMailForSlsReport",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequestVO"
              },
              "examples": {
                "Email XLSX file": {
                  "description": "Email XLSX file",
                  "value": {
                    "fileType": 1,
                    "emailIds": [
                      "user1@email.com"
                    ],
                    "slsId": 50
                  }
                },
                "Email PDF file": {
                  "description": "Email PDF file",
                  "value": {
                    "fileType": 3,
                    "emailIds": [
                      "user1@email.com",
                      "user2@email.com"
                    ],
                    "slsId": 50
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                },
                "examples": {
                  "Successful response body": {
                    "description": "Successful response body",
                    "value": {
                      "success": true,
                      "data": {
                        "message": "SLS report e-mail sent successfully."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ins/sls-reports/download": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Download SLS (Audience Quality Score) Report",
        "description": "Downloads the Audience Quality Score (SLS) report.\nOnly reports with a 'ready' status are eligible for download.\nThe API validates the report status, file type, and user permissions before generating a pre-signed download URL.\n",
        "operationId": "getSLSReportDownloadUrl",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadReportRequestVO"
              },
              "examples": {
                "Download XLSX file": {
                  "description": "Download XLSX file",
                  "value": {
                    "fileType": 1,
                    "slsId": 50
                  }
                },
                "Download CSV file": {
                  "description": "Download CSV file",
                  "value": {
                    "fileType": 3,
                    "slsId": 50
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully generated download URL for the SLS report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadSlsReport"
                },
                "examples": {
                  "Successful response": {
                    "description": "Successful response",
                    "value": {
                      "success": true,
                      "data": {
                        "reportUrl": "https://xyz.abc.com/reports/abcd/2024-12-03/50_acbd_Report.xlsx?X-Amz-Algorithm=AWS4-HMAC"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - unsupported file type",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid file type": {
                    "description": "Invalid file type",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Unsupported file type provided. Please use fileType 1 for XLSX or 2 for CSV."
                        }
                      ]
                    }
                  },
                  "SLS report is not in a ready state": {
                    "description": "SLS report is not in a ready state",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "The provided SLS report ID: 50 is not in the ready state. Current status: processing"
                        }
                      ]
                    }
                  },
                  "Report not found": {
                    "description": "Report not found",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "The provided SLS report ID: 50 does not exist or has been deleted."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invalid sortBy value."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ins/sls-reports/computation": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "This API computes the cost and impressions for creation of SLS reports",
        "description": "This API appropriately calculates the cost for the impressions for the Script Lift Studies based on the impressions and the mark up charged on the organisation.",
        "operationId": "getChargeableImpressionsDataForSLSReports",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SLSReportComputationRequestVO"
              },
              "examples": {
                "For generation of new report without competitive_analysis report type": {
                  "description": "For generation of new report without competitive_analysis report type",
                  "value": {
                    "ioId": 1234,
                    "campaignIds": [
                      1,
                      2,
                      3
                    ],
                    "slsStartDate": 1722311000,
                    "slsEndDate": 1722315000,
                    "slsName": "Dummy SLS Name",
                    "slsLookbackDuration": 3,
                    "conceptGroupId": "202335",
                    "reportTypes": [
                      1,
                      2
                    ]
                  }
                },
                "For generation of new report competitive_analysis report type": {
                  "description": "For generation of new report competitive_analysis report type",
                  "value": {
                    "ioId": 1234,
                    "campaignIds": [
                      1,
                      2,
                      3
                    ],
                    "slsStartDate": 1722311000,
                    "slsEndDate": 1722315000,
                    "slsName": "Dummy SLS Name",
                    "slsLookbackDuration": 3,
                    "conceptGroupId": "202335",
                    "reportTypes": [
                      1,
                      2,
                      3
                    ],
                    "competitorConceptGroupIds": [
                      "800214",
                      "800215",
                      "800216"
                    ]
                  }
                },
                "For regeneration of failed SLS reports": {
                  "description": "For regeneration of failed SLS reports",
                  "value": {
                    "slsId": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SLSComputationResponse"
                },
                "examples": {
                  "Successful SLS Report computation": {
                    "description": "Successful SLS Report computation",
                    "value": {
                      "success": true,
                      "data": {
                        "slsReportCreated": true,
                        "campaignIds": [
                          1,
                          2,
                          3
                        ],
                        "slsStartDate": 1722311000,
                        "slsEndDate": 1722315000,
                        "slsChargeableImps": 1000,
                        "slsChargedImps": 100,
                        "slsChargeableCost": 1000,
                        "slsChargedCost": 100,
                        "slsName": "Dummy SLS Name",
                        "slsLookbackDuration": 3,
                        "conceptGroupId": "202335",
                        "reportTypes": [
                          1,
                          2,
                          3
                        ],
                        "competitorConceptGroupIds": [
                          "800214",
                          "800215",
                          "800216"
                        ],
                        "fundsAvailable": true
                      }
                    }
                  },
                  "Same SLS report exists": {
                    "description": "Same SLS report exists",
                    "value": {
                      "success": true,
                      "data": {
                        "slsReportCreated": false,
                        "slsId": 1,
                        "slsName": "SLS report 1",
                        "slsStatusId": 1,
                        "slsCreatedOn": 1722315234,
                        "campaignId": [
                          1,
                          2
                        ],
                        "ioId": 1,
                        "ioName": "Insertion Order Name",
                        "ioTypeId": 1,
                        "slsLookbackDuration": 3,
                        "conceptGroupId": "202335",
                        "reportTypes": [
                          1,
                          2,
                          3
                        ],
                        "competitorConceptGroupIds": [
                          "800214",
                          "800215",
                          "800216"
                        ]
                      }
                    }
                  },
                  "Another SLS report with same campaign with overlapping date range is in processing": {
                    "description": "Another SLS report with same campaign with overlapping date range is in processing",
                    "value": {
                      "success": true,
                      "data": {
                        "slsReportCreated": false,
                        "message": "SLS Insights can't be generated for this campaigns at the moment as another insight with overlapping date range is processing"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ins/send-email": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "This API send insights email.",
        "description": "This API send insights email. This email contains attachment for insights reports. This Consumes data in multipart/form-data format.",
        "operationId": "sendInsightsEmail",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["attachmentType", "recipientEmails"],
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "default": 0,
                    "description": "Insights identity number (optional if audienceId is provided)."
                  },
                  "audienceId": {
                    "type": "integer",
                    "format": "int32",
                    "default": 0,
                    "description": "Audience identity number (optional if id/insightId is provided)."
                  },
                  "attachmentType": {
                    "type": "string",
                    "description": "The form of insights report attachment to include in the email. Supported values are `xlsx` and `pdf`."
                  },
                  "recipientEmails": {
                    "type": "string",
                    "description": "The comma-separated string of recipient emails to send the Insights report emails. Up to 15 emails can be specified at a time."
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Optional custom logo file for PDF reports."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "examples": {
                  "Email sent successful": {
                    "description": "Email sent successful",
                    "value": {
                      "success": true,
                      "data": "Insights-1 pdf email sent successfully."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid insights id": {
                    "description": "Invalid insights id",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Please provide valid insights id value."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ins/report/email": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Sends an email containing the insights report to specified recipients.",
        "description": "This API handles the process of sending an email with an attached insights report.",
        "operationId": "sendMailForReport",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequestVO"
              },
              "examples": {
                "Email XLSX file": {
                  "description": "Email XLSX file",
                  "value": {
                    "fileTypeId": 1,
                    "emailIds": [
                      "user1@email.com"
                    ],
                    "reportId": 50
                  }
                },
                "Email CSV file": {
                  "description": "Email CSV file",
                  "value": {
                    "fileTypeId": 2,
                    "emailIds": [
                      "user1@email.com",
                      "user2@email.com"
                    ],
                    "reportId": 50
                  }
                },
                "Email PDF file": {
                  "description": "Email PDF file",
                  "value": {
                    "fileTypeId": 3,
                    "emailIds": [
                      "user1@email.com"
                    ],
                    "reportId": 50
                  }
                },
                "Email ZIP file": {
                  "description": "Email ZIP file",
                  "value": {
                    "fileTypeId": 4,
                    "emailIds": [
                      "user1@email.com",
                      "user2@email.com"
                    ],
                    "reportId": 50
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "examples": {
                  "Successful response body": {
                    "description": "Successful response body",
                    "value": {
                      "success": true,
                      "data": {
                        "message": "ICT report e-mail sent successfully."
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "examples": {
                  "Null report ID provided": {
                    "description": "Null report ID provided",
                    "value": {
                      "success": false,
                      "data": {
                        "message": "Report IDs cannot be empty"
                      }
                    }
                  },
                  "Invalid report ID provided": {
                    "description": "Invalid report ID provided",
                    "value": {
                      "success": false,
                      "data": {
                        "message": "Please provide valid insights id value."
                      }
                    }
                  },
                  "Invalid file type provided": {
                    "description": "Invalid file type provided",
                    "value": {
                      "success": false,
                      "data": {
                        "message": "Unsupported file type provided"
                      }
                    }
                  },
                  "Non Ready report ID provided": {
                    "description": "Non Ready report ID provided",
                    "value": {
                      "success": false,
                      "data": {
                        "message": "The provided ICT ID: 50 is not in the ready state."
                      }
                    }
                  },
                  "Report with too large size provided": {
                    "description": "Report with too large size provided",
                    "value": {
                      "success": false,
                      "data": {
                        "message": "Report size is greater than 25MB"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ins/report/download": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Downloads the Insights Report",
        "description": "Downloads the Insights report for the ID provided.\nOnly reports with a 'ready' status are eligible for download.\nThe API validates the report status, file type, and user permissions before generating a pre-signed download URL.\n",
        "operationId": "getReportDownloadUrl",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadReportRequestVO"
              },
              "examples": {
                "Download XLSX file": {
                  "description": "Download XLSX file",
                  "value": {
                    "fileTypeId": 1,
                    "reportId": 50
                  }
                },
                "Download CSV file": {
                  "description": "Download CSV file",
                  "value": {
                    "fileTypeId": 2,
                    "reportId": 50
                  }
                },
                "Download PDF file": {
                  "description": "Download PDF file",
                  "value": {
                    "fileTypeId": 3,
                    "reportId": 50
                  }
                },
                "Download ZIP file": {
                  "description": "Download ZIP file",
                  "value": {
                    "fileTypeId": 4,
                    "reportId": 50
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully generated download URL for the insights report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadInsightsReport"
                },
                "examples": {
                  "Successful response": {
                    "description": "Successful response",
                    "value": {
                      "success": true,
                      "data": {
                        "reportUrl": "https://xyz.abc.com/reports/abcd/2024-12-03/50_acbd_Report.xlsx?X-Amz-Algorithm=AWS4-HMAC"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Report is not in ready state or invalid report ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Null report ID provided": {
                    "description": "Null report ID provided",
                    "value": {
                      "success": false,
                      "data": {
                        "message": "Report IDs cannot be empty"
                      }
                    }
                  },
                  "Invalid file type": {
                    "description": "Invalid file type",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Unsupported file type provided"
                        }
                      ]
                    }
                  },
                  "Report not ready": {
                    "description": "Report not ready",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "The provided ICT report ID: 50 is not in the ready state."
                        }
                      ]
                    }
                  },
                  "Report not found": {
                    "description": "Report not found",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Please provide valid insights id value."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ins/regenerate/report/{reportId}": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Regenerates a schedulable insights report by its ID",
        "description": "This API allows the regeneration of an insights report for a given report ID.\nIt validates the user session, retrieves the necessary details, and triggers the regeneration process.\nIt pushes the message to SQS queue for regeneration and can be used only for reports which can be scheduled.\n",
        "operationId": "regenerateReports",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          },
          {
            "name": "reportId",
            "in": "path",
            "description": "The ID of the report to regenerate.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully regenerated the report.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightsRegeneration"
                },
                "examples": {
                  "Successful regeneration response": {
                    "description": "Successful regeneration response",
                    "value": {
                      "success": true,
                      "data": {
                        "reportId": 12,
                        "templateId": 123,
                        "nextRunDate": 1765774800000,
                        "reportName": "sample report"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "examples": {
                  "Invalid report ID provided": {
                    "description": "Invalid report ID provided",
                    "value": {
                      "success": false,
                      "data": {
                        "message": "Please provide valid insights id value."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "examples": {
                  "Report is already deleted or is in READY/PROCESSING state": {
                    "description": "Report is already deleted or is in READY/PROCESSING state",
                    "value": {
                      "success": false,
                      "data": {
                        "message": "ICT Report ID : 12 is already deleted or is in READY/PROCESSING state."
                      }
                    }
                  },
                  "Report is not in FAILED state": {
                    "description": "Report is not in FAILED state",
                    "value": {
                      "success": false,
                      "data": {
                        "message": "Report with id 12 is not in a valid failed state, hence cannot be regenerated."
                      }
                    }
                  },
                  "Template not found for report": {
                    "description": "Template not found for report",
                    "value": {
                      "success": false,
                      "data": {
                        "message": "Template id not found for report id : 12"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ins/pld-reports/computation": {
      "post": {
        "tags": [
          "MCP"
        ],
        "description": "Retrieves chargeable impression data and cost computation details for a PLD report. Use this to check whether sufficient funds are available before generating a report.",
        "operationId": "getChargeableImpressionsDataForPLDReports",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PLDReportComputationRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponsePLDComputationResponseVO"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ]
      }
    },
    "/api/v3/ins/pld-reports/columns": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "This API fetches the user-selected columns for PLD reports",
        "description": "This API gets the selection of columns to be shown for PLD reports if customised else provides default selection.",
        "operationId": "fetchPLDReportSelectedColumns",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PldReportsColumnsResponse"
                },
                "examples": {
                  "Successful response body": {
                    "description": "Successful response body",
                    "value": {
                      "success": true,
                      "data": {
                        "id": true,
                        "insightsName": true,
                        "campaignName": true,
                        "campaignId": true,
                        "status": true,
                        "dateRange": true,
                        "createdOn": true,
                        "ioName": true,
                        "ioId": false
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "This API saves or updates the user-selected columns for PLD reports",
        "description": "This API saves or updates the selection of columns to be shown for PLD reports provided as json.",
        "operationId": "saveOrUpdatePLDReportSelectedColumns",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PldReportsColumns"
              },
              "examples": {
                "Save the columns": {
                  "description": "Save the columns",
                  "value": {
                    "id": true,
                    "insightsName": true,
                    "campaignName": true,
                    "campaignId": true,
                    "status": true,
                    "dateRange": true,
                    "createdOn": true,
                    "ioName": true,
                    "ioId": false
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PldReportsColumnsResponse"
                },
                "examples": {
                  "Successful response body": {
                    "description": "Successful response body",
                    "value": {
                      "success": true,
                      "data": {
                        "id": true,
                        "insightsName": true,
                        "campaignName": true,
                        "campaignId": true,
                        "status": true,
                        "dateRange": true,
                        "createdOn": true,
                        "ioName": true,
                        "ioId": false
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ins/pld-report": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "This API generates PLD reports",
        "description": "This API appropriately calculates the cost for the impressions for the Practitioner Level Data Reports based on the impressions and the mark up charged on the organisation and then creates the PLD Reports.",
        "operationId": "generatePLDReports",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PLDReportComputationRequestVO"
              },
              "examples": {
                "For new Campaign and date range": {
                  "description": "For new Campaign and date range",
                  "value": {
                    "campaignId": 1,
                    "pldStartDate": 1722311000,
                    "pldEndDate": 1722315000
                  }
                },
                "For Generate Again": {
                  "description": "For Generate Again",
                  "value": {
                    "pldId": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLDReport"
                },
                "examples": {
                  "Successful PLD Report": {
                    "description": "Successful PLD Report",
                    "value": {
                      "success": true,
                      "data": {
                        "pldReportCreated": true,
                        "campaignId": 1,
                        "campaignName": "Campaign Name",
                        "campaignStatus": "running",
                        "pldStartDate": 1722311000,
                        "pldEndDate": 1722315000,
                        "pldChargeableImps": 1000,
                        "pldChargedImps": 100,
                        "pldChargeableCost": 1000,
                        "pldChargedCost": 100,
                        "fundsAvailable": true
                      }
                    }
                  },
                  "Same PLD report exists": {
                    "description": "Same PLD report exists",
                    "value": {
                      "success": true,
                      "data": {
                        "pldReportCreated": false,
                        "pldId": 1,
                        "pldName": "1_VLD_INSIGHTS_1",
                        "pldStatusId": 1,
                        "pldCreatedOn": 1722315234,
                        "campaignId": 1,
                        "campaignName": "Campaign Name",
                        "creativeTypeId": 1,
                        "ioId": 1,
                        "ioName": "Insertion Order Name",
                        "ioTypeId": 1
                      }
                    }
                  },
                  "PLD report exists same campaign with overlapping date range is in processing": {
                    "description": "PLD report exists same campaign with overlapping date range is in processing",
                    "value": {
                      "success": true,
                      "data": {
                        "pldReportCreated": false,
                        "message": "PLD Insights can't be generated for this campaign at the moment as another insight with overlapping date range is processing"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ins/insights/regenerate/{insightsId}": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "This API regenerates the insights report for the given insightId, if the insights is failed.",
        "description": "This API regenerates the insights report for the given insightId, if the insights is failed.",
        "operationId": "regenerateInsights",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          },
          {
            "name": "insightsId",
            "in": "path",
            "description": "Insights identity number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "examples": {
                  "Regeneration success response": {
                    "description": "Regeneration success response",
                    "value": {
                      "success": true,
                      "data": "Insights regenerated successfully."
                    }
                  },
                  "Regeneration failed response": {
                    "description": "Regeneration failed response",
                    "value": {
                      "success": true,
                      "data": "Insights regeneration failed."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Unprocessable entity": {
                    "description": "Unprocessable entity",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "error message."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ins/insights/download": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Downloads an insights report for an audience (PDF or XLSX).",
        "description": "Returns a pre-signed download URL for the requested insights report. When uploading a custom logo for PDF reports, send the request as multipart/form-data; otherwise a request with only query parameters is sufficient.",
        "operationId": "downloadInsights",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["fileType"],
                "properties": {
                  "fileType": {
                    "type": "string",
                    "description": "The format of the insights report to download. Supported values are `xlsx` and `pdf`."
                  },
                  "insightsId": {
                    "type": "integer",
                    "format": "int32",
                    "default": 0,
                    "description": "Insights identity number. At least one of insightsId or audienceId must be provided."
                  },
                  "audienceId": {
                    "type": "integer",
                    "format": "int32",
                    "default": 0,
                    "description": "Audience identity number (source ID). At least one of insightsId or audienceId must be provided."
                  },
                  "customLogoFile": {
                    "type": "string",
                    "format": "binary",
                    "description": "Optional custom logo image for PDF reports."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadInsights"
                },
                "examples": {
                  "Download success": {
                    "description": "Download success",
                    "value": {
                      "success": true,
                      "data": {
                        "insightsReportUrl": "https://domain.com/insights.pdf"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid insights id": {
                    "description": "Invalid insights id",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Please provide valid insights id value."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ins/insights/computation": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "This API computes insights reports for the provided campaigns",
        "description": "This API triggers computation of insights reports based on the provided request parameters including report type, campaign IDs, and date windows.\nThe computation process is asynchronous and returns a computation response with status and details.\n\n---\n\n#### Request Body Detail\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| reportType | String | **Type of report** to compute (e.g., PLD, NLD, ICT). Currently, VLD, SLS and AQS are not supported |\n| campaignIds | List<Integer> | List of **campaign IDs** for which to compute insights reports. |\n| startDate | Long | **Start date** timestamp for the report date window (epoch milliseconds). |\n| endDate | Long | **End date** timestamp for the report date window (epoch milliseconds). |\n| additionalParams | Map<String, Object> | **Optional parameters** specific to the report type. |\n",
        "operationId": "computeInsightsReports",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
[...]
