{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "1.0.0",
    "description": "MCP User API Specification",
    "contact": {
      "name": "IQM Support",
      "url": "https://iqm.com/contact/",
      "email": "support@iqm.com"
    }
  },
  "servers": [
    {
      "url": "https://api.iqm.com",
      "description": "IQM API"
    }
  ],
  "tags": [
    {
      "name": "MCP",
      "description": "MCP API endpoints"
    }
  ],
  "paths": {
    "/api/v3/ua/user/update-status": {
      "put": {
        "tags": [
          "MCP"
        ],
        "summary": "Update user status",
        "description": "Update the status of a user within an organization (activate, deactivate, suspend, etc.)",
        "operationId": "updateUserStatus",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "description": "User status update request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserStatusRequestVO"
              },
              "examples": {
                "Update User Status Request": {
                  "description": "Update User Status Request",
                  "value": {
                    "uowId": 116001,
                    "statusId": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "User status updated successfully"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/interaction/event": {
      "put": {
        "tags": [
          "MCP"
        ],
        "summary": "This API update or insert user interactions for logged in user.",
        "description": "This API Update or insert user interaction and also keep track for event occurrence.\n\n---\n\n\n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| userInteractionEvent | String | it's unique user interaction event.|\n| metaData | JSON | User interaction meta data need to associate with event.  |\n",
        "operationId": "upsertInteractionEvent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInteractionEventRequestVO"
              },
              "examples": {
                "Empty user action event": {
                  "description": "Empty user action event",
                  "value": {
                    "metaData": {
                      "isOwnerUser": true
                    }
                  }
                },
                "Success response": {
                  "description": "Success response",
                  "value": {
                    "userInteractionEvent": "advertiser_user_login",
                    "metaData": {
                      "isOwnerUser": true
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "examples": {
                  "Success response": {
                    "description": "Success response",
                    "value": {
                      "success": false,
                      "data": {
                        "message": "User interaction event persisted successfully"
                      }
                    }
                  },
                  "Empty user action event": {
                    "description": "Empty user action event",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Please provide valid user interaction event"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/workspace": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Create a new workspace",
        "description": "This API creates a new workspace with the provided configuration details. It initializes workspace settings, customer configuration, and user configuration.",
        "operationId": "createWorkspace",
        "requestBody": {
          "description": "Workspace creation request details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkspaceRequestVO"
              },
              "examples": {
                "Create Workspace Request": {
                  "description": "Create Workspace Request",
                  "value": {
                    "workspaceName": "My New Workspace",
                    "organizationName": "My Organization",
                    "organizationTypeId": 1,
                    "verticalId": 2,
                    "workspaceDomain": "my-workspace.example.com"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Workspace created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseMessageResponse"
                },
                "example": {
                  "success": true,
                  "data": "Workspace created successfully",
                  "message": "Workspace created successfully"
                }
              }
            }
          },
          "422": {
            "description": "Invalid workspace configuration",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v3/ua/user/workspace/validate": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Validate workspace for user",
        "description": "Validate if a workspace domain is available and if the user has access to it.",
        "operationId": "validateWorkspaceForUser",
        "requestBody": {
          "description": "Workspace validation request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateWorkspaceRequestVO"
              },
              "examples": {
                "Validate Workspace Request": {
                  "description": "Validate Workspace Request",
                  "value": {
                    "workspaceDomain": "workspace.example.com"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Workspace validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateDomainResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "isValid": true,
                    "message": "Workspace is valid"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v3/ua/user/update-password": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Update user password via reset invitation",
        "description": "Update password for a user through a valid password reset invitation (forgot password flow).",
        "operationId": "resetUserPassword",
        "requestBody": {
          "description": "Password update request via invitation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequestVO"
              },
              "examples": {
                "Update Password Request": {
                  "description": "Update Password Request",
                  "value": {
                    "email": "user@example.com",
                    "resetToken": "reset_token_123",
                    "newPassword": "NewPassword456!"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Password updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Password updated successfully"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired reset token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v3/ua/user/reset-password": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Send password reset email",
        "description": "Send a password reset email to the user for forgotten password recovery.",
        "operationId": "sendResetPasswordEmail",
        "requestBody": {
          "description": "Forgot password request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequestVO"
              },
              "examples": {
                "Forgot Password Request": {
                  "description": "Forgot Password Request",
                  "value": {
                    "email": "user@example.com"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Password reset email sent successfully",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": "Password reset link sent to your email"
                }
              }
            }
          },
          "400": {
            "description": "User email not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v3/ua/user/reset-password/validate": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Validate reset password invitation",
        "description": "Validate if a password reset invitation token is valid and not expired.",
        "operationId": "validateResetPasswordInvitation",
        "requestBody": {
          "description": "Invitation validation request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateInvitationRequestVO"
              },
              "examples": {
                "Validate Invitation Request": {
                  "description": "Validate Invitation Request",
                  "value": {
                    "invitationToken": "abc123xyz"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Invitation validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateResetPasswordInvitationResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "isValid": true,
                    "resetEmail": "user@example.com",
                    "message": "Invitation is valid"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v3/ua/user/re-invite": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Resend user invitation",
        "description": "This API resends an invitation to a user within an organization/workspace.",
        "operationId": "resendUserInvitations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDetailVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User invitation resent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "examples": {
                  "Resend success response": {
                    "description": "Resend success response",
                    "value": {
                      "success": true,
                      "data": "Invitation sent successfully"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v3/ua/user/password/reset": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Reset user password",
        "description": "Reset password for the authenticated user with new password. Requires current password verification.",
        "operationId": "resetPassword",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "description": "Password reset request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePasswordRequestVO"
              },
              "examples": {
                "Reset Password Request": {
                  "description": "Reset Password Request",
                  "value": {
                    "currentPassword": "OldPassword123!",
                    "newPassword": "NewPassword456!",
                    "confirmPassword": "NewPassword456!"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Password reset successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Password reset successfully"
                }
              }
            }
          },
          "400": {
            "description": "Invalid password format",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/user/invite": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Send user invitations",
        "description": "This API sends invitations to users within an organization/workspace. Multiple users can be invited in a single request.",
        "operationId": "sendUserInvitations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserInvitationDetailVO"
                }
              },
              "examples": {
                "User invitation request": {
                  "description": "User invitation request",
                  "value": [
                    {
                      "email": "user1@example.com",
                      "name": "John Doe",
                      "role": "Admin"
                    },
                    {
                      "email": "user2@example.com",
                      "name": "Jane Smith",
                      "role": "User"
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User invitations sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInviteDataResponse"
                },
                "examples": {
                  "Success response": {
                    "description": "Success response",
                    "value": {
                      "success": true,
                      "data": {
                        "successfulEmails": [
                          "user1@example.com"
                        ],
                        "failedEmails": [
                          "user2@example.com"
                        ],
                        "message": "1 invitation sent successfully"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v3/ua/user/email/validate": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Validate user email",
        "description": "Validate if a user email is available and eligible for registration or invitation.",
        "operationId": "validateUserEmail",
        "requestBody": {
          "description": "Email validation request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateWorkspaceUserRequestVO"
              },
              "examples": {
                "Validate Email Request": {
                  "description": "Validate Email Request",
                  "value": {
                    "email": "user@example.com",
                    "workspaceDomain": "workspace.example.com"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Email validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateWorkspaceUserResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "isValid": false,
                    "owId": 0,
                    "isWorkspaceAllowed": false
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v3/ua/user/customer/remove": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Remove customer association from user",
        "description": "Remove a customer from a user's accessible customers list.",
        "operationId": "removeCustomersAssociationFromUser",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "description": "Customer removal request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCustomerAssociateRequestVO"
              },
              "examples": {
                "Remove Customer Request": {
                  "description": "Remove Customer Request",
                  "value": {
                    "uowIds": [
                      116001
                    ],
                    "owIds": [
                      12345
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Customer removed from user successfully"
                }
              }
            }
          },
          "403": {
            "description": "User cannot remove their own association",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                }
              }
            }
          },
          "422": {
            "description": "Invalid request parameters",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/user/customer/assign": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Assign customers to user",
        "description": "Assign one or more customers to a user for access and management.",
        "operationId": "assignCustomersToUser",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "description": "Customer assignment request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCustomerAssociateRequestVO"
              },
              "examples": {
                "Assign Customer Request": {
                  "description": "Assign Customer Request",
                  "value": {
                    "uowIds": "116001",
                    "owIds": "12345,12346"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customers assigned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Customers assigned successfully"
                }
              }
            }
          },
          "422": {
            "description": "Invalid request parameters",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/user/current-password/validate": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Validate current user password",
        "description": "Validate if the provided password is correct for the currently authenticated user.",
        "operationId": "validateCurrentPassword",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "description": "Current password validation request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidatePasswordRequestVO"
              },
              "examples": {
                "Validate Password Request": {
                  "description": "Validate Password Request",
                  "value": {
                    "password": "CurrentPassword123!"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Password validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateCurrentPasswordResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "isValid": true,
                    "message": "Password is correct"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/user/application/revoke": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Revoke application access from user",
        "description": "Remove application access permissions from a user for specified applications.",
        "operationId": "revokeApplicationAccessToUser",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "description": "Application access revocation request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserApplicationAccessRequestVO"
              },
              "examples": {
                "Revoke Application Access Request": {
                  "description": "Revoke Application Access Request",
                  "value": {
                    "uowId": 116001,
                    "applicationIds": [
                      1
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Application access revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Application access revoked successfully"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/user/application/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Add application access to user",
        "description": "Grant application access permissions to a user for specified applications.",
        "operationId": "addApplicationAccessToUser",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "description": "Application access request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserApplicationAccessRequestVO"
              },
              "examples": {
                "Add Application Access Request": {
                  "description": "Add Application Access Request",
                  "value": {
                    "uowId": 116001,
                    "applicationIds": [
                      1,
                      2,
                      3
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Application access added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Application access granted successfully"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/sign-up": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "User sign-up",
        "description": "This API handles user registration on the platform. It creates a new user account with provided credentials and performs necessary initialization.",
        "operationId": "createUser",
        "requestBody": {
          "description": "User sign-up details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequestVO"
              },
              "examples": {
                "User Sign-up Request": {
                  "description": "User Sign-up Request",
                  "value": {
                    "email": "user@example.com",
                    "password": "SecurePassword123!",
                    "firstName": "John",
                    "lastName": "Doe",
                    "organizationName": "User Organization",
                    "organizationTypeId": 1,
                    "verticalId": 2
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User registration successful and redirected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseRedirectResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "redirectUrl": "https://workspace.example.com/dashboard",
                    "message": "User registered successfully"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid user data provided",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "409": {
            "description": "Email already exists",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v3/ua/organization/whitelabel-pixel-url": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Add whitelabel pixel URL for the organization",
        "description": "This API allows an organization to add a whitelabel pixel URL for tracking or integration purposes when white-labelling is enabled.",
        "operationId": "addWhiteLabelPixelUrl",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WhitelabelPixelUrlRequestVO"
              },
              "example": {
                "whitelabelPixelUrl": "example.pixel.com"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Pixel URL added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Whitelabel pixel URL added successfully"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v3/ua/organization/whitelabel-domain": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Add white label domain",
        "description": "Configure a custom white label domain for the organization.",
        "operationId": "addWhiteLabelDomain",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "description": "White label domain configuration",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WhiteLabelDomainRequestVO"
              },
              "examples": {
                "Add White Label Domain Request": {
                  "description": "Add White Label Domain Request",
                  "value": {
                    "whitelabelDomain": "brand.example.com",
                    "verificationToken": "verification_token_123"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "White label domain added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "White label domain configured successfully"
                }
              }
            }
          },
          "403": {
            "description": "Only workspace owner organization can add domains",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                }
              }
            }
          },
          "422": {
            "description": "Invalid domain or verification failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/organization/advertiser/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Add advertiser profile",
        "description": "Creates a new advertiser profile in a specific organization workspace.",
        "operationId": "addAdvertiserProfile",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "description": "Advertiser profile details to be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvertiserProfileRequestVO"
              },
              "examples": {
                "Advertiser Profile Request": {
                  "description": "Advertiser Profile Request",
                  "value": {
                    "advertiserName": "Acme Corp",
                    "website": "https://acme.com",
                    "chiefName": "John Doe",
                    "contactNumber": "9876543210",
                    "address": "123 Main St, City",
                    "politicalIdentifier": "ID-12345",
                    "legalInfo": "Registered",
                    "links": [
                      "https://acme.com/about"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Advertiser profile added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "examples": {
                  "Advertiser profile added": {
                    "description": "Advertiser profile added",
                    "value": {
                      "success": true,
                      "data": "Advertiser profile added successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "FEC ID or State Equivalent length error": {
                    "description": "FEC ID or State Equivalent length error",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "FEC ID or State Equivalent length should not be more than 20 characters.",
                          "field": "politicalIdentifier"
                        }
                      ]
                    }
                  },
                  "FEC ID or State Equivalent mandatory error": {
                    "description": "FEC ID or State Equivalent mandatory error",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "FEC ID or State Equivalent is mandatory",
                          "field": "politicalIdentifier"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "User not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Forbidden": {
                    "description": "Forbidden",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "User is not authorized to add advertiser profiles"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/mfa/enable": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Enable MFA for users",
        "description": "Updates the MFA flag to true for the specified list of user IDs, adds audit log for enabling of MFA, updates redis state and revokes access tokens for the users",
        "operationId": "updateMfaFlag",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MfaUpdateRequestVO"
              },
              "examples": {
                "Request body for enabling MFA": {
                  "description": "Request body for enabling MFA",
                  "value": {
                    "userIds": [
                      123,
                      345
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "MFA flag updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MfaEnabledResponse"
                },
                "examples": {
                  "Successfully enabled MFA": {
                    "description": "Successfully enabled MFA",
                    "value": {
                      "success": true,
                      "data": {
                        "mfaEnabledSuccessfully": [
                          123,
                          456
                        ],
                        "mfaEnablingFailed": [
                          789
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Permission denied": {
                    "description": "Permission denied",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "User does not have access to enable MFA for the specified users"
                        }
                      ]
                    }
                  },
                  "Revoke token failure": {
                    "description": "Revoke token failure",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Failed to revoke tokens after enabling MFA"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/mfa/disable": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Disable MFA for users",
        "description": "Updates the MFA flag to false for the specified list of user IDs, adds audit log for disabling of MFA, updates redis state and revokes refresh tokens for the users",
        "operationId": "disableMfaForUsers",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MfaUpdateRequestVO"
              },
              "examples": {
                "Request body for disabling MFA": {
                  "description": "Request body for disabling MFA",
                  "value": {
                    "userIds": [
                      123,
                      345
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "MFA flag updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MfaDisabledResponse"
                },
                "examples": {
                  "Successfully disabled MFA": {
                    "description": "Successfully disabled MFA",
                    "value": {
                      "success": true,
                      "data": {
                        "mfaDisabledSuccessfully": [
                          123,
                          456
                        ],
                        "mfaDisablingFailed": [
                          789
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Permission denied": {
                    "description": "Permission denied",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "User does not have access to enable or disable MFA for the specified users"
                        }
                      ]
                    }
                  },
                  "Revoke token failure": {
                    "description": "Revoke token failure",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Failed to revoke tokens after disabling MFA"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/logout": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "User logout",
        "description": "Logout the authenticated user and invalidate the current session token.",
        "operationId": "logout",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "User logged out successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/login": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "User login",
        "description": "This API authenticates a user and generates an authentication token. Supports both password grant and client credentials grant types. May trigger MFA verification if enabled.",
        "operationId": "login",
        "parameters": [
          {
            "name": "X-IAA-HOST",
            "in": "header",
            "description": "Workspace domain used to identify the workspace context. Falls back to the Host header if not provided.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "app.stage.iqm.com"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Basic authentication credentials for the OAuth client: Base64-encoded clientId:clientSecret. Required when the workspace does not have a stored authorization code.",
            "schema": {
              "type": "string"
            },
            "example": "Basic Y2xpZW50SWQ6Y2xpZW50U2VjcmV0"
          }
        ],
        "requestBody": {
          "description": "User login credentials",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserLoginRequestVO"
              },
              "examples": {
                "Password Grant Login": {
                  "description": "Password Grant Login",
                  "value": {
                    "email": "user@example.com",
                    "password": "UserPassword123!",
                    "grantType": "password"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                    "refresh_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                    "expires_at": 1781042734639,
                    "scope": "read write",
                    "token_type": "bearer",
                    "expires_in": 86399,
                    "jti": "f4b2a9f1-df69-4abd-b99f-d0d894350859",
                    "owId": 203123,
                    "mfa_required": false
                  }
                }
              }
            }
          },
          "403": {
            "description": "User not authorized for this workspace",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "422": {
            "description": "MFA verification required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/invite/validate": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Validate customer or user invitation",
        "description": "This API validates a customer or user invitation by checking the invitation token and details.",
        "operationId": "validateInvitation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateInvitationRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Invitation validated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateInviteResponse"
                },
                "examples": {
                  "Validation success response": {
                    "description": "Validation success response",
                    "value": {
                      "success": true,
                      "data": {
                        "isInvitationValid": true,
                        "organizationName": "Test Organization",
                        "email": "user@example.com"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v3/ua/find-my-workspace": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Send 'Find My Workspace' email",
        "description": "This API sends an email to help users find their workspace. It uses the workspace domain information provided in the request headers.",
        "operationId": "sendFindMyWorkspaceEmail",
        "requestBody": {
          "description": "Email data for finding workspace",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "examples": {
                "Find Workspace Request": {
                  "description": "Find Workspace Request",
                  "value": {
                    "email": "user@example.com"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseMessageResponse"
                },
                "example": {
                  "success": true,
                  "data": "Email sent to user@example.com",
                  "message": "Workspace information email sent successfully"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v3/ua/ext/metabase-details": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Get Metabase external service client credentials",
        "description": "Campaign Insights API to fetch metabase embed URL for dashboard visualization. This URL can be integrated in an iframe of the UI. Restricted to only allowed users of super workspace with Campaign Insight app access.",
        "operationId": "getMetabaseExternalServiceClientCredentials",
        "parameters": [
          {
            "name": "dashboardType",
            "in": "query",
            "description": "Type of Dashboard to fetch metabase embedding URL (e.g., demographic, geographic dashboards)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metabase embed URL retrieved successfully",
            "content": {
              "application/json": {
                "examples": {
                  "Metabase embed URL response": {
                    "description": "Metabase embed URL response",
                    "value": {
                      "success": true,
                      "data": {
                        "embedUrl": "https://metabase.example.com/embed/dashboard/...",
                        "dashboardType": "demographic",
                        "expiresAt": "2026-05-06T15:30:00Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/customer/invite": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "This API invites customer to the platform",
        "description": "This API invites the workspace as well as advertiser from platform  It also supports multiple invitations. The maximum number of invitations allowed per request is 10. ",
        "operationId": "sendInvitations",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InvitationDetailVO"
                }
              },
              "examples": {
                "Invitation Details VO For Workspace": {
                  "description": "Invitation Details VO For Workspace",
                  "value": [
                    {
                      "email": "user1@iqm.com",
                      "name": "ORG - 1",
                      "password": "password@123",
                      "ownerUserName": "User-1",
                      "verticalId": 1,
                      "logoUrl": "https://d3jme5si7t6llb.cloudfront.net/assets/202753/Pd7Xx26_1721991655891.png",
                      "customerOperationDetails": {
                        "customerTypeId": 2,
                        "customerPaymentTypeId": 2,
                        "countryId": 30100001,
                        "adOpsAssigneeUserIds": [],
                        "sellerAssigneeUserIds": [
                          7184
                        ],
                        "labelIds": [
                          7,
                          8,
                          9
                        ]
                      }
                    }
                  ]
                },
                "Invitation Details VO For Advertiser": {
                  "description": "Invitation Details VO For Advertiser",
                  "value": [
                    {
                      "email": "user2@iqm.com",
                      "name": "ORG - 2",
                      "password": "password@123",
                      "ownerUserName": "User-2",
                      "verticalId": 1,
                      "logoUrl": "https://d3jme5si7t6llb.cloudfront.net/assets/202753/Pd7Xx26_1721991655891.png"
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInviteDataResponse"
                },
                "examples": {
                  "Success for multiple organization": {
                    "description": "Success for multiple organization",
                    "value": {
                      "success": true,
                      "data": {
                        "successfulEmails": [
                          "user1.g@iqm.com"
                        ],
                        "failedEmails": [
                          "user2.p@iqm.com"
                        ],
                        "message": "1 invitations sent successfully."
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Response when number of invited customers is more than 10": {
                    "description": "Response when number of invited customers is more than 10",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Max Limit is 10 customers at a time."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/customer/invite/re-send": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Resend customer invitation",
        "description": "This API resends an invitation to a customer.",
        "operationId": "resendCustomerInvitation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerReInviteRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Invitation resent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "examples": {
                  "Resend success response": {
                    "description": "Resend success response",
                    "value": {
                      "success": true,
                      "data": "Invitation sent successfully"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v3/ua/customer/basic/list": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Get customer basic details list",
        "description": "API to get customer basic details. ---\n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| pageNo `[optional]` | Number | Page number for the required data. Default value is 1. || noOfEntries `[optional]` | Number | The maximum number of returned results per page. Default value is 20.|| searchField `[optional]` | String | Search the result by provided keyword in the searchField. It will search customers by customer id (owId), organization name. || owIds `[optional]` | Array of Integer | Filter customers list for provided customer owIds. || owStatusIds `[optional]` | Array of Integer | Filter customers list for provided customer statuses. Default value :- `[1,4]`. Status id should be from [organization-workspace-status](?path=/User%20Management%20API/OrganizationWorkspaceStatus) || provideRunningCampaigns `[optional]` | Boolean | To get running campaign count. Default value is `false`. |",
        "operationId": "getCustomerBasicDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerBasicDetailRequestVO"
              },
              "examples": {
                "Get all customers": {
                  "description": "Get all customers",
                  "value": {
                    "owStatusIds": [],
                    "pageNo": 1,
                    "noOfEntries": 20,
                    "owIds": [],
                    "searchField": "",
                    "provideRunningCampaigns": false
                  }
                },
                "Get all customers with Running Campaigns count": {
                  "description": "Get all customers with Running Campaigns count",
                  "value": {
                    "owStatusIds": [],
                    "pageNo": 1,
                    "noOfEntries": 20,
                    "owIds": [],
                    "searchField": "",
                    "provideRunningCampaigns": true
                  }
                },
                "Apply search and filter": {
                  "description": "Apply search and filter",
                  "value": {
                    "owStatusIds": [
                      1,
                      2
                    ],
                    "pageNo": 1,
                    "noOfEntries": 20,
                    "owIds": [
                      20001
                    ],
                    "searchField": "Agency",
                    "provideRunningCampaigns": false
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerBasicDetailsResponse"
                },
                "examples": {
                  "Get all customers": {
                    "description": "Get all customers",
                    "value": {
                      "success": true,
                      "data": {
                        "data": [
                          {
                            "owId": 20001,
                            "organizationName": "AdAgencyABC 1",
                            "organizationLogo": "https://logo-bucket/avatar/123456.png",
                            "owStatus": "Active",
                            "owStatusId": 1,
                            "wsId": 2,
                            "runningCampaigns": 0,
                            "ownerUserName": "yourname 1",
                            "ownerUserEmail": "yourname@yourcompany1.com"
                          },
                          {
                            "owId": 20002,
                            "organizationName": "AdAgencyABC 2",
                            "organizationLogo": "https://logo-bucket/avatar/123456.png",
                            "owStatus": "Invited",
                            "owStatusId": 3,
                            "wsId": 2,
                            "runningCampaigns": 0,
                            "ownerUserName": "yourname 2",
                            "ownerUserEmail": "yourname@yourcompany2.com"
                          }
                        ],
                        "totalRecords": 2,
                        "filteredRecords": 2
                      }
                    }
                  },
                  "Get all customers with Running Campaigns count": {
                    "description": "Get all customers with Running Campaigns count",
                    "value": {
                      "success": true,
                      "data": {
                        "data": [
                          {
                            "owId": 20001,
                            "organizationName": "AdAgencyABC 1",
                            "organizationLogo": "https://logo-bucket/avatar/123456.png",
                            "owStatus": "Active",
                            "owStatusId": 1,
                            "wsId": 2,
                            "runningCampaigns": 4,
                            "ownerUserName": "yourname 1",
                            "ownerUserEmail": "yourname@yourcompany1.com"
                          },
                          {
                            "owId": 20002,
                            "organizationName": "AdAgencyABC 2",
                            "organizationLogo": "https://logo-bucket/avatar/123456.png",
                            "owStatus": "Invited",
                            "owStatusId": 3,
                            "wsId": 2,
                            "runningCampaigns": 10,
                            "ownerUserName": "yourname 2",
                            "ownerUserEmail": "yourname@yourcompany2.com"
                          }
                        ],
                        "totalRecords": 2,
                        "filteredRecords": 2
                      }
                    }
                  },
                  "Apply search and filter": {
                    "description": "Apply search and filter",
                    "value": {
                      "success": true,
                      "data": {
                        "data": [
                          {
                            "owId": 20001,
                            "organizationName": "AdAgencyABC 1",
                            "organizationLogo": "https://logo-bucket/avatar/123456.png",
                            "owStatus": "Active",
                            "owStatusId": 1,
                            "wsId": 2,
                            "runningCampaigns": 0,
                            "ownerUserName": "yourname 1",
                            "ownerUserEmail": "yourname@yourcompany1.com"
                          }
                        ],
                        "totalRecords": 2,
                        "filteredRecords": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/customer/application/revoke": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Revoke application access from customer",
        "description": "This API revokes application access from a specific customer.",
        "operationId": "revokeApplicationAccessToCustomer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerApplicationAccessRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Application access revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Application access revoked successfully"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/customer/application/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Add application access to customer",
        "description": "This API grants application access to a specific customer.",
        "operationId": "addApplicationAccessToCustomer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerApplicationAccessRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Application access added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Application access added successfully"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/customer-operations/label/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Add label for customer operation",
        "description": "This API adds a label for customer operations, which will be displayed in the labels list",
        "operationId": "addLabelForCustomerOperation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerOperationLabelRequestVO"
              },
              "examples": {
                "Request body for adding label": {
                  "description": "Request body for adding label",
                  "value": {
                    "labelName": "Test-case-high"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerOperationLabelResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "labelId": 2,
                    "message": "label Added successfully"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ua/auth/mfa/verify": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Verify MFA Code",
        "description": "Verifies the provided Multi-Factor Authentication (MFA) code (OTP) for the user. Upon successful verification, returns user session details and organization workspace ID.",
        "operationId": "verifyMFACode",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
[...]
