{
  "openapi": "3.0.1",
  "info": {
    "title": "MCP Conversion API Specification",
    "version": "1.0.0",
    "description": "MCP Conversion API Specification",
    "contact": {
      "name": "IQM Support",
      "url": "https://iqm.com/contact/",
      "email": "support@iqm.com"
    }
  },
  "servers": [
    {
      "url": "https://api.iqm.com",
      "description": "IQM API"
    }
  ],
  "tags": [
    {
      "name": "MCP",
      "description": "MCP API endpoints"
    }
  ],
  "paths": {
    "/api/v3/conversion/postback/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "API for adding postback type conversion.",
        "description": "This API facilitates the insertion of postback type conversion records",
        "operationId": "addPostbackConversion",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostbackDetailsVO"
              },
              "examples": {
                "RequestBody for Adding Postback Conversion": {
                  "description": "RequestBody for Adding Postback Conversion",
                  "value": {
                    "name": "testing postback",
                    "partnerTypeId": "1",
                    "impressionUrl": "https://imp.control.kochava.com/track/impression?campaign_id=kodragons-blade-1svu3szpd4b2be3253705&network_id=3603",
                    "clickUrl": "https://control.kochava.com/v1/cpi/click?campaign_id?campaign_id=kodragons-blade-1svu3szpd4b2be3253705&network_id=3603"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddConversionResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 3215,
                    "name": "testing postback",
                    "partnerName": null,
                    "status": "Active",
                    "type": "Postback",
                    "created": 1687460629,
                    "totalConversions": 0,
                    "owId": 202017,
                    "createdByUowId": 108658,
                    "modifiedByUowId": 108658,
                    "uuid": "879127abaab7459585b602b1f25dec41",
                    "attributedConversions": 0,
                    "attributedViewThroughConversions": 0,
                    "attributedClickThroughConversions": 0,
                    "pixelFinancialMetric": null,
                    "postbackPartnerLogoURL": "http://partnerUrl/partnerName",
                    "partnerUrl": "http://partnerUrl/partnerName"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/pixel/send-email": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Send Email for Pixel Integration.",
        "description": "This API allows to send email containing information of integration pixel in html while allowing to customize subject and greeting text.",
        "operationId": "sendEmailForPixelConversion",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PixelEmailRequestVO"
              },
              "examples": {
                "RequestBody for Sending Email for pixel integration": {
                  "description": "RequestBody for Sending Email for pixel integration",
                  "value": {
                    "conversionId": 3114,
                    "recipients": "username@gmail.com,anotherUser@yahoo.com",
                    "emailSubject": "Integrate Pixel Conversion",
                    "emailText": "Hello ${userName} has sent you a pixel code to integrate. Please follow the steps below to integrate the pixel code."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Pixel conversion e-mail sent successfully."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/pixel/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Create Pixel type Conversion.",
        "description": "This api is used to create a pixel type conversion.",
        "operationId": "addPixelConversion",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PixelVO"
              },
              "examples": {
                "RequestBody for Adding Pixel Conversion": {
                  "description": "RequestBody for Adding Pixel Conversion",
                  "value": {
                    "name": "PixelConversion",
                    "attributionId": "1",
                    "customFields": [
                      "field_1",
                      "field_2",
                      "field_3"
                    ],
                    "financialMetrics": "field_4",
                    "piggybackData": {
                      "url": "http://piggybackdata.com/url",
                      "type": 1
                    },
                    "conversionSetting": {
                      "conversionDuration": {
                        "view": 10,
                        "click": 10
                      },
                      "repeatConversion": {
                        "count": 1,
                        "frequency": 1,
                        "unit": "Day"
                      },
                      "crossModelling": true
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddConversionResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 3213,
                    "name": "PixelConversion",
                    "postbackPartnerName": null,
                    "status": "Pending",
                    "type": "Pixel",
                    "created": 1687459918,
                    "totalConversions": 0,
                    "owId": 202017,
                    "createdByUowId": 108658,
                    "modifiedByUowId": 108658,
                    "uuid": "a574ca49cc244c3bb3089491a11aae43",
                    "attributedConversions": 0,
                    "attributedViewThroughConversions": 0,
                    "attributedClickThroughConversions": 0,
                    "pixelFinancialMetric": "name",
                    "postbackPartnerLogoURL": null,
                    "pixelConversionScript": "<script src='https://pxl.stage.iqm.com/i/pixel/8f3165d0-b714-440e-bc1d-621127fa5fad?cv={CONVERSION_VALUE}' async></script>",
                    "partnerUrl": null
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/assign-to/campaign": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "API for assign conversion to campaign",
        "description": "This api assigns conversion to campaign while validating the conversionIds as well as the campaignIds.",
        "operationId": "assignConversionToCampaign",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignCampaignVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssignToCampaign"
                },
                "examples": {
                  "Assign to Campaign with Valid CampaignIds and Valid ConversionIds": {
                    "description": "This responses provides message for saved conversionIds and campaignIds.",
                    "value": {
                      "success": true,
                      "data": {
                        "conversionIdsList": 3925,
                        "validAddCampaignIdsList": [
                          253396,
                          256374
                        ],
                        "invalidAddCampaignIdsList": [
                          234567
                        ],
                        "validRemoveCampaignIdsList": [
                          256321,
                          256432
                        ],
                        "invalidRemoveCampaignIdsList": [
                          256433
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/allowed/campaign-list": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "API for providing allowed campaign details for conversion ids",
        "description": "This API fetches a list of campaign details which can be associated with provided conversion ids based on isGroup flag.Group details are fetched when isGroup is true otherwise basic list of campaigns are fetched.\n---\n\n\n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| pageNo `[optional]` | Number | Page number for the required data. The default value is 1. Setting the page number to -1 will disable pagination and return all data in a single page. |\n| noOfEntries `[optional]` | Number | The maximum number of returned results per page.  The default value is 50. |\n| searchField `[optional]` | String | Search the result by provided keyword in the searchField.  |\n| conversionIds `[required]`  | Array of Integer | Conversion Ids which needs to be excluded from the campaign which have pixel conversions already attached. |\n| sortBy `[optional]` | String | Sort the result set by specific field. For ascending use plus(+) sign(ascii value '%2B') and for descending use minus(-) sign.  |\n",
        "operationId": "getAttachableCampaignListByConversionIds",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversionListRequestVO"
              },
              "example": {
                "conversionIds": [
                  5109,
                  5108,
                  5107
                ],
                "pageNo": 1,
                "noOfEntries": 50,
                "searchField": "test",
                "sortBy": "ioId,-campaignId"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowedCampaigns"
                },
                "examples": {
                  "Basic Campaign List": {
                    "description": "This response contains all details about campaign as a list.",
                    "value": {
                      "success": true,
                      "data": {
                        "totalRecords": 12,
                        "ioCampaignsList": [
                          {
                            "ioId": 23405,
                            "ioName": "dsjbegawhuje",
                            "ioBudgetTypeId": 1,
                            "ioStatusId": 1,
                            "created": 1758022688258,
                            "lastModified": 1760078918000,
                            "owId": 201427,
                            "uowId": 198031,
                            "campaignCount": 1,
                            "campaigns": [
                              {
                                "id": 568934,
                                "campaignId": 568934,
                                "name": "jou49034",
                                "creativeTypeId": 11,
                                "status": "pending",
                                "startTime": 1779204800,
                                "endTime": 2478830400,
                                "createdAt": 1759999354,
                                "modifiedAt": 1759968000000,
                                "owId": 201427,
                                "ioId": 0,
                                "ioName": null,
                                "ioStatusId": 0,
                                "timezoneId": 29,
                                "campaignTypeId": 1,
                                "ioBudgetTypeId": 0,
                                "targetedAudienceIds": null,
                                "prebidAudienceProviderId": null
                              }
                            ]
                          }
                        ],
                        "filteredRecords": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/postback/update": {
      "patch": {
        "tags": [
          "MCP"
        ],
        "summary": "Update Postback type Conversion.",
        "description": "This api is used to update name of a postback type conversion.",
        "operationId": "updateConversion",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConversionVO"
              },
              "examples": {
                "RequestBody for Updating Pixel Conversion": {
                  "description": "RequestBody for Updating Pixel Conversion",
                  "value": {
                    "id": 3114,
                    "name": "Postback Conversion Update testing"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateConversionResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 3114,
                    "name": "Postback Conversion Update testing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/pixel/update": {
      "patch": {
        "tags": [
          "MCP"
        ],
        "summary": "Update Pixel type Conversion.",
        "description": "This api is used to update name and piggyback data of a pixel type conversion.",
        "operationId": "updateConversion_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePixelConversionVO"
              },
              "examples": {
                "RequestBody for Updating Pixel Conversion": {
                  "description": "RequestBody for Updating Pixel Conversion",
                  "value": {
                    "id": 3114,
                    "name": "Pixel Conversion Update testing",
                    "piggybackData": {
                      "url": "update piggybackData",
                      "type": 1
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePixel"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 3114,
                    "name": "Pixel Conversion Update testing",
                    "piggybackData": {
                      "url": "update piggybackData",
                      "type": 1
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invalid conversion id."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/{conversionId}": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Get Conversion details by conversion id",
        "description": "These api provides details about a conversion based on conversion id provided as a path variable",
        "operationId": "getConversionDetailsById",
        "parameters": [
          {
            "name": "conversionId",
            "in": "path",
            "description": "Id for which the conversion details needs to be fetched.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "typeId",
            "in": "query",
            "description": "Type of conversion for which the details needs to fetched[typeIds](?path=/Conversion%20API/getListOfConversionTypes) |\n",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionDetailsResponse"
                },
                "examples": {
                  "Pixel Based Conversion": {
                    "description": "Pixel Based Conversion",
                    "value": {
                      "success": true,
                      "data": {
                        "id": 3121,
                        "name": "PixelConversion",
                        "uuid": "7e955ccbb92340f7b28c744eb876c9c6",
                        "typeId": 1,
                        "owId": 202017,
                        "createdByUowId": 12121,
                        "modifiedByUowId": 12121,
                        "attributionId": 1,
                        "statusId": 1,
                        "customFields": [
                          "field_1",
                          "field_2",
                          "field_3"
                        ],
                        "financialMetrics": "field_1",
                        "piggybackData": {
                          "url": "http://thisPiggybackUrl.com/piggy",
                          "type": 1
                        },
                        "pixelConversionScript": "<script src='https://pxl.stage.iqm.com/i/pixel/7e955ccbb92340f7b28c744eb876c9c6?cv={CONVERSION_VALUE}' async></script>",
                        "conversionSetting": {
                          "conversionDuration": {
                            "view": 10,
                            "click": 10
                          },
                          "repeatConversion": {
                            "count": 1,
                            "frequency": 1,
                            "unit": "Day"
                          },
                          "crossModelling": true
                        }
                      }
                    }
                  },
                  "Postback Based Conversion": {
                    "description": "Postback Based Conversion",
                    "value": {
                      "success": true,
                      "data": {
                        "id": 3109,
                        "name": "Postback Conversion",
                        "uuid": "fb75a80c7b254234b910399f34be5482",
                        "typeId": 2,
                        "owId": 202017,
                        "createdByUowId": 108658,
                        "modifiedByUowId": 108658,
                        "statusId": 0,
                        "partnerTypeId": 1,
                        "impressionUrl": "https://imp.control.kochava.com/track/impression?campaign_id=kodragons-blade-1svu3szpd4b2be3253705&network_id=3603",
                        "clickUrl": "https://imp.control.kochava.com/track/impression?campaign_id=kodragons-blade-1svu3szpd4b2be3253705&network_id=3603"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invalid conversion id."
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/type-wise-count": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "List of type wise Conversion count",
        "description": "This api provides details about number of conversion according to the type of conversions.",
        "operationId": "getConversionCountTypeWise",
        "parameters": [
          {
            "name": "searchField",
            "in": "query",
            "description": "Search the result by provided keyword in the searchField. ",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionCount"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "conversionType": "PIXEL",
                      "conversionCount": 1,
                      "order": 1
                    },
                    {
                      "conversionType": "POSTBACK",
                      "conversionCount": 9,
                      "order": 2
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/static/postback/partner-type": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Get list of partner types for postback type of conversion.",
        "description": "This api provides details about partner details for postback conversions like logo and name",
        "operationId": "getListOfConversionPartnerType",
        "parameters": [
          {
            "name": "searchField",
            "in": "query",
            "description": "Search the result by provided keyword in the searchField. ",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "partnerTypeIds",
            "in": "query",
            "description": "This parameter is optional just as to provide support for filtering list based on partner type ids.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostbackPartnerType"
                },
                "example": {
                  "success": true,
                  "data": {
                    "data": [
                      {
                        "id": 1,
                        "name": "Kochava",
                        "logoUrl": "https://logo-bucket/partners/kochava.com",
                        "order": 1,
                        "active": true
                      },
                      {
                        "id": 2,
                        "name": "Singular",
                        "logoUrl": "https://logo-bucket/partners/singular.net",
                        "order": 2,
                        "active": true
                      },
                      {
                        "id": 3,
                        "name": "Appsflyr",
                        "logoUrl": "https://logo-bucket/partners/appsflyer.com",
                        "order": 3,
                        "active": true
                      },
                      {
                        "id": 4,
                        "name": "Adjust",
                        "logoUrl": "https://logo-bucket/partners/adjust.com",
                        "order": 4,
                        "active": true
                      }
                    ],
                    "totalRecords": 4,
                    "filteredRecords": 4
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/static/pixel/conversion-default-advanced-setting-data": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Get list of default value of advanced setting for pixel based conversion.",
        "description": "This api provides details about default values of advanced setting for pixel based conversions",
        "operationId": "getConversionDefaultAdvancedSettingData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PixelSettings"
                },
                "example": {
                  "success": true,
                  "data": {
                    "data": [
                      {
                        "id": 1,
                        "name": "post_click_interval",
                        "displayName": "Post Click Interval",
                        "value": "15",
                        "active": true
                      },
                      {
                        "id": 2,
                        "name": "post_view_interval",
                        "displayName": "Post View Interval",
                        "value": "28",
                        "active": true
                      },
                      {
                        "id": 3,
                        "name": "cross_device",
                        "displayName": "Cross Device",
                        "value": "true",
                        "active": true
                      }
                    ],
                    "totalRecords": 3,
                    "filteredRecords": 3
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/static/conversion-type": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Get list of conversion types.",
        "description": "This api provides details about conversion types i.e. pixel and postback",
        "operationId": "getListOfConversionTypes",
        "parameters": [
          {
            "name": "searchField",
            "in": "query",
            "description": "Search the result by provided keyword in the searchField. ",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "conversionTypeIds",
            "in": "query",
            "description": "This parameter is optional just as to provide support for filtering list based on conversion type ids.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionType"
                },
                "example": {
                  "success": true,
                  "data": {
                    "data": [
                      {
                        "id": 1,
                        "name": "pixel",
                        "displayName": "Pixel",
                        "order": 1,
                        "active": true
                      },
                      {
                        "id": 2,
                        "name": "postback",
                        "displayName": "Postback",
                        "order": 2,
                        "active": true
                      }
                    ],
                    "totalRecords": 2,
                    "filteredRecords": 2
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/static/conversion-status": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Get list of conversion status.",
        "description": "This api provides details about conversion status i.e. active and pending",
        "operationId": "getListOfConversionStatus",
        "parameters": [
          {
            "name": "searchField",
            "in": "query",
            "description": "Search the result by provided keyword in the searchField. ",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "statusIds",
            "in": "query",
            "description": "This parameter is optional just as to provide support for filtering list based on status ids.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionType"
                },
                "example": {
                  "success": true,
                  "data": {
                    "data": [
                      {
                        "id": 1,
                        "name": "active",
                        "displayName": "Active",
                        "order": 1,
                        "active": true
                      },
                      {
                        "id": 2,
                        "name": "pending",
                        "displayName": "Pending",
                        "order": 2,
                        "active": true
                      }
                    ],
                    "totalRecords": 2,
                    "filteredRecords": 2
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/static/conversion-piggyback-type": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Get list of conversion piggyback types.",
        "description": "This api provides details about conversion piggyback types i.e. image_pixel and javascript_pixel",
        "operationId": "getListOfConversionPiggybackTypes",
        "parameters": [
          {
            "name": "searchField",
            "in": "query",
            "description": "Search the result by provided keyword in the searchField. ",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "piggybackTypeIds",
            "in": "query",
            "description": "This parameter is optional just as to provide support for filtering list based on piggyback type ids.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionType"
                },
                "example": {
                  "success": true,
                  "data": {
                    "data": [
                      {
                        "id": 1,
                        "name": "image_pixel",
                        "displayName": "Image Pixel",
                        "order": 1,
                        "active": true
                      },
                      {
                        "id": 2,
                        "name": "javascript_pixel",
                        "displayName": "Javascript Pixel",
                        "order": 2,
                        "active": true
                      }
                    ],
                    "totalRecords": 2,
                    "filteredRecords": 2
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/static/conversion-attribution-type": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Get list of conversion atttribution types.",
        "description": "This api provides details about conversion attribution types i.e. bybrid, click_based and view_based",
        "operationId": "getListOfConversionAttributionTypes",
        "parameters": [
          {
            "name": "searchField",
            "in": "query",
            "description": "Search the result by provided keyword in the searchField. ",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "attributionTypeIds",
            "in": "query",
            "description": "This parameter is optional just as to provide support for filtering list based on attribution type ids.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionAttributionType"
                },
                "example": {
                  "success": true,
                  "data": {
                    "data": [
                      {
                        "id": 1,
                        "name": "hybrid",
                        "displayName": "Hybrid",
                        "order": 1,
                        "active": true,
                        "description": "this is a hybrid type of attribution"
                      },
                      {
                        "id": 2,
                        "name": "click_based",
                        "displayName": "Click Based",
                        "order": 2,
                        "active": true,
                        "description": "This conversion attribution is based on the click."
                      },
                      {
                        "id": 3,
                        "name": "view_based",
                        "displayName": "View Based",
                        "order": 3,
                        "active": true,
                        "description": "this is the view based conversion attribution type."
                      }
                    ],
                    "totalRecords": 3,
                    "filteredRecords": 3
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/list": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Listing api for the Conversions",
        "description": "This api provides details for the listing of conversions with pagination searching on name and id along with sorting.",
        "operationId": "getConversionList",
        "parameters": [
          {
            "name": "searchField",
            "in": "query",
            "description": "Search the result by provided keyword in the searchField. ",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of returned results per page. ",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "Page number for the required data. The default value is 1. ",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort the result set by specific field. For ascending use plus(+) sign(ascii value '%2B') and for descending use minus(-) sign. ",
            "required": false,
            "schema": {
              "type": "string",
              "default": "-created"
            }
          },
          {
            "name": "conversionIds",
            "in": "query",
            "description": "Conversion ids which needs to be searched.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "typeIds",
            "in": "query",
            "description": "Ids of conversion type like pixel or postback for filtering the records. TypeIds should be from [typeIds](?path=/Conversion%20API/getListOfConversionTypes) |\n",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "statusIds",
            "in": "query",
            "description": "Ids of conversion status like pending or active for filtering the records. StatusIds should be from [statusIds](?path=/Conversion%20API/getListOfConversionStatus) |\n",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "postbackPartnerIds",
            "in": "query",
            "description": "Ids of postback conversion partner type for filtering the records. PartnerIds should be from [postbackPartnerIds](?path=/Conversion%20API/getListOfConversionPartnerType) |\n",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionList"
                },
                "example": {
                  "success": true,
                  "data": {
                    "data": [
                      {
                        "id": 2539,
                        "name": "conversion-197",
                        "postbackPartnerName": null,
                        "status": "Active",
                        "type": "Pixel",
                        "created": 1677805806,
                        "totalConversion": 0,
                        "owId": 201352,
                        "createdByUowId": 6255,
                        "modifiedByUowId": 6255,
                        "uuid": "8f3165d0-b714-440e-bc1d-621127fa5fad",
                        "pixelConversionScript": "<script src='https://pxl.stage.iqm.com/i/pixel/8f3165d0-b714-440e-bc1d-621127fa5fad?cv={CONVERSION_VALUE}' async></script>",
                        "attributedConversion": 0,
                        "attributedViewThroughConversion": 0,
                        "attributedClickThroughConversion": 0,
                        "pixelFinancialMetric": "test_metric",
                        "postbackPartnerLogoUrl": "https://logo-bucket/partners/kochava.com",
                        "campaignCount": 0
                      }
                    ],
                    "totalRecords": 8,
                    "filteredRecords": 1
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/attached/campaigns/list": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "API for providing campaign details for provided conversion id",
        "description": "This API fetches a list of campaign details attached with provided conversion id",
        "operationId": "getAttachedCampaignsListByConversionId",
        "parameters": [
          {
            "name": "conversionId",
            "in": "query",
            "description": "Single conversion id whose mapping with campaign needs to be derived.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachedCampaigns"
                },
                "examples": {
                  "Get Campaign List For Provided Conversion": {
                    "description": "This response contains all campaign details attached to the provided conversion id",
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "campaignId": 1000,
                          "campaignName": "Campaign - 1",
                          "creativeTypeId": 17,
                          "status": "expired",
                          "startTime": 1888705936,
                          "endTime": 1669420800,
                          "ioId": 1,
                          "ioName": "Insertion Order Name",
                          "ioStatusId": 1,
                          "ioBudgetTypeId": 1
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/delete": {
      "delete": {
        "tags": [
          "MCP"
        ],
        "summary": "Delete Conversion API ",
        "description": "The API provides a soft delete functionality for conversions.",
        "operationId": "deleteConversions",
        "parameters": [
          {
            "name": "conversionIds",
            "in": "query",
            "description": "Multiple conversionIds separated with comma",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Conversion has been deleted successfully!"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid Conversion Id": {
                    "description": "Invalid Conversion Id",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Invalid conversion id."
                        }
                      ]
                    }
                  },
                  "Attached To Campaign": {
                    "description": "Attached To Campaign",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "This conversion is associated with a running campaign and cannot be deleted"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/universal-pixel/send-email": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Send Email for Universal Pixel Integration.",
        "description": "Sends an email containing the Universal Pixel script tag and conversion details to one or more recipients.\nThe email subject and greeting text are fully customisable by the caller.\n\n---\n\n#### Request Body Detail\n\n| **Field**       | **Type** | **Required** | **Description**                                                                 | **Validation**                               |\n|-----------------|----------|--------------|---------------------------------------------------------------------------------|----------------------------------------------|\n| conversionId    | Integer  | Required     | ID of the Universal Pixel conversion whose script tag is to be shared.          | Must be \u2265 1 and owned by the caller's owId. |\n| recipients      | String   | Required     | Comma-separated list of recipient email addresses.                              | Each address must be a valid email format.   |\n| emailSubject    | String   | Required     | Subject line for the outgoing email.                                            | Must not be blank.                           |\n| emailText       | String   | Optional     | Opening greeting text rendered in the email body (supports `${userName}` token).| \u2014                                            |\n\n---\n\n#### Notes\n\n- The Universal Pixel feature must be enabled for the caller's organisation (`isUniversalPixelEnabled`).\n- `owId` and `uowId` are resolved from the authenticated session; do **not** pass them in the request body.\n",
        "operationId": "universal-pixel-send-email",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PixelEmailRequestVO"
              },
              "examples": {
                "Request payload for sending a Universal Pixel integration email": {
                  "description": "Request payload for sending a Universal Pixel integration email",
                  "value": {
                    "conversionId": 3300,
                    "recipients": "developer@example.com,partner@example.com",
                    "emailSubject": "Integrate Universal Pixel Conversion",
                    "emailText": "Hello ${userName} has sent you a Universal Pixel code to integrate. Please follow the steps below."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "examples": {
                  "Email dispatched successfully": {
                    "description": "Email dispatched successfully",
                    "value": {
                      "success": true,
                      "data": "Universal Pixel conversion e-mail sent successfully."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid conversion ID": {
                    "description": "Invalid conversion ID",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Invalid conversion id."
                        }
                      ]
                    }
                  },
                  "Blank email subject": {
                    "description": "Blank email subject",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Email subject cannot be null/blank."
                        }
                      ]
                    }
                  },
                  "Blank recipients": {
                    "description": "Blank recipients",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "recipients can not be null or empty."
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/universal-pixel/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Create a Universal Pixel type Conversion.",
        "description": "Creates a new Universal Pixel type conversion and returns the full conversion record.\nUse this endpoint to set up a universal-pixel-based conversion that tracks user actions via a JavaScript snippet embedded on a webpage.\n\n---\n\n#### Request Body Detail\n\n| **Field**                                        | **Type**  | **Required** | **Description**                                                                                         | **Validation / Notes**                                                  |\n|--------------------------------------------------|-----------|--------------|---------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------|\n| name                                             | String    | Required     | Display name for the conversion.                                                                        | 3\u2013255 characters, not blank.                                            |\n| attributionId                                    | Integer   | Required     | Attribution model for this conversion.                                                                  | `1` = HYBRID, `2` = CLICK_BASED, `3` = VIEW_BASED. Must be a valid id. |\n| conversionSetting                                | Object    | Required     | Advanced settings for the conversion.                                                                   | Must not be null.                                                       |\n| conversionSetting.conversionDuration             | Object    | Required     | Post-view and post-click attribution window durations.                                                  | Must not be null.                                                       |\n| conversionSetting.conversionDuration.view        | Integer   | Optional     | Post-view attribution window in days.                                                                   | 1\u201330. Overridden to system default when `attributionId` = CLICK_BASED. |\n| conversionSetting.conversionDuration.click       | Integer   | Optional     | Post-click attribution window in days.                                                                  | 7\u201360. Overridden to system default when `attributionId` = VIEW_BASED.  |\n| conversionSetting.repeatConversion               | Object    | Required     | Controls how repeated conversions from the same user are counted.                                       | Must not be null.                                                       |\n| conversionSetting.repeatConversion.count         | Integer   | Required     | Maximum number of repeat conversions to count per user.                                                 | Not null.                                                               |\n| conversionSetting.repeatConversion.frequency     | Integer   | Required     | Frequency interval for repeat conversion counting.                                                      | Not null.                                                               |\n| conversionSetting.repeatConversion.unit          | String    | Required     | Time unit for the repeat frequency window.                                                              | Not blank. e.g. `\"Day\"`, `\"Hour\"`.                                      |\n| conversionSetting.crossModelling                 | Boolean   | Optional     | Whether cross-device modelling is enabled for attribution.                                              | Defaults to `false`.                                                    |\n\n---\n\n#### Defaults applied automatically\n\n- `status` is always set to **Pending** on creation.\n- `type` is always set to **Universal Pixel**.\n- A unique `uuid` is auto-generated and assigned.\n- `owId`, `createdByUowId`, and `modifiedByUowId` are resolved from the authenticated session.\n- After a successful insert, a data-sync event (`CREATE_UNIVERSAL_PIXEL_CONVERSION`) is dispatched to downstream systems.\n",
        "operationId": "universal-pixel-conversion-add",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UniversalPixelVO"
              },
              "examples": {
                "Request payload for creating a Universal Pixel Conversion": {
                  "description": "Request payload for creating a Universal Pixel Conversion",
                  "value": {
                    "name": "UniversalPixelConversion",
                    "attributionId": 1,
                    "conversionSetting": {
                      "conversionDuration": {
                        "view": 10,
                        "click": 10
                      },
                      "repeatConversion": {
                        "count": 1,
                        "frequency": 1,
                        "unit": "Day"
                      },
                      "crossModelling": true
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UniversalPixelConversionCreationResponse"
                },
                "examples": {
                  "Response for successful Universal Pixel Conversion creation": {
                    "description": "Response for successful Universal Pixel Conversion creation",
                    "value": {
                      "success": true,
                      "data": {
                        "id": 3300,
                        "name": "UniversalPixelConversion",
                        "status": "Pending",
                        "type": "Universal Pixel",
                        "created_at": 1687459918,
                        "totalConversions": 0,
                        "owId": 202017,
                        "createdByUowId": 108658,
                        "modifiedByUowId": 108658,
                        "uuid": "d3f2a1b0-c514-44ee-ab2d-7321fa6dbc90",
                        "attributedConversions": 0,
                        "attributedViewThroughConversions": 0,
                        "attributedClickThroughConversions": 0,
                        "campaignCount": 0,
                        "pixelConversionScript": "<script src='https://pxl.stage.iqm.com/i/pixel/d3f2a1b0?cv={CONVERSION_VALUE}' async></script>"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid attribution ID": {
                    "description": "Invalid attribution ID",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Invalid attribution id"
                        }
                      ]
                    }
                  },
                  "Invalid conversion name length": {
                    "description": "Invalid conversion name length",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Conversion name must be between 3 and 255 characters"
                        }
                      ]
                    }
                  },
                  "Missing conversion setting": {
                    "description": "Missing conversion setting",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "There should be conversion setting present."
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/conversion/universal-pixel/update": {
      "patch": {
        "tags": [
          "MCP"
        ],
        "summary": "Update the name of an existing Universal Pixel Conversion.",
        "description": "Partially updates a Universal Pixel conversion record \u2014 currently supports renaming only.\nUse this endpoint when the user needs to change the display name of an existing Universal Pixel conversion.\n\n---\n\n#### Request Body Detail\n\n| **Field** | **Type**   | **Required** | **Description**                                                      | **Validation**                         |\n|-----------|------------|--------------|----------------------------------------------------------------------|----------------------------------------|\n| id        | Integer    | Required     | Unique identifier of the Universal Pixel conversion to be updated.   | Must refer to a valid conversion owned by the caller's `owId`. |\n| name      | String     | Required     | New display name for the conversion.                                 | Must be 3\u2013255 characters, not blank.   |\n",
        "operationId": "universal-pixel-conversion-update",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConversionVO"
              },
              "examples": {
                "Request payload for renaming a Universal Pixel Conversion": {
                  "description": "Request payload for renaming a Universal Pixel Conversion",
                  "value": {
                    "id": 3300,
                    "name": "My Renamed Universal Pixel Conversion"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateConversionResponse"
                },
                "examples": {
                  "Response for successful Universal Pixel Conversion update": {
                    "description": "Response for successful Universal Pixel Conversion update",
                    "value": {
                      "success": true,
                      "data": {
                        "id": 3300,
                        "name": "My Renamed Universal Pixel Conversion"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid conversion ID": {
                    "description": "Invalid conversion ID",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Invalid conversion id"
                        }
                      ]
                    }
                  },
                  "Blank or missing name": {
                    "description": "Blank or missing name",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Conversion name must be between 3 and 255 characters"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PostbackDetailsVO": {
        "required": [
          "clickUrl",
          "impressionUrl",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Conversion ID",
            "format": "int32",
            "example": 12345
          },
          "name": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "Conversion Name",
            "example": "My Conversion"
          },
          "uuid": {
            "type": "string",
            "description": "Conversion UUID",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "typeId": {
            "type": "integer",
            "description": "Conversion Type ID",
            "format": "int32",
            "example": 1
          },
          "owId": {
            "type": "integer",
            "description": "Organization Workspace ID",
            "format": "int32",
            "example": 101010
          },
          "createdByUowId": {
            "type": "integer",
            "description": "Created By User Organization Workspace ID",
            "format": "int32",
            "example": 202020
          },
          "modifiedByUowId": {
            "type": "integer",
            "description": "Modified By User Organization Workspace ID",
            "format": "int32",
            "example": 202020
          },
          "statusId": {
            "type": "integer",
            "description": "Status ID",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Status",
            "example": "ACTIVE"
          },
          "created": {
            "type": "integer",
            "description": "Created Timestamp",
            "format": "int64",
            "example": 1622547800000
          },
          "postbackPartnerId": {
            "type": "integer",
            "description": "Postback Partner ID",
            "format": "int32",
            "example": 1
          },
          "partnerTypeId": {
            "type": "integer",
            "description": "Partner type ID",
            "format": "int32",
            "example": 1,
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "impressionUrl": {
            "type": "string",
            "description": "Impression URL",
            "example": "https://example.com/impression"
          },
          "clickUrl": {
            "type": "string",
            "description": "Click URL",
            "example": "https://example.com/click"
          }
        },
        "description": "Postback-based conversion details"
      },
      "AddConversionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errorObjects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorObject"
            }
          },
          "data": {
            "$ref": "#/components/schemas/ConversionListResponseVO"
          }
        }
      },
      "ConversionListResponseVO": {
        "type": "object",
        "properties": {
          "id": {
[...]
