{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0",
    "description": "MCP Creative API Specification",
    "contact": {
      "name": "IQM Support",
      "url": "https://iqm.com/contact/",
      "email": "support@iqm.com"
    }
  },
  "servers": [
    {
      "url": "https://api.iqm.com",
      "description": "IQM API"
    }
  ],
  "tags": [
    {
      "name": "MCP",
      "description": "MCP API endpoints"
    }
  ],
  "paths": {
    "/api/v3/ra/report/execute": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Execute report and fetch serving data",
        "description": "This API runs a report and retrieves the corresponding served data.\n\n**Request Body Description:**\n\n| **Filed** | **Type** | **Description** |\n| --- | --- | --- |\n| id | Integer | [Optional] - This is report Id, report data will be fetched for this report id. |\n| dimensions | JSON String | [Optional] - JSON string representing dimension details. |\n| columns | Array of String | [Optional] - Metrics for showing serving result |\n| customerIds | Array of Integer | [Optional] - Customer IDs, report data will be fetched for these customers. |\n| filters | JSON String | [Optional] - JSON string supporting campaignId, creativeTypeId and campaignStatus filtering. |\n| searchField | String | [Optional] - Search field for report serving data. |\n| requestType | Integer | [Optional] - ID to identify if report request is of Daily or Aggregate. \u003Cbr\u003Esample : [1- Daily, 2- Aggregated]  |\n| reportAggregated | String | [Optional] - Field to identify if report dimension is Aggregated or not. \u003Cbr\u003Esample : [0- Not aggregated, 1- Aggregated]  |\n| startDate | Long | [Optional] - This should be a long, TIME EPOCH in UNIX format, in milliseconds. \u003Cbr\u003EThis is report start time.|\n| endDate | Long | [Optional] - This should be a long, TIME EPOCH in UNIX format, in milliseconds. \u003Cbr\u003EThis is report end time.|\n| timezoneId | Integer | [Optional] - Timezone ID|\n| timezoneName | String | [Optional] - Timezone Name|\n| sortBy | String | [Optional] - Sort the result set by specific field. For ascending use plus(asc) and for descending use minus(desc) string. \u003Cbr\u003EDefault value is '+impressions'|\n| pageNo | Integer | [Optional] - Page number for the required data. \u003Cbr\u003EDefault value is 1|\n| noOfEntries | Integer | [Optional] - The maximum number of returned results per page. \u003Cbr\u003EDefault value is 50|\n",
        "operationId": "executeReportData",
        "parameters": [
           {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteRequestVO"
              },
              "examples": {
                "Execute Report (By Report ID)": {
                  "description": "Execute Report (By Report ID)",
                  "value": {
                    "id": 3219
                  }
                },
                "Execute Report (By Report Data)": {
                  "description": "Execute Report (By Report Data)",
                  "value": {
                    "startDate": 1670410001000,
                    "endDate": 1675766802000,
                    "dimensions": "[{\"filter\":\"campaign\"},{\"filter\":\"gender\",\"value\":[10200002]},{\"filter\":\"deviceType\",\"value\":[20300001,20300003]}]",
                    "columns": [
                      "campaignId",
                      "campaignName",
                      "deviceType",
                      "completeCount",
                      "gender",
                      "startTime",
                      "endTime",
                      "maxBid",
                      "budgetDay",
                      "VCR",
                      "eCPC",
                      "totalECPC",
                      "budgetTotal",
                      "impressions",
                      "clicks",
                      "winRate",
                      "reach"
                    ],
                    "customerIds": [201353, 201352],
                    "filters": {
                      "campaignIds": [123, 234, 345],
                      "creativeTypeIds": [11],
                      "campaignStatuses": [
                        "expired",
                        "running"
                      ]
                    },
                    "searchField": "123",
                    "requestType": 1,
                    "reportAggregated": "0",
                    "timezoneId": 11,
                    "timezoneName": "UTC",
                    "order": "desc",
                    "sortBy": "impressions",
                    "noOfEntries": 50,
                    "pageNo": 1
                  }
                },
                "Invalid input sample": {
                  "description": "Invalid input sample",
                  "value": {
                    "startDate": 1670410001000,
                    "endDate": 1675766802000,
                    "dimensions": "[{\"filter\":\"campaign\"}]",
                    "requestType": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Un-Processable Entity",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid input": {
                    "description": "Invalid input",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Please select columns for report creation",
                          "field": "columns"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteResponse"
                },
                "examples": {
                  "Execute Report": {
                    "description": "Execute Report",
                    "value": {
                      "success": true,
                      "data": {
                        "total": {
                          "CTR": 0.26809,
                          "date": null,
                          "deviceTypeId": null,
                          "VCR": 51.452171,
                          "budgetDay": null,
                          "gender": null,
                          "budgetPacing": null,
                          "dataCost": 0,
                          "totalRecords": 135,
                          "campaignTimezone": null,
                          "eCPM": 4.50311429853875,
                          "totalECPM": 4.50311429853875,
                          "bidImpressions": 4678583,
                          "startTime": null,
                          "mediaSpent": 8485.86672119556,
                          "eCPC": 1.67970441828891,
                          "totalECPC": 1.67970441828891,
                          "deviceType": null,
                          "startCount": 351095,
                          "campaignType": null,
                          "campaignId": null,
                          "spent": 8485.86672119556,
                          "impressions": 1884444,
                          "eCPCV": 0.0215601437130939,
                          "completeCount": 180646,
                          "budgetTotal": null,
                          "maxBid": null,
                          "clicks": 5052,
                          "endTime": null,
                          "campaignName": null,
                          "status": null
                        },
                        "data": [
                          {
                            "CTR": 0.2796,
                            "date": "2022-01-30",
                            "deviceTypeId": 20300001,
                            "VCR": 0,
                            "budgetDay": 0.07,
                            "gender": "Unknown",
                            "budgetPacing": true,
                            "dataCost": 0,
                            "totalRecords": null,
                            "campaignTimezone": "America/Costa_Rica",
                            "eCPM": 3,
                            "totalECPM": 3,
                            "bidImpressions": 628344,
                            "startTime": 1643428296,
                            "mediaSpent": 457.098,
                            "eCPC": 1.073,
                            "totalECPC": 1.073,
                            "deviceType": "Mobile",
                            "startCount": 0,
                            "campaignType": "cpm",
                            "campaignId": 15474,
                            "spent": 457.098,
                            "impressions": 152366,
                            "eCPCV": 0,
                            "completeCount": 0,
                            "budgetTotal": 1549,
                            "maxBid": 3,
                            "clicks": 426,
                            "endTime": 1644192000,
                            "campaignName": "Costa Rica MEMES COMPILADOS Profile: All Gender: All Ages: 18 to 45 Geo: Heredia, Alajuela, Cartago and San Jose",
                            "status": "expired"
                          },
                          {
                            "CTR": 0.2122,
                            "date": "2022-01-30",
                            "deviceTypeId": 20300001,
                            "VCR": 0,
                            "budgetDay": 0.21,
                            "gender": "Unknown",
                            "budgetPacing": true,
                            "dataCost": 0,
                            "totalRecords": null,
                            "campaignTimezone": "America/Costa_Rica",
                            "eCPM": 3,
                            "totalECPM": 3,
                            "bidImpressions": 271620,
                            "startTime": 1643423160,
                            "mediaSpent": 418.488,
                            "eCPC": 1.41381081081081,
                            "totalECPC": 1.41381081081081,
                            "deviceType": "Mobile",
                            "startCount": 0,
                            "campaignType": "cpm",
                            "campaignId": 15472,
                            "spent": 418.488,
                            "impressions": 139496,
                            "eCPCV": 0,
                            "completeCount": 0,
                            "budgetTotal": 1548,
                            "maxBid": 3,
                            "clicks": 296,
                            "endTime": 1644192000,
                            "campaignName": "Costa Rica Universidad Latina Profile: All Gender: All Ages: 18 to 75 Geo: All Costa Rica",
                            "status": "expired"
                          },
                          {
                            "CTR": 0.1065,
                            "date": "2022-01-30",
                            "deviceTypeId": 20300001,
                            "VCR": 0,
                            "budgetDay": 0.43,
                            "gender": "Unknown",
                            "budgetPacing": true,
                            "dataCost": 0,
                            "totalRecords": null,
                            "campaignTimezone": "America/Costa_Rica",
                            "eCPM": 3.00002495259008,
                            "totalECPM": 3.00002495259008,
                            "bidImpressions": 239865,
                            "startTime": 1643431623,
                            "mediaSpent": 360.687,
                            "eCPC": 2.8178671875,
                            "totalECPC": 2.8178671875,
                            "deviceType": "Mobile",
                            "startCount": 0,
                            "campaignType": "cpm",
                            "campaignId": 15477,
                            "spent": 360.687,
                            "impressions": 120228,
                            "eCPCV": 0,
                            "completeCount": 0,
                            "budgetTotal": 1551,
                            "maxBid": 3,
                            "clicks": 128,
                            "endTime": 1644192000,
                            "campaignName": "Costa Rica TICOS AL DIA 24-25 ENE Profile: All Gender: All Ages: 18 to 25 and 60+ and over Geo: Heredia, Alajuela, Cartago and San Jose",
                            "status": "expired"
                          },
                          {
                            "CTR": 0.3118,
                            "date": "2022-01-31",
                            "deviceTypeId": 20300001,
                            "VCR": 0,
                            "budgetDay": 0.07,
                            "gender": "Unknown",
                            "budgetPacing": true,
                            "dataCost": 0,
                            "totalRecords": null,
                            "campaignTimezone": "America/Costa_Rica",
                            "eCPM": 3,
                            "totalECPM": 3,
                            "bidImpressions": 280562,
                            "startTime": 1643428296,
                            "mediaSpent": 219.363,
                            "eCPC": 0.962118421052632,
                            "totalECPC": 0.962118421052632,
                            "deviceType": "Mobile",
                            "startCount": 0,
                            "campaignType": "cpm",
                            "campaignId": 15474,
                            "spent": 219.363,
                            "impressions": 73121,
                            "eCPCV": 0,
                            "completeCount": 0,
                            "budgetTotal": 1549,
                            "maxBid": 3,
                            "clicks": 228,
                            "endTime": 1644192000,
                            "campaignName": "Costa Rica MEMES COMPILADOS Profile: All Gender: All Ages: 18 to 45 Geo: Heredia, Alajuela, Cartago and San Jose",
                            "status": "expired"
                          },
                          {
                            "CTR": 0.3154,
                            "date": "2022-01-30",
                            "deviceTypeId": 20300001,
                            "VCR": 0,
                            "budgetDay": 1,
                            "gender": "Unknown",
                            "budgetPacing": true,
                            "dataCost": 0,
                            "totalRecords": null,
                            "campaignTimezone": "America/Costa_Rica",
                            "eCPM": 3,
                            "totalECPM": 3,
                            "bidImpressions": 233754,
                            "startTime": 1643131598,
                            "mediaSpent": 211.161,
                            "eCPC": 0.951175675675676,
                            "totalECPC": 0.951175675675676,
                            "deviceType": "Mobile",
                            "startCount": 0,
                            "campaignType": "cpm",
                            "campaignId": 15455,
                            "spent": 211.161,
                            "impressions": 70387,
                            "eCPCV": 0,
                            "completeCount": 0,
                            "budgetTotal": 1749,
                            "maxBid": 3,
                            "clicks": 222,
                            "endTime": 1644192000,
                            "campaignName": "Costa Rica MEMES COMPILADOS Profile: Undecided Gender: All Ages: 18 to 35 Geo: Heredia, Alajuela, Cartago, San Jose",
                            "status": "expired"
                          }
                        ],
                        "totalRecords": 135
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ra/report/email/schedule": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Save report scheduling event.",
        "description": "This API saves the report scheduling event.\n\n**Request Body Description:**\n\n| **Filed** | **Type** | **Description** |\n| --- | --- | --- |\n| reportId | Integer | [Required] - This is report Id, event will be created on this report id. |\n| subscriberEmails | Array of String | [Required] - List of the emails on which the report will be sent. |\n| fileType | Integer | [Required] - Report file type id. The report will be sent in the selected file format . \u003Cbr\u003Esample : [1 - CSV, 2 - XLS]|\n| deliveryFrequency | Integer | [Required] - Delivery frequency type id for the emails to be sent.\u003Cbr\u003Esample : [1 - ONCE, 2 - DAILY, 3 - WEEKLY, 4 - MONTHLY] |\n| deliveryDay | String | [Required, if deliveryFrequency is not ONCE] - Delivery day to specify the day-time when the report should be sent. \u003Cbr\u003EThis is related to Delivery frequency. \u003Cbr\u003E WEEKLY DELIVERY DAY: [\"SUNDAY\", \"MONDAY\", ...] \u003Cbr\u003EMONTHLY DELIVERY DAY: [\"FIRST\", \"LAST\", \"2\", \"3\", ..., \"29\"]|\n| eventEndDate | Long | [Required, if deliveryFrequency is not ONCE] - This should be a long, TIME EPOCH in UNIX format, in milliseconds. \u003Cbr\u003EThis is events end date, Scheduled report will be stopped after the eventEndDate is exceeded |\n| runningTotalEnabled | Boolean | [Optional] - Flag to indicate if the 'Total' Running is enabled for the report. This flag is supported only with 'Campaign' dimension.\u003Cbr\u003E If this is true the start-date for the report duration should be the EARLIEST campaign start date, \u003Cbr\u003Eso the report-time-period will be from the Earliest-campaign-start-date to the report-end-date |\n| earliestCampaignStartDate | Long | [Required with runningTotalEnabled as 'true'] - This should be a long, TIME EPOCH in UNIX format, in milliseconds. \u003Cbr\u003EThis is campaign's EARLIEST  start date from the selected campaigns, which will be set as the start date of the report-time-period. |",
        "operationId": "saveReportScheduleEvent",
        "parameters": [
           {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportSchedulingEventDetailsVO"
              },
              "examples": {
                "Save Report Scheduling Sample(Monthly)": {
                  "description": "Save Report Scheduling Sample(Monthly)",
                  "value": {
                    "reportId": 1234,
                    "subscriberEmails": [
                      "sample_email1@example.com",
                      "sample_email2@example.com"
                    ],
                    "fileType": 2,
                    "deliveryFrequency": 4,
                    "eventEndDate": 1670674106000,
                    "deliveryDay": "4",
                    "runningTotalEnabled": true,
                    "earliestCampaignStartDate": 1670674108900
                  }
                },
                "Save Report Scheduling Sample(Weekly)": {
                  "description": "Save Report Scheduling Sample(Weekly)",
                  "value": {
                    "reportId": 1235,
                    "subscriberEmails": [
                      "sample_email1@example.com",
                      "sample_email2@example.com"
                    ],
                    "fileType": 2,
                    "deliveryFrequency": 3,
                    "eventEndDate": 1670674106000,
                    "deliveryDay": "MONDAY",
                    "runningTotalEnabled": true,
                    "earliestCampaignStartDate": 1670674108900
                  }
                },
                "Invalid input sample": {
                  "description": "Invalid input sample",
                  "value": {
                    "reportId": -1,
                    "subscriberEmails": [
                      "sample_email1@example.com",
                      "sample_email2@example.com"
                    ],
                    "fileType": 2,
                    "deliveryFrequency": 3,
                    "eventEndDate": 1670674106000,
                    "deliveryDay": "MONDAY",
                    "runningTotalEnabled": true,
                    "earliestCampaignStartDate": 1670674108900
                  }
                },
                "A few invalid email Example": {
                  "description": "A few invalid email Example",
                  "value": {
                    "reportId": 1234,
                    "subscriberEmails": [
                      "sample_email1@example.com",
                      "sample_email2@invalid"
                    ],
                    "fileType": 2,
                    "deliveryFrequency": 3,
                    "eventEndDate": 1670674106000,
                    "deliveryDay": "MONDAY",
                    "runningTotalEnabled": true,
                    "earliestCampaignStartDate": 1670674108900
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden!"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportSchedulingResponse"
                },
                "examples": {
                  "Save Report Scheduling Sample(Monthly)": {
                    "description": "Save Report Scheduling Sample(Monthly)",
                    "value": {
                      "success": true,
                      "data": {
                        "scheduledData": {
                          "earliestCampaignStartDate": 0,
                          "reportId": 1234,
                          "deliveryFrequency": 4,
                          "fileType": 1,
                          "subscriberEmails": [
                            "sample_email@sample.com",
                            "sample_email2@sample.com"
                          ],
                          "eventEndDate": 1696270980000,
                          "deliveryDay": "5",
                          "runningTotalEnabled": false
                        },
                        "message": "Report schedule has been successfully updated."
                      }
                    }
                  },
                  "Save Report Scheduling Sample(Weekly)": {
                    "description": "Save Report Scheduling Sample(Weekly)",
                    "value": {
                      "success": true,
                      "data": {
                        "scheduledData": {
                          "earliestCampaignStartDate": 0,
                          "reportId": 12345,
                          "deliveryFrequency": 3,
                          "fileType": 1,
                          "subscriberEmails": [
                            "sample_email@sample.com",
                            "sample_email2@sample.com"
                          ],
                          "eventEndDate": 1696270980000,
                          "deliveryDay": "MONDAY",
                          "runningTotalEnabled": false
                        },
                        "message": "Report schedule has been successfully updated."
                      }
                    }
                  },
                  "A few invalid email Example": {
                    "description": "A few invalid email Example",
                    "value": {
                      "success": true,
                      "errorObjects": [
                        {
                          "error": "Invalid email provided - invalid Emails : [sample_email2@invalid].",
                          "reason": "One or more subscribers emails are empty or not provided as per the email format",
                          "field": "subscriberEmails"
                        }
                      ],
                      "data": {
                        "scheduledData": {
                          "earliestCampaignStartDate": 0,
                          "reportId": 12345,
                          "deliveryFrequency": 3,
                          "fileType": 1,
                          "subscriberEmails": [
                            "sample_email@sample.com"
                          ],
                          "eventEndDate": 1696270980000,
                          "deliveryDay": "MONDAY",
                          "runningTotalEnabled": false
                        },
                        "message": "Report schedule has been successfully updated."
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Un-Processable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid input": {
                    "description": "Invalid input",
                    "value": {
                      "success": false,
                      "errorObjects": {
                        "error": "Report does not exists for the given id"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ra/report/email/schedule/{reportId}": {
      "delete": {
        "tags": [
          "MCP"
        ],
        "summary": "Remove report scheduling event",
        "description": "This API removes the report scheduling event.",
        "operationId": "deleteReportScheduleEvent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden!"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "remove Report Scheduling": {
                    "description": "remove Report Scheduling",
                    "value": {
                      "success": true,
                      "data": {
                        "message": "Report event is removed."
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Un-Processable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid input": {
                    "description": "Invalid input",
                    "value": {
                      "success": false,
                      "errorObjects": {
                        "error": "Report event does not exists for the given id"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "MCP"
        ],
        "summary": "Update report scheduling event",
        "description": "This API update the report scheduling event. Whichever field is to be updated, that can be sent in the request body.\n \n**Request Body Description:**\n| **Filed** | **Type** | **Description** |\n| --- | --- | --- |\n| subscriberEmails | Array of String | List of the emails on which the report will be sent. |\n| fileType | Integer | Report file type id. The report will be sent in the selected file format. \u003Cbr\u003Esample : [1 - CSV, 2 - XLS]|\n| deliveryFrequency | Integer | Delivery frequency type id for the emails to be sent. \u003Cbr\u003E sample : [1 - ONCE, 2 - DAILY, 3 - WEEKLY, 4 - MONTHLY] |\n| deliveryDay | String | [Required, if deliveryFrequency is not ONCE] - Delivery day to specify the day-time when the report should be sent. \u003Cbr\u003EThis is related to Delivery frequency. \u003Cbr\u003E WEEKLY DELIVERY DAY: [\"SUNDAY\", \"MONDAY\", ...] \u003Cbr\u003EMONTHLY DELIVERY DAY: [\"FIRST\", \"LAST\", \"2\", \"3\", ..., \"29\"]|\n| eventEndDate | Long | [Required, if deliveryFrequency updated and is not ONCE] - This should be a long, TIME EPOCH in UNIX format, in milliseconds. \u003Cbr\u003EThis is events end date, Scheduled report will be stopped after the eventEndDate is exceeded |\n| runningTotalEnabled | Boolean | [Optional] - Flag to indicate if the 'Total' Running is enabled for the report. This flag is supported only with 'Campaign' dimension.\u003Cbr\u003E If this is true the start-date for the report duration should be the EARLIEST campaign start date, \u003Cbr\u003Eso the report-time-period will be from the Earliest-campaign-start-date to the report-end-date |\n| earliestCampaignStartDate | Long | [Required with runningTotalEnabled as 'true'] - This should be a long, TIME EPOCH in UNIX format, in milliseconds. \u003Cbr\u003EThis is campaign's EARLIEST  start date from the selected campaigns, which will be set as the start date of the report-time-period. |",
        "operationId": "updateReportScheduleEvent",
        "parameters": [
                     {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportSchedulingEventDetailsVO"
              },
              "examples": {
                "update Report Scheduling": {
                  "description": "update Report Scheduling",
                  "value": {
                    "subscriberEmails": [
                      "sample_email1@example.com",
                      "sample_email2@example.com",
                      "sample_email3@example.com"
                    ]
                  }
                },
                "Invalid email Example": {
                  "description": "Invalid email Example",
                  "value": {
                    "subscriberEmails": [
                      "sample_email1@invalid",
                      "sample_email2@invalid",
                      "sample_email3@example.com"
                    ]
                  }
                },
                "Invalid input": {
                  "description": "Invalid input",
                  "value": {
                    "fileType": 0
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden!"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Un-Processable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid input": {
                    "description": "Invalid input",
                    "value": {
                      "success": false,
                      "errorObjects": {
                        "error": "Invalid file type."
                      }
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportSchedulingResponse"
                },
                "examples": {
                  "update Report Scheduling": {
                    "description": "update Report Scheduling",
                    "value": {
                      "success": true,
                      "data": {
                        "scheduledData": {
                          "earliestCampaignStartDate": 0,
                          "reportId": 1234,
                          "deliveryFrequency": 4,
                          "fileType": 1,
                          "subscriberEmails": [
                            "sample_email1@example.com",
                            "sample_email2@example.com",
                            "sample_email3@example.com"
                          ],
                          "eventEndDate": 1696270980000,
                          "deliveryDay": "4",
                          "runningTotalEnabled": false
                        },
                        "message": "Report schedule has been successfully updated."
                      }
                    }
                  },
                  "Invalid email Example": {
                    "description": "Invalid email Example",
                    "value": {
                      "success": true,
                      "errorObjects": [
                        {
                          "error": "Invalid email provided - invalid Emails : [sample_email1@invalid, sample_email2@invalid].",
                          "reason": "One or more subscribers emails are empty or not provided as per the email format",
                          "field": "subscriberEmails"
                        }
                      ],
                      "data": {
                        "scheduledData": {
                          "earliestCampaignStartDate": 0,
                          "reportId": 1234,
                          "deliveryFrequency": 4,
                          "fileType": 1,
                          "subscriberEmails": [
                            "sample_email3@example.com"
                          ],
                          "eventEndDate": 1696270980000,
                          "deliveryDay": "4",
                          "runningTotalEnabled": false
                        },
                        "message": "Report schedule has been successfully updated."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ra/report/dimension-metrics/detail": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Get Dimension & Metrics Details",
        "description": "This API offers Dimension and Metrics information grouped by Category in predetermined order",
        "operationId": "getDimensionAndMetricDetails",
        "parameters": [
           {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "examples": {
                  "Get Dimension & Metrics Details": {
                    "description": "Get Dimension & Metrics Details",
                    "value": {
                      "success": true,
                      "data": {
                        "metrics": [
                          {
                            "Budget": [
                              {
                                "id": 1,
                                "label": "Daily Budget",
                                "order": 1,
                                "fieldDataType": "currencyUSD",
                                "aggregationType": "sum",
                                "description": "Amount up to which you allow platform to spend on average each day",
                                "defaultEnabled": false,
                                "key": "dailyBudget",
                                "dependentDimensions": [1, 2, 43, 44]
                              },
                              {
                                "id": 2,
                                "label": "Total Budget",
                                "order": 2,
                                "defaultEnabled": false,
                                "key": "totalBudget",
                                "dependentDimensions": [1, 2, 43, 44]
                              }
                            ]
                          },
                          {
                            "Counts": [
                              {
                                "id": 5,
                                "label": "Impressions",
                                "order": 1,
                                "defaultEnabled": true,
                                "key": "impressions",
                                "dependentDimensions": null
                              }
                            ]
                          }
                        ],
                        "dimensions": [
                          {
                            "Campaign Specifics": [
                              {
                                "id": 1,
                                "label": "Campaign",
                                "order": 1,
                                "isFilterSupported": true,
                                "isRowToColumn": false,
                                "isCustomerDependent": true,
                                "fieldDataType": "text",
                                "description": "Campaign Name",
                                "groupId": 1,
                                "key": "campaign"
                              },
                              {
                                "id": 2,
                                "label": "Campaign ID",
                                "order": 2,
                                "isFilterSupported": true,
                                "isRowToColumn": false,
                                "isCustomerDependent": true,
                                "fieldDataType": "text",
                                "description": "Unique system-generated number assigned to each Campaign",
                                "groupId": 1,
                                "key": "campaignId"
                              }
                            ]
                          },
                          {
                            "Locations": [
                              {
                                "id": 34,
                                "label": "Country",
                                "order": 1,
                                "isFilterSupported": true,
                                "isRowToColumn": false,
                                "isCustomerDependent": false,
                                "fieldDataType": "country",
                                "description": "Country the ad ran in",
                                "groupId": 29,
                                "key": "country"
                              },
                              {
                                "id": 35,
                                "label": "State",
                                "order": 2,
                                "isFilterSupported": true,
                                "isRowToColumn": false,
                                "isCustomerDependent": false,
                                "fieldDataType": "regionCode",
                                "description": "State the ad ran in",
                                "groupId": 30,
                                "key": "state"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ra/report/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Create Report",
        "description": "This API will create new Report based on given fields",
        "operationId": "saveReport",
        "parameters": [
           {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportDetailsVO"
              },
              "examples": {
                "Report with Scheduling": {
                  "description": "Report with Scheduling",
                  "value": {
                    "reportName": "Campaign by Gender by Device type with customer and filtering",
                    "customerIds": [200, 201],
                    "startDate": 1650177200000,
                    "endDate": 1666938296000,
                    "dimensions": "[{\"filter\":\"campaign\",\"value\":[123,234,345,456]},{\"filter\":\"gender\",\"value\":[10200002]},{\"filter\":\"device_type\",\"value\":[20300001,20300003]}]",
                    "columns": [
                      "gender",
                      "deviceType",
                      "campaignId",
                      "campaignName",
                      "startTime",
                      "endTime",
                      "maxBid",
                      "budgetDay",
                      "budgetTotal",
                      "impressions",
                      "clicks"
                    ],
                    "requestType": 1,
                    "reportAggregated": "0",
                    "timezoneId": 29,
                    "timezoneName": "US/Eastern",
                    "reportSchedulingEventDetails": {
                      "runningTotalEnabled": true,
                      "deliveryFrequency": 3,
                      "deliveryDay": "Friday",
                      "fileType": 2,
                      "subscriberEmails": [
                        "demoUser1@gmail.com",
                        "demoUser1@gmail.com"
                      ],
                      "eventEndDate": 1671148799999
                    }
                  }
                },
                "Create Report": {
                  "description": "Create Report",
                  "value": {
                    "reportName": "Campaign by Gender by Device type ",
                    "startDate": 1650177200000,
                    "endDate": 1666938296000,
                    "dimensions": "[{\"filter\":\"campaign\",\"value\":[287846,287610,278417,270798]},{\"filter\":\"gender\",\"value\":[10200002]},{\"filter\":\"device_type\",\"value\":[20300001,20300003]}]",
                    "columns": [
                      "gender",
                      "deviceType",
                      "campaignId",
                      "campaignName",
                      "startTime",
                      "endTime",
                      "maxBid",
                      "budgetDay",
                      "budgetTotal",
                      "impressions",
                      "clicks"
                    ],
                    "requestType": 1,
                    "reportAggregated": "0",
                    "timezoneId": 29,
                    "timezoneName": "US/Eastern"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseId"
                },
                "examples": {
                  "Report with Scheduling": {
                    "description": "Report with Scheduling",
                    "value": {
                      "success": true,
                      "data": 1001
                    }
                  },
                  "Create Report": {
                    "description": "Create Report",
                    "value": {
                      "success": true,
                      "data": 1002
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ra/report/{reportId}": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Get Report By ID",
        "description": "This API fetches report data by report ID",
        "operationId": "getReport",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "ID of report",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
           {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "responses": {
          "422": {
            "description": "Un-Processable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid input": {
                    "description": "Invalid input",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Report does not exists for the given id"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportDetails"
                },
                "examples": {
                  "Report data": {
                    "description": "Report data",
                    "value": {
                      "success": true,
                      "data": {
                        "id": 123,
                        "reportName": "Campaign by Gender by Device type",
                        "startDate": 1650177000,
                        "endDate": 1666938000,
                        "dimensions": "[{\"filter\":\"campaign\"},{\"filter\":\"gender\",\"value\":[10200002]},{\"filter\":\"device_type\",\"value\":[20300001,20300003]}]",
                        "columns": [
                          "gender",
                          "deviceType",
                          "campaignId",
                          "campaignName",
                          "startTime",
                          "endTime",
                          "maxBid",
                          "budgetDay",
                          "budgetTotal",
                          "impressions",
                          "clicks"
                        ],
                        "timezoneId": 29,
                        "requestType": 1,
                        "reportSchedulingEventDetails": {
                          "eventId": 18,
                          "deliveryFrequency": 3,
                          "fileType": 2,
                          "subscriberEmails": [
                            "demoUser1@gmail.com",
                            "demoUser2@iqm.com"
                          ],
                          "eventEndDate": 1671148799,
                          "deliveryDay": "Friday",
                          "runningTotalEnabled": true,
                          "earliestCampaignStartDate": 1670674108900
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "MCP"
        ],
        "summary": "Delete Report and Scheduling Data By ID",
        "description": "This API deletes report and it's scheduling data",
        "operationId": "deleteReport",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "ID of report",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
           {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "responses": {
          "422": {
            "description": "Un-Processable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid input": {
                    "description": "Invalid input",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Report does not exists for the given id"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseMessage"
                },
                "examples": {
                  "Delete success": {
                    "description": "Delete success",
                    "value": {
                      "success": true,
                      "data": "Report with id 123 deleted successfully"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "MCP"
        ],
        "summary": "Edit Report",
        "description": "This API will edit Report data based on given fields",
        "operationId": "updateReport",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
           {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportDetailsVO"
              },
              "examples": {
                "Edit report": {
                  "description": "Edit report",
                  "value": {
                    "startDate": 1642013200000,
                    "reportName": "Updated report name 1",
                    "timezoneId": 29,
                    "timezoneName": "US/Eastern",
                    "dimensions": "[{\"filter\": \"campaign\"}, {\"filter\": \"creative\"}]",
                    "columns": [
                      "campaignId",
                      "campaignName",
                      "startTime",
                      "endTime"
                    ],
                    "customerIds": [12345],
                    "requestType": 1,
                    "reportAggregated": "0"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseMessage"
                },
                "examples": {
                  "Edit Report": {
                    "description": "Edit Report",
                    "value": {
                      "success": true,
                      "data": "Report with id 123 updated successfully"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ra/reports/list": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Get List of Reports",
        "description": "This API fetches list of reports as per the given filters",
        "operationId": "getReportList",
        "parameters": [
          {
            "name": "customerIds",
            "in": "query",
            "description": "Comma separated Customer Ids for filtering. Passing `all` will fetch all eligible customer's report. Default value is `all`",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Response will be sorted on the given field. Allowed sorting values needs to be specified with `-` and `+` prefix.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "-modifyDate"
            }
          },
          {
            "name": "searchField",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit defines the number of records returned in the response.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "Page number defines which page entries will be fetched in response. Pagination will not be applied with value -1",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
           {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportList"
                },
                "examples": {
                  "Report data": {
                    "description": "Report data",
                    "value": {
                      "success": true,
                      "data": {
                        "data": [
                          {
                            "id": 1,
                            "reportName": "Campaign by Gender by Device type",
                            "startDate": 1650177200,
                            "endDate": 1666938296,
                            "dimensions": "[{\"filter\":\"campaign\",\"value\":[123,234,345,456]},{\"filter\":\"gender\",\"value\":[10200002]},{\"filter\":\"device_type\",\"value\":[20300001,20300003]}]",
                            "customerIds": null,
                            "customerDetails": null,
                            "timezoneId": 11,
                            "reportSchedulingEventDetails": {
                              "eventId": 29,
                              "deliveryFrequency": 3,
                              "fileType": 2,
                              "subscriberEmails": [
                                "demoUser1@gmail.com",
                                "demoUser2@iqm.com"
                              ],
                              "eventEndDate": 1671148799999,
                              "deliveryDay": "Friday"
                            }
                          },
                          {
                            "id": 2,
                            "reportName": "Campaigns by Zip Codes with filters",
                            "startDate": 1660521600,
                            "endDate": 1668470399,
                            "dimensions": "[{\"filter\": \"campaign\"}, {\"value\": [123, 234, 345, 456], \"filter\": \"zip5\"}]",
                            "customerIds": null,
                            "customerDetails": null,
                            "timezoneId": 12,
                            "reportSchedulingEventDetails": {

                            }
                          },
                          {
                            "id": 3,
                            "reportName": "Creatives by Income Ranges and Operating System with filters",
                            "startDate": 1660521600,
                            "endDate": 1668470399,
                            "timezoneId": 11,
                            "dimensions": "[{\"filter\": \"creative\"}, {\"value\": [10300002, 10300003], \"filter\": \"income_group\"}, {\"value\": [20200001, 20200002, 20200003], \"filter\": \"os\"}]",
                            "customerIds": [200, 201],
                            "customerDetails": [
                              {
                                "owId": 200,
                                "organizationName": "Test Organization",
                                "organizationLogo": "https://iqm-web-assets-c92d6b6cbde1-stage.s3.amazonaws.com/organization-profile/200/1637314301025.png",
                                "statusId": 1,
                                "status": "Active",
                                "supportEmail": "demoSupport@gmail.com",
                                "timezone": 29
                              }
                            ],
                            "reportSchedulingEventDetails": {

                            }
                          }
                        ],
                        "totalRecords": 3,
                        "filteredRecords": 3
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invalid sortBy value."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Get List of Reports",
        "description": "This API fetches list of reports as per the given filters\n\n**Request Body Description:**\n\n| **Filed** | **Type** | **Description** |\n| --- | --- | --- |\n| customerIds | String | [Optional] - Comma separated String of Customer IDs for which Report's list is requested. Default value is `all` |\n| searchField | String | [Optional] - Search field for report listing data. Search is supported for Report ID and Report name |\n| sortBy | String | [Optional] - Sort the result set by specific field. For ascending use plus(asc) and for descending use minus(desc) string. \u003Cbr\u003EDefault value is `-modifyDate`|\n| pageNo | Integer | [Optional] - Page number for the required data. \u003Cbr\u003EDefault value is `1`|\n| noOfEntries | Integer | [Optional] - The maximum number of returned results per page. \u003Cbr\u003EDefault value is `20`|\n",
        "operationId": "fetchReportList",
        "parameters": [
           {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportSearchRequestVO"
              },
              "examples": {
                "Report List": {
                  "description": "Report List",
                  "value": {
                    "customerIds": "123,234,345",
                    "pageNo": 1,
                    "noOfEntries": 30,
                    "sortBy": "+id",
                    "searchField": "search field"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportList"
                },
                "examples": {
                  "Report data": {
                    "description": "Report data",
                    "value": {
                      "success": true,
                      "data": {
                        "data": [
                          {
                            "id": 1,
                            "reportName": "Campaign by Gender by Device type",
                            "startDate": 1650177200,
                            "endDate": 1666938296,
                            "dimensions": "[{\"filter\":\"campaign\",\"value\":[123,234,345,456]},{\"filter\":\"gender\",\"value\":[10200002]},{\"filter\":\"device_type\",\"value\":[20300001,20300003]}]",
                            "customerIds": null,
                            "customerDetails": null,
                            "timezoneId": 11,
                            "reportSchedulingEventDetails": {
                              "eventId": 29,
                              "deliveryFrequency": 3,
                              "fileType": 2,
                              "subscriberEmails": [
                                "demoUser1@gmail.com",
                                "demoUser2@iqm.com"
                              ],
                              "eventEndDate": 1671148799999,
                              "deliveryDay": "Friday"
                            }
                          },
                          {
                            "id": 2,
                            "reportName": "Campaigns by Zip Codes with filters",
                            "startDate": 1660521600,
                            "endDate": 1668470399,
                            "dimensions": "[{\"filter\": \"campaign\"}, {\"value\": [123, 234, 345, 456], \"filter\": \"zip5\"}]",
                            "customerIds": null,
                            "customerDetails": null,
                            "timezoneId": 12,
                            "reportSchedulingEventDetails": {

                            }
                          },
                          {
                            "id": 3,
                            "reportName": "Creatives by Income Ranges and Operating System with filters",
                            "startDate": 1660521600,
                            "endDate": 1668470399,
                            "timezoneId": 11,
                            "dimensions": "[{\"filter\": \"creative\"}, {\"value\": [10300002, 10300003], \"filter\": \"income_group\"}, {\"value\": [20200001, 20200002, 20200003], \"filter\": \"os\"}]",
                            "customerIds": [200, 201],
                            "customerDetails": [
                              {
                                "owId": 200,
                                "organizationName": "Test Organization",
                                "organizationLogo": "https://iqm-web-assets-c92d6b6cbde1-stage.s3.amazonaws.com/organization-profile/200/1637314301025.png",
                                "statusId": 1,
                                "status": "Active",
                                "supportEmail": "demoSupport@gmail.com",
                                "timezone": 29
                              }
                            ],
                            "reportSchedulingEventDetails": {

                            }
                          }
                        ],
                        "totalRecords": 3,
                        "filteredRecords": 3
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invalid sortBy value."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorObject": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "field": {
            "type": "string"
          }
        }
      },
      "ReportSchedulingEventDetailsVO": {
        "type": "object",
        "properties": {
          "earliestCampaignStartDate": {
            "type": "integer",
            "description": "Earliest start date from selected Campaigns (required when runningTotalEnabled = true)",
            "format": "int64",
            "example": 1704067200000
          },
          "reportId": {
            "type": "integer",
            "format": "int32"
          },
          "deliveryFrequency": {
            "type": "integer",
            "description": "Delivery Frequency: 1 = once ; 2 = daily ; 3 = weekly ; 4 = monthly",
            "format": "int32",
            "example": 1,
            "enum": [1, 2, 3, 4]
          },
          "fileType": {
            "type": "integer",
            "description": "File Type: 1 = CSV ; 2 = XLS",
            "format": "int32",
            "example": 1,
            "enum": [1, 2]
          },
          "subscriberEmails": {
            "type": "array",
            "description": "List of Subscriber Emails",
            "items": {
              "type": "string",
              "description": "List of Subscriber Emails"
            }
          },
          "eventEndDate": {
            "type": "integer",
            "description": "Unix epoch timestamp in milliseconds of event End Date (required if deliveryFrequency = 2,3,4)",
            "format": "int64",
            "example": 1704067200000
          },
          "deliveryDay": {
            "type": "string",
            "description": "Delivery Day (required if deliveryFrequency = 2,3,4)",
            "example": "Monday"
          },
          "runningTotalEnabled": {
            "type": "boolean",
            "description": "Running Total Enabled",
            "example": true
          }
        },
        "description": "Report Scheduling Event Details"
      },
      "ExecuteRequestVO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the report",
            "format": "int32",
            "example": 1
          },
          "reportName": {
            "type": "string",
            "description": "Name of the report",
            "example": "Campaign Performance Report"
          },
          "startDate": {
            "type": "integer",
            "description": "Start date of the report, unix epoch timestamp",
            "format": "int64",
            "example": 1622505600000
          },
          "endDate": {
            "type": "integer",
            "description": "End date of the report, unix epoch timestamp",
            "format": "int64",
            "example": 1625097600000
          },
          "dimensions": {
            "type": "string",
            "description": "Dimensions to filter by. JSON-serialized array of objects, each with a mandatory `filter` and optional `value` array. Example JSON (before stringifying): [{\"filter\":\"campaign\"},{\"filter\":\"gender\",\"value\":[10200002]}]",
            "example": "[{\"filter\":\"campaign\"},{\"filter\":\"gender\",\"value\":[10200002]},{\"filter\":\"deviceType\",\"value\":[20300001,20300003]}]"
          },
          "customerIds": {
            "type": "array",
            "description": "List of customer IDs associated with the report",
            "nullable": true,
            "example": [1, 2, 3],
            "items": {
              "type": "integer",
              "description": "List of customer IDs associated with the report",
              "format": "int32",
              "nullable": true
            }
          },
          "columns": {
            "type": "array",
            "description": "List of columns to be included in the report",
            "items": {
              "type": "string",
              "description": "List of columns to be included in the report",
              "example": "['column1', 'column2']"
            }
          },
          "timezoneId": {
            "type": "integer",
            "description": "ID of the timezone for the report: 29=eastern",
            "format": "int32",
            "example": 1,
            "default": 29
          },
          "requestType": {
            "type": "integer",
            "description": "Report request type ID: 1=disaggregated(daily), 2=aggregated, 3=weekly, 4=monthly",
            "format": "int32",
            "example": 1,
            "default": 2
          },
          "reportAggregated": {
            "type": "string",
            "description": "Aggregation level of the report: 1=aggregated, 2=disaggregated(daily)",
            "example": "2",
            "default": "1"
          },
          "owId": {
            "type": "integer",
            "description": "Ow ID associated with the report",
            "format": "int32",
            "example": 1
          },
          "createdByUOWId": {
            "type": "integer",
            "description": "Created by User ID",
            "format": "int32",
            "example": 1
          },
          "modifiedByUOWId": {
            "type": "integer",
            "description": "Modified by User ID",
            "format": "int32",
            "example": 1
          },
          "timezoneName": {
            "type": "string",
            "description": "Timezone name. Keep as \"US/Eastern\" if not specified otherwise.",
            "example": "US/Eastern"
          },
          "organizationName": {
            "type": "string",
            "description": "Name of the organization",
            "example": "Acme Corp"
          },
          "resultType": {
            "type": "string",
            "description": "Result type"
          },
          "fileType": {
            "type": "integer",
            "description": "File type: 1=CSV, 2=XLSX",
            "format": "int32"
          },
          "filters": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "description": "Filters",
              "items": {
                "type": "object",
                "description": "Filters"
              }
            },
            "description": "Filters"
          },
          "internalRequest": {
            "type": "boolean"
          },
          "pageNo": {
            "type": "integer",
            "description": "Page number",
            "format": "int32",
            "example": 1
          },
          "noOfEntries": {
            "type": "integer",
            "description": "Number of entries",
            "format": "int32",
            "example": 50
          },
          "sortBy": {
            "type": "string",
            "description": "Sorting field",
            "example": "-impressions"
          },
          "searchField": {
            "type": "string",
            "description": "Search field",
            "example": "Report 1"
          }
        },
        "description": "Execute report request"
      },
      "ExecuteResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errorObjects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorObject"
            }
          },
          "data": {
            "$ref": "#/components/schemas/ModeledItemsData"
          }
        }
      },
      "OrganizationBasicDetailVO": {
        "type": "object",
        "properties": {
          "owId": {
            "type": "integer",
            "description": "Organization Workspace ID",
            "format": "int32",
            "example": 123321
          },
          "organizationName": {
            "type": "string",
            "description": "Organization Name",
            "example": "IQM Corporation"
          },
          "organizationLogo": {
            "type": "string",
            "description": "Organization Logo",
            "example": "logo.png"
          },
          "statusId": {
            "type": "integer",
            "description": "Organization Status ID",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Organization Status",
            "example": "Active"
          },
          "supportEmail": {
            "type": "string",
            "description": "Organization Support Email",
            "example": "support@iqm.com"
          },
          "timezone": {
            "type": "integer",
            "description": "Organization Timezone",
            "format": "int32",
            "example": 1
          },
          "organizationType": {
            "type": "string",
            "description": "Organization Type",
            "example": "Customer"
          }
        },
        "description": "Organization Basic Detail Object",
        "nullable": true
      },
      "ReportData": {
        "type": "object",
        "properties": {
          "totalRecords": {
            "type": "integer",
            "description": "Total number of records",
            "format": "int32",
            "example": 120
          },
          "filteredRecords": {
            "type": "integer",
            "description": "Filtered number of records",
            "format": "int32",
            "example": 2
          },
          "data": {
            "type": "array",
            "description": "Report details data list",
            "items": {
              "$ref": "#/components/schemas/ReportDetailsVO"
            }
          }
        },
        "description": "Generic success response data wrapper"
      },
      "ReportDetailsVO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the report",
            "format": "int32",
            "example": 1
          },
          "reportName": {
            "type": "string",
            "description": "Name of the report",
            "example": "Campaign Performance Report"
          },
          "startDate": {
            "type": "integer",
            "description": "Start date of the report",
            "format": "int64",
            "example": 1622505600000
          },
          "endDate": {
            "type": "integer",
            "description": "End date of the report",
            "format": "int64",
            "example": 1625097600000
          },
          "dimensions": {
            "type": "string",
            "description": "Dimensions of the report",
            "example": "['age', 'gender']"
          },
          "customerIds": {
            "type": "array",
            "description": "List of customer IDs associated with the report",
            "nullable": true,
            "example": [1, 2, 3],
            "items": {
              "type": "integer",
              "description": "List of customer IDs associated with the report",
              "format": "int32",
              "nullable": true
            }
          },
          "columns": {
            "type": "array",
            "description": "List of columns to be included in the report",
            "example": "['column1', 'column2']",
            "items": {
              "type": "string",
              "description": "List of columns to be included in the report",
              "example": "['column1', 'column2']"
            }
          },
          "timezoneId": {
            "type": "integer",
            "description": "ID of the timezone for the report",
            "format": "int32",
            "example": 1
          },
          "requestType": {
            "type": "integer",
            "description": "Type of the report request",
            "format": "int32",
            "example": 1
          },
          "reportAggregated": {
            "type": "string",
            "description": "Aggregation level of the report",
            "example": "daily"
          },
          "owId": {
            "type": "integer",
            "description": "Ow ID associated with the report",
            "format": "int32",
            "example": 1
          },
          "createdByUOWId": {
            "type": "integer",
            "description": "Created by User ID",
            "format": "int32",
            "example": 1
          },
          "modifiedByUOWId": {
            "type": "integer",
            "description": "Modified by User ID",
            "format": "int32",
            "example": 1
          },
          "timezoneName": {
            "type": "string",
            "description": "Timezone Name",
            "example": "America/New_York"
          },
          "organizationName": {
            "type": "string",
            "description": "Name of the organization",
            "example": "Acme Corp"
          },
          "customerDetails": {
            "type": "array",
            "description": "List of Customer Details",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/OrganizationBasicDetailVO"
            }
          },
          "reportSchedulingEventDetails": {
            "$ref": "#/components/schemas/ReportSchedulingEventDetailsVO"
          }
        }
      },
      "ReportList": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errorObjects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorObject"
            }
          },
          "data": {
            "$ref": "#/components/schemas/ReportData"
          }
        }
      },
       "ReportDetails": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errorObjects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorObject"
            }
          },
          "data": {
            "$ref": "#/components/schemas/ReportDetailsVO"
          }
        }
      },
      "ModeledItem": {
        "type": "object",
        "properties": {
          "dataCost": {
            "type": "number",
            "description": "Data cost",
            "format": "double",
            "example": 0
          },
          "bidImpressions": {
            "type": "integer",
            "description": "Bid impressions",
            "format": "int32",
            "example": 4678583
          },
          "mediaSpent": {
            "type": "number",
            "description": "Media spent",
            "format": "double",
            "example": 8485.87
          },
          "startCount": {
            "type": "integer",
            "description": "Video starts",
            "format": "int32",
            "example": 351095
          },
          "spent": {
            "type": "number",
            "description": "Total spend",
            "format": "double",
            "example": 8485.87
          },
          "impressions": {
            "type": "integer",
            "description": "Impressions",
            "format": "int32",
            "example": 1884444
          },
          "completeCount": {
            "type": "integer",
            "description": "Completed views count",
            "format": "int32",
            "example": 180646
          },
          "clicks": {
            "type": "integer",
            "description": "Clicks",
            "format": "int32",
            "example": 5052
          },
          "date": {
            "type": "string",
            "description": "Date value",
            "example": "2022-01-30"
          },
          "deviceTypeId": {
            "type": "integer",
            "description": "Device type ID",
            "format": "int32",
            "example": 20300001
          },
          "budgetDay": {
            "type": "number",
            "description": "Daily budget",
            "format": "double",
            "example": 0.07
          },
          "gender": {
            "type": "string",
            "description": "Gender",
            "example": "Unknown"
          },
          "budgetPacing": {
            "type": "boolean",
            "description": "Budget pacing enabled",
            "example": true
          },
          "campaignTimezone": {
            "type": "string",
            "description": "Campaign timezone",
            "example": "America/Costa_Rica"
          },
          "deviceType": {
            "type": "string",
            "description": "Device type",
            "example": "Mobile"
          },
          "campaignType": {
            "type": "string",
            "description": "Campaign type",
            "example": "cpm"
          },
          "campaignId": {
            "type": "integer",
            "description": "Campaign ID",
            "format": "int32",
            "example": 15474
          },
          "campaignName": {
            "type": "string",
            "description": "Campaign name",
            "example": "Costa Rica MEMES COMPILADOS ..."
          },
          "status": {
            "type": "string",
            "description": "Campaign status",
            "example": "expired"
          },
          "startTime": {
            "type": "integer",
            "description": "Start time epoch",
            "format": "int64",
            "example": 1643428296
          },
          "endTime": {
            "type": "integer",
            "description": "End time epoch",
            "format": "int64",
            "example": 1644192000
          },
          "budgetTotal": {
            "type": "number",
            "description": "Total budget",
            "format": "double",
            "example": 1549
          },
          "maxBid": {
            "type": "number",
            "description": "Maximum bid",
            "format": "double",
            "example": 3
          },
          "totalRecords": {
            "type": "integer",
[...]
