{
  "openapi": "3.0.1",
  "info": {
    "title": "MCP Reports API Specification",
    "version": "1.1.0",
    "description": "IQM Reports API for custom, ad-hoc, saved, and scheduled report construction and delivery. Use these tools to select dimensions, metrics, columns, filters, templates, reporting periods, and email schedules.",
    "contact": {
      "name": "IQM Support",
      "url": "https://iqm.com/contact/",
      "email": "support@iqm.com"
    }
  },
  "servers": [
    {
      "url": "https://api.iqm.com",
      "description": "IQM API"
    }
  ],
  "tags": [
    {
      "name": "MCP",
      "description": "MCP API endpoints"
    }
  ],
  "paths": {
    "/api/v3/ra/report/execute": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Run (execute) a custom report and return its rows and totals",
        "description": "Report-builder routing: Use this IQM Reports API tool to create, configure, save, execute, schedule, email, list, or manage a custom report. Use it for report dimensions, metrics, columns, filters, templates, and reporting periods.\n\nRuns a saved or ad-hoc report and returns its rows and totals in the response; it does not save anything (to export a CSV or XLSX file use downloadReport). Run a saved report by `id`, or an ad-hoc report by sending `dimensions`, `columns`, `startDate`, `endDate`, `timezoneId`, `timezoneName`, `requestType` and `reportAggregated`.\n\nThe response `data` contains `data` (one row per dimension combination, only rows with impressions; omitted when there are no rows), `total` (a single totals row) and `totalRecords` (number of rows across all pages). Rows are paginated with `pageNo` and `noOfEntries` and sorted by `sortBy` (default `-impressions`). Daily rows include a `date` (MM/DD/YYYY); weekly and monthly rows include a `dateRange`.\n\nDates are epoch milliseconds (end after start; at most 365 days apart), and `timezoneName` controls how they are bucketed into days, weeks and months. Metrics that require the finance permission return 0 for users without it.\n\n**Request Body Description:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| id | Integer | [Optional] - Run a saved report by its ID. When supplied, the saved definition replaces dimensions, columns, customerIds, startDate, endDate, timezoneId, timezoneName, requestType and reportAggregated; only pageNo, noOfEntries, sortBy, searchField, filters and resultType are read from the request. |\n| dimensions | JSON String | [Required unless `id` is supplied] - JSON string representing dimension details. |\n| columns | Array of String | [Required unless `id` is supplied] - Metrics for showing serving result. Must be exact `key` values from GET /api/v3/ra/report/dimension-metrics/detail's `metrics` -- each category in that array (e.g. \"Counts\") maps to a list of metric objects, and `key` is a field on each of those objects. No fuzzy or case-insensitive matching. |\n| customerIds | Array of Integer | [Optional] - Workspace users: customers assigned to the user to include; omit to include all assigned customers. Ignored for advertiser users. |\n| filters | Object | [Optional] - Additional filters, distinct from per-dimension value filtering. Known keys: campaignIds (array of Integer), creativeTypeIds (array of Integer), campaignStatuses (array of String, e.g. \"running\"/\"expired\"; only applied when the report has a campaign or campaignStatus dimension). |\n| searchField | String | [Optional] - Text matched (case-insensitive, partial) against the names, and numeric IDs, of the report's dimension values, e.g. campaign names. |\n| requestType | Integer | [Required unless `id` is supplied; no default is applied if omitted] - Time breakdown of the rows. <br>sample : [1 - Daily, 2 - Aggregated (no time breakdown), 3 - Weekly, 4 - Monthly]  |\n| reportAggregated | String | [Required unless `id` is supplied; no default is applied if omitted] - \"1\" aggregates over the first dimension (it is left out of the grouping); \"0\" groups by every dimension. <br>sample : [0- Not aggregated, 1- Aggregated]  |\n| startDate | Long | [Required unless `id` is supplied] - Report start time as a Unix epoch timestamp in milliseconds.|\n| endDate | Long | [Required unless `id` is supplied] - Report end time as a Unix epoch timestamp in milliseconds. Must be after startDate and at most 365 days later.|\n| timezoneId | Integer | [Required unless `id` is supplied; no default is applied if omitted] - Timezone ID|\n| timezoneName | String | [Required unless `id` is supplied; no default is applied if omitted] - Timezone name used to bucket dates into days, weeks and months, e.g. US/Eastern. With `id`, the saved report's timezone is used.|\n| sortBy | String | [Optional] - Field to sort by. Prefix with minus(-) for descending or plus(+) for ascending; no prefix sorts descending. Only one field is used. <br>Default value is '-impressions'|\n| pageNo | Integer | [Optional] - Page number, 1 or greater. <br>Default value is 1|\n| noOfEntries | Integer | [Optional] - The maximum number of returned results per page. <br>Default value is 50|\n",
        "operationId": "executeReportData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteRequestVO"
              },
              "examples": {
                "Execute Report (By Report ID)": {
                  "description": "Execute Report (By Report ID)",
                  "value": {
                    "id": 3219
                  }
                },
                "Execute Report (By Report Data)": {
                  "description": "Execute Report (By Report Data)",
                  "value": {
                    "startDate": 1670410001000,
                    "endDate": 1675766802000,
                    "dimensions": "[{\"filter\":\"campaign\"},{\"filter\":\"gender\",\"value\":[10200002]},{\"filter\":\"deviceType\",\"value\":[20300001,20300003]}]",
                    "columns": [
                      "campaignId",
                      "campaignName",
                      "deviceType",
                      "completeCount",
                      "gender",
                      "startTime",
                      "endTime",
                      "maxBid",
                      "budgetDay",
                      "VCR",
                      "eCPC",
                      "totalECPC",
                      "budgetTotal",
                      "impressions",
                      "clicks",
                      "winRate",
                      "reach"
                    ],
                    "customerIds": [
                      201353,
                      201352
                    ],
                    "filters": {
                      "campaignIds": [
                        123,
                        234,
                        345
                      ],
                      "creativeTypeIds": [
                        11
                      ],
                      "campaignStatuses": [
                        "expired",
                        "running"
                      ]
                    },
                    "searchField": "123",
                    "requestType": 1,
                    "reportAggregated": "0",
                    "timezoneId": 11,
                    "timezoneName": "UTC",
                    "sortBy": "-impressions",
                    "noOfEntries": 50,
                    "pageNo": 1
                  }
                },
                "Execute Report (Weekly)": {
                  "description": "Execute Report (Weekly)",
                  "value": {
                    "customerIds": [],
                    "startDate": 1749614400000,
                    "endDate": 1757649599000,
                    "dimensions": "[{\"filter\":\"campaign\"}]",
                    "columns": [
                      "impressions",
                      "clicks",
                      "CTR",
                      "VCR",
                      "spent",
                      "dataCost",
                      "mediaSpent",
                      "eCPM"
                    ],
                    "requestType": 3,
                    "reportAggregated": "0",
                    "timezoneName": "US/Eastern",
                    "timezoneId": 29,
                    "pageNo": 1,
                    "noOfEntries": 20,
                    "sortBy": "-impressions"
                  }
                },
                "Invalid input sample": {
                  "description": "Invalid input sample",
                  "value": {
                    "startDate": 1670410001000,
                    "endDate": 1675766802000,
                    "dimensions": "[{\"filter\":\"campaign\"}]",
                    "requestType": 1,
                    "timezoneName": "US/Eastern"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Un-Processable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid input": {
                    "description": "Invalid input",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Please select columns for report creation",
                          "field": "columns"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteResponse"
                },
                "examples": {
                  "Execute Report (Daily)": {
                    "description": "Execute Report (Daily)",
                    "value": {
                      "success": true,
                      "data": {
                        "total": {
                          "CTR": 0.26809,
                          "date": null,
                          "deviceTypeId": null,
                          "VCR": 51.452171,
                          "budgetDay": null,
                          "gender": null,
                          "budgetPacing": null,
                          "dataCost": 0,
                          "totalRecords": 135,
                          "campaignTimezone": null,
                          "eCPM": 4.50311429853875,
                          "totalECPM": 4.50311429853875,
                          "bidImpressions": 4678583,
                          "startTime": null,
                          "mediaSpent": 8485.86672119556,
                          "eCPC": 1.67970441828891,
                          "totalECPC": 1.67970441828891,
                          "deviceType": null,
                          "startCount": 351095,
                          "campaignType": null,
                          "campaignId": null,
                          "spent": 8485.86672119556,
                          "impressions": 1884444,
                          "eCPCV": 0.0215601437130939,
                          "completeCount": 180646,
                          "budgetTotal": null,
                          "maxBid": null,
                          "minBid": null,
                          "clicks": 5052,
                          "thirdPartyCost": 0.021,
                          "endTime": null,
                          "campaignName": null,
                          "status": null
                        },
                        "data": [
                          {
                            "CTR": 0.2796,
                            "date": "01/30/2022",
                            "deviceTypeId": 20300001,
                            "VCR": 0,
                            "budgetDay": 0.07,
                            "gender": "Unknown",
                            "budgetPacing": true,
                            "dataCost": 0,
                            "totalRecords": null,
                            "campaignTimezone": "America/Costa_Rica",
                            "eCPM": 3,
                            "totalECPM": 3,
                            "bidImpressions": 628344,
                            "startTime": 1643428296,
                            "mediaSpent": 457.098,
                            "eCPC": 1.073,
                            "totalECPC": 1.073,
                            "deviceType": "Mobile",
                            "startCount": 0,
                            "campaignType": "cpm",
                            "campaignId": 15474,
                            "spent": 457.098,
                            "impressions": 152366,
                            "eCPCV": 0,
                            "completeCount": 0,
                            "budgetTotal": 1549,
                            "maxBid": 3,
                            "minBid": 2,
                            "clicks": 426,
                            "thirdPartyCost": 0.021,
                            "endTime": 1644192000,
                            "campaignName": "Costa Rica MEMES COMPILADOS Profile: All Gender: All Ages: 18 to 45 Geo: Heredia, Alajuela, Cartago and San Jose",
                            "status": "expired"
                          },
                          {
                            "CTR": 0.2122,
                            "date": "01/30/2022",
                            "deviceTypeId": 20300001,
                            "VCR": 0,
                            "budgetDay": 0.21,
                            "gender": "Unknown",
                            "budgetPacing": true,
                            "dataCost": 0,
                            "totalRecords": null,
                            "campaignTimezone": "America/Costa_Rica",
                            "eCPM": 3,
                            "totalECPM": 3,
                            "bidImpressions": 271620,
                            "startTime": 1643423160,
                            "mediaSpent": 418.488,
                            "eCPC": 1.41381081081081,
                            "totalECPC": 1.41381081081081,
                            "deviceType": "Mobile",
                            "startCount": 0,
                            "campaignType": "cpm",
                            "campaignId": 15472,
                            "spent": 418.488,
                            "impressions": 139496,
                            "eCPCV": 0,
                            "completeCount": 0,
                            "budgetTotal": 1548,
                            "maxBid": 3,
                            "minBid": 2,
                            "clicks": 296,
                            "thirdPartyCost": 0.021,
                            "endTime": 1644192000,
                            "campaignName": "Costa Rica Universidad Latina Profile: All Gender: All Ages: 18 to 75 Geo: All Costa Rica",
                            "status": "expired"
                          },
                          {
                            "CTR": 0.1065,
                            "date": "01/30/2022",
                            "deviceTypeId": 20300001,
                            "VCR": 0,
                            "budgetDay": 0.43,
                            "gender": "Unknown",
                            "budgetPacing": true,
                            "dataCost": 0,
                            "totalRecords": null,
                            "campaignTimezone": "America/Costa_Rica",
                            "eCPM": 3.00002495259008,
                            "totalECPM": 3.00002495259008,
                            "bidImpressions": 239865,
                            "startTime": 1643431623,
                            "mediaSpent": 360.687,
                            "eCPC": 2.8178671875,
                            "totalECPC": 2.8178671875,
                            "deviceType": "Mobile",
                            "startCount": 0,
                            "campaignType": "cpm",
                            "campaignId": 15477,
                            "spent": 360.687,
                            "impressions": 120228,
                            "eCPCV": 0,
                            "completeCount": 0,
                            "budgetTotal": 1551,
                            "maxBid": 3,
                            "minBid": 2,
                            "clicks": 128,
                            "thirdPartyCost": 0.021,
                            "endTime": 1644192000,
                            "campaignName": "Costa Rica TICOS AL DIA 24-25 ENE Profile: All Gender: All Ages: 18 to 25 and 60+ and over Geo: Heredia, Alajuela, Cartago and San Jose",
                            "status": "expired"
                          },
                          {
                            "CTR": 0.3118,
                            "date": "01/31/2022",
                            "deviceTypeId": 20300001,
                            "VCR": 0,
                            "budgetDay": 0.07,
                            "gender": "Unknown",
                            "budgetPacing": true,
                            "dataCost": 0,
                            "totalRecords": null,
                            "campaignTimezone": "America/Costa_Rica",
                            "eCPM": 3,
                            "totalECPM": 3,
                            "bidImpressions": 280562,
                            "startTime": 1643428296,
                            "mediaSpent": 219.363,
                            "eCPC": 0.962118421052632,
                            "totalECPC": 0.962118421052632,
                            "deviceType": "Mobile",
                            "startCount": 0,
                            "campaignType": "cpm",
                            "campaignId": 15474,
                            "spent": 219.363,
                            "impressions": 73121,
                            "eCPCV": 0,
                            "completeCount": 0,
                            "budgetTotal": 1549,
                            "maxBid": 3,
                            "minBid": 2,
                            "clicks": 228,
                            "thirdPartyCost": 0.021,
                            "endTime": 1644192000,
                            "campaignName": "Costa Rica MEMES COMPILADOS Profile: All Gender: All Ages: 18 to 45 Geo: Heredia, Alajuela, Cartago and San Jose",
                            "status": "expired"
                          },
                          {
                            "CTR": 0.3154,
                            "date": "01/30/2022",
                            "deviceTypeId": 20300001,
                            "VCR": 0,
                            "budgetDay": 1,
                            "gender": "Unknown",
                            "budgetPacing": true,
                            "dataCost": 0,
                            "totalRecords": null,
                            "campaignTimezone": "America/Costa_Rica",
                            "eCPM": 3,
                            "totalECPM": 3,
                            "bidImpressions": 233754,
                            "startTime": 1643131598,
                            "mediaSpent": 211.161,
                            "eCPC": 0.951175675675676,
                            "totalECPC": 0.951175675675676,
                            "deviceType": "Mobile",
                            "startCount": 0,
                            "campaignType": "cpm",
                            "campaignId": 15455,
                            "spent": 211.161,
                            "impressions": 70387,
                            "eCPCV": 0,
                            "completeCount": 0,
                            "budgetTotal": 1749,
                            "maxBid": 3,
                            "minBid": 1,
                            "clicks": 222,
                            "thirdPartyCost": 0.021,
                            "endTime": 1644192000,
                            "campaignName": "Costa Rica MEMES COMPILADOS Profile: Undecided Gender: All Ages: 18 to 35 Geo: Heredia, Alajuela, Cartago, San Jose",
                            "status": "expired"
                          }
                        ],
                        "totalRecords": 135
                      }
                    }
                  },
                  "Execute report response with dateRange field (weekly OR monthly)": {
                    "description": "Execute report response with dateRange field (weekly OR monthly)",
                    "value": {
                      "success": true,
                      "data": {
                        "total": {
                          "CTR": 0.042882,
                          "baseBid": null,
                          "totalRecords": 4,
                          "VCR": 0,
                          "budgetTypeId": 1,
                          "totalBudget": 8200,
                          "dateRange": null,
                          "dataCost": 0,
                          "budgetMappingDataCost": null,
                          "totalECPM": 2.42881646655232,
                          "campaignTimezone": null,
                          "eCPM": 2.42881646655232,
                          "bidImpressions": 2352,
                          "preBidCost": 0,
                          "mediaSpent": 5.664,
                          "startCount": 0,
                          "campaignId": null,
                          "spent": 5.664,
                          "impressions": 2332,
                          "completeCount": 0,
                          "budgetMappingSpent": null,
                          "dailyBudget": 30.25,
                          "maxBid": null,
                          "minBid": null,
                          "clicks": 1,
                          "thirdPartyCost": 0.021,
                          "campaign": null,
                          "budgetCompletion": 0.0835853658536585,
                          "status": null,
                          "reach": 2332,
                          "frequency": 1
                        },
                        "totalRecords": 4,
                        "data": [
                          {
                            "CTR": 0,
                            "baseBid": null,
                            "totalRecords": null,
                            "VCR": 0,
                            "budgetTypeId": 1,
                            "totalBudget": 5000,
                            "dateRange": "08/31/2025 - 09/06/2025",
                            "dataCost": 0,
                            "budgetMappingDataCost": 0,
                            "totalECPM": 2,
                            "campaignTimezone": "US/Eastern",
                            "eCPM": 2,
                            "bidImpressions": 2214,
                            "preBidCost": 0,
                            "mediaSpent": 4.394,
                            "startCount": 0,
                            "campaignId": 562558,
                            "spent": 4.394,
                            "impressions": 2197,
                            "completeCount": 0,
                            "budgetMappingSpent": 4.394,
                            "dailyBudget": 18.03,
                            "maxBid": 2,
                            "minBid": 1,
                            "clicks": 0,
                            "thirdPartyCost": 0.021,
                            "campaign": "test campaign for aud vert 2",
                            "budgetCompletion": 0.08788,
                            "status": "running"
                          },
                          {
                            "CTR": 0,
                            "baseBid": null,
                            "totalRecords": null,
                            "VCR": 0,
                            "budgetTypeId": 1,
                            "totalBudget": 1000,
                            "dateRange": "08/31/2025 - 09/06/2025",
                            "dataCost": 0,
                            "budgetMappingDataCost": 0,
                            "totalECPM": 10,
                            "campaignTimezone": "US/Eastern",
                            "eCPM": 10,
                            "bidImpressions": 119,
                            "preBidCost": 0,
                            "mediaSpent": 1.18,
                            "startCount": 0,
                            "campaignId": 562797,
                            "spent": 1.18,
                            "impressions": 118,
                            "completeCount": 0,
                            "budgetMappingSpent": 1.19,
                            "dailyBudget": 3.81,
                            "maxBid": 10,
                            "minBid": 1,
                            "clicks": 0,
                            "thirdPartyCost": 0.021,
                            "campaign": "test campaign for aud vert 6",
                            "budgetCompletion": 0.119,
                            "status": "running"
                          },
                          {
                            "CTR": 6.25,
                            "baseBid": null,
                            "totalRecords": null,
                            "VCR": 0,
                            "budgetTypeId": 1,
                            "totalBudget": 1200,
                            "dateRange": "06/08/2025 - 06/14/2025",
                            "dataCost": 0,
                            "budgetMappingDataCost": 0,
                            "totalECPM": 5,
                            "campaignTimezone": "US/Eastern",
                            "eCPM": 5,
                            "bidImpressions": 16,
                            "preBidCost": 0,
                            "mediaSpent": 0.08,
                            "startCount": 0,
                            "campaignId": 562466,
                            "spent": 0.08,
                            "impressions": 16,
                            "completeCount": 0,
                            "budgetMappingSpent": 0.08,
                            "dailyBudget": 4.6,
                            "maxBid": 5,
                            "minBid": 2,
                            "clicks": 1,
                            "thirdPartyCost": 0.021,
                            "campaign": "test campaign for aud vert 1",
                            "budgetCompletion": 0.00666666666666667,
                            "status": "running"
                          },
                          {
                            "CTR": 0,
                            "baseBid": null,
                            "totalRecords": null,
                            "VCR": 0,
                            "budgetTypeId": 1,
                            "totalBudget": 1000,
                            "dateRange": "09/07/2025 - 09/13/2025",
                            "dataCost": 0,
                            "budgetMappingDataCost": 0,
                            "totalECPM": 10,
                            "campaignTimezone": "US/Eastern",
                            "eCPM": 10,
                            "bidImpressions": 3,
                            "preBidCost": 0,
                            "mediaSpent": 0.01,
                            "startCount": 0,
                            "campaignId": 562797,
                            "spent": 0.01,
                            "impressions": 1,
                            "completeCount": 0,
                            "budgetMappingSpent": 1.19,
                            "dailyBudget": 3.81,
                            "maxBid": 10,
                            "minBid": 3,
                            "clicks": 0,
                            "thirdPartyCost": 0.021,
                            "campaign": "test campaign for aud vert 6",
                            "budgetCompletion": 0.119,
                            "status": "running"
                          }
                        ],
                        "filteredRecords": 4
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ra/report/download": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Download (export) a custom report as a CSV or XLSX file",
        "description": "Report-builder routing: Use this IQM Reports API tool to create, configure, save, execute, schedule, email, list, or manage a custom report. Use it for report dimensions, metrics, columns, filters, templates, and reporting periods.\n\nRuns a saved or ad-hoc report and exports it as a CSV or XLSX file, returning a temporary download URL in `data.url`; it does not save anything (to get rows in the response use executeReportData). The URL is set to expire after 3 hours, and `url` is null if the file could not be uploaded.\n\nThe request body is the same as executeReportData: run a saved report by `id`, or define an ad-hoc report in the request (`dimensions`, `columns`, `startDate`, `endDate`, `timezoneId`, `timezoneName`, `requestType` and `reportAggregated`). `fileType` is always required: 1 = CSV, 2 = XLSX.\n\nThe file contains up to 20,000 rows in `sortBy` order; `pageNo` and `noOfEntries` do not limit the download. Columns for the report's dimensions are added to the file automatically, plus a `date` column for daily reports or a `dateRange` column for weekly and monthly reports (except when `reportAggregated` is \"1\" with a single dimension). When the report has a name, the file starts with the report name and time range. XLSX files end with a totals row; CSV files have no totals row.\n\n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| fileType | Integer | [Required] - File format of the download. <br>sample : [1 - CSV, 2 - XLSX] |\n| id | Integer | [Optional] - Run a saved report by its ID. When supplied, the saved definition replaces dimensions, columns, customerIds, startDate, endDate, timezoneId, timezoneName, requestType and reportAggregated. |\n| dimensions | JSON String | [Required unless `id` is supplied] - JSON string representing dimension details. |\n| columns | Array of String | [Required unless `id` is supplied] - Metric keys to include in the file. |\n| customerIds | Array of Integer | [Optional] - Workspace users: customers assigned to the user to include; omit to include all assigned customers. Ignored for advertiser users. |\n| requestType | Integer | [Required unless `id` is supplied] - Time breakdown of the rows. <br>sample : [1 - Daily, 2 - Aggregated (no time breakdown), 3 - Weekly, 4 - Monthly]  |\n| reportAggregated | String | [Required unless `id` is supplied] - \"1\" aggregates over the first dimension (it is left out of the grouping); \"0\" groups by every dimension. <br>sample : [0- Not aggregated, 1- Aggregated]  |\n| startDate | Long | [Required unless `id` is supplied] - Report start time as a Unix epoch timestamp in milliseconds. |\n| endDate | Long | [Required unless `id` is supplied] - Report end time as a Unix epoch timestamp in milliseconds. Must be after startDate and at most 365 days later. |\n| timezoneId | Integer | [Required unless `id` is supplied] - Timezone ID|\n| timezoneName | String | [Required unless `id` is supplied] - Timezone name used to bucket dates, e.g. US/Eastern|\n| sortBy | String | [Optional] - Field to sort by. Prefix with minus(-) for descending or plus(+) for ascending; no prefix sorts descending. <br>Default value is '-impressions'|\n| pageNo | Integer | [Optional] - Must be 1 or greater. Does not limit the download. <br>Default value is 1|\n| noOfEntries | Integer | [Optional] - Does not limit the download, which contains up to 20,000 rows. <br>Default value is 50|\n",
        "operationId": "downloadReport",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteRequestVO"
              },
              "examples": {
                "Download Report (By Report ID)": {
                  "description": "Download Report (By Report ID)",
                  "value": {
                    "id": 123,
                    "fileType": 2
                  }
                },
                "Download Report (By Report Data)": {
                  "description": "Download Report (By Report Data)",
                  "value": {
                    "fileType": 2,
                    "startDate": 1670410001000,
                    "endDate": 1675766802000,
                    "dimensions": "[{\"filter\":\"campaign\"},{\"filter\":\"gender\",\"value\":[10200002]},{\"filter\":\"deviceType\",\"value\":[20300001,20300003]}]",
                    "columns": [
                      "campaignId",
                      "campaignName",
                      "deviceType",
                      "completeCount",
                      "gender",
                      "startTime",
                      "endTime",
                      "maxBid",
                      "budgetDay",
                      "VCR",
                      "eCPC",
                      "totalECPC",
                      "budgetTotal",
                      "impressions",
                      "clicks",
                      "winRate"
                    ],
                    "customerIds": [
                      201353,
                      201352
                    ],
                    "requestType": 1,
                    "reportAggregated": "0",
                    "timezoneId": 11,
                    "timezoneName": "UTC",
                    "sortBy": "-impressions",
                    "noOfEntries": 50,
                    "pageNo": 1
                  }
                },
                "Download Report (Weekly)": {
                  "description": "Download Report (Weekly)",
                  "value": {
                    "fileType": 1,
                    "dimensions": "[{\"filter\":\"campaignId\"},{\"filter\":\"campaign\"}]",
                    "columns": [
                      "impressions",
                      "clicks",
                      "CTR",
                      "VCR",
                      "spent",
                      "dataCost",
                      "mediaSpent",
                      "eCPM"
                    ],
                    "customerIds": [],
                    "requestType": 3,
                    "reportAggregated": "0",
                    "startDate": 1749960000000,
                    "endDate": 1757995199000,
                    "timezoneId": 29,
                    "timezoneName": "US/Eastern",
                    "sortBy": "-impressions"
                  }
                },
                "Invalid input sample": {
                  "description": "Invalid input sample",
                  "value": {
                    "startDate": 1670410001000,
                    "endDate": 1675766802000,
                    "dimensions": "[{\"filter\":\"campaign\"}]",
                    "requestType": 1,
                    "timezoneName": "US/Eastern",
                    "fileType": 2
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Un-Processable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid input": {
                    "description": "Invalid input",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Please select columns for report creation",
                          "field": "columns"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadResponse"
                },
                "examples": {
                  "Download Report": {
                    "description": "Download Report",
                    "value": {
                      "success": true,
                      "data": {
                        "url": "https://www.sample.com/123.csv"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ra/report/email/schedule": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Save report scheduling event.",
        "description": "Report-builder routing: Use this IQM Reports API tool to create, configure, save, execute, schedule, email, list, or manage a custom report. Use it for report dimensions, metrics, columns, filters, templates, and reporting periods. This API saves the report scheduling event.\n\n**Request Body Description:**\n\n| **Filed** | **Type** | **Description** |\n| --- | --- | --- |\n| reportId | Integer | [Required] - This is report Id, event will be created on this report id. |\n| subscriberEmails | Array of String | [Required] - List of the emails on which the report will be sent. |\n| fileType | Integer | [Required] - Report file type id. The report will be sent in the selected file format . <br>sample : [1 - CSV, 2 - XLS]|\n| deliveryFrequency | Integer | [Required] - Delivery frequency type id for the emails to be sent.<br>sample : [1 - ONCE, 2 - DAILY, 3 - WEEKLY, 4 - MONTHLY] |\n| deliveryDay | String | [Required, if deliveryFrequency is not ONCE] - Delivery day to specify the day-time when the report should be sent. <br>This is related to Delivery frequency. <br> WEEKLY DELIVERY DAY: [\"SUNDAY\", \"MONDAY\", ...] <br>MONTHLY DELIVERY DAY: [\"FIRST\", \"LAST\", \"2\", \"3\", ..., \"29\"]|\n| eventEndDate | Long | [Required, if deliveryFrequency is not ONCE] - This should be a long, TIME EPOCH in UNIX format, in milliseconds. <br>This is events end date, Scheduled report will be stopped after the eventEndDate is exceeded |\n| runningTotalEnabled | Boolean | [Optional] - Flag to indicate if the 'Total' Running is enabled for the report. This flag is supported only with 'Campaign' dimension.<br> If this is true the start-date for the report duration should be the EARLIEST campaign start date, <br>so the report-time-period will be from the Earliest-campaign-start-date to the report-end-date |\n| earliestCampaignStartDate | Long | [Required with runningTotalEnabled as 'true'] - This should be a long, TIME EPOCH in UNIX format, in milliseconds. <br>This is campaign's EARLIEST  start date from the selected campaigns, which will be set as the start date of the report-time-period. |",
        "operationId": "saveReportScheduleEvent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportSchedulingEventDetailsVO"
              },
              "examples": {
                "Save Report Scheduling Sample(Monthly)": {
                  "description": "Save Report Scheduling Sample(Monthly)",
                  "value": {
                    "reportId": 1234,
                    "subscriberEmails": [
                      "sample_email1@example.com",
                      "sample_email2@example.com"
                    ],
                    "fileType": 2,
                    "deliveryFrequency": 4,
                    "eventEndDate": 1670674106000,
                    "deliveryDay": "4",
                    "runningTotalEnabled": true,
                    "earliestCampaignStartDate": 1670674108900
                  }
                },
                "Save Report Scheduling Sample(Weekly)": {
                  "description": "Save Report Scheduling Sample(Weekly)",
                  "value": {
                    "reportId": 1235,
                    "subscriberEmails": [
                      "sample_email1@example.com",
                      "sample_email2@example.com"
                    ],
                    "fileType": 2,
                    "deliveryFrequency": 3,
                    "eventEndDate": 1670674106000,
                    "deliveryDay": "MONDAY",
                    "runningTotalEnabled": true,
                    "earliestCampaignStartDate": 1670674108900
                  }
                },
                "Invalid input sample": {
                  "description": "Invalid input sample",
                  "value": {
                    "reportId": -1,
                    "subscriberEmails": [
                      "sample_email1@example.com",
                      "sample_email2@example.com"
                    ],
                    "fileType": 2,
                    "deliveryFrequency": 3,
                    "eventEndDate": 1670674106000,
                    "deliveryDay": "MONDAY",
                    "runningTotalEnabled": true,
                    "earliestCampaignStartDate": 1670674108900
                  }
                },
                "A few invalid email Example": {
                  "description": "A few invalid email Example",
                  "value": {
                    "reportId": 1234,
                    "subscriberEmails": [
                      "sample_email1@example.com",
                      "sample_email2@invalid"
                    ],
                    "fileType": 2,
                    "deliveryFrequency": 3,
                    "eventEndDate": 1670674106000,
                    "deliveryDay": "MONDAY",
                    "runningTotalEnabled": true,
                    "earliestCampaignStartDate": 1670674108900
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden!"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportSchedulingResponse"
                },
                "examples": {
                  "Save Report Scheduling Sample(Monthly)": {
                    "description": "Save Report Scheduling Sample(Monthly)",
                    "value": {
                      "success": true,
                      "data": {
                        "scheduledData": {
                          "earliestCampaignStartDate": 0,
                          "reportId": 1234,
                          "deliveryFrequency": 4,
                          "fileType": 1,
                          "subscriberEmails": [
                            "sample_email@sample.com",
                            "sample_email2@sample.com"
                          ],
                          "eventEndDate": 1696270980000,
                          "deliveryDay": "5",
                          "runningTotalEnabled": false
                        },
                        "message": "Report schedule has been successfully updated."
                      }
                    }
                  },
                  "Save Report Scheduling Sample(Weekly)": {
                    "description": "Save Report Scheduling Sample(Weekly)",
                    "value": {
                      "success": true,
                      "data": {
                        "scheduledData": {
                          "earliestCampaignStartDate": 0,
                          "reportId": 12345,
                          "deliveryFrequency": 3,
                          "fileType": 1,
                          "subscriberEmails": [
                            "sample_email@sample.com",
                            "sample_email2@sample.com"
                          ],
                          "eventEndDate": 1696270980000,
                          "deliveryDay": "MONDAY",
                          "runningTotalEnabled": false
                        },
                        "message": "Report schedule has been successfully updated."
                      }
                    }
                  },
                  "A few invalid email Example": {
                    "description": "A few invalid email Example",
                    "value": {
                      "success": true,
                      "errorObjects": [
                        {
                          "error": "Invalid email provided - invalid Emails : [sample_email2@invalid].",
                          "reason": "One or more subscribers emails are empty or not provided as per the email format",
                          "field": "subscriberEmails"
                        }
                      ],
                      "data": {
                        "scheduledData": {
                          "earliestCampaignStartDate": 0,
                          "reportId": 12345,
                          "deliveryFrequency": 3,
                          "fileType": 1,
                          "subscriberEmails": [
                            "sample_email@sample.com"
                          ],
                          "eventEndDate": 1696270980000,
                          "deliveryDay": "MONDAY",
                          "runningTotalEnabled": false
                        },
                        "message": "Report schedule has been successfully updated."
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Un-Processable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid input": {
                    "description": "Invalid input",
                    "value": {
                      "success": false,
                      "errorObjects": {
                        "error": "Report does not exists for the given id"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ra/report/email/schedule/{reportId}": {
      "delete": {
        "tags": [
          "MCP"
        ],
        "summary": "Remove report scheduling event",
        "description": "Report-builder routing: Use this IQM Reports API tool to create, configure, save, execute, schedule, email, list, or manage a custom report. Use it for report dimensions, metrics, columns, filters, templates, and reporting periods. This API removes the report scheduling event.",
        "operationId": "deleteReportScheduleEvent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden!"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "remove Report Scheduling": {
                    "description": "remove Report Scheduling",
                    "value": {
                      "success": true,
                      "data": {
                        "message": "Report event is removed."
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Un-Processable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid input": {
                    "description": "Invalid input",
                    "value": {
                      "success": false,
                      "errorObjects": {
                        "error": "Report event does not exists for the given id"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "MCP"
        ],
        "summary": "Update report scheduling event",
        "description": "Report-builder routing: Use this IQM Reports API tool to create, configure, save, execute, schedule, email, list, or manage a custom report. Use it for report dimensions, metrics, columns, filters, templates, and reporting periods. This API update the report scheduling event. Whichever field is to be updated, that can be sent in the request body.\n \n**Request Body Description:**\n| **Filed** | **Type** | **Description** |\n| --- | --- | --- |\n| subscriberEmails | Array of String | List of the emails on which the report will be sent. |\n| fileType | Integer | Report file type id. The report will be sent in the selected file format. <br>sample : [1 - CSV, 2 - XLS]|\n| deliveryFrequency | Integer | Delivery frequency type id for the emails to be sent. <br> sample : [1 - ONCE, 2 - DAILY, 3 - WEEKLY, 4 - MONTHLY] |\n| deliveryDay | String | [Required, if deliveryFrequency is not ONCE] - Delivery day to specify the day-time when the report should be sent. <br>This is related to Delivery frequency. <br> WEEKLY DELIVERY DAY: [\"SUNDAY\", \"MONDAY\", ...] <br>MONTHLY DELIVERY DAY: [\"FIRST\", \"LAST\", \"2\", \"3\", ..., \"29\"]|\n| eventEndDate | Long | [Required, if deliveryFrequency updated and is not ONCE] - This should be a long, TIME EPOCH in UNIX format, in milliseconds. <br>This is events end date, Scheduled report will be stopped after the eventEndDate is exceeded |\n| runningTotalEnabled | Boolean | [Optional] - Flag to indicate if the 'Total' Running is enabled for the report. This flag is supported only with 'Campaign' dimension.<br> If this is true the start-date for the report duration should be the EARLIEST campaign start date, <br>so the report-time-period will be from the Earliest-campaign-start-date to the report-end-date |\n| earliestCampaignStartDate | Long | [Required with runningTotalEnabled as 'true'] - This should be a long, TIME EPOCH in UNIX format, in milliseconds. <br>This is campaign's EARLIEST  start date from the selected campaigns, which will be set as the start date of the report-time-period. |",
        "operationId": "updateReportScheduleEvent",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportSchedulingEventDetailsVO"
              },
              "examples": {
                "update Report Scheduling": {
                  "description": "update Report Scheduling",
                  "value": {
                    "subscriberEmails": [
                      "sample_email1@example.com",
                      "sample_email2@example.com",
                      "sample_email3@example.com"
                    ]
                  }
                },
                "Invalid email Example": {
                  "description": "Invalid email Example",
                  "value": {
                    "subscriberEmails": [
                      "sample_email1@invalid",
                      "sample_email2@invalid",
                      "sample_email3@example.com"
                    ]
                  }
                },
                "Invalid input": {
                  "description": "Invalid input",
                  "value": {
                    "fileType": 0
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden!"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Un-Processable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid input": {
                    "description": "Invalid input",
                    "value": {
                      "success": false,
                      "errorObjects": {
                        "error": "Invalid file type."
                      }
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportSchedulingResponse"
                },
                "examples": {
                  "update Report Scheduling": {
                    "description": "update Report Scheduling",
                    "value": {
                      "success": true,
                      "data": {
                        "scheduledData": {
                          "earliestCampaignStartDate": 0,
                          "reportId": 1234,
                          "deliveryFrequency": 4,
                          "fileType": 1,
                          "subscriberEmails": [
                            "sample_email1@example.com",
                            "sample_email2@example.com",
                            "sample_email3@example.com"
                          ],
                          "eventEndDate": 1696270980000,
                          "deliveryDay": "4",
                          "runningTotalEnabled": false
                        },
                        "message": "Report schedule has been successfully updated."
                      }
                    }
                  },
                  "Invalid email Example": {
                    "description": "Invalid email Example",
                    "value": {
                      "success": true,
                      "errorObjects": [
                        {
                          "error": "Invalid email provided - invalid Emails : [sample_email1@invalid, sample_email2@invalid].",
                          "reason": "One or more subscribers emails are empty or not provided as per the email format",
                          "field": "subscriberEmails"
                        }
                      ],
                      "data": {
                        "scheduledData": {
                          "earliestCampaignStartDate": 0,
                          "reportId": 1234,
                          "deliveryFrequency": 4,
                          "fileType": 1,
                          "subscriberEmails": [
                            "sample_email3@example.com"
                          ],
                          "eventEndDate": 1696270980000,
                          "deliveryDay": "4",
                          "runningTotalEnabled": false
                        },
                        "message": "Report schedule has been successfully updated."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ra/report/dimension-metrics/detail": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Get Dimension & Metrics Details",
        "description": "Report-builder routing: Use this IQM Reports API tool to create, configure, save, execute, schedule, email, list, or manage a custom report. Use it for report dimensions, metrics, columns, filters, templates, and reporting periods. This API offers Dimension and Metrics information grouped by Category in predetermined order. Current group names (e.g. \"Budget\", \"Performance\", \"Spending\", \"Cost\", \"Video\", \"Conversion\" for metrics; \"Insertion Order Specifics\", \"Campaign Specifics\", \"Creative Specifics\", \"Demographics\", \"Technologies\", \"Deliveries\", \"Locations\", \"Audience Specifics\" for dimensions) are not a fixed enum -- read them from this response rather than hardcoding a list. Individual metrics can be conditionally present or absent depending on the requesting organization's configuration (e.g. \"VLD Insights Cost\" only appears for orgs with VLD enabled on a political vertical; \"Organization Bid Shading Savings\" only appears when bid-shading is enabled) -- a metric's absence for a given org is expected, config-dependent behavior, not a spec gap. Each dimension's `isFilterSupported` indicates whether it can be restricted to specific values via `dimensions[].value` on POST /api/v3/ra/report/execute, not just grouped by.",
        "operationId": "getDimensionAndMetricDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "examples": {
                  "Get Dimension & Metrics Details": {
                    "description": "Get Dimension & Metrics Details",
                    "value": {
                      "success": true,
                      "data": {
                        "metrics": [
                          {
                            "Budget": [
                              {
                                "id": 1,
                                "label": "Daily Budget",
                                "order": 1,
                                "fieldDataType": "currencyUSD",
                                "aggregationType": "sum",
                                "description": "Amount up to which you allow platform to spend on average each day",
                                "defaultEnabled": false,
                                "key": "dailyBudget",
                                "dependentDimensions": [
                                  1,
                                  2,
                                  43,
                                  44
                                ]
                              },
                              {
                                "id": 2,
                                "label": "Total Budget",
                                "order": 2,
                                "defaultEnabled": false,
                                "key": "totalBudget",
                                "dependentDimensions": [
                                  1,
                                  2,
                                  43,
                                  44
                                ]
                              }
                            ]
                          },
                          {
                            "Counts": [
                              {
                                "id": 5,
                                "label": "Impressions",
                                "order": 1,
                                "defaultEnabled": true,
                                "key": "impressions",
                                "dependentDimensions": null
                              }
                            ]
                          }
                        ],
                        "dimensions": [
                          {
                            "Campaign Specifics": [
                              {
                                "id": 1,
                                "label": "Campaign",
                                "order": 1,
                                "isFilterSupported": true,
                                "isRowToColumn": false,
                                "isCustomerDependent": true,
                                "fieldDataType": "text",
                                "description": "Campaign Name",
                                "groupId": 1,
                                "key": "campaign"
                              },
                              {
                                "id": 2,
                                "label": "Campaign ID",
                                "order": 2,
                                "isFilterSupported": true,
                                "isRowToColumn": false,
                                "isCustomerDependent": true,
                                "fieldDataType": "text",
                                "description": "Unique system-generated number assigned to each Campaign",
                                "groupId": 1,
                                "key": "campaignId"
                              }
                            ]
                          },
                          {
                            "Locations": [
                              {
                                "id": 34,
                                "label": "Country",
                                "order": 1,
                                "isFilterSupported": true,
                                "isRowToColumn": false,
                                "isCustomerDependent": false,
                                "fieldDataType": "country",
                                "description": "Country the ad ran in",
                                "groupId": 29,
                                "key": "country"
                              },
                              {
                                "id": 35,
                                "label": "State",
                                "order": 2,
                                "isFilterSupported": true,
                                "isRowToColumn": false,
                                "isCustomerDependent": false,
                                "fieldDataType": "regionCode",
                                "description": "State the ad ran in",
                                "groupId": 30,
                                "key": "state"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ra/report/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Create (save) a custom report definition",
        "description": "Report-builder routing: Use this IQM Reports API tool to create, configure, save, execute, schedule, email, list, or manage a custom report. Use it for report dimensions, metrics, columns, filters, templates, and reporting periods.\n\nSaves a new report definition without running it and returns its ID in `data` (to copy an existing report use duplicateReport; to change one use updateReport). Run it afterwards with executeReportData or downloadReport using that `id`.\n\nRequired: `reportName` (up to 255 characters), `dimensions`, `columns`, `startDate` and `endDate` (epoch milliseconds; end after start; at most 365 days apart), `timezoneId`, `requestType` and `reportAggregated`. Dimension and column keys must exactly match keys from getDimensionAndMetricDetails for the caller's organization type.\n\nCustomers: for workspace users, `customerIds` must be customers assigned to the user; omit it to include all assigned customers. For advertiser users `customerIds` is ignored.\n\n`reportSchedulingEventDetails` is validated if sent but is not saved: no schedule or email is created. To schedule emails, create the report first and then call saveReportScheduleEvent with the new report ID. `timezoneName` is not stored; the saved report's timezone comes from `timezoneId`.\n",
        "operationId": "saveReport",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportDetailsVO"
              },
              "examples": {
                "Create Report for specific customers (workspace)": {
                  "description": "Create Report for specific customers (workspace)",
                  "value": {
                    "reportName": "Campaign by Gender by Device type with customer and filtering",
                    "customerIds": [
                      200,
                      201
                    ],
                    "startDate": 1650177200000,
                    "endDate": 1666938296000,
                    "dimensions": "[{\"filter\":\"campaign\",\"value\":[123,234,345,456]},{\"filter\":\"gender\",\"value\":[10200002]},{\"filter\":\"deviceType\",\"value\":[20300001,20300003]}]",
                    "columns": [
                      "gender",
                      "deviceType",
                      "campaignId",
                      "campaignName",
                      "startTime",
                      "endTime",
                      "maxBid",
                      "minBid",
                      "budgetDay",
                      "budgetTotal",
                      "impressions",
                      "clicks"
                    ],
                    "requestType": 1,
                    "reportAggregated": "0",
                    "timezoneId": 29,
                    "timezoneName": "US/Eastern"
                  }
                },
                "Create Report": {
                  "description": "Create Report",
                  "value": {
                    "reportName": "Campaign by Gender by Device type ",
                    "startDate": 1650177200000,
                    "endDate": 1666938296000,
                    "dimensions": "[{\"filter\":\"campaign\",\"value\":[287846,287610,278417,270798]},{\"filter\":\"gender\",\"value\":[10200002]},{\"filter\":\"deviceType\",\"value\":[20300001,20300003]}]",
                    "columns": [
                      "gender",
                      "deviceType",
                      "campaignId",
                      "campaignName",
                      "startTime",
                      "endTime",
                      "maxBid",
                      "minBid",
                      "budgetDay",
                      "budgetTotal",
                      "impressions",
                      "clicks"
                    ],
                    "requestType": 1,
                    "reportAggregated": "0",
                    "timezoneId": 29,
                    "timezoneName": "US/Eastern"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseId"
                },
                "examples": {
                  "Create Report for specific customers (workspace)": {
                    "description": "Create Report for specific customers (workspace)",
                    "value": {
                      "success": true,
                      "data": 1001
                    }
                  },
                  "Create Report": {
                    "description": "Create Report",
                    "value": {
                      "success": true,
                      "data": 1002
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ra/report/duplicate": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Duplicate (copy) a saved custom report",
        "description": "Report-builder routing: Use this IQM Reports API tool to create, configure, save, execute, schedule, email, list, or manage a custom report. Use it for report dimensions, metrics, columns, filters, templates, and reporting periods.\n\nCopies an existing saved report (`id`, required) into a new saved report, optionally renamed, and returns a message containing the new report ID; it does not run the report (to define a new report from scratch use saveReport).\n\nEverything except the name is copied from the original: dimensions, columns, dates, customers, timezone, `requestType` and `reportAggregated`. The new report is named `reportName` if sent (up to 255 characters), otherwise \"Copy of <original name>\". Email schedules are not copied. All other request fields are ignored; to change the copy, call updateReport afterwards.\n\nThe original report must belong to the caller's organization, and for workspace users all of its customers must be assigned to the user.\n",
        "operationId": "duplicateReport",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportDetailsVO"
              },
              "examples": {
                "Duplicate report with ID and Name": {
                  "description": "Duplicate report with ID and Name",
                  "value": {
                    "id": 123,
                    "reportName": "Report name"
                  }
                },
                "Duplicate report with just ID": {
                  "description": "Duplicate report with just ID",
                  "value": {
                    "id": 123
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseMessage"
                },
                "examples": {
                  "Report Duplicated": {
                    "description": "Report Duplicated",
                    "value": {
                      "success": true,
                      "data": "Report duplicated successfully with id 124"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Un-Processable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Missing input": {
                    "description": "Missing input",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Please pass Report ID for duplicating report"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ra/report/{reportId}": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Get Report By ID",
        "description": "Report-builder routing: Use this IQM Reports API tool to create, configure, save, execute, schedule, email, list, or manage a custom report. Use it for report dimensions, metrics, columns, filters, templates, and reporting periods. This API fetches report data by report ID",
        "operationId": "getReport",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "ID of report",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "422": {
            "description": "Un-Processable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid input": {
                    "description": "Invalid input",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Report does not exists for the given id"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportDetails"
                },
                "examples": {
                  "Report data": {
                    "description": "Report data",
                    "value": {
                      "success": true,
                      "data": {
                        "id": 123,
                        "reportName": "Campaign by Gender by Device type",
                        "startDate": 1650177000,
                        "endDate": 1666938000,
                        "dimensions": "[{\"filter\":\"campaign\"},{\"filter\":\"gender\",\"value\":[10200002]},{\"filter\":\"device_type\",\"value\":[20300001,20300003]}]",
                        "columns": [
                          "gender",
                          "deviceType",
                          "campaignId",
                          "campaignName",
                          "startTime",
                          "endTime",
                          "maxBid",
                          "budgetDay",
                          "budgetTotal",
                          "impressions",
                          "clicks"
                        ],
                        "timezoneId": 29,
                        "requestType": 1,
                        "reportSchedulingEventDetails": {
                          "eventId": 18,
                          "deliveryFrequency": 3,
                          "fileType": 2,
                          "subscriberEmails": [
                            "demoUser1@gmail.com",
                            "demoUser2@iqm.com"
                          ],
                          "eventEndDate": 1671148799,
                          "deliveryDay": "Friday",
                          "runningTotalEnabled": true,
                          "earliestCampaignStartDate": 1670674108900
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "MCP"
        ],
        "summary": "Delete Report and Scheduling Data By ID",
        "description": "Report-builder routing: Use this IQM Reports API tool to create, configure, save, execute, schedule, email, list, or manage a custom report. Use it for report dimensions, metrics, columns, filters, templates, and reporting periods. This API deletes report and it's scheduling data",
        "operationId": "deleteReport",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "ID of report",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "422": {
            "description": "Un-Processable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid input": {
                    "description": "Invalid input",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Report does not exists for the given id"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseMessage"
                },
                "examples": {
                  "Delete success": {
                    "description": "Delete success",
                    "value": {
                      "success": true,
                      "data": "Report with id 123 deleted successfully"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "MCP"
        ],
        "summary": "Update (edit) fields of a saved custom report",
        "description": "Report-builder routing: Use this IQM Reports API tool to create, configure, save, execute, schedule, email, list, or manage a custom report. Use it for report dimensions, metrics, columns, filters, templates, and reporting periods.\n\nChanges fields of an existing saved report: a partial update of the report identified by the `reportId` path parameter. It does not run the report (to create a new report use saveReport or duplicateReport).\n\nOnly fields sent with a meaningful value change: non-blank `reportName` (up to 255 characters) and `dimensions`, non-empty `columns` and `customerIds`, positive `startDate`, `endDate`, `timezoneId` and `requestType` (1-4), and `reportAggregated` (\"0\" or \"1\"). Omitted fields keep their saved values. An empty `dimensions` string or empty `columns` list is rejected.\n\nDates follow the same rules as create (epoch milliseconds; end after start; at most 365 days apart). If only one date is sent, it is checked against the saved value of the other. Unlike create, edit does not check dimension and column keys against the allowed list, so use the exact keys from getDimensionAndMetricDetails.\n\nCustomers: workspace users may send `customerIds` (customers assigned to them), or `[]` to use all assigned customers. Advertiser users must not send `customerIds`. Changing `timezoneId` also updates the timezone of the report's email schedule, if it has one. `reportSchedulingEventDetails` is ignored; manage schedules with the report email schedule operations. The report must belong to the caller's organization.\n",
        "operationId": "updateReport",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportDetailsVO"
              },
              "examples": {
                "Edit report": {
                  "description": "Edit report",
                  "value": {
                    "startDate": 1642013200000,
                    "reportName": "Updated report name 1",
                    "timezoneId": 29,
                    "timezoneName": "US/Eastern",
                    "dimensions": "[{\"filter\": \"campaign\"}, {\"filter\": \"creative\"}]",
                    "columns": [
                      "campaignId",
                      "campaignName",
                      "startTime",
                      "endTime"
                    ],
                    "customerIds": [
                      12345
                    ],
                    "requestType": 1,
                    "reportAggregated": "0"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseMessage"
                },
                "examples": {
                  "Edit Report": {
                    "description": "Edit Report",
                    "value": {
                      "success": true,
                      "data": "Report with id 123 updated successfully"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/ra/reports/list": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Get List of Reports",
        "description": "Report-builder routing: Use this IQM Reports API tool to create, configure, save, execute, schedule, email, list, or manage a custom report. Use it for report dimensions, metrics, columns, filters, templates, and reporting periods. This API fetches list of reports as per the given filters",
        "operationId": "getReportList",
        "parameters": [
          {
            "name": "customerIds",
            "in": "query",
[...]
