{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0",
    "description": "MCP Inventory API Specification",
    "contact": {
      "name": "IQM Support",
      "url": "https://iqm.com/contact/",
      "email": "support@iqm.com"
    }
  },
  "servers": [
    {
      "url": "https://api.iqm.com",
      "description": "IQM API"
    }
  ],
  "tags": [
    {
      "name": "MCP",
      "description": "MCP API endpoints"
    }
  ],
  "paths": {
    "/api/v3/inv/pmp/deals/list": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "It will provide list of PMP deals available for user.",
        "description": "This API provides paginated list of PMP deals based on requested filters along with total filtered count.\n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| groupId | Integer | groupId to filter pmp deals inside group. |\n| active | Boolean | boolean field to filter active and inactive deals. |\n| searchKeywords | List<String> | list of search strings used to search deals by dealId, dealName and description. |\n| creativeTypes | List<Integer> | list of creative type ids to filter. |\n| exchanges | List<Integer> | list of exchange ids to filter. |\n| ids | List<Integer> | list of pmp deal ids(primary key) to filter. |\n| dealStatuses | List<String> | list of deal status to filter. valid values are inUse, unUsed and inActive. |\n| owIds | List<Integer> | list of owIds to filter deals accessible by provided owIds |\n| pageNo | int | page number to retrieve deals. default value is 1. |\n| noOfEntries | int | number of deals to retrieve. default value is 50. |\n| sortBy | String | sort by string supporting multiple sorting. |\n",
        "operationId": "getPMPDealList",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PMPDealListRequestVO"
              },
              "examples": {
                "Get PMP deal list": {
                  "description": "Get PMP deal list",
                  "value": {
                    "groupId": 1,
                    "active": true,
                    "searchKeywords": [
                      "keyword1",
                      "keyword2"
                    ],
                    "creativeTypes": [
                      1,
                      2,
                      3
                    ],
                    "exchanges": [
                      1,
                      2,
                      3,
                      4
                    ],
                    "ids": [
                      1,
                      2,
                      3,
                      4
                    ],
                    "dealStatuses": [
                      "inUse",
                      "unUsed",
                      "inActive"
                    ],
                    "sortBy": "-dealId",
                    "noOfEntries": 2,
                    "pageNo": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PMPDealDetailsListResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "filteredRecords": 1,
                    "filteredList": [
                      {
                        "id": 115,
                        "dealId": "1476907757380667148",
                        "dealName": "85%+ Completion",
                        "description": "85%+ Completion",
                        "cpm": 20,
                        "dealCurationTypeId": 1,
                        "creativeTypes": [
                          1,
                          2,
                          3
                        ],
                        "exchanges": [
                          88
                        ],
                        "active": true,
                        "shared": false,
                        "created": 1597658148,
                        "assignedToCustomers": [
                          1,
                          2
                        ],
                        "assignedToCampaigns": [
                          11223,
                          65333
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invalid sortBy value."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/inv/pmp/deals/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Create PMP deal",
        "description": "This API can be used by advertiser, workspace or super to create pmp deals as well as assignation of deal to customers along with deal creation.\n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| dealId | String | Deal id of the given PMP deal|\n| dealName | String | Deal name of the given PMP deal.|\n| description | String | Description of the PMP deal|\n| cpm | double | CPM value of PMP deal|\n| dealCurationTypeId | int | Id of the deal curation type |\n| creativeTypes | List<Integer> | List of creative type ids |\n| exchangeId | int | Id of exchange associated with PMP deal [Exchanges List](?path=/Master%20API/getExchanges)|\n| assignToCustomers | List<Integer> | List of customer ow ids |\n| active | boolean | Boolean value representing deal status. |\n",
        "operationId": "addPMPDeal",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddPMPDealRequestVO"
              },
              "examples": {
                "Create new PMP deal by advertiser user": {
                  "description": "Create new PMP deal by advertiser user",
                  "value": {
                    "dealId": "DIewkFZALX1taoLjQg6Gge1dD6YvZYO4RChUKmOLk",
                    "dealName": "demo_test deal name",
                    "description": "test deal description",
                    "cpm": 10,
                    "creativeTypes": [
                      11,
                      12
                    ],
                    "exchangeId": 39,
                    "active": true
                  }
                },
                "Create new PMP deal by super/workspace user": {
                  "description": "Create new PMP deal by super/workspace user",
                  "value": {
                    "dealId": "DIewkFZALX1taoLjQg6Gge1dD6YvZYO4RChUKmOLk",
                    "dealName": "demo_test deal name",
                    "description": "test deal description",
                    "cpm": 10,
                    "dealCurationTypeId": 6,
                    "creativeTypes": [
                      11,
                      12
                    ],
                    "exchangeId": 39,
                    "assignToCustomers": [
                      1224,
                      1546
                    ],
                    "active": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseId"
                },
                "examples": {
                  "Deal creation success message": {
                    "description": "Deal creation success message",
                    "value": {
                      "success": true,
                      "data": {
                        "id": 461,
                        "message": "Deal test123 created successfully"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid deal description for PMP deal creation": {
                    "description": "Invalid deal description for PMP deal creation",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Deal description can not be longer than 1000 characters",
                          "field": "description"
                        }
                      ]
                    }
                  },
                  "Invalid deal id for PMP deal creation": {
                    "description": "Invalid deal id for PMP deal creation",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Deal id can not be longer than 500 characters",
                          "field": "dealId"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid exchange id passed for PMP deal creation": {
                    "description": "Invalid exchange id passed for PMP deal creation",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Invalid exchange id/ids provided"
                        }
                      ]
                    }
                  },
                  "Invalid deal curation type id passed for PMP deal creation": {
                    "description": "Invalid deal curation type id passed for PMP deal creation",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Invalid deal curation type id/ids provided"
                        }
                      ]
                    }
                  },
                  "Invalid creative type id passed for PMP deal creation": {
                    "description": "Invalid creative type id passed for PMP deal creation",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Invalid creative type id/ids provided"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/inv/pg/deals/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "It will Create the new PG deal for advertiser.",
        "description": "Given API will Create the new PG deal for advertiser User.\n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| dealId | String | Deal id of the given PG deal|\n| dealName | String | Deal name of the given PG deal.|\n| exchangeId | int | Id of exchange associated with PG deal [Exchanges List](?path=/Master%20API/getExchanges)|\n| cpm | double | CPM value of PG deal|\n| statusId | int | Id of status for PG deal |\n| paymentTypeId | int | Id of payment type of  PG deal|\n| description | String | Description of the PG deal|\n| owId | int | OWId of the advertiser User if super/workspace create the deal |\n",
        "operationId": "addPGDeal",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddPGDealRequestVO"
              },
              "examples": {
                "Create new PG deal by advertiser user": {
                  "description": "Create new PG deal by advertiser user",
                  "value": {
                    "dealId": "YT-Test-1234",
                    "dealName": "Test deal YT31",
                    "exchangeId": 11,
                    "statusId": 2,
                    "paymentTypeId": 1,
                    "description": "Test Deal"
                  }
                },
                "Create new PG deal by super/workspace user": {
                  "description": "Create new PG deal by super/workspace user",
                  "value": {
                    "dealId": "YT-Test-1234",
                    "dealName": "Test deal YT31",
                    "exchangeId": 11,
                    "statusId": 2,
                    "paymentTypeId": 1,
                    "description": "Test Deal",
                    "owId": 12345
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseId"
                },
                "examples": {
                  "Successful creation of new PG Deal": {
                    "description": "Successful creation of new PG Deal",
                    "value": {
                      "success": true,
                      "data": {
                        "message": "Deal Test deal YT31 created successfully",
                        "id": 2
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "PG Deal is already exist": {
                    "description": "PG Deal is already exist",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Unable to create a new Deal ID. The record already exists for Deal ID ( Test deal YT56 ) with given exchange."
                        }
                      ]
                    }
                  },
                  "PG Deal exchange is not supported": {
                    "description": "PG Deal exchange is not supported",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Given exchange is not supported"
                        }
                      ]
                    }
                  },
                  "PG Deal payment type is not supported": {
                    "description": "PG Deal payment type is not supported",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Given payment type is not supported"
                        }
                      ]
                    }
                  },
                  "PG Deal advertiser is not available": {
                    "description": "PG Deal advertiser is not available",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Given advertiser user is not available"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/inv/inventories/unblock": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Unblock inventories from blocked list",
        "description": "Removes specified inventories from the organization's blocked inventory list and triggers a data sync to update inventory group mappings.",
        "operationId": "unblockInventoriesFromBlockedList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockedInventoryVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ]
      }
    },
    "/api/v3/inv/inventories/open-exchange/download": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "It will provide csv/xlsx file for inventory list",
        "description": "This API provides  csv/xlsx file for inventory list based on requested filters and searching parameters",
        "operationId": "downloadOpenExchangeInventoryDetails",
        "parameters": [
          {
            "name": "keywords",
            "in": "query",
            "description": "List of search keywords to Search inventory list",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "countries",
            "in": "query",
            "description": "Filter to fetch inventory list based on countries",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Filter to fetch inventory list based on categories of inventory",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "inventoryTypes",
            "in": "query",
            "description": "Filter to fetch inventory list based on inventory type",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "creativeSizes",
            "in": "query",
            "description": "Filter to fetch inventory list based on creative size",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "creativeTypes",
            "in": "query",
            "description": "Filter to fetch inventory list based on creative type",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "creativeDurations",
            "in": "query",
            "description": "Filter to fetch inventory list based on creative duration for video/audio type",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "trafficTypes",
            "in": "query",
            "description": "Filter to fetch inventory list based on traffic type",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "deviceTypes",
            "in": "query",
            "description": "Filter to fetch inventory list based on device type",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "exchanges",
            "in": "query",
            "description": "Filter to fetch inventory list based on exchanges",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "videoPlayerSizes",
            "in": "query",
            "description": "Filter to fetch inventory list based on video player size",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "isCsvSearch",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fileType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "multipartFile": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "https://sample-download-url.com"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/inv/inventories/csv/list": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "It will provide list of inventory available for user based on provided csv file",
        "description": "This API provides paginated list of inventory based on provided csv file",
        "operationId": "getInventoriesByCSV",
        "parameters": [
          {
            "name": "domainsFile",
            "in": "query",
            "description": "CSV file contains search parameters"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "domainsFile"
                ],
                "type": "object",
                "properties": {
                  "domainsFile": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CsvInventoryListResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "matchedInventories": [
                      {
                        "id": 3510,
                        "name": "Test Inv 1234",
                        "publisher": "UNKNOWN",
                        "appId": "INVENTORY",
                        "inventoryType": "Other App",
                        "impressions": 7397885,
                        "reach": 5257,
                        "videoPercentage": 100,
                        "displayPercentage": 0
                      },
                      {
                        "id": 4746,
                        "name": "Test Old TV 345",
                        "publisher": "UNKNOWN",
                        "appId": "INVENTORY",
                        "inventoryType": "Other App",
                        "impressions": 428882,
                        "reach": 31291,
                        "videoPercentage": 100,
                        "displayPercentage": 0
                      }
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/inv/inventories/csv/distributions": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "It will provide distribution of inventory available for user across countries, creativeTypes, deviceTypes, trafficTypes based on csv ",
        "description": "It will provide distribution of inventory available for user across countries, creativeTypes, deviceTypes, trafficTypes based on csv search",
        "operationId": "getInventoriesDistributionsByCSV",
        "parameters": [
          {
            "name": "domainsFile",
            "in": "query",
            "description": "CSV file contains search parameters"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "domainsFile"
                ],
                "type": "object",
                "properties": {
                  "domainsFile": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryDistributionResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "countries": [
                      {
                        "label": "United States",
                        "value": 90.58
                      },
                      {
                        "label": "Brazil",
                        "value": 1.23
                      },
                      {
                        "label": "Germany",
                        "value": 0.79
                      },
                      {
                        "label": "France",
                        "value": 0.75
                      },
                      {
                        "label": "United Kingdom",
                        "value": 0.62
                      }
                    ],
                    "trafficTypes": [
                      {
                        "label": "App",
                        "value": 62.85
                      },
                      {
                        "label": "Web",
                        "value": 37.15
                      }
                    ],
                    "creativeTypes": [
                      {
                        "label": "Video",
                        "value": 47.47
                      },
                      {
                        "label": "Banner",
                        "value": 40.96
                      },
                      {
                        "label": "Native",
                        "value": 6.38
                      },
                      {
                        "label": "Audio",
                        "value": 5.19
                      }
                    ],
                    "deviceTypes": [
                      {
                        "label": "Mobile",
                        "value": 43.53
                      },
                      {
                        "label": "Connected TV",
                        "value": 37.69
                      },
                      {
                        "label": "Desktop",
                        "value": 15.08
                      },
                      {
                        "label": "Tablet",
                        "value": 3.57
                      },
                      {
                        "label": "Unknown",
                        "value": 0.13
                      }
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/inv/inventories/csv/count": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "It will provide count of inventory available for user based on provided csv file",
        "description": "This API provides  count of inventory based on provided csv file",
        "operationId": "getInventoriesCountByCSV",
        "parameters": [
          {
            "name": "domainsFile",
            "in": "query",
            "description": "CSV file contains search parameters"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "domainsFile"
                ],
                "type": "object",
                "properties": {
                  "domainsFile": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryCountResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "reach": 7983863253,
                    "impressions": 119273056646,
                    "inventories": 1387184
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/inv/inventories/block": {
      "post": {
        "tags": [
          "MCP"
        ],
        "description": "This API blocks the inventoryIDs based on the inventoryIds passed or searching parameters",
        "operationId": "addInventoriesToBlockedList",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BlockedInventoryVO"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/inv/groups": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Adds a new inventory group based on the provided request body.",
        "description": "Creates a new inventory group with the specified details such as group name, type, and associated inventories or deals.",
        "operationId": "addInventoryGroup",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInventoryGroupRequestDocs"
              },
              "examples": {
                "Create an Open Exchange inventory group with inventoryIds": {
                  "description": "Create an Open Exchange inventory group with inventoryIds",
                  "value": {
                    "groupName": "Inventory Group - Open exchange",
                    "groupTypeId": 1,
                    "inventoryIds": [
                      35132,
                      4107192
                    ]
                  }
                },
                "Create an Open Exchange inventory group with search filters (Select all scenario)": {
                  "description": "Create an Open Exchange inventory group with search filters (Select all scenario)",
                  "value": {
                    "groupTypeId": 1,
                    "groupName": "Inventory Group - Open exchange - search",
                    "excludedInventoryIds": [],
                    "countries": [
                      30100001
                    ],
                    "categories": [
                      "IAB1-1",
                      "IAB1-2",
                      "IAB1-3",
                      "IAB1-4",
                      "IAB1-5",
                      "IAB1-6"
                    ],
                    "inventoryTypes": [
                      2,
                      3
                    ],
                    "creativeTypes": [
                      1
                    ],
                    "trafficTypes": [
                      11
                    ],
                    "deviceTypes": [
                      20300001
                    ],
                    "exchanges": [
                      71,
                      75,
                      41,
                      80,
                      39,
                      47,
                      76,
                      1,
                      78,
                      69,
                      88,
                      19,
                      73
                    ]
                  }
                },
                "Create a PMP Inventory group with deals": {
                  "description": "Create a PMP Inventory group with deals",
                  "value": {
                    "groupName": "Inventory Group - PMP",
                    "groupTypeId": 2,
                    "inventoryIds": [],
                    "dealIds": [
                      204
                    ],
                    "contextualUrls": [],
                    "contextualKeywords": []
                  }
                },
                "Create a Contextual Inventory group with keywords": {
                  "description": "Create a Contextual Inventory group with keywords",
                  "value": {
                    "groupName": "Inventory Group - Contextual keywords",
                    "groupTypeId": 3,
                    "inventoryIds": [],
                    "dealIds": [],
                    "contextualUrls": [],
                    "contextualKeywords": [
                      "mcd"
                    ]
                  }
                },
                "Create a Contextual Inventory group with urls": {
                  "description": "Create a Contextual Inventory group with urls",
                  "value": {
                    "groupName": "Inventory Group - Contextual URLs",
                    "groupTypeId": 3,
                    "inventoryIds": [],
                    "dealIds": [],
                    "contextualUrls": [
                      "https://mcdindia.com/",
                      "https://www.coca-colacompany.com/"
                    ]
                  }
                },
                "Create a Contextual Inventory group with keywords and urls both": {
                  "description": "Create a Contextual Inventory group with keywords and urls both",
                  "value": {
                    "groupName": "Inventory Group - Contextual keywords and URLs",
                    "groupTypeId": 3,
                    "inventoryIds": [],
                    "dealIds": [],
                    "contextualKeywords": [
                      "mcd",
                      "coke",
                      "cola"
                    ],
                    "contextualUrls": [
                      "https://mcdindia.com/",
                      "https://www.coca-colacompany.com/"
                    ]
                  }
                },
                "groupName field validations": {
                  "description": "groupName field validations",
                  "value": {
                    "groupTypeId": 1
                  }
                },
                "groupTypeId field validations": {
                  "description": "groupTypeId field validations",
                  "value": {
                    "groupName": "Inventory Group - Contextual URLs"
                  }
                },
                "validations when it is an Inventory group": {
                  "description": "validations when it is an Inventory group",
                  "value": {
                    "groupName": "Inventory Group - Open exchange",
                    "groupTypeId": 1
                  }
                },
                "dealIds field validations when it is a PMP Inventory group": {
                  "description": "dealIds field validations when it is a PMP Inventory group",
                  "value": {
                    "groupName": "Inventory Group - PMP",
                    "groupTypeId": 2
                  }
                },
                "contextualUrls and contextualKeywords field validations when it is a Contextual Inventory group": {
                  "description": "contextualUrls and contextualKeywords field validations when it is a Contextual Inventory group",
                  "value": {
                    "groupName": "Inventory Group - Contextual keywords and URLs",
                    "groupTypeId": 3
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInventoryGroupResponse"
                },
                "examples": {
                  "Create an Open Exchange inventory group with inventoryIds": {
                    "description": "Create an Open Exchange inventory group with inventoryIds",
                    "value": {
                      "success": true,
                      "data": {
                        "groupTypeId": 1,
                        "created": 1719836234,
                        "modifiedDate": "2024-07-01T12:17:20.295+0000",
                        "owId": 201427,
                        "impressions": 2334725782,
                        "isAccountLevelExcluded": false,
                        "campaignWhitelistCount": 0,
                        "campaignBlacklistCount": 0,
                        "whiteListedCampaignIds": [],
                        "blackListedCampaignIds": [],
                        "sharedCount": 0,
                        "uniques": 0,
                        "reach": 154976228,
                        "inventories": 0,
                        "deals": 0,
                        "contextualInventories": 0,
                        "count": 2,
                        "id": 174594,
                        "name": "Inventory Group - Open exchange",
                        "isShared": false
                      }
                    }
                  },
                  "Create an Open Exchange inventory group with search filters (Select all scenario)": {
                    "description": "Create an Open Exchange inventory group with search filters (Select all scenario)",
                    "value": {
                      "success": true,
                      "data": {
                        "groupTypeId": 1,
                        "created": 1720030003,
                        "modifiedDate": "2024-07-03T18:06:45.627+0000",
                        "owId": 201427,
                        "impressions": 5298817,
                        "isAccountLevelExcluded": false,
                        "campaignWhitelistCount": 0,
                        "campaignBlacklistCount": 0,
                        "whiteListedCampaignIds": [],
                        "blackListedCampaignIds": [],
                        "sharedCount": 0,
                        "uniques": 0,
                        "reach": 458855,
                        "inventories": 0,
                        "deals": 0,
                        "contextualInventories": 0,
                        "count": 24,
                        "id": 176177,
                        "name": "Inventory Group - Open exchange - search",
                        "isShared": false
                      }
                    }
                  },
                  "Create a PMP Inventory group with deals": {
                    "description": "Create a PMP Inventory group with deals",
                    "value": {
                      "success": true,
                      "data": {
                        "groupTypeId": 2,
                        "created": 1719836290,
                        "modifiedDate": "2024-07-01T12:18:10.397+0000",
                        "owId": 201427,
                        "impressions": 0,
                        "isAccountLevelExcluded": false,
                        "campaignWhitelistCount": 0,
                        "campaignBlacklistCount": 0,
                        "whiteListedCampaignIds": [],
                        "blackListedCampaignIds": [],
                        "sharedCount": 0,
                        "uniques": 0,
                        "reach": 0,
                        "inventories": 0,
                        "deals": 0,
                        "contextualInventories": 0,
                        "count": 1,
                        "id": 174599,
                        "name": "Inventory Group - PMP",
                        "isShared": false
                      }
                    }
                  },
                  "Create a Contextual Inventory group with keywords": {
                    "description": "Create a Contextual Inventory group with keywords",
                    "value": {
                      "success": true,
                      "data": {
                        "groupTypeId": 3,
                        "created": 1719836518,
                        "modifiedDate": "2024-07-01T12:21:57.521+0000",
                        "owId": 201427,
                        "impressions": 0,
                        "isAccountLevelExcluded": false,
                        "campaignWhitelistCount": 0,
                        "campaignBlacklistCount": 0,
                        "whiteListedCampaignIds": [],
                        "blackListedCampaignIds": [],
                        "sharedCount": 0,
                        "uniques": 0,
                        "reach": 0,
                        "inventories": 0,
                        "deals": 0,
                        "contextualInventories": 0,
                        "count": 1,
                        "id": 174768,
                        "name": "Inventory Group - Contextual keywords",
                        "isShared": false
                      }
                    }
                  },
                  "Create a Contextual Inventory group with urls": {
                    "description": "Create a Contextual Inventory group with urls",
                    "value": {
                      "success": true,
                      "data": {
                        "groupTypeId": 3,
                        "created": 1719836561,
                        "modifiedDate": "2024-07-01T12:22:40.692+0000",
                        "owId": 201427,
                        "impressions": 0,
                        "isAccountLevelExcluded": false,
                        "campaignWhitelistCount": 0,
                        "campaignBlacklistCount": 0,
                        "whiteListedCampaignIds": [],
                        "blackListedCampaignIds": [],
                        "sharedCount": 0,
                        "uniques": 0,
                        "reach": 0,
                        "inventories": 0,
                        "deals": 0,
                        "contextualInventories": 0,
                        "count": 2,
                        "id": 174823,
                        "name": "Inventory Group - Contextual URLs",
                        "isShared": false
                      }
                    }
                  },
                  "Create a Contextual Inventory group with keywords and urls both": {
                    "description": "Create a Contextual Inventory group with keywords and urls both",
                    "value": {
                      "success": true,
                      "data": {
                        "groupTypeId": 3,
                        "created": 1719836633,
                        "modifiedDate": "2024-07-01T12:23:52.829+0000",
                        "owId": 201427,
                        "impressions": 0,
                        "isAccountLevelExcluded": false,
                        "campaignWhitelistCount": 0,
                        "campaignBlacklistCount": 0,
                        "whiteListedCampaignIds": [],
                        "blackListedCampaignIds": [],
                        "sharedCount": 0,
                        "uniques": 0,
                        "reach": 0,
                        "inventories": 0,
                        "deals": 0,
                        "contextualInventories": 0,
                        "count": 5,
                        "id": 174880,
                        "name": "Inventory Group - Contextual keywords and URLs",
                        "isShared": false
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "groupName field validations": {
                    "description": "groupName field validations",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Group name is required",
                          "field": "groupName"
                        }
                      ]
                    }
                  },
                  "groupTypeId field validations": {
                    "description": "groupTypeId field validations",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Missing or invalid group type ID: null",
                          "field": "groupTypeId"
                        }
                      ]
                    }
                  },
                  "validations when it is an Inventory group": {
                    "description": "validations when it is an Inventory group"
                  },
                  "dealIds field validations when it is a PMP Inventory group": {
                    "description": "dealIds field validations when it is a PMP Inventory group",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Deal IDs cannot be empty for PMP group type",
                          "field": "dealIds"
                        }
                      ]
                    }
                  },
                  "No inventory found from the search filter or the inventory IDs mentioned in the request body": {
                    "description": "No inventory found from the search filter or the inventory IDs mentioned in the request body",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "No inventory found from the search filter or the inventory IDs mentioned in the request body, hence no group will be created"
                        }
                      ]
                    }
                  },
                  "contextualUrls and contextualKeywords field validations when it is a Contextual Inventory group": {
                    "description": "contextualUrls and contextualKeywords field validations when it is a Contextual Inventory group",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Either keywords or URLs must be provided for CONTEXTUAL group type"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/inv/group/{groupId}/open-exchange/download": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Downloads the list of open exchange inventories for an inventory group based on various filters and parameters.",
        "description": "Generates and uploads a downloadable file (CSV/Excel) of open exchange inventory details for the specified group, returning an S3 URL.",
        "operationId": "downloadOpenExchangeInventoryDetailsByGroupId",
        "parameters": [
          {
            "name": "searchField",
            "in": "query",
            "description": "Search inventory group by name",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "fileType",
            "in": "query",
            "description": "File Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Inventory Group ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Download of open exchange inventory details list in an inventory group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "https://iqm-ephemeral-2aca615e13f8-stage.s3.amazonaws.com/inventory/download/csv/Yash%20org%202_1720435555550.csv?response-expires-Amz-Credential"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/inv/group/validate": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Validate if the logged-in user's OW ID is authorized for the given inventory group IDs.",
        "description": "This endpoint checks if the logged-in user's OW ID has authorization for the specified inventory group IDs. It returns true if authorized, otherwise false.",
        "operationId": "validateInventoryGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateInventoryGroupVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseBoolean"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ]
      }
    },
    "/api/v3/inv/group/removeMappings": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "It will remove inventories (Open Exchange, Private Deals, Contextual) to group",
        "description": "Removes inventories (open exchange, PMP deals, or contextual) from an inventory group and triggers data sync.",
        "operationId": "removeMappingsOfInventoryGroup",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveFromInventoryGroupRequestDocs"
              },
              "examples": {
                "Remove inventories from group using searching": {
                  "description": "Remove inventories from group using searching",
                  "value": {
                    "groupId": 100462,
                    "searchField": "foxnews",
                    "isAllInventories": true
                  }
                },
                "Remove pmp deals from group": {
                  "description": "Remove pmp deals from group",
                  "value": {
                    "groupId": 100462,
                    "dealIds": [10]
                  }
                },
                "Remove Contextual Inventories from group": {
                  "description": "Remove Contextual Inventories from group",
                  "value": {
                    "groupId": 100462,
                    "contextualKeywords": [
                      "testing1",
                      "testing2"
                    ],
                    "contextualUrls": [
                      "http://google.com",
                      "http://google1.com"
                    ]
                  }
                },
                "Remove specific inventories to group": {
                  "description": "Remove specific inventories to group",
                  "value": {
                    "groupId": 100462,
                    "inventoryIds": [52983]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryGroupResponse"
                },
                "examples": {
                  "Return the inventory group details": {
                    "description": "Return the inventory group details",
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "groupTypeId": 1,
                          "created": 1719983099,
                          "modifiedDate": "2024-07-03T07:35:45.800+0000",
                          "owId": 202017,
                          "impressions": 7927783118,
                          "isAccountLevelExcluded": false,
                          "whiteListedCampaignIds": null,
                          "blackListedCampaignIds": null,
                          "sharedCount": 1,
                          "uniques": 0,
                          "reach": 558137549,
                          "inventories": 0,
                          "deals": 0,
                          "contextualInventories": 0,
                          "count": 2,
                          "id": 176130,
                          "name": "Open Exchange Inventories Group",
                          "isShared": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Deal(s) are modelled": {
                    "description": "Deal(s) are modelled",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Deal can't be deleted from group as it is modeled in assigned campaign(s)"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/inv/group/addMappings": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "It will add inventories (Open Exchange, Private Deals, Contextual) to group",
        "description": "Adds inventories (open exchange, PMP deals, or contextual) to one or more inventory groups and triggers data sync.",
        "operationId": "addMappingsToInventoryGroups",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddToInventoryGroupRequestDocs"
              },
              "examples": {
                "Add inventories to group using filters": {
                  "description": "Add inventories to group using filters",
                  "value": {
                    "groupIds": [
                      100462
                    ],
                    "keywords": [
                      "foxnews",
                      "CNN",
                      "com.sleeeeepfly.knife.io"
                    ],
                    "countries": [
                      30100001,
                      30100002
                    ],
                    "categories": [
                      "IAB1",
                      "IAB14"
                    ],
                    "inventoryTypes": [
                      1,
                      2,
                      3
                    ],
                    "creativeSizes": [
                      "574x323",
                      "288x162"
                    ],
                    "creativeTypes": [
                      1,
                      2,
                      3
                    ],
                    "creativeDurations": [
                      1,
                      2,
                      -1
                    ],
                    "trafficTypes": [
                      11,
                      12
                    ],
                    "deviceTypes": [
                      20300001
                    ],
                    "exchanges": [
                      47,
                      48
                    ],
                    "videoPlayerSizes": [
                      1,
                      3,
                      4,
                      -1
                    ],
                    "isAllInventories": true
                  }
                },
                "Add private deals to group": {
                  "description": "Add private deals to group",
                  "value": {
                    "groupIds": [
                      100462,
                      100463
                    ],
                    "dealIds": [
                      10
                    ]
                  }
                },
                "Add Contextual Inventories to group": {
                  "description": "Add Contextual Inventories to group",
                  "value": {
                    "groupIds": [
                      100462,
                      100463
                    ],
                    "contextualKeywords": [
                      "testing1",
                      "testing2"
                    ],
                    "contextualUrls": [
                      "http://google.com",
                      "http://google1.com"
                    ]
                  }
                },
                "Add inventories to group": {
                  "description": "Add inventories to group",
                  "value": {
                    "groupIds": [
                      100462,
                      100463
                    ],
                    "inventoryIds": [
                      52983
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryGroupResponse"
                },
                "examples": {
                  "Add inventories to group using filters": {
                    "description": "Add inventories to group using filters",
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "groupTypeId": 1,
                          "created": 1719983099,
                          "modifiedDate": "2024-07-03T07:35:45.800+0000",
                          "owId": 202017,
                          "impressions": 7927783118,
                          "isAccountLevelExcluded": false,
                          "whiteListedCampaignIds": null,
                          "blackListedCampaignIds": null,
                          "sharedCount": 1,
                          "uniques": 0,
                          "reach": 558137549,
                          "inventories": 0,
                          "deals": 0,
                          "contextualInventories": 0,
                          "count": 2,
                          "id": 176130,
                          "name": "Open Exchange Inventories Group",
                          "isShared": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 422,
                  "responseObject": {
                    "errorMsg": "This Inventory is already added in the group.",
                    "errorCode": 422
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/inv/deals/list": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Retrieves a list of PG and PMP deals used for report filter.",
        "description": "This api retrieves a list of PG and PMP deals for report filter and also supports filters through request body.\n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| deal | Map<String, Set<Integer>> | Map of dealType and list of deal ids(primary key) for filtering |\n| dealStatus | List<String> | deal status to filter deals. Valid values are Active and Inactive |\n| searchField | String | search string used to search deals by search columns |\n| searchBy | List<String> | search columns to perform search on. Valid values are dealId, dealName and exchangeName |\n| pageNo | int | page number to view deal. default value is 1. |\n| noOfEntries | int | number of deals to retrieve. default value is 50. |\n| sortBy | String | sort by string supporting multiple sorting. |\n| owIds | Set<Integer> | set of owIds to filter deals accessible by provided owIds |\n",
        "operationId": "getPMPAndPGDeals",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DealReportRequestVO"
              },
              "examples": {
                "Get PG and PMP deal list": {
                  "description": "Get PG and PMP deal list",
                  "value": {
                    "deal": {
                      "PG": [
                        3
                      ],
                      "PMP": [
                        378
                      ]
                    },
                    "owIds": [
                      201427
                    ],
                    "dealStatus": [
                      "Active"
                    ],
                    "searchField": "Smaato  ",
                    "searchBy": [
                      "dealId",
                      "dealName",
                      "exchangeName"
                    ],
                    "pageNo": 1,
                    "noOfEntries": 50,
                    "sortBy": "dealId"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of deal list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealListResponse"
                },
                "examples": {
                  "Get PG and PMP deal list": {
                    "description": "Get PG and PMP deal list",
                    "value": {
                      "success": true,
                      "data": {
                        "totalRecords": 2511,
                        "filteredRecords": 2,
                        "dealList": [
                          {
                            "id": 3,
                            "dealId": "PM-Ny3ey3-2",
                            "dealStatus": "Active",
                            "dealName": "Test deal IV91",
                            "exchangeName": "Smaato",
                            "dealType": "PG",
                            "campaignCount": 3
                          },
                          {
                            "id": 378,
                            "dealId": "gp8n",
                            "dealStatus": "Active",
                            "dealName": "Smaato CTV Deal",
                            "exchangeName": "Smaato",
                            "dealType": "PMP",
                            "campaignCount": 22
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/inv/contextual/inventories/group/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Add mappings of contextual inventories to specified inventory groups.",
        "description": "Adds mappings of contextual inventories to specified inventory groups.",
        "operationId": "addMappingsToInventoryGroups_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddContextualInventoryGroupRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ]
      }
    },
    "/api/v3/inv/contextual/inventories/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Add contextual inventories",
        "description": "Adds new contextual inventories based on the provided request.",
        "operationId": "addContextualInventories",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddContextualInventoryRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ]
      }
    },
    "/api/v3/inv/comment/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Add comment for blocked inventory",
        "description": "Adds a comment to a blocked inventory item.",
        "operationId": "addCommentForInventoryBlocking",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockedInventoryCommentVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ]
      }
    },
    "/api/v3/inv/blocked-inventories/block-file": {
      "post": {
        "tags": [
          "MCP"
        ],
        "description": "This API blocks the Inventories based on the file uploaded. The files should be in CSV format with domains and bundles as columns. ",
        "operationId": "blockInventoriesToBlockedListViaFile",
        "parameters": [
          {
            "name": "fileTypeId",
            "in": "query",
            "description": "ID of file type",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "blocklistFile": {
                    "type": "string",
                    "description": "CSV file contains search parameters",
                    "format": "binary"
                  },
                  "fileTypeId": {
                    "type": "integer",
                    "description": "ID of file type"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "message": "{numberOfInventoryIds} inventories blocked successfully"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "server encountered an error !",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/inv/inventories/includeExclude": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Include or exclude inventory",
        "description": "Includes or excludes inventory based on the provided request.",
        "operationId": "includeExcludeInventory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncludeExcludeRequestVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ]
      }
    },
    "/api/v3/inv/pmp/deals/{id}": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Get PMP deal details",
        "description": "This API can be used by advertiser, workspace or super to get pmp deal details including campaign ids in which deal is assigned",
        "operationId": "getPMPDealDetails",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of the pmp deal (primary key) to retrieve details",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PMPDealDetailsResponse"
                },
                "examples": {
                  "PMP deal fetched successfully": {
                    "description": "PMP deal fetched successfully",
                    "value": {
                      "success": true,
                      "data": {
                        "id": 459,
                        "dealId": "BySuper_toAdvertiser",
                        "dealName": "BySuper_toAdvertiser_stageSharedOnly",
                        "description": "BySuper_toAdvertiser",
                        "cpm": 10,
                        "dealCurationTypeId": 2,
                        "creativeTypes": [
                          1,
                          2,
                          3
                        ],
                        "exchanges": [
                          "Equativ"
                        ],
                        "active": true,
                        "created": 1716877559,
                        "assignedToCustomers": [
                          201427
                        ],
                        "assignedToCampaigns": [
                          2046372,
                          2053221
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid pmp deal id passed": {
                    "description": "Invalid pmp deal id passed",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "PMP deal Id is invalid or not accessible for logged-in user"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "MCP"
        ],
        "summary": "Edit PMP deal",
[...]
