{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0",
    "description": "MCP Audience API Specification",
    "contact": {
      "name": "IQM Support",
      "url": "https://iqm.com/contact/",
      "email": "support@iqm.com"
    }
  },
  "servers": [
    {
      "url": "https://api.iqm.com",
      "description": "IQM API"
    }
  ],
  "tags": [
    {
      "name": "MCP",
      "description": "MCP API endpoints"
    }
  ],
  "paths": {
    "/api/v3/audience/segmented/{audienceId}": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Get the segment audience details.",
        "description": "Get the segment audience details by the audience id.",
        "operationId": "getSegmentedAudience",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The ID of the segmented audience to be fetched.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1076846
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentAudienceDetailsResponseDocs"
                },
                "examples": {
                  "Segment audience detail": {
                    "description": "Segment audience detail",
                    "value": {
                      "success": true,
                      "data": {
                        "audienceId": 1076846,
                        "audienceName": "Test kishan 19,04:50",
                        "audienceStatusId": 3,
                        "createdAt": 1718796428,
                        "uniques": 0,
                        "cpm": 1.5,
                        "editAccess": true,
                        "segmentPartnerName": "LiveRamp",
                        "segmentPartnerId": 1,
                        "segmentPartnerLogoUrl": "https://s3.amazonaws.com/advp0had0vuj7rad3niaw1eus2/data_partner/liveramp.png",
                        "equation": "((5586112|6450431)&(14005))",
                        "segmentsList": [
                          {
                            "segmentId": 14005,
                            "taxonomyId": "1000143856",
                            "taxonomyValue": "Western Samoa",
                            "description": null,
                            "pathKey": "LiveRamp > L2 Political > L2 Voter Data > Individual Demographics > Ethnicity > Ethnic Description > Western Samoa",
                            "cpm": 1.5,
                            "modifiedAt": "2021-06-08 08:45:50.979634",
                            "totalReach": 0,
                            "reachMetadata": null,
                            "dataAvailable": false,
                            "leaf": true
                          },
                          {
                            "segmentId": 5586112,
                            "taxonomyId": "1007595031",
                            "taxonomyValue": "South Dakota-13",
                            "description": "30 day full data refresh: Individuals living in the South Dakota-13 state senate district. For political use only.",
                            "pathKey": "LiveRamp > 123Push > Optimized for CTV > Voters > State Senate District > South Dakota-13",
                            "cpm": 0.75,
                            "modifiedAt": "2021-06-08 08:45:50.979634",
                            "totalReach": 14800,
                            "reachMetadata": null,
                            "dataAvailable": false,
                            "leaf": true
                          },
                          {
                            "segmentId": 6450431,
                            "taxonomyId": "1000037244",
                            "taxonomyValue": "Voted In the 2004 Primary Election",
                            "description": "This segment contains users who voted in the General Election of this election year",
                            "pathKey": "LiveRamp > Porch Group Media (fka V12) > V12 > NEW VOTER & INCOME > Voted In the 2004 Primary Election",
                            "cpm": 0.5,
                            "modifiedAt": "2024-05-07 09:52:51.191186",
                            "totalReach": 5100000,
                            "reachMetadata": {
                              "iosDevicesReach": 2200000,
                              "androidDevicesReach": 2900000,
                              "cookiesReach": 0
                            },
                            "dataAvailable": false,
                            "leaf": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Exception",
            "content": {
              "application/json": {
                "examples": {
                  "Audience Not Accessible": {
                    "description": "Audience Not Accessible",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Audience is not accessible for the given user."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid Audience Id": {
                    "description": "Invalid Audience Id",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "No active audience found with the given Id.",
                          "field": "audienceId"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "MCP"
        ],
        "summary": "Updates an existing segmented audience.",
        "description": "This API updates an existing segmented audience based on the provided request parameters. It allows modifying the details of an existing segmented audience i.e. name and segments.\n\n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| equation `[required]` | String | The equation representing the segment ID groups in AND/OR relationship. It should be a valid equation string. |\n| audienceName `[required]` | String | The name of the segmented audience to be updated. Maximum allowed length is 255. |\n",
        "operationId": "updateSegmentedAudience",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "The ID of the segmented audience to be updated.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1140623
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "description": "Request body containing details for updating a segmented audience.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentedAudienceRequest"
              },
              "examples": {
                "Update Segmented Audience Request": {
                  "description": "Update Segmented Audience Request",
                  "value": {
                    "equation": "((6192796|6192797)&(6177921|6177917))",
                    "audienceName": "Updated Audience Name"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceCreationSuccess"
                },
                "examples": {
                  "Successful update of segmented audience": {
                    "description": "Successful update of segmented audience",
                    "value": {
                      "success": true,
                      "data": {
                        "audienceId": 1140623,
                        "message": "<Audience Name> audience updated successfully"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Missing equation": {
                    "description": "Missing equation",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Segment group equation is required and can not be empty.",
                          "field": "equation"
                        }
                      ]
                    }
                  },
                  "Audience name exceeds limit": {
                    "description": "Audience name exceeds limit",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Audience name must be between 1 and 255 characters.",
                          "field": "audienceName"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid audience ID provided": {
                    "description": "Invalid audience ID provided",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "No audience found with the given Id"
                        }
                      ]
                    }
                  },
                  "Number of segment group exceeds limit": {
                    "description": "Number of segment group exceeds limit",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Segment group count cannot be more than 5."
                        }
                      ]
                    }
                  },
                  "Number of segments in a group exceeds limit": {
                    "description": "Number of segments in a group exceeds limit",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Maximum number of segments in a group cannot be more than 100."
                        }
                      ]
                    }
                  },
                  "Invalid segment IDs in equation": {
                    "description": "Invalid segment IDs in equation",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "No segments found for the provided segment IDs. Please provide valid segment IDs."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/audience/matched/{audienceId}/rematch": {
      "put": {
        "tags": [
          "MCP"
        ],
        "summary": "Rematch/Refresh matched audience",
        "description": "This API is used to rematch/refresh an existing matched audience data.\nThe audience must be eligible for rematch based on its status, last rematch time and other criteria.\nThis API internally calls the data team API to initiate the rematch process.\n",
        "operationId": "rematchMatchedAudience",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "Audience id of the matched audience to be rematched.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1234
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matched audience rematched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceCreationSuccess"
                },
                "examples": {
                  "Successful audience rematch": {
                    "description": "Response when matched audience is successfully rematched",
                    "value": {
                      "success": true,
                      "data": {
                        "audienceId": 1119083,
                        "message": "Test audience rematched successfully via Re-Match"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid Audience Id": {
                    "description": "Invalid Audience Id",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "No active audience found with the given Id.",
                          "field": "audienceId"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/audience/segmented": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Creates a segmented audience.",
        "description": "This API creates a segmented audience based on the provided request parameters. It allows creating a new segmented audience with the specified details.\n\n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| equation `[required]` | String | The equation representing the segment ID groups in AND/OR relationship. It should be a valid equation string. |\n| audienceName `[required]` | String | The name of the segmented audience to be created. Maximum allowed length is 255. |\n",
        "operationId": "createSegmentedAudience",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "description": "Request body containing details for creating a segmented audience.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentedAudienceRequest"
              },
              "examples": {
                "Create Segmented Audience Request": {
                  "description": "Create Segmented Audience Request",
                  "value": {
                    "equation": "((6192796|6192797)&(6177921|6177917))",
                    "audienceName": "Test Audience"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceCreationSuccess"
                },
                "examples": {
                  "Successful creation of segmented audience": {
                    "description": "Successful creation of segmented audience",
                    "value": {
                      "success": true,
                      "data": {
                        "audienceId": 1140623,
                        "message": "<Audience Name> audience created successfully"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Missing equation": {
                    "description": "Missing equation",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Segment group equation is required and can not be empty.",
                          "field": "equation"
                        }
                      ]
                    }
                  },
                  "Audience name exceeds limit": {
                    "description": "Audience name exceeds limit",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Audience name must be between 1 and 255 characters.",
                          "field": "audienceName"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Number of segment group exceeds limit": {
                    "description": "Number of segment group exceeds limit",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Segment group count cannot be more than 5."
                        }
                      ]
                    }
                  },
                  "Number of segments in a group exceeds limit": {
                    "description": "Number of segments in a group exceeds limit",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Maximum number of segments in a group cannot be more than 100."
                        }
                      ]
                    }
                  },
                  "Invalid segment IDs in equation": {
                    "description": "Invalid segment IDs in equation",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "No segments found for the provided segment IDs. Please provide valid segment IDs."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/audience/segmented/search/list": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Fetches the segments search list.",
        "description": "This API retrieves the segments search list based on the provided request parameters. It allows filtering segments based on various criteria such as search fields, segment ids, provider, price range, and more.\n\n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| pageNo `[optional]` | Number | Page number for the required data. The default value is 1. \n| noOfEntries `[optional]` | Number | The maximum number of returned results per page. The default value is 100. |\n| sortBy `[optional]` | String | Sort the result set by specific field. For ascending use plus(+) sign(ascii value '%2B') and for descending use minus(-) sign. \n| searchKeywordSet `[required if segmentIds not given]` | List of Number | Search keywords to be searched on the 'pathKey' and 'description' of the segments with encoded special characters. |\n| segmentIds `[required if searchField not given]` | List of Number | List of segment ids upon which segment data is to be filtered. |\n| verticalIds `[optional]` | List of Number | List of vertical ids upon which segment data is to be filtered. |\n| partnerIds `[optional]` | List of Number | List of partner ids upon which segment data is to be filtered. |\n| providerIds `[optional]` | List of Number | List of provider ids upon which segment data is to be filtered. |\n| priceRangeIds `[optional]` | List of Number | List of price range ids upon which segment data is to be filtered. |\n| reachRangeIds `[optional]` | List of Number | List of reach range ids upon which segment data is to be filtered. |\n| showOnlyReadySegments `[optional]` | Boolean | Flag to filter segments that are ready. Default is false. |\n| showOnlyNonZeroSegments `[optional]` | Boolean | Flag to filter segments that have non-zero reach. Default is false. |\n",
        "operationId": "getSegmentsSearchList",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "description": "Request body containing search criteria for segments.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentSearchListRequest"
              },
              "examples": {
                "Segment Search List Request": {
                  "description": "Segment Search List Request",
                  "value": {
                    "pageNo": 1,
                    "noOfEntries": 20,
                    "searchKeywordSet": [
                      "sample 1",
                      "sample 2"
                    ],
                    "sortBy": "-reach",
                    "verticalIds": [
                      1,
                      2,
                      3
                    ],
                    "partnerIds": [
                      1,
                      2,
                      3
                    ],
                    "providerIds": [
                      1,
                      2,
                      3
                    ],
                    "priceRangeIds": [
                      1,
                      2,
                      3
                    ],
                    "reachRangeIds": [
                      1,
                      2,
                      3
                    ],
                    "segmentIds": [
                      1,
                      2,
                      3
                    ],
                    "showOnlyReadySegments": true,
                    "showOnlyNonZeroSegments": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentsSearchResponseDocs"
                },
                "examples": {
                  "Successful fetching of segments search list": {
                    "description": "Successful fetching of segments search list",
                    "value": {
                      "success": true,
                      "data": {
                        "filteredRecords": 45,
                        "segmentsList": [
                          {
                            "segmentId": 5830140,
                            "taxonomyValue": "Thriller/Horror",
                            "description": "This audience contains people that are likely to watch Thriller/Horror TV content & are CBD purchasers. Data leverages Comscore's deterministic, single-source cross-platform dataset derived from set-top box (STB) data from households exposed to the target viewing criteria & is cultivated from industry-leading endemic companies (Point of Sale systems, eCommerce platforms, Delivery services, and Loyalty/CRM platforms).",
                            "pathKey": "LiveRamp > Fyllo > Fyllo > Infused > Comscore > TV > Genre > Thriller/Horror",
                            "cpm": 1.5,
                            "modifiedAt": "2021-07-04T10:48:42.29600:00",
                            "totalReach": 6000000,
                            "providerId": 140,
                            "partnerId": 1,
                            "dataAvailable": true,
                            "reachMetadata": {
                              "iosDevicesReach": 120,
                              "androidDevicesReach": 120,
                              "cookiesReach": 120
                            },
                            "logoUrl": "https://www.sample-domain.com/liveramp.png"
                          },
                          {
                            "segmentId": 6164189,
                            "taxonomyValue": "Thriller Crime & Mystery Films",
                            "description": "ShareThis collects data from its network of 600 million publisher pages capturing site visitors' pageviews, clicks, shares, and searches.  ShareThis processes these signals and uses associated keywords and topics to build out its audience. ShareThis CTV targeting allows you to leverage this online behavioral data for CTV campaigns, merging the performance of online interest data with the impact and engagement of TV.",
                            "pathKey": "LiveRamp > ShareThis > ShareThis > ShareThis for TV > Arts & Entertainment > Movies > Thriller Crime & Mystery Films",
                            "cpm": 2,
                            "modifiedAt": "2021-12-03T11:19:19.76300:00",
                            "totalReach": 8600000,
                            "providerId": 21,
                            "partnerId": 1,
                            "dataAvailable": true,
                            "reachMetadata": {
                              "iosDevicesReach": 120,
                              "androidDevicesReach": 120,
                              "cookiesReach": 120
                            },
                            "logoUrl": "https://www.sample-domain.com/liveramp.png"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Both searchField and segmentIds are not provided": {
                    "description": "Both searchField and segmentIds are not provided",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Either searchField or segmentIds must be provided."
                        }
                      ]
                    }
                  },
                  "Search keywords provided are more than allowed limit": {
                    "description": "Search keywords provided are more than allowed limit",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Search keywords cannot be more than 10."
                        }
                      ]
                    }
                  },
                  "Invalid sortBy provided": {
                    "description": "Invalid sortBy provided",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Invalid sortBy value provided in the request."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/audience/segmented/search/list/download": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Downloads the segments search list.",
        "description": "This API provides a link to download the segments search list based on the provided request parameters. It allows filtering segments based on various criteria such as search fields, segment ids, provider, price range, and more.\n\n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| sortBy `[optional]` | String | Sort the result set by specific field. For ascending use plus(+) sign(ascii value '%2B') and for descending use minus(-) sign. \n| searchKeywordSet `[required if segmentIds not given]` | List of Number | Search keywords to be searched on the 'pathKey' and 'description' of the segments with encoded special characters. |\n| segmentIds `[required if searchField not given]` | List of Number | List of segment ids upon which segment data is to be filtered. |\n| verticalIds `[optional]` | List of Number | List of vertical ids upon which segment data is to be filtered. |\n| partnerIds `[optional]` | List of Number | List of partner ids upon which segment data is to be filtered. |\n| providerIds `[optional]` | List of Number | List of provider ids upon which segment data is to be filtered. |\n| priceRangeIds `[optional]` | List of Number | List of price range ids upon which segment data is to be filtered. |\n| reachRangeIds `[optional]` | List of Number | List of reach range ids upon which segment data is to be filtered. |\n| showOnlyReadySegments `[optional]` | Boolean | Flag to filter segments that are ready. Default is false. |\n| showOnlyNonZeroSegments `[optional]` | Boolean | Flag to filter segments that have non-zero reach. Default is false. |\n",
        "operationId": "downloadSegmentsSearchList",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "description": "Request body containing search criteria for segments.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentSearchListRequest"
              },
              "examples": {
                "Segment Search List Request": {
                  "description": "Segment Search List Request",
                  "value": {
                    "searchKeywordSet": [
                      "sample 1",
                      "sample 2"
                    ],
                    "sortBy": "-reach",
                    "verticalIds": [
                      1,
                      2,
                      3
                    ],
                    "partnerIds": [
                      1,
                      2,
                      3
                    ],
                    "providerIds": [
                      1,
                      2,
                      3
                    ],
                    "priceRangeIds": [
                      1,
                      2,
                      3
                    ],
                    "reachRangeIds": [
                      1,
                      2,
                      3
                    ],
                    "segmentIds": [
                      1,
                      2,
                      3
                    ],
                    "showOnlyReadySegments": true,
                    "showOnlyNonZeroSegments": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileDownloadResponseDocs"
                },
                "examples": {
                  "Successful fetching of download link for segments search list": {
                    "description": "Successful fetching of download link for segments search list",
                    "value": {
                      "success": true,
                      "data": {
                        "fileUrl": "https://sampledomain/<searchKeys>_segments_1719309819439.csv"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Both searchField and segmentIds are not provided": {
                    "description": "Both searchField and segmentIds are not provided",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Either searchField or segmentIds must be provided."
                        }
                      ]
                    }
                  },
                  "Search keywords provided are more than allowed limit": {
                    "description": "Search keywords provided are more than allowed limit",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Search keywords cannot be more than 10."
                        }
                      ]
                    }
                  },
                  "Invalid sortBy provided": {
                    "description": "Invalid sortBy provided",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Invalid sortBy value provided in the request."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/audience/retargeted": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Create a new Retargeted audience",
        "description": "Creates a new Retargeted audience with the provided audience details in the request.\n \n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| audienceName `[required]` | String | Name of the retargeted audience |\n| dataCollectionBy `[required]` | String | Valid data collection method either 'month' or 'date_range' |\n| dataCollectionPeriod `[optional]`| Integer | Represents number of months for data collection period |\n| startDate `[optional]` | Integer | Represents start date in epoch millis for data collection |\n| endDate `[optional]` | Integer | Represents end date in epoch millis for data collection |\n",
        "operationId": "createRetargetedAudience",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRetargetedAudienceRequest"
              },
              "examples": {
                "Request body for audience creation with 'month' mode": {
                  "description": "Request body for audience creation with 'month' mode",
                  "value": {
                    "audienceName": "Test audience by month",
                    "dataCollectionBy": "month",
                    "dataCollectionPeriod": 1
                  }
                },
                "Request body for audience creation with 'date_range' mode": {
                  "description": "Request body for audience creation with 'date_range' mode",
                  "value": {
                    "audienceName": "Test audience by date_range",
                    "dataCollectionBy": "date_range",
                    "startDate": 1753262493020,
                    "endDate": 1753900200000
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetargetedAudienceCreationResponseDocs"
                },
                "examples": {
                  "Successful creation of Retargeted Audience": {
                    "description": "Successful creation of Retargeted Audience",
                    "value": {
                      "success": true,
                      "data": {
                        "tag_script": "<script src='https://pxl.stage.iqm.com/c/4c90b124-bfbe-4af1-b780-d2a1d3cb93c1' async></script>",
                        "audienceId": 1140586,
                        "message": "Test audience by month audience created successfully"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "Non Advertiser user accessing the API": {
                    "description": "Non Advertiser user accessing the API",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "User is not allowed to access this API. Only Advertiser users can access this API."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "When dataCollectionPeriod is sent for 'date_range' mode": {
                    "description": "When dataCollectionPeriod is sent for 'date_range' mode",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Data Collection period should not be specified for data collection by 'date_range' mode.",
                          "field": "dataCollectionPeriod"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/audience/retargeted/{audienceId}/email-notification": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Email pixel code to recipients.",
        "description": "This API can be used to send email with retargeted audience pixel code to the provided recipient emails.\n \n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| recipientEmails `[required]` | List of String | List of recipient emails |\n",
        "operationId": "sendRetargetedPixelCodeEmail",
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "description": "master audience id of the retargeted audience.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetargetedAudienceEmailRequest"
              },
              "examples": {
                "Request body with recipient emails": {
                  "description": "Request body with recipient emails",
                  "value": {
                    "recipientEmails": [
                      "test.s@gmail.com"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponseDocs"
                },
                "examples": {
                  "Pixel code emailed successfully": {
                    "description": "Pixel code emailed successfully",
                    "value": {
                      "success": true,
                      "data": {
                        "message": "Pixel Code emailed successfully"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponseDocs"
                },
                "examples": {
                  "Non Advertiser user accessing the API": {
                    "description": "Non Advertiser user accessing the API",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "User is not allowed to access this API. Only Advertiser users can access this API."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid Audience Id": {
                    "description": "Invalid Audience Id",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "No active audience found with the given Id.",
                          "field": "audienceId"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/audience/prebid": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Create a new Prebid audience",
        "description": "Creates a new Prebid audience with the provided audience details in the request.\n \n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| audienceName | String | Name of the prebid audience |\n| prebidSegmentIds  | List of Integer | List of valid and accessible prebid segment IDs. |\n| prebidProviderId | Integer | Id of prebid segments provider |\n",
        "operationId": "createPrebidAudience",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrebidAudienceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceCreationSuccess"
                },
                "examples": {
                  "Successful creation of Prebid Audience": {
                    "description": "Successful creation of Prebid Audience",
                    "value": {
                      "success": true,
                      "data": {
                        "audienceId": 1026631,
                        "message": "Test Audience audience created successfully"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "Non Advertiser user accessing the API": {
                    "description": "Non Advertiser user accessing the API",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "User is not allowed to access this API. Only Advertiser users can access this API."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid segmentIds or Invalid prebid providers passed": {
                    "description": "Invalid segmentIds or Invalid prebid providers passed",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Invalid Prebid Segment Ids or Multiple Providers found for the provided segments."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/audience/prebid/segments/search/list": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "It API fetches the prebid segment details according to the search text or provided prebid segment ids.",
        "description": "This API will fetch the details of prebid segments based on the given prebid segment ids or search field. Providing any one of the field is mandatory. This API can be used by all the type of customers. Its mandatory to pass customerOwId for non advertiser users.\n\n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| searchField `[optional]` | String | Search the result by provided keyword in the searchField.  |\n| prebidSegmentIds `[optional]`  | Array of Integer | The list includes prebid audience segment IDs. |\n| customerOwId `[optional]`  | Integer | Used to fetch the data of customer by workspace/super user |\n| showInActiveSegments `[optional]`  | Boolean | Used to fetch inactive segments specifically to view data of deprecated segments which are already attached. default value is false. |\n",
        "operationId": "getPrebidSegmentDetailsBySearch",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrebidSegmentSearchRequest"
              },
              "examples": {
                "Request body for advertiser": {
                  "description": "Request body for advertiser",
                  "value": {
                    "prebidSegmentIds": [
                      156,
                      157
                    ],
                    "searchField": "risk",
                    "showInActiveSegments": true
                  }
                },
                "Request body for non-advertiser": {
                  "description": "Request body for non-advertiser",
                  "value": {
                    "prebidSegmentIds": [
                      156,
                      157
                    ],
                    "searchField": "risk",
                    "customerOwId": 201332
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrebidSegmentsChildrenResponseDocs"
                },
                "examples": {
                  "Successful retrieval of prebid segment details": {
                    "description": "Successful retrieval of prebid segment details",
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "prebidSegmentId": 158,
                          "prebidSegmentName": "Avoid High and Moderate risk Alcohol content pages",
                          "description": "Avoid High and Moderate risk Alcohol content pages",
                          "parentPathKey": "Brand Safety > Display",
                          "cpm": 0.05,
                          "leaf": true,
                          "creativeTypeIds": [
                            11,
                            14
                          ],
                          "prebidRootId": 1,
                          "providerId": 1
                        },
                        {
                          "prebidSegmentId": 156,
                          "prebidSegmentName": "Avoid High and Moderate risk Adult content pages",
                          "description": "Avoid High and Moderate risk Adult content pages",
                          "parentPathKey": "Brand Safety > Display",
                          "cpm": 0.05,
                          "leaf": true,
                          "creativeTypeIds": [
                            11,
                            14
                          ],
                          "prebidRootId": 1,
                          "providerId": 1
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid input parameters": {
                    "description": "Invalid input parameters",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Invalid input. Please provide either a search field, prebid segment IDs or audience IDs to search."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/audience/matched": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Create matched audience - unified endpoint for all verticals and subtypes",
        "description": "     Unified API endpoint for creating matched audiences across all verticals and subtypes.\n     Supports Political, Specialization, and Healthcare (Patient, HCP, Nurse, Non NPI Nurse, Generic) verticals.\n     The appropriate processing strategy is selected based on verticalId and subtypeId. audienceRequest\n     and file is sent as binary multipart/form-data.\n\n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n    | audienceName `[required]` | String | Name of the matched audience to be created. Max length 255. |\n    | dataPartnerId `[required for few verticals and few subtypes]` | Integer | ID of the data partner associated with the audience. |\n    | audienceSubtypeId `[required for subtype specific audience]` | Integer | Subtype ID for Healthcare audiences (e.g., 3 for HCP, 4 for Nurse, 5 for Non NPI Nurse and 6 for Patient). |\n    | columnMappings `[required]` | List of Objects | Mappings of file columns to expected data formats. Each object contains `columnId`, `fileColumnName`, and optional `dataFormatId`. |\n    | fileRowCount `[required]` | Integer | Number of rows in the uploaded file. |\n    | fileColumnCount `[required]` | Integer | Number of columns in the uploaded file. |\n    | columnCombinationId `[required]` | Integer | ID representing the combination of columns used for matching. This represents the mandatory columns that should be provided for audience creation. |\n    | consentGiven `[required for Healthcare Patient subtype]` | Boolean | Indicates if consent has been given for patient data usage. |\n",
        "operationId": "createMatchedAudience_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "description": "Multipart form data containing audienceRequest JSON string and XLSX/CSV file",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/MatchedAudienceUploadSchema"
              },
              "examples": {
                "Sample audienceRequest object for Political Matched Audience Creation": {
                  "description": "Sample audienceRequest object for Political Matched Audience Creation",
                  "value": {
                    "audienceRequest": "{\"audienceName\":\"matched-audience-example-fs\",\"fileRowCount\":5,\"fileColumnCount\":10,\"columnMappings\":[{\"columnId\":5,\"fileColumnName\":\"l2-voter-id\",\"dataFormatId\":null},{\"columnId\":6,\"fileColumnName\":\"email\",\"dataFormatId\":1}],\"dataPartnerId\":2,\"columnCombinationId\":11}",
                    "file": "(binary file)"
                  }
                },
                "Sample audienceRequest object for Healthcare Patient Matched Audience Creation": {
                  "description": "Sample audienceRequest object for Healthcare Patient Matched Audience Creation",
                  "value": {
                    "audienceRequest": "{\"audienceName\":\"Revamped Healthcare Matched Audience 02\",\"dataPartnerId\":7,\"audienceSubtypeId\":3,\"columnMappings\":[{\"columnId\":18,\"fileColumnName\":\"NPI_ID\"}],\"fileRowCount\":19,\"fileColumnCount\":1,\"columnCombinationId\":14,\"consentGiven\":true}",
                    "file": "(binary file)"
                  }
                }
              },
              "encoding": {
                "audienceRequest": {
                  "contentType": "application/json"
                },
                "file": {
                  "contentType": "application/octet-stream"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Matched audience created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchedAudienceCreationResponse"
                },
                "examples": {
                  "Successful creation": {
                    "description": "Successful creation",
                    "value": {
                      "success": true,
                      "data": {
                        "matchedAudienceId": 12345,
                        "message": "Matched audience created successfully"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - When mandatory parameters are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Column combination id not provided": {
                    "description": "Column combination id not provided",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Column combination ID must be positive",
                          "field": "columnCombinationId"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid vertical": {
                    "description": "Invalid vertical",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Invalid vertical 99 and subtype null",
                          "field": "verticalId"
                        }
                      ]
                    }
                  },
                  "Missing required columns": {
                    "description": "Missing required columns",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Required column 'npi-id' is missing from column mappings",
                          "field": "columns"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/audience/lookalike": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Create a new Lookalike audience",
        "description": "Creates a new Lookalike audience with the provided source audience IDs, geo-location details, and audience size.\n \n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| audienceName `[required]` | String | Name of the retargeted audience |\n| sourceAudienceIds `[required]` | String | Comma-separated string of source audience IDs used to create the lookalike audience |\n| geoLocationDetails `[required]` | JSON Object | Geographical targeting information for the lookalike. |\n| audienceSize `[required]` | Integer | Size of the lookalike audience ranging from 1 to 10. This will be inversely proportional to similarity levels |\n",
        "operationId": "createLookalikeAudience",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookalikeAudienceRequest"
              },
              "examples": {
                "Request body for lookalike audience with minimal location related fields": {
                  "description": "Request body for lookalike audience with minimal location related fields",
                  "value": {
                    "audienceName": "Test Lookalike Audience",
                    "sourceAudienceIds": "12345,67890",
                    "audienceSize": 5,
                    "countryIds": "1",
                    "stateIds": "10,20,30"
                  }
                },
                "Request body for lookalike audience with all location related fields": {
                  "description": "Request body for lookalike audience with all location related fields",
                  "value": {
                    "audienceName": "Test Lookalike Audience with Full Geo",
                    "sourceAudienceIds": "12345",
                    "audienceSize": 3,
                    "countryIds": "1",
                    "stateIds": "10,20",
                    "cityIds": "100,200,300",
                    "countyIds": "50,60",
                    "senateDistrictIds": "1,2,3",
                    "houseDistrictIds": "10,20",
                    "congressionalDistrictIds": "5,6,7"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceCreationSuccess"
                },
                "examples": {
                  "Successful creation of Lookalike Audience": {
                    "description": "Successful creation of Lookalike Audience",
                    "value": {
                      "success": true,
                      "data": {
                        "audienceId": 1140586,
                        "message": "Test Lookalike Audience audience created successfully"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "Non Advertiser user accessing the API": {
                    "description": "Non Advertiser user accessing the API",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "User is not allowed to access this API. Only Advertiser users can access this API."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "When source audience IDs are invalid (not matched audiences)": {
                    "description": "When source audience IDs are invalid (not matched audiences)",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Please provide valid matched audience ids."
                        }
                      ]
                    }
                  },
                  "When country IDs are invalid": {
                    "description": "When country IDs are invalid",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Please provide valid country ids."
                        }
                      ]
                    }
                  },
                  "When state IDs are invalid": {
                    "description": "When state IDs are invalid",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Please provide valid state ids."
                        }
                      ]
                    }
                  },
                  "When congressional district IDs are invalid": {
                    "description": "When congressional district IDs are invalid",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Please provide valid congressional district ids."
                        }
                      ]
                    }
                  },
                  "When City IDs are invalid": {
                    "description": "When City IDs are invalid",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Please provide valid city ids."
                        }
                      ]
                    }
                  },
                  "When house district IDs are invalid": {
                    "description": "When house district IDs are invalid",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Please provide valid house district ids."
                        }
                      ]
                    }
                  },
                  "When senate district IDs are invalid": {
                    "description": "When senate district IDs are invalid",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Please provide valid senate district ids."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/audience/list": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "This API gives the detailed list of audiences and insights details.",
        "description": "This API provides the detailed list of audiences based on the search request parameters. It supports filtering by audience IDs, audience type IDs, audience subtype IDs, OW IDs, and status IDs. The response includes pagination and sorting options.",
        "operationId": "getAudienceList",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "description": "Search request containing filters and pagination parameters for audience listing",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceSearchRequest"
              },
              "examples": {
                "Basic audience search request": {
                  "description": "Example request with common search parameters",
                  "value": {
                    "audienceIds": [
                      1003879,
                      1003880
                    ],
                    "audienceTypeIds": [
                      1,
                      2
                    ],
                    "audienceSubtypeIds": [
                      3,
                      4
                    ],
                    "owIds": [
                      12345,
                      67890
                    ],
                    "audienceStatusIds": [
                      1,
                      2
                    ],
                    "includeGenericAudience": true,
                    "audienceTypeIdsWithAllSubtypes": [
                      9
                    ],
                    "pageNo": 1,
                    "noOfEntries": 20,
                    "sortBy": "audienceName",
                    "searchFields": [
                      "test audience",
                      123456
                    ]
                  }
                },
                "Minimal search request": {
                  "description": "Example request with no filters, only pagination",
                  "value": {
                    "pageNumber": 1,
                    "pageSize": 20
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceListDocs"
                },
                "examples": {
                  "AudienceResponseExample": {
                    "description": "AudienceResponseExample",
                    "value": {
                      "success": true,
                      "data": {
                        "totalRecords": 16,
                        "filteredRecords": 2,
                        "audienceList": [
                          {
                            "audienceId": 1142057,
                            "audienceName": "asdf",
                            "audienceStatusId": 3,
                            "createdAt": 1755598239000,
                            "uniques": 0,
                            "cpm": 0.07,
                            "audienceTypeId": 1,
                            "audienceSubtypeId": 2,
                            "verticalId": 10,
                            "organizationName": "devaldhealthcare",
                            "isEditAccess": true,
                            "isApprovalAccess": false,
                            "rejectionReason": "Invalid data format",
                            "includedCampaignList": [
                              101,
                              102,
                              103
                            ],
                            "excludedCampaignList": [
                              201,
                              202
                            ],
                            "runningCampaignCount": 3,
                            "pendingCampaignCount": 1,
                            "pausedCampaignCount": 0,
                            "expiredCampaignCount": 0,
                            "matchRate": 59.17,
                            "fileTotalCount": 10000,
                            "s3FileName": "1751006475705_Sample_File.csv",
                            "insightId": 1585,
                            "insightStatusId": 2,
                            "dataPartnerId": 1
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid pagination parameters": {
                    "description": "Error when page size is negative or page number is invalid",
                    "value": {
                      "success": false,
                      "error": {
                        "message": "Invalid page size"
                      }
                    }
                  },
                  "Invalid status ID": {
                    "description": "Error when provided status ID is not in the allowed status list",
                    "value": {
                      "success": false,
                      "error": {
                        "message": "Invalid status ID: 99",
                        "field": "statusIds"
                      }
                    }
                  },
                  "Invalid audience type ID": {
                    "description": "Error when provided audience type ID is not in the allowed audience type list",
                    "value": {
                      "success": false,
                      "error": {
                        "message": "Invalid audience type ID: 15",
                        "field": "audienceTypeIds"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/audience/insights/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "This API generate insights for the given audience id(s)",
        "description": "This API generate insights for match audience. The audience IDs are provided in the request body.",
        "operationId": "generateInsightsForMatchedAudience",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "description": "Request body containing audience IDs for insights generation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateMatchAudienceInsightsReportRequest"
              },
              "examples": {
                "Generate Insights Request": {
                  "description": "Generate Insights Request",
                  "value": {
                    "audienceIds": [
                      12345,
                      54321,
                      1233
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateInsightsDocs"
                },
                "examples": {
                  "Successful Insights creation": {
                    "description": "Successful Insights creation",
                    "value": {
                      "success": true,
                      "data": {
                        "invalidSourceIds": [
                          1233
                        ],
                        "insightsData": [
                          {
                            "id": 1003,
                            "typeId": 1,
                            "statusId": 1,
                            "sourceName": "Audience - 1",
                            "name": "Audience - 1_insights",
                            "sourceId": 12345,
                            "createdAt": 1689155409179
                          },
                          {
                            "id": 1100,
                            "typeId": 1,
                            "statusId": 1,
                            "sourceName": "audience 2",
                            "name": "audience 2_insights",
                            "sourceId": 54321,
                            "createdAt": 1689155409179
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Unprocessable Entity422 error message": {
                    "description": "Unprocessable Entity422 error message",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "No Audience ids provided"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/audience/ict": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Create ICT audience with optional extended audiences",
        "description": "API endpoint for creating ICT (Integrated Care Team) audiences.\nCreates a primary ICT audience and optionally creates extended audiences\nbased on different audience subtypes. The audienceRequest and file are sent\nas binary multipart/form-data.\n\n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n    | audienceName `[required]` | String | Name of the ICT audience to be created. Max length 255. |\n    | dataPartnerId `[required]` | Integer | ID of the data partner associated with the audience. |\n    | audienceSubtypeId `[required]` | Short | Primary audience subtype ID for ICT audience (e.g., 3 for HCP, 4 for Nurse). |\n    | extensionAudienceSubtypeIds `[required]` | List of Short | List of subtype IDs for creating extended audiences. |\n    | columnMappings `[required]` | List of Objects | Mappings of file columns to expected data formats. Each object contains `columnId`, `fileColumnName`, and optional `dataFormatId`. |\n    | fileRowCount `[required]` | Integer | Number of rows in the uploaded file. |\n    | fileColumnCount `[required]` | Integer | Number of columns in the uploaded file. |\n    | columnCombinationId `[required]` | Integer | ID representing the combination of columns used for matching. |\n",
        "operationId": "createICTAudience",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "example": 1,
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "description": "Multipart form data with audienceRequest and XLSX/CSV file. Please see the structure of audienceRequest below:",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ICTAudienceUploadSchema"
              },
              "examples": {
                "Sample audienceRequest object for ICT Audience Creation": {
                  "description": "Sample audienceRequest object for ICT Audience Creation",
                  "value": {
                    "audienceRequest": "{\"audienceName\":\"Sample xyz\",\"fileRowCount\":5,\"fileColumnCount\":10,\"columnMappings\":[{\"columnId\":18,\"fileColumnName\":\"npi-id\",\"dataFormatId\":null},{\"columnId\":2,\"fileColumnName\":\"email\",\"dataFormatId\":1},{\"columnId\":3,\"fileColumnName\":\"phone-sha256\",\"dataFormatId\":4}],\"dataPartnerId\":7,\"columnCombinationId\":32,\"audienceSubtypeId\":3,\"extensionAudienceSubtypeIds\":[4,5]}",
                    "file": "(binary file)"
                  }
                }
              },
              "encoding": {
                "audienceRequest": {
                  "contentType": "application/json"
                },
                "file": {
                  "contentType": "application/octet-stream"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ICT audience created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICTAudienceCreationResponseDocs"
                },
                "examples": {
                  "Successful creation": {
                    "description": "Successful creation",
                    "value": {
                      "success": true,
                      "data": {
                        "audienceId": 12345,
                        "extensionAudienceIds": [
                          12346,
                          12347
                        ],
                        "message": "Sample xyz and 2 extended audiences created successfully"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - When mandatory parameters are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Missing audience subtype ID": {
                    "description": "Missing audience subtype ID",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Audience subtype ID is required",
                          "field": "audienceSubtypeId"
                        }
                      ]
                    }
                  },
                  "Missing data partner ID": {
                    "description": "Missing data partner ID",
[...]
