{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "1.0.0",
    "description": "MCP Finance API Specification",
    "contact": {
      "name": "IQM Support",
      "url": "https://iqm.com/contact/",
      "email": "support@iqm.com"
    }
  },
  "servers": [
    {
      "url": "https://api.iqm.com",
      "description": "IQM API"
    }
  ],
  "tags": [
    {
      "name": "MCP",
      "description": "MCP API endpoints"
    }
  ],
  "paths": {
    "/api/v3/fa/customer/payment/{paymentId}": {
      "put": {
        "tags": [
          "MCP"
        ],
        "summary": "Edit Payment of customer",
        "description": "Updates an existing payment for a customer. Consumes multipart/form-data.",
        "operationId": "updatePayment",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "Payment id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentMultipartRequest",
                "required": [
                  "owId",
                  "paymentAmount",
                  "paymentDate",
                  "paymentMode",
                  "paymentType",
                  "transactionId"
                ]
              },
              "example": {
                "owId": 200485,
                "paymentAmount": 5000,
                "paymentDate": "2021-09-16",
                "paymentMode": 1,
                "transactionId": "T-1234567",
                "paymentProof": "<file>",
                "paymentType": 2,
                "invoiceId": 33
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Payment updated Successfully."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/paypal/payment": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Payment with PayPal",
        "description": "This API creates a PayPal payment and returns the PayPal approval URL.\nThe API:\n1) reads logged-in workspace OW ID from header,\n2) validates payment type/invoice details,\n3) creates PayPal payment request, and\n4) returns approval URL for user redirection.\n",
        "operationId": "payment",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerPaymentRequestVO"
              },
              "examples": {
                "PayPal Payment Request": {
                  "description": "PayPal Payment Request",
                  "value": {
                    "paymentAmount": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "PayPal payment URL generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "examples": {
                  "Success Response": {
                    "description": "Success Response",
                    "value": {
                      "success": true,
                      "data": "https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-3YM2956846765604B"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/payment/email-receipt/{owId}/{paymentId}": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Email Payment Receipt",
        "description": "Sends the payment receipt via email to the customer.",
        "operationId": "emailInvoice",
        "parameters": [
          {
            "name": "owId",
            "in": "path",
            "description": "Customer owId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "paymentId",
            "in": "path",
            "description": "Payment id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Payment receipt e-mail sent successfully."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/payment/add-fund": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Add Payment from Organization App",
        "description": "Adds a payment as fund from the organization app. Consumes multipart/form-data.",
        "operationId": "addPaymentFromOrganization",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AddPaymentFromOrganizationMultipartRequest",
                "required": [
                  "paymentAmount",
                  "paymentMode"
                ]
              },
              "example": {
                "paymentAmount": 10000,
                "paymentMode": 1,
                "paymentProof": "<file>",
                "bankName": "ICICI Bank"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Payment Successful."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/pay-invoice": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Mark Invoice As Paid",
        "description": "Records a payment against the specified invoice. Supports payment as funds or via configured payment methods.",
        "operationId": "payInvoice",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PayInvoiceMultipartRequest",
                "required": [
                  "invoiceId",
                  "isCustomerRequest",
                  "owId",
                  "paymentAmount",
                  "paymentType"
                ]
              },
              "example": {
                "owId": 200485,
                "invoiceId": 32,
                "paymentAmount": 100,
                "paymentType": 1,
                "isCustomerRequest": true,
                "paymentDate": "2025-09-28",
                "paymentMode": 2,
                "transactionId": "TRX-12345",
                "bankName": "JP Morgan",
                "paymentProof": "<binary file>"
              }
            }
          },
          "required": true
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity (WebDAV) (RFC 4918)",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invoice status is not in Processing, Unpaid and Partially Paid state"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Payment added Successfully."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/organization/margin-settings": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "This API is used to get margin settings of the workspace",
        "description": "This API can be used by workspace organization users to get margin related settings.\nFor example, workspace can view default margin which would be applied on newly onboarded advertiser.",
        "operationId": "getMarginSettings",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarginSettingsResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "totalRecords": 2,
                    "data": [
                      {
                        "marginTypeId": 1,
                        "marginType": "Gross Margin",
                        "marginValue": 20
                      }
                    ],
                    "filteredRecords": 1
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "User is not allowed to access this api"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "This API is used to update margin settings of the workspace",
        "description": "This API can be used by workspace organization users to update margin related settings.\nFor example, workspace can set default margin and it will applied on newly onboarded advertiser.\n\n---\n\n\n**Request Body Details:**\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| marginTypeId | Integer | Margin type id. 1 - Gross margin. |\n| marginValue | Integer | Margin value. It should be between 1 to 99. |\n",
        "operationId": "updateMarginSettings",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarginDetailRequest",
                "required": [
                  "marginTypeId",
                  "marginValue"
                ]
              },
              "examples": {
                "Update gross margin": {
                  "description": "Update gross margin",
                  "value": {
                    "marginTypeId": 1,
                    "marginValue": 10
                  }
                },
                "Invalid margin type id": {
                  "description": "Invalid margin type id",
                  "value": {
                    "marginTypeId": 2,
                    "marginValue": 10
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Margin settings updated successfully."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "User is not allowed to access this api"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invalid marginTypeId : 2"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/email-invoice/{owId}/{invoiceId}": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Email Invoice",
        "description": "Sends the specified invoice to the customer via email.",
        "operationId": "emailInvoice_1",
        "parameters": [
          {
            "name": "owId",
            "in": "path",
            "description": "Customer owId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "invoiceId",
            "in": "path",
            "description": "Invoice id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Invoice e-mail sent successfully."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/customer/third-party-cost": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Add or Update Third Party Cost",
        "description": "This API allows Workspace (WS) organization users to add or update third-party cost details. The API supports the following scenarios: 1) A WS user setting or updating the default third-party cost for their own workspace, and 2) A WS user setting or updating the third-party cost for an advertiser under the same workspace. If the WS user is setting or updating the cost for self, the owId can be passed as null and will be derived from the logged-in user context. For advertiser-level cost configuration, owId must be provided explicitly. The API validates user access and organization type before processing the request. If a third-party cost already exists for the given owId, the existing cost will be updated; otherwise, a new third-party cost record will be created. Upon successful add or update, the customer configuration is refreshed in Redis and an activity log is generated accordingly.| owId | Integer | OW ID of the workspace or advertiser for which the cost is being added or updated (optional for WS self, required for advertiser). || cost | Double | Third-party cost value to be added or updated (required, range >0 and <=999). |",
        "operationId": "addThirdPartyCost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThirdPartyCostRequestVO",
                "required": [
                  "cost",
                  "owId"
                ]
              },
              "examples": {
                "Add or Update Third Party Cost for Advertiser": {
                  "description": "Add or Update Third Party Cost for Advertiser",
                  "value": {
                    "owId": 123456,
                    "cost": 150
                  }
                },
                "Add or Update Default Third Party Cost for Workspace Self": {
                  "description": "Add or Update Default Third Party Cost for Workspace Self",
                  "value": {
                    "owId": null,
                    "cost": 150
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Third-party cost added or updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseMessage"
                },
                "example": {
                  "success": true,
                  "data": {
                    "message": "3rd party cost added successfully."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid or inaccessible customer ow id passed.",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "User is not allowed to access provided customer details."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/customer/payment/reject/{paymentId}": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Reject Payment",
        "description": "Rejects a customer payment that is currently in processing state.",
        "operationId": "rejectPayment",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "Payment id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerPaymentStatusRequestVO"
              },
              "example": {
                "owId": 200425,
                "actionNote": "Testing"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringDataResponse"
                },
                "example": {
                  "success": true,
                  "data": "Payment rejected Successfully."
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV) (RFC 4918)",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Payment can not be rejected as it is not in processing state"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/customer/payment/refund": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Initiate Refund",
        "description": "Initiates a refund payment for a customer. Consumes multipart/form-data.",
        "operationId": "paymentForRefund",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PaymentForRefundMultipartRequest",
                "required": [
                  "owId",
                  "paymentAmount",
                  "paymentDate",
                  "paymentMode",
                  "refundReason"
                ]
              },
              "example": {
                "owId": 200485,
                "paymentAmount": 5000,
                "paymentDate": "2021-09-16",
                "paymentMode": 1,
                "transactionId": "T-1234567",
                "paymentProof": "<file>"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Refund Initiated."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/customer/payment/cancel/{paymentId}": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Cancel Payment",
        "description": "Cancels a payment that is in processing state.",
        "operationId": "cancelPayment",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "Payment id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerPaymentStatusRequestVO",
                "required": [
                  "owId"
                ]
              },
              "example": {
                "owId": 200425,
                "actionNote": "Payment done"
              }
            }
          },
          "required": true
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity (WebDAV) (RFC 4918)",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Payment can not be cancelled as it is not in processing state"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Payment cancelled Successfully."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/customer/payment/approve/{paymentId}": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Approve Payment",
        "description": "Approves a pending payment for a customer.",
        "operationId": "approvePayment",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "Payment id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerPaymentStatusRequestVO",
                "required": [
                  "owId"
                ]
              },
              "example": {
                "owId": 200485,
                "actionNote": "Payment paid partially"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Payment approved Successfully."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/customer/payment/approve-refund/{paymentId}": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Approve Refund",
        "description": "Approves a pending refund for a customer.",
        "operationId": "approveRefund",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "Payment id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ApproveRefundMultipartRequest",
                "required": [
                  "owId"
                ]
              },
              "example": {
                "owId": 200425,
                "paymentProof": "<file>"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Refund successful."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/customer/payment/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Add Payment for customer",
        "description": "Adds a new payment for a customer. Consumes multipart/form-data.",
        "operationId": "addPayment",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AddPaymentMultipartRequest",
                "required": [
                  "owId",
                  "paymentAmount",
                  "paymentDate",
                  "paymentMode",
                  "paymentType",
                  "transactionId"
                ]
              },
              "example": {
                "owId": 200485,
                "paymentAmount": 5000,
                "paymentDate": "2021-09-16",
                "paymentMode": 1,
                "transactionId": "T-1234567",
                "paymentProof": "<file>",
                "paymentType": 2,
                "invoiceId": 1
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Payment added Successfully."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/customer/edit-margin": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "This API is used to edit customer or bid shading margin details based on margin type id",
        "description": "Edits customer or bid shading margin details based on the specified margin type ID. Updates the default margin and applies it to campaign-level margins.",
        "operationId": "editCustomerMargin",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignMarginInternalRequestVO",
                "required": [
                  "marginTypeId",
                  "marginValue",
                  "owId"
                ]
              },
              "example": {
                "owId": 202318,
                "marginTypeId": 1,
                "marginValue": 15
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/customer/credit/revoke": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Revoke Credit offered to Customer",
        "description": "Allows a workspace user to revoke a previously offered credit to a customer. The credit must be in 'Unclaimed' state.",
        "operationId": "revokeOfferedCreditToCustomer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerCreditRequestVO",
                "required": [
                  "creditId",
                  "owId"
                ]
              },
              "example": {
                "owId": 54,
                "creditId": 2
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Credits revoked Successfully."
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV) (RFC 4918)",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Credit is not revoked for provided customer."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/customer/credit/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Add Credit to Customer",
        "description": "Allows a workspace user to offer credit to a customer organization under their workspace.",
        "operationId": "addCreditToCustomer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreditRequestVO",
                "required": [
                  "creditAmount",
                  "owId"
                ]
              },
              "example": {
                "owId": 23,
                "creditAmount": 5000
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Credits offered Successfully."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "User is not allowed to access provided customer"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/customer/ad-serving-cost": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Add Ad Serving Cost",
        "description": "This API allows super organization users to add ad serving costs for a specific customer. The API validates the user's access and updates the customer configuration accordingly.| owId              | Integer | Customer's ow id for whom the cost is being added (required). || imageCreativeCost | Double  | Ad serving cost for iqm hosted image creatives (required).    || videoCreativeCost | Double  | Ad serving cost for iqm hosted video creatives (required).    || audioCreativeCost | Double  | Ad serving cost for iqm hosted audio creatives (required).    || html5CreativeCost | Double  | Ad serving cost for iqm hosted html5 creatives (required).    |",
        "operationId": "addAdServingCost",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdServingCostRequestVO"
              },
              "examples": {
                "Add Ad Serving Cost Request": {
                  "description": "Add Ad Serving Cost Request",
                  "value": {
                    "owId": 123456,
                    "imageCreativeCost": 50,
                    "videoCreativeCost": 100,
                    "audioCreativeCost": 75,
                    "html5CreativeCost": 85
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ad serving cost added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseMessage"
                },
                "example": {
                  "success": true,
                  "data": {
                    "message": "Ad serving cost added successfully."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid/Inaccessible customer ow id passed.",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "User is not allowed to access provided customer details."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/credit/claim": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Claim offered credits",
        "description": "Allows a customer organization to claim credits that have been offered to them. The credit must be in 'Unclaimed' state.",
        "operationId": "claimCredit",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditClaimRequestVO",
                "required": [
                  "address",
                  "businessName",
                  "contactPersonEmail",
                  "contactPersonName",
                  "creditId",
                  "customerName",
                  "incorporationPlace"
                ]
              },
              "example": {
                "creditId": 4,
                "customerName": "JP test ",
                "businessName": "JP test org3",
                "taxId": "123456",
                "contactPersonName": "JP",
                "contactPersonEmail": "jinesh.p+nonihpcust2@iqm.com",
                "incorporationPlace": "Gujarat, India",
                "address": "A-123, XYZ Complex, Ahmedabad, Gujarat, India - 380059"
              }
            }
          },
          "required": true
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity (WebDAV) (RFC 4918)",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Credits can not be claimed."
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Credits claimed."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/payment/comment": {
      "patch": {
        "tags": [
          "MCP"
        ],
        "summary": "Add/Edit payment comment",
        "description": "Adds or updates a comment against a specific payment transaction.",
        "operationId": "addOrUpdateCommentAgainstPayment",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentCommentRequestVO",
                "required": [
                  "comment",
                  "owId",
                  "paymentId"
                ]
              },
              "example": {
                "owId": 200485,
                "paymentId": 123,
                "comment": "Payment verified",
                "customerRequest": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Comment saved successfully."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/invoice-settings/{invoiceId}": {
      "patch": {
        "tags": [
          "MCP"
        ],
        "summary": "Save/Update Invoice Settings",
        "description": "Updates the invoice settings for the logged-in organization workspace, including company details, payment terms, and payment methods. Note: the 'invoiceTaxData' field in the request body is accepted but not persisted by this endpoint.",
        "operationId": "updateInvoiceSettingsDetailsForOrganization",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "Invoice template ID from the /ua/invoice API. This is not a billing invoice ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "isWhiteLabel",
            "in": "query",
            "description": "Default false. True when request is from organization white-label settings",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditInvoiceDetailVO",
                "required": [
                  "invoiceId",
                  "owId"
                ]
              },
              "example": {
                "invoiceTitle": "The Alchemist",
                "invoiceCompanyAddress": "42, 6th Avenue, New york, NY",
                "email": "shraddha.p+alchemist@iqm.com",
                "website": "www.alchemist.com",
                "invoiceDescription": "Dear Customer, Greetings from The Alchemist, we are writing to provice you an electronic invoice for your use of services.",
                "termsAndConditions": "Please make the payment in 30 days or your account might be put on hold",
                "paymentTerm": "30",
                "invoiceFooter": "The Alchemist | 12.234.56.789 | USA",
                "paypalAccountId": "thealchemistfinance@paypal",
                "chequeCompanyName": "The Alchemist Company",
                "chequeCompanyAddress": "45, Fifth Avenue, NY, USA",
                "wireTransferCompanyName": "The Alchemist",
                "bankName": "JP Morgan Chase Bank",
                "accountNumber": "670669295",
                "bankAddress": "498 7th Avenue New York NY",
                "companyTaxId": "202130INGST",
                "companyTaxName": "GSTIN"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceUpdateResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "invoiceId": 1,
                    "message": "Invoice details updated successfully"
                  }
                }
              }
            }
          },
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invoice with the provided ID does not exists"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV) (RFC 4918)",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Invoice does not belong to the logged in organization workspace"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/invoice-cancel/{invoiceId}": {
      "patch": {
        "tags": [
          "MCP"
        ],
        "summary": "Cancel Invoice",
        "description": "Cancels or rejects a pending/unpaid invoice with an action note explaining the reason.",
        "operationId": "cancelInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "Invoice id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceStatusUpdateVO",
                "required": [
                  "actionNote"
                ]
              },
              "example": {
                "actionNote": "cancelling invoice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity (WebDAV) (RFC 4918)",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Only Pending or Un-Paid invoices can be rejected"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Invoice with the provided ID rejected successfully"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/invoice-approve/{invoiceId}": {
      "patch": {
        "tags": [
          "MCP"
        ],
        "summary": "Approve Invoice",
        "description": "Approves a pending invoice, changing its status to unpaid and notifying the parent organization.",
        "operationId": "approveInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "Invoice id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceStatusUpdateVO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "Invoice with the provided ID approved successfully"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV) (RFC 4918)",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Only Pending status invoices can be approved"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/customer/{customerOwId}/third-party-cost/disable": {
      "patch": {
        "tags": [
          "MCP"
        ],
        "summary": "Disable Third Party Cost",
        "description": "This API allows Workspace (WS) organization users to disable an existing third-party cost configuration. The API supports the following scenarios: 1) A WS user disabling the default third-party cost configured for their own workspace, and 2) A WS user disabling the third-party cost configured for an advertiser under the same workspace. The customerOwId path parameter represents the workspace or advertiser for which the cost needs to be disabled. The API validates user access, workspace ownership, and ensures that a third-party cost configuration exists for the given customer before proceeding. If a valid configuration is found, the third-party cost is marked as inactive and cost is set as null in the database. Upon successful disablement, the updated configuration is refreshed in Redis and an activity log entry is generated accordingly.| customerOwId | Integer | OW ID of the workspace or advertiser for which the third-party cost is being disabled (required). |",
        "operationId": "disableThirdPartyCost",
        "parameters": [
          {
            "name": "customerOwId",
            "in": "path",
            "description": "Customer organization workspace ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Third-party cost disabled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseMessage"
                },
                "example": {
                  "success": true,
                  "data": {
                    "message": "3rd party cost disabled successfully."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid or inaccessible customer ow id passed.",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "User is not allowed to access provided customer details."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/customer/{customerOwId}/pg-fees": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "This API will provide customer PG Fees details",
        "description": "Fetches PG (Programmatic Guaranteed) fees details for a customer organization including campaign fees and workspace share.",
        "operationId": "getPgFeesDetails",
        "parameters": [
          {
            "name": "customerOwId",
            "in": "path",
            "description": "Organization Workspace Id whose PG fees detail needs to be fetched",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PgFeesDetailsResponse"
                },
                "examples": {
                  "Response for Workspace OwId": {
                    "description": "Response for Workspace OwId",
                    "value": {
                      "success": true,
                      "data": {
                        "organizationPgFeesDetails": {
                          "pgCampaignFees": 10,
                          "pgWorkspaceShare": 15
                        }
                      }
                    }
                  },
                  "Response for Advertiser OwId": {
                    "description": "Response for Advertiser OwId",
                    "value": {
                      "success": true,
                      "data": {
                        "organizationPgFeesDetails": {
                          "pgWorkspaceShare": 10
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "PG Feed Details was not found for the given customer owId"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "MCP"
        ],
        "summary": "This API is used to edit customer PG Fees details based on given customer owId",
        "description": "Edits PG (Programmatic Guaranteed) fees details for a customer organization based on the given customer owId.",
        "operationId": "editPgFeesDetails",
        "parameters": [
          {
            "name": "customerOwId",
            "in": "path",
            "description": "Customer organization workspace ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditPgFeesRequestVO",
                "required": [
                  "customerOwId"
                ]
              },
              "example": {
                "owId": 202318,
                "pgCampaignFees": 10,
                "pgWorkspaceShare": 15
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                },
                "example": {
                  "success": true,
                  "data": "PG Fees details updated Successfully."
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/customer/{customerOwId}/insight-fees": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Get insight fees details",
        "description": "Fetches insight fees details for a customer. If 'type' is provided, fetches for that specific report type; otherwise, fetches for all types.\n\n**Available Categories and Verticals:**\n- **vld** (Voter Level Data): Available for POLITICAL vertical\n- **pld** (Publisher Level Data): Available for HEALTHCARE vertical\n- **sls** (Script Lift Study): Available for HEALTHCARE vertical\n- **aqs** (Ad Quality Suite): Available for HEALTHCARE vertical\n- **ict** (ICT): Available for HEALTHCARE vertical\n- **nld** (NLD): Available for both POLITICAL and HEALTHCARE verticals\n",
        "operationId": "getInsightFees",
        "parameters": [
          {
            "name": "customerOwId",
            "in": "path",
            "description": "Customer OW ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Insight report type (optional). Valid values: vld, pld, sls, aqs, ict, nld. If not provided, returns all applicable types for the customer's vertical.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightFeesResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "owId": 201427,
                    "categories": {
                      "nld": {
                        "rate": 5.5,
                        "enabled": true,
                        "markupType": "Percentage",
                        "markupTypeId": 2,
                        "markupValue": 55.5
                      },
                      "ict": {
                        "rate": 5.5,
                        "enabled": true,
                        "markupType": "Percentage",
                        "markupTypeId": 2,
                        "markupValue": 55.5
                      },
                      "pld": {
                        "rate": 5.5,
                        "enabled": true,
                        "markupType": "Percentage",
                        "markupTypeId": 2,
                        "markupValue": 55.5
                      },
                      "vld": {
                        "rate": 5.5,
                        "enabled": true,
                        "markupType": "Percentage",
                        "markupTypeId": 2,
                        "markupValue": 55.5
                      },
                      "sls": {
                        "rate": 5.5,
                        "enabled": true,
                        "markupType": "Percentage",
                        "markupTypeId": 2,
                        "markupValue": 55.5
                      },
                      "aqs": {
                        "rate": 5.5,
                        "enabled": true,
                        "markupType": "Percentage",
                        "markupTypeId": 2,
                        "markupValue": 55.5
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "MCP"
        ],
        "summary": "Update insight fees details",
        "description": "Update insight fees for a specific category (aqs, pld, vld, ict, nld) for a customer.",
        "operationId": "updateInsightFees",
        "parameters": [
          {
            "name": "customerOwId",
            "in": "path",
            "description": "Customer OW ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInsightFeesRequest"
              },
              "example": {
                "category": "pld",
                "rate": 11,
                "enabled": true,
                "markupType": "Percentage",
                "markupTypeId": 2,
                "markupValue": 55.5
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightFeesUpdateResponse"
                },
                "examples": {
                  "Rate updated successfully for workspace customer by super user": {
                    "description": "Rate updated successfully for workspace customer by super user",
                    "value": {
                      "success": true,
                      "data": {
                        "id": 1,
                        "message": "Rate updated successfully. The new rate applies only to newly created reports"
                      }
                    }
                  },
                  "Details enabled for advertiser customer by super user": {
                    "description": "Details enabled for advertiser customer by super user",
                    "value": {
                      "success": true,
                      "data": {
                        "id": 6,
                        "message": "Insights enabled successfully."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "Insights access is disabled from super for advertiser": {
                    "description": "Insights access is disabled from super for advertiser",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "The insights report access is disabled and fees can't be updated"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fa/customer/dv-ivt": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Fetch DV-IVT free segments enabled/disabled flag",
        "description": "This API can be used by super organization users to fetch DV-IVT free segments enabled/disabled flag for customer organization ---#### Request Params Detail| **Field** | **Type** | **Description** || --- | --- | --- || customerOwId | Integer | ow id of the customer to update details (required) |",
        "operationId": "getDvIvtFlag",
        "parameters": [
          {
            "name": "customerOwId",
            "in": "query",
            "description": "Customer organization workspace ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDVIVTResponse"
                },
                "examples": {
                  "DV Fraud & IVT segments flag fetched": {
                    "description": "DV Fraud & IVT segments flag fetched",
                    "value": {
                      "success": true,
                      "data": {
                        "customerOwId": 1,
                        "isDvIvtSegmentsEnabled": true
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid/Inaccessible customer ow id passed": {
                    "description": "Invalid/Inaccessible customer ow id passed",
                    "value": {
                      "success": true,
                      "data": {
                        "success": false,
                        "errorObjects": [
                          {
                            "error": "User is not allowed to access provided customer details"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "MCP"
        ],
        "summary": "Update DV-IVT free segments enabled/disabled flag",
        "description": "This API can be used by super organization users to update DV-IVT free segments enabled/disabled flag for customer organization ---#### Request Params Detail| **Field** | **Type** | **Description** || --- | --- | --- || customerOwId | Integer | ow id of the customer to update details (required) || isDvIvtSegmentsEnabled | Boolean | boolean flag to enable and disable free DV-IVT segments for advertiser customer |",
        "operationId": "updateDvIvtFlag",
        "parameters": [
          {
            "name": "customerOwId",
            "in": "query",
            "description": "Customer organization workspace ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "isDvIvtSegmentsEnabled",
            "in": "query",
            "description": "Whether DV IVT segments are enabled for the customer",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDVIVTResponse"
                },
                "examples": {
                  "DV Fraud & IVT segments enabled for free successfully": {
                    "description": "DV Fraud & IVT segments enabled for free successfully",
                    "value": {
                      "success": true,
                      "data": {
                        "customerOwId": 1,
                        "isDvIvtSegmentsEnabled": true,
                        "message": "DV Fraud & IVT segments enabled for free successfully"
[...]
