{
  "openapi": "3.0.1",
  "info": {
    "title": "MCP Planner API Specification",
    "version": "1.0.0",
    "description": "MCP Planner API Specification",
    "contact": {
      "name": "IQM Support",
      "url": "https://iqm.com/contact/",
      "email": "support@iqm.com"
    }
  },
  "servers": [
    {
      "url": "https://api.iqm.com",
      "description": "IQM API"
    }
  ],
  "tags": [
    {
      "name": "MCP",
      "description": "MCP API endpoints"
    }
  ],
  "paths": {
    "/api/v3/plan/political/proposals/{proposalId}": {
      "put": {
        "tags": [
          "MCP"
        ],
        "summary": "API to edit an existing proposal",
        "description": "This API updates a proposal's name, date range, campaign budgeting details, and soft-deletes specified campaigns.",
        "operationId": "editProposal",
        "parameters": [
          {
            "name": "proposalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24"
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id Header",
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditProposalRequest"
              },
              "examples": {
                "Edit proposal request": {
                  "description": "Edit proposal request",
                  "value": {
                    "name": "Updated Proposal Name",
                    "startTime": 1778434118000,
                    "endTime": 1780162118000,
                    "reach": 600000,
                    "impressions": 2500000,
                    "budget": 50000,
                    "frequencyCap": 4,
                    "maxReach": 650000,
                    "maxImpressions": 3000000,
                    "maxBudget": 60000,
                    "cpm": 16.67,
                    "minCpm": 1,
                    "maxCpm": 50,
                    "minImpressions": 100000,
                    "minReach": 50000,
                    "minBudget": 10000,
                    "proposedCampaigns": [
                      {
                        "id": 1,
                        "name": "Proposed Campaign ID",
                        "startTime": 1778434118000,
                        "endTime": 1780162118000,
                        "targetedReach": 300000,
                        "targetedImpressions": 1500000,
                        "budget": 30000,
                        "frequencyCap": 3,
                        "maxTargetedReach": 350000,
                        "maxTargetedImpressions": 2000000,
                        "maxBudget": 35000,
                        "cpm": 20,
                        "minCpm": 1,
                        "maxCpm": 50,
                        "minTargetedImpressions": 50000,
                        "minTargetedReach": 25000,
                        "minBudget": 5000
                      }
                    ],
                    "deletedCampaignIds": [
                      102,
                      103
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Proposal updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseMessageIdResponse"
                },
                "examples": {
                  "Success response": {
                    "description": "Success response",
                    "value": {
                      "success": true,
                      "data": {
                        "id": 42,
                        "message": "Proposal updated successfully."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Non-political vertical",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Forbidden vertical response": {
                    "description": "Forbidden vertical response",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Request for forbidden vertical"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Proposal not found or invalid campaign IDs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Proposal not found": {
                    "description": "Proposal not found",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Proposal with proposal id 42 does not exist",
                          "field": "proposalId"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/plan/political/plans/{id}": {
      "put": {
        "tags": [
          "MCP"
        ],
        "summary": "API to edit a political plan",
        "description": "Updates an existing political plan. Name, details, and targeting are required.",
        "operationId": "editPlan",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24"
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id Header",
            "example": 1
          }
        ],
        "requestBody": {
          "description": "Request body containing the Plan details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanRequest"
              },
              "examples": {
                "Create CVA": {
                  "description": "Create CVA",
                  "value": {
                    "name": "Plan Name",
                    "objectiveId": 3,
                    "totalBudget": 120000,
                    "details": {
                      "startDate": 1747195200000,
                      "endDate": 1777089600000,
                      "timezoneId": 29,
                      "frequencyCap": 3
                    },
                    "targeting": {
                      "whiteListedLocation": {
                        "country": 30100001,
                        "states": [
                          30200035
                        ],
                        "dma": [
                          30900026
                        ],
                        "city": [
                          30436781,
                          30436782
                        ],
                        "county": [
                          30318981
                        ],
                        "congressionalDistrict": [
                          30617273
                        ],
                        "stateHouse": [
                          30803564
                        ],
                        "stateSenate": [
                          30718340
                        ],
                        "zipCodes": [
                          10001
                        ]
                      },
                      "blackListedLocation": {
                        "country": 30100001,
                        "states": [
                          30200003
                        ],
                        "dma": [
                          30900139
                        ],
                        "city": [
                          30442811
                        ],
                        "county": [
                          30321244
                        ],
                        "congressionalDistrict": [
                          30601009
                        ],
                        "stateHouse": [
                          30800263
                        ],
                        "stateSenate": [
                          30701056
                        ],
                        "zipCodes": [
                          10002
                        ]
                      },
                      "device": {
                        "deviceTypeIds": [
                          20300004,
                          20300003
                        ],
                        "channelTypeIds": [
                          11,
                          12
                        ]
                      },
                      "inventory": {
                        "openExchange": null,
                        "inventoryGroupIds": [
                          3904859,
                          3897153
                        ]
                      },
                      "creative": {
                        "creativeTypeIds": [
                          11,
                          13
                        ],
                        "isTvAutoBuying": true
                      },
                      "whitelistedAudiences": [
                        1142625,
                        1143191,
                        1156665,
                        1144602,
                        1157452,
                        1159375
                      ],
                      "blacklistedAudiences": [
                        1140931,
                        1142626,
                        1143189,
                        1144600,
                        1157451,
                        1159357,
                        1142239
                      ],
                      "prebidSegments": [
                        32,
                        422
                      ],
                      "audienceSegments": [
                        323,
                        232,
                        12
                      ],
                      "advanced": {
                        "locations": [
                          8,
                          9,
                          10
                        ],
                        "devices": [
                          20300004,
                          20300003
                        ],
                        "inventoryGroupIds": [
                          3904859,
                          3897153
                        ],
                        "audienceTypes": [
                          18,
                          19
                        ],
                        "creatives": [
                          11,
                          13
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ready plan created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanIdResponse"
                },
                "examples": {
                  "Success response": {
                    "description": "Success response",
                    "value": {
                      "success": true,
                      "data": {
                        "planId": 123
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Requesting proposal details for non-political vertical",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Forbidden vertical response": {
                    "description": "Forbidden vertical response",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Request for forbidden vertical"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/plan/political/plans/draft/{id}": {
      "put": {
        "tags": [
          "MCP"
        ],
        "summary": "API to edit a political draft plan",
        "description": "Updates an existing political plan in draft status. Name, details, and targeting are required.",
        "operationId": "editDraftPlan",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24"
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id Header",
            "example": 1
          }
        ],
        "requestBody": {
          "description": "Request body containing the Plan details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanRequest"
              },
              "examples": {
                "Create CVA": {
                  "description": "Create CVA",
                  "value": {
                    "name": "Plan Name",
                    "objectiveId": 3,
                    "totalBudget": 120000,
                    "details": {
                      "startDate": 1747195200000,
                      "endDate": 1777089600000,
                      "timezoneId": 29,
                      "frequencyCap": 3
                    },
                    "targeting": {
                      "whiteListedLocation": {
                        "country": 30100001,
                        "states": [
                          30200035
                        ],
                        "dma": [
                          30900026
                        ],
                        "city": [
                          30436781,
                          30436782
                        ],
                        "county": [
                          30318981
                        ],
                        "congressionalDistrict": [
                          30617273
                        ],
                        "stateHouse": [
                          30803564
                        ],
                        "stateSenate": [
                          30718340
                        ],
                        "zipCodes": [
                          10001
                        ]
                      },
                      "blackListedLocation": {
                        "country": 30100001,
                        "states": [
                          30200003
                        ],
                        "dma": [
                          30900139
                        ],
                        "city": [
                          30442811
                        ],
                        "county": [
                          30321244
                        ],
                        "congressionalDistrict": [
                          30601009
                        ],
                        "stateHouse": [
                          30800263
                        ],
                        "stateSenate": [
                          30701056
                        ],
                        "zipCodes": [
                          10002
                        ]
                      },
                      "device": {
                        "deviceTypeIds": [
                          20300004,
                          20300003
                        ],
                        "channelTypeIds": [
                          11,
                          12
                        ]
                      },
                      "inventory": {
                        "openExchange": null,
                        "inventoryGroupIds": [
                          3904859,
                          3897153
                        ]
                      },
                      "creative": {
                        "creativeTypeIds": [
                          11,
                          13
                        ],
                        "isTvAutoBuying": true
                      },
                      "whitelistedAudiences": [
                        1142625,
                        1143191,
                        1156665,
                        1144602,
                        1157452,
                        1159375
                      ],
                      "blacklistedAudiences": [
                        1140931,
                        1142626,
                        1143189,
                        1144600,
                        1157451,
                        1159357,
                        1142239
                      ],
                      "prebidSegments": [
                        32,
                        422
                      ],
                      "audienceSegments": [
                        323,
                        232,
                        12
                      ],
                      "advanced": {
                        "locations": [
                          8,
                          9,
                          10
                        ],
                        "devices": [
                          20300004,
                          20300003
                        ],
                        "inventoryGroupIds": [
                          3904859,
                          3897153
                        ],
                        "audienceTypes": [
                          18,
                          19
                        ],
                        "creatives": [
                          11,
                          13
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ready plan created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanIdResponse"
                },
                "examples": {
                  "Success response": {
                    "description": "Success response",
                    "value": {
                      "success": true,
                      "data": {
                        "planId": 123
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Requesting proposal details for non-political vertical",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Forbidden vertical response": {
                    "description": "Forbidden vertical response",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Request for forbidden vertical"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/plan/hcp/proposal/{planId}": {
      "put": {
        "tags": [
          "MCP"
        ],
        "summary": "API to edit plan for the HCP planner",
        "description": "Validates user access, retrieves vertical type, and updates the existing HCP proposal with\nthe details in the request body. The request body's statusId must exactly equal the\nproposal's current database status, or the request is rejected -- see\nHcpPlannerRequestVO.statusId.\n",
        "operationId": "editProposal_1",
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24"
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id Header",
            "example": 1
          }
        ],
        "requestBody": {
          "description": "Request body containing the details of the ready proposal",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HcpPlannerRequestVO"
              },
              "examples": {
                "Edit Plan Request": {
                  "description": "Edit Plan Request",
                  "value": {
                    "id": 123,
                    "name": "Sample HCP Planner Request",
                    "startTime": 1735124399000,
                    "endTime": 1757534400000,
                    "timezoneId": 4,
                    "budgetTypeId": 1,
                    "budget": 75000,
                    "maxBudget": 80000,
                    "reach": 250000,
                    "maxReach": 300000,
                    "impression": 1000000,
                    "maxImpressions": 1200000,
                    "frequencyCap": 5,
                    "frequencyCapTypeId": 1,
                    "npiTypeIds": [
                      3,
                      4
                    ],
                    "audienceBlocks": [
                      {
                        "audienceSelectionMethodId": 1,
                        "speciality": {
                          "specialityIds": [
                            101,
                            102
                          ],
                          "allSpecialitiesSelected": false
                        },
                        "account": {
                          "accountIds": [
                            1,
                            2
                          ],
                          "allAccountsSelected": false
                        },
                        "healthSystem": {
                          "healthSystemIds": [],
                          "allHealthSystemsSelected": true
                        },
                        "title": {
                          "titleIds": [],
                          "allTitlesSelected": true
                        },
                        "accountType": {
                          "accountTypeIds": [],
                          "allAccountTypesSelected": true
                        },
                        "locations": {
                          "countryId": 1,
                          "whiteListedStateIds": [
                            501,
                            502
                          ],
                          "blackListedStateIds": [],
                          "whiteListedCityIds": [],
                          "blackListedCityIds": [],
                          "whiteListedZipcodes": [
                            90210,
                            10001
                          ],
                          "blackListedZipcodes": []
                        },
                        "dataPartners": {
                          "dataPartnerIds": [
                            1,
                            2
                          ],
                          "allDataPartnersSelected": false
                        },
                        "storagePathId": null,
                        "includeAudienceIds": null,
                        "excludeAudienceIds": null
                      },
                      {
                        "audienceSelectionMethodId": 2,
                        "speciality": {
                          "specialityIds": [
                            101,
                            102
                          ],
                          "allSpecialitiesSelected": false
                        },
                        "accounts": null,
                        "locations": {
                          "countryId": 1,
                          "whiteListedStateIds": [
                            501,
                            502
                          ],
                          "blackListedStateIds": [],
                          "whiteListedCityIds": [],
                          "blackListedCityIds": [],
                          "whiteListedZipcodes": [
                            90210,
                            10001
                          ],
                          "blackListedZipcodes": []
                        },
                        "dataPartners": {
                          "dataPartnerIds": [
                            1,
                            2
                          ],
                          "allDataPartnersSelected": false
                        },
                        "storagePathId": 1,
                        "includeAudienceIds": null,
                        "excludeAudienceIds": null
                      },
                      {
                        "audienceSelectionMethodId": 3,
                        "speciality": null,
                        "accounts": null,
                        "locations": null,
                        "dataPartners": null,
                        "storagePathId": null,
                        "includeAudienceIds": [
                          301,
                          302
                        ],
                        "excludeAudienceIds": [
                          401
                        ]
                      }
                    ],
                    "planLevelTargeting": {
                      "devices": {
                        "deviceTypeIds": [
                          1,
                          2
                        ],
                        "allDeviceTypesSelected": false
                      },
                      "channels": {
                        "channelTypeIds": [
                          1,
                          2
                        ],
                        "allChannelTypesSelected": false
                      },
                      "creativeTypes": {
                        "creativeTypeIds": [
                          10,
                          11
                        ],
                        "allCreativeTypesSelected": false,
                        "isTvAutoBuying": true
                      },
                      "inventory": {
                        "openExchanges": {
                          "exchangeIds": [
                            1,
                            2
                          ],
                          "allExchangesSelected": false,
                          "iabCategoryIds": [
                            1,
                            2
                          ],
                          "allIabCategoriesSelected": false
                        },
                        "inventoryGroup": {
                          "inventoryGroupIds": [
                            1,
                            2
                          ],
                          "allInventoryGroupsSelected": false
                        }
                      }
                    },
                    "splitStrategy": [
                      {
                        "splitDimensionTypeId": 1,
                        "selectedValueIds": [
                          10,
                          11
                        ]
                      }
                    ],
                    "campaigns": [
                      {
                        "id": null,
                        "name": "Campaign A",
                        "startTime": 1754942400000,
                        "endTime": 1757534400000,
                        "budget": 37500,
                        "maxBudget": 40000,
                        "mediaCpm": 50,
                        "dataCpm": 15,
                        "reach": 125000,
                        "maxReach": 150000,
                        "impressions": 500000,
                        "maxImpressions": 600000,
                        "isAbm": false,
                        "targeting": {
                          "dataPartnerIds": [
                            1
                          ],
                          "creativeTypeId": 10,
                          "deviceTypeIds": [
                            1
                          ],
                          "npiTypeId": 1,
                          "audienceTypeIds": [
                            1
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Proposal created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseMessageIdResponse"
                },
                "examples": {
                  "Success response": {
                    "description": "Success response",
                    "value": {
                      "success": true,
                      "data": {
                        "message": "Sample proposal updated successfully",
                        "id": 123
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden vertical ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Forbidden vertical response": {
                    "description": "Forbidden vertical response",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Request for forbidden vertical"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Validation error response": {
                    "description": "Validation error response",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Invalid input data",
                          "field": "name"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/plan/proposal/{proposalId}/duplicate": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "API to duplicate proposal",
        "description": "This API duplicates the proposal with the provided proposal id and creates a new proposal with the same details except the name, start time, and end time.",
        "operationId": "createDuplicateProposal",
        "parameters": [
          {
            "name": "proposalId",
            "in": "path",
            "description": "Proposal ID to duplicate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24"
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id Header",
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DuplicateProposalRequestVO"
              },
              "examples": {
                "Duplicate Proposal Request": {
                  "description": "Duplicate Proposal Request",
                  "value": {
                    "proposalName": "Copy of proposal 3",
                    "startTime": 1732023982000,
                    "endTime": 1732053982000
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseDubplicateIdResponse"
                },
                "examples": {
                  "Proposal duplicated successfully": {
                    "description": "Proposal duplicated successfully",
                    "value": {
                      "success": true,
                      "data": {
                        "message": "Proposal duplicated successfully",
                        "proposalId": 189
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/plan/proposal/{proposalId}/campaigns": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "This API initiates the process of generating campaigns for the Ready Proposal",
        "description": "This API validates the proposal details, sets its status to statusId 5 (Processing), then\nasynchronously generates the IO and campaigns. The target proposal must currently have\nstatusId 6 (Ready) or 4 (Failed) -- any other status is rejected with \"Proposal Status is\ninvalid\". On successful completion of the async step, the proposal is transitioned to\nstatusId 1 (Converted) with a real ioId assigned -- this is a one-way transition after\nwhich edit/download/restore operations that require Ready/Failed/Expired status will start\nfailing for this proposal.\n",
        "operationId": "generateIOCampaigns",
        "parameters": [
          {
            "name": "proposalId",
            "in": "path",
            "description": "Unique Identifier for Proposal",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24"
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id Header",
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseMessageResponse"
                },
                "examples": {
                  "Proposal updated successfully": {
                    "description": "Proposal updated successfully",
                    "value": {
                      "success": true,
                      "data": {
                        "message": "Campaign generation is in progress"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/plan/proposal/draft": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "API to create a proposal in draft state.",
        "description": "This API validate the targeting data if provided, insert proposal data into database and create proposal in draft state",
        "operationId": "addDraftProposal",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24"
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id Header",
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftProposalRequestVO"
              },
              "examples": {
                "Proposal Request to create draft": {
                  "description": "Proposal Request to create draft",
                  "value": {
                    "name": "sample_planner",
                    "startTime": 1730658720000,
                    "endTime": 1733250720000,
                    "politicalAdvertiserId": 644,
                    "margin": 10,
                    "location": {
                      "country": 30100001,
                      "states": [
                        30200001,
                        30200002,
                        30200003
                      ],
                      "dma": [
                        30900001,
                        30900002
                      ],
                      "city": [
                        30400001,
                        30400002,
                        30400003
                      ],
                      "county": [
                        30300001,
                        30300002,
                        30300003
                      ],
                      "congressionalDistricts": [
                        30600001
                      ],
                      "stateHouse": [
                        30800001,
                        30800002
                      ],
                      "stateSenate": [
                        30700001,
                        30700002,
                        30700003
                      ],
                      "zipCodes": "167820,78656",
                      "isAdvanceTargeted": true,
                      "locationAdvanceTargeted": [
                        302,
                        304,
                        309
                      ]
                    },
                    "audience": {
                      "audienceSegmentIds": [
                        6387630,
                        6387631,
                        6387632,
                        6387633,
                        6387634
                      ],
                      "isAdvanceTargeted": true
                    },
                    "creative": {
                      "creativeTypeIds": [
                        11,
                        13,
                        14
                      ],
                      "isTvAutoBuying": true
                    },
                    "inventory": {
                      "openExchangeInventory": {
                        "iabCategories": [
                          1,
                          2
                        ],
                        "exchanges": [
                          11,
                          16,
                          19,
                          1
                        ]
                      },
                      "inventoryGroupIds": [
                        134523,
                        134522,
                        134436
                      ],
                      "isAdvanceTargeted": true
                    },
                    "device": {
                      "deviceTypesTargetedIds": [
                        20300001,
                        20300004
                      ],
                      "channelTypesTargetedIds": [],
                      "isAdvanceTargeted": true,
                      "deviceTypesAdvanceTargetedIds": [
                        20300002,
                        20300004
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseMessageIdResponse"
                },
                "examples": {
                  "Proposal added successfully": {
                    "description": "Proposal added successfully",
                    "value": {
                      "success": true,
                      "data": {
                        "id": 11,
                        "message": "sample_planner generated successfully"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/plan/proposal/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "API to create a proposal in ready state.",
        "description": "This API validate the targeting data if provided, insert proposal data into database and create proposal in ready state",
        "operationId": "createProposal",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24"
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id Header",
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProposalRequestVO"
              },
              "examples": {
                "Proposal Request to create proposal": {
                  "description": "Proposal Request to create proposal",
                  "value": {
                    "id": "11",
                    "name": "sample_planner",
                    "startTime": 1730658720000,
                    "endTime": 1733250720000,
                    "politicalAdvertiserId": 644,
                    "margin": 10,
                    "location": {
                      "country": 30100001,
                      "states": [
                        30200001,
                        30200002,
                        30200003
                      ],
                      "dma": [
                        30900001,
                        30900002
                      ],
                      "city": [
                        30400001,
                        30400002,
                        30400003
                      ],
                      "county": [
                        30300001,
                        30300002,
                        30300003
                      ],
                      "congressionalDistricts": [
                        30600001
                      ],
                      "stateHouse": [
                        30800001,
                        30800002
                      ],
                      "stateSenate": [
                        30700001,
                        30700002,
                        30700003
                      ],
                      "zipCodes": "167820,78656",
                      "isAdvanceTargeted": true,
                      "locationAdvanceTargeted": [
                        302,
                        304,
                        309
                      ]
                    },
                    "audience": {
                      "audienceSegmentIds": [
                        6387630,
                        6387631,
                        6387632,
                        6387633,
                        6387634
                      ],
                      "isAdvanceTargeted": true
                    },
                    "creative": {
                      "creativeTypeIds": [
                        11,
                        13,
                        14
                      ],
                      "isTvAutoBuying": true
                    },
                    "inventory": {
                      "openExchangeInventory": {
                        "iabCategories": [
                          1,
                          2
                        ],
                        "exchanges": [
                          11,
                          16,
                          19,
                          1
                        ]
                      },
                      "inventoryGroupIds": [
                        134523,
                        134522,
                        134436
                      ],
                      "isAdvanceTargeted": true
                    },
                    "device": {
                      "deviceTypesTargetedIds": [
                        20300001,
                        20300002,
                        20300002,
                        20300004
                      ],
                      "channelTypesTargetedIds": [],
                      "isAdvanceTargeted": true,
                      "deviceTypesAdvanceTargetedIds": [
                        20300002,
                        20300004
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseMessageIdResponse"
                },
                "examples": {
                  "Proposal added successfully": {
                    "description": "Proposal added successfully",
                    "value": {
                      "success": true,
                      "data": {
                        "id": 11,
                        "message": "sample_planner generated successfully"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/plan/proposal-summary/reach-impressions": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Reach and impressions of proposal",
        "description": "This API provides maximum of reach and impressions for different targeting in proposal based on statistics and historical serving data",
        "operationId": "getReachAndImpressions",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24"
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id Header",
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalSummaryRequestVO"
              },
              "examples": {
                "Request containing all the parameters": {
                  "description": "Request containing all the parameters",
                  "value": {
                    "location": {
                      "country": 30100001,
                      "states": [
                        30200001,
                        30200002,
                        30200003
                      ],
                      "dma": [
                        30900001,
                        30900002
                      ],
                      "city": [
                        30400001,
                        30400002,
                        30400003
                      ],
                      "county": [
                        30300001,
                        30300002,
                        30300003
                      ],
                      "congressionalDistricts": [
                        30600001
                      ],
                      "stateHouse": [
                        30800001,
                        30800002
                      ],
                      "stateSenate": [
                        30700001,
                        30700002,
                        30700003
                      ],
                      "zipCodes": "167820,78656"
                    },
                    "audience": {
                      "audienceSegmentIds": [
                        6387630,
                        6387631,
                        6387632,
                        6387633,
                        6387634
                      ]
                    },
                    "creative": {
                      "creativeTypeIds": [
                        11,
                        13,
                        14
                      ]
                    },
                    "inventory": {
                      "openExchangeInventory": {
                        "iabCategories": [
                          1,
                          2
                        ],
                        "exchanges": [
                          11,
                          16,
                          19,
                          1
                        ]
                      },
                      "inventoryGroupIds": [
                        134523,
                        134522,
                        134436
                      ]
                    },
                    "device": {
                      "deviceTypesTargetedIds": [
                        20300001,
                        20300002,
                        20300002,
                        20300004
                      ],
                      "channelTypesTargetedIds": [
                        11,
                        12
                      ]
                    }
                  }
                },
                "Proposal ID provided to fetch the cached values": {
                  "description": "Proposal ID provided to fetch the cached values",
                  "value": {
                    "proposalId": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success Responses ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImpressionsReachResponse"
                },
                "examples": {
                  "Success Response": {
                    "description": "Success Response",
                    "value": {
                      "success": true,
                      "data": {
                        "impressions": 105409776517,
                        "reach": 210368111
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/plan/proposal-summary/device-type": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Device type data in the proposal summary",
        "description": "This API provides distribution of impressions for different device types targeted in proposal summary",
        "operationId": "getDeviceTypeData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24"
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id Header",
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalSummaryRequestVO"
              },
              "examples": {
                "Request containing all the parameters": {
                  "description": "Request containing all the parameters",
                  "value": {
                    "location": {
                      "country": 30100001,
                      "states": [
                        30200001,
                        30200002,
                        30200003
                      ],
                      "dma": [
                        30900001,
                        30900002
                      ],
                      "city": [
                        30400001,
                        30400002,
                        30400003
                      ],
                      "county": [
                        30300001,
                        30300002,
                        30300003
                      ],
                      "congressionalDistricts": [
                        30600001
                      ],
                      "stateHouse": [
                        30800001,
                        30800002
                      ],
                      "stateSenate": [
                        30700001,
                        30700002,
                        30700003
                      ],
                      "zipCodes": "167820,78656"
                    },
                    "audience": {
                      "audienceSegmentIds": [
                        6387630,
                        6387631,
                        6387632,
                        6387633,
                        6387634
                      ]
                    },
                    "creative": {
                      "creativeTypeIds": [
                        11,
                        13,
                        14
                      ]
                    },
                    "inventory": {
                      "openExchangeInventory": {
                        "iabCategories": [
                          1,
                          2
                        ],
                        "exchanges": [
                          11,
                          16,
                          19,
                          1
                        ]
                      },
                      "inventoryGroupIds": [
                        134523,
                        134522,
                        134436
                      ]
                    },
                    "device": {
                      "deviceTypesTargetedIds": [
                        20300001,
                        20300002,
                        20300002,
                        20300004
                      ],
                      "channelTypesTargetedIds": [
                        11,
                        12
                      ]
                    }
                  }
                },
                "Proposal ID provided to fetch the cached values": {
                  "description": "Proposal ID provided to fetch the cached values",
                  "value": {
                    "proposalId": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success Responses ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceTypeBreakdownResponse"
                },
                "examples": {
                  "Success Response": {
                    "description": "Success Response",
                    "value": {
                      "success": true,
                      "data": {
                        "deviceTypes": [
                          {
                            "device": "Mobile",
                            "percentage": 38.86,
                            "impressions": 21402990540
                          },
                          {
                            "device": "Desktop",
                            "percentage": 11.63,
                            "impressions": 6399597393
                          },
                          {
                            "device": "CTV",
                            "percentage": 47.89,
                            "impressions": 26376959052
                          },
                          {
                            "device": "Tablet",
                            "percentage": 1.63,
                            "impressions": 898221564
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/plan/proposal-summary/channel-type": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Channel type data in the proposal summary",
        "description": "This API provides distribution of impressions for different channel types targeted in proposal summary",
        "operationId": "getChannelTypeData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24"
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id Header",
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalSummaryRequestVO"
              },
              "examples": {
                "Request containing all the parameters": {
                  "description": "Request containing all the parameters",
                  "value": {
                    "location": {
                      "country": 30100001,
                      "states": [
                        30200001,
                        30200002,
                        30200003
                      ],
                      "dma": [
                        30900001,
                        30900002
                      ],
                      "city": [
                        30400001,
                        30400002,
                        30400003
                      ],
                      "county": [
                        30300001,
                        30300002,
                        30300003
                      ],
                      "congressionalDistricts": [
                        30600001
                      ],
                      "stateHouse": [
                        30800001,
                        30800002
                      ],
                      "stateSenate": [
                        30700001,
                        30700002,
                        30700003
                      ],
                      "zipCodes": "167820,78656"
                    },
                    "audience": {
                      "audienceSegmentIds": [
                        6387630,
                        6387631,
                        6387632,
                        6387633,
                        6387634
                      ]
                    },
                    "creative": {
                      "creativeTypeIds": [
                        11,
                        13,
                        14
                      ]
                    },
                    "inventory": {
                      "openExchangeInventory": {
                        "iabCategories": [
                          1,
                          2
                        ],
                        "exchanges": [
                          11,
                          16,
                          19,
                          1
                        ]
                      },
                      "inventoryGroupIds": [
                        134523,
                        134522,
                        134436
                      ]
                    },
                    "device": {
                      "deviceTypesTargetedIds": [
                        20300001,
                        20300002,
                        20300002,
                        20300004
                      ],
                      "channelTypesTargetedIds": [
                        11,
                        12
                      ]
                    }
                  }
                },
                "Proposal ID provided to fetch the cached values": {
                  "description": "Proposal ID provided to fetch the cached values",
                  "value": {
                    "proposalId": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success Responses ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelTypeBreakdownResponse"
                },
                "examples": {
                  "Success Response": {
                    "description": "Success Response",
                    "value": {
                      "success": true,
                      "data": {
                        "channelTypes": [
                          {
                            "channel": "App",
                            "percentage": 22.36,
                            "impressions": 12314443086
                          },
                          {
                            "channel": "Web",
                            "percentage": 29.65,
                            "impressions": 16326324495
                          },
                          {
                            "channel": "CTV",
                            "percentage": 47.89,
                            "impressions": 26376959052
                          },
                          {
                            "channel": "OTT",
                            "percentage": 0.11,
                            "impressions": 60041916
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/plan/proposal-summary/bid-landscape": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Bid Landscape data in the proposal summary",
        "description": "This API provides distribution of impressions vs for different creatives types targeted in proposal summary",
        "operationId": "getBidLandscapeData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24"
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id Header",
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalSummaryRequestVO"
              },
              "examples": {
                "Request containing all the parameters": {
                  "description": "Request containing all the parameters",
                  "value": {
                    "location": {
                      "country": 30100001,
                      "states": [
                        30200001,
                        30200002,
                        30200003
                      ],
                      "dma": [
                        30900001,
                        30900002
                      ],
                      "city": [
                        30400001,
                        30400002,
                        30400003
                      ],
                      "county": [
                        30300001,
                        30300002,
                        30300003
                      ],
                      "congressionalDistricts": [
                        30600001
                      ],
                      "stateHouse": [
                        30800001,
                        30800002
                      ],
                      "stateSenate": [
                        30700001,
                        30700002,
                        30700003
                      ],
                      "zipCodes": "167820,78656"
                    },
                    "audience": {
                      "audienceSegmentIds": [
                        6387630,
                        6387631,
                        6387632,
                        6387633,
                        6387634
                      ]
                    },
                    "creative": {
                      "creativeTypeIds": [
                        11,
                        13,
                        14
                      ]
                    },
                    "inventory": {
                      "openExchangeInventory": {
                        "iabCategories": [
                          1,
                          2
                        ],
                        "exchanges": [
                          11,
                          16,
                          19,
                          1
                        ]
                      },
                      "inventoryGroupIds": [
                        134523,
                        134522,
                        134436
                      ]
                    },
                    "device": {
                      "deviceTypesTargetedIds": [
                        20300001,
                        20300002,
                        20300002,
                        20300004
                      ],
                      "channelTypesTargetedIds": [
                        11,
                        12
                      ]
                    }
                  }
                },
                "Proposal ID provided to fetch the cached values": {
                  "description": "Proposal ID provided to fetch the cached values",
                  "value": {
                    "proposalId": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success Responses ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BidLandscapeResponse"
                },
                "examples": {
                  "Success Response": {
                    "description": "Success Response",
                    "value": {
                      "success": true,
                      "data": {
                        "HTML": [
                          {
                            "percentile": 0,
                            "cpm": 0,
                            "impressions": 0
                          },
                          {
                            "percentile": 10,
                            "cpm": 0.001,
                            "impressions": 2719219
                          },
                          {
                            "percentile": 20,
                            "cpm": 0.01,
                            "impressions": 27192810
                          },
                          {
                            "percentile": 100,
                            "cpm": 3.0072,
                            "impressions": 271029139123
                          }
                        ],
                        "Video": [
                          {
                            "percentile": 0,
                            "cpm": 0,
                            "impressions": 0
                          },
                          {
                            "percentile": 10,
                            "cpm": 0.003,
                            "impressions": 2719219
                          },
                          {
                            "percentile": 20,
                            "cpm": 0.05,
                            "impressions": 27192810
                          },
                          {
                            "percentile": 100,
                            "cpm": 10.372,
                            "impressions": 271029139123
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/plan/political/reach-saturation-graph": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Endpoint to fetch the cross-screen planner graph response based on the request received from the client",
        "description": "This endpoint provides cross-screen planner graph details,\nbased on the targeting and budgeting criteria provided in the input,\nthe graphs are venn-diagram and line graphs for linear and ctv based reach\n",
        "operationId": "getCrossScreenGraph",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24"
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id Header",
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanRequest"
              },
              "examples": {
                "Cross-Screen Graph Request": {
                  "description": "Cross-Screen Graph Request",
                  "value": {
                    "name": "This is an example for request",
                    "objectiveId": 3,
                    "totalBudget": 1000000,
                    "lastVisitedScreen": "graph",
                    "details": {
                      "startDate": 1781244151000,
                      "endDate": 1791244151000,
                      "timezoneId": 29,
                      "frequencyCap": 3
                    },
                    "targeting": {
                      "whiteListedLocation": {
                        "country": 3010001,
                        "states": [
                          2
                        ]
                      },
                      "ageSegments": [
                        6073147,
                        6073145,
                        6073146,
                        6073141,
                        6073144,
                        6073143,
                        6073142
                      ],
                      "genderSegments": [
                        6189394,
                        6189395
                      ],
                      "incomeSegments": [
                        5999450,
                        5999451,
                        5999443,
                        5999448,
                        5999442,
                        5999446,
                        5999447,
                        5999449,
                        5999444,
                        5999445,
                        5999452,
                        5999453
                      ],
                      "ethnicitySegments": [
                        6189388,
                        6189390,
                        6189391,
                        6189389,
                        6189392
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully generated cross-screen planner graph",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrossScreenGraphResponseWrapper"
                },
                "examples": {
                  "Graph Response": {
                    "description": "Graph Response",
                    "value": {
                      "success": true,
                      "data": {
                        "graphId": "89c9639c44f05be2a3aaef9778fe6a24a04f441657172bba680ad66924a403fe",
                        "overview": {
                          "linearTvCpm": 20,
                          "ctvCpm": 7,
                          "grp": 180,
                          "linearTvPercentage": 50
                        },
                        "audienceOverlap": {
                          "population": 16780000,
                          "totalReach": 6820000,
                          "linearTvReach": 4350000,
                          "ctvReach": 3120000,
                          "overlapReach": 650000,
                          "ctvIncrementalReach": 2470000
                        },
                        "reachSaturation": [
                          {
                            "day": 1,
                            "ctvReach": 12,
                            "linearTvReach": 14,
                            "overallReach": 20
                          },
                          {
                            "day": 2,
                            "ctvReach": 24,
                            "linearTvReach": 28,
                            "overallReach": 54
                          },
                          {
                            "day": 3,
                            "ctvReach": 36,
                            "linearTvReach": 32,
                            "overallReach": 66
                          },
                          {
                            "day": 4,
                            "ctvReach": 48,
                            "linearTvReach": 34,
                            "overallReach": 78
                          },
                          {
                            "day": 5,
                            "ctvReach": 60,
                            "linearTvReach": 34,
                            "overallReach": 90
                          },
                          {
                            "day": 6,
                            "ctvReach": 72,
                            "linearTvReach": 34,
                            "overallReach": 112
                          },
                          {
                            "day": 7,
                            "ctvReach": 84,
                            "linearTvReach": 34,
                            "overallReach": 114
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/plan/political/proposals": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "API to fetch political proposal listing",
        "description": "This API retrieves a paginated list of political proposals with comprehensive metadata including budget metrics (reach, impressions, CPM, budget), strategy type, creator details, date ranges, linear TV CPM, and whether new campaigns can still be generated for the proposal. Supports search, filtering by status, and sorting by various fields.",
        "operationId": "getPoliticalProposalListing",
        "parameters": [
          {
            "name": "pageNo",
            "in": "query",
            "description": "Page number for the required data. ",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "noOfEntries",
            "in": "query",
            "description": "The maximum number of returned results per page. ",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "searchField",
            "in": "query",
            "description": "Search the result by provided keyword in the searchField.  Search by proposal name, ID or created by user name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort the result set by specific field. For ascending use plus(+) sign(ascii value '%2B') and for descending use minus(-) sign.  Allowed values - id, name, createdOn, createdBy, startDate, endDate, reach, impressions, cpm, budget",
            "required": false,
            "schema": {
              "type": "string",
              "default": "-id"
            }
          },
          {
            "name": "statusIds",
            "in": "query",
            "description": "Comma-separated list of status IDs to filter proposals. If empty, returns proposals with all statuses.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "planId",
            "in": "query",
            "description": "Plan Id to filter proposals. If empty, returns proposals with all plans.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24"
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id Header",
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of political proposal listing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PoliticalProposalListResponse"
                },
                "examples": {
                  "Success response for political planner": {
                    "description": "Success response for political planner",
                    "value": {
                      "success": true,
                      "data": {
                        "data": [
                          {
                            "id": 2001,
                            "name": "Q1 2026 Digital Campaign",
                            "statusId": 1,
                            "ioId": 1,
                            "createdOn": 1709654400000,
                            "createdByUserId": 5001,
                            "createdBy": "John Smith",
                            "userAvatarUrl": "https://example.com/avatars/john-smith.png",
                            "startDate": 1709654400000,
                            "endDate": 1717430400000,
                            "reach": 500000,
                            "impressions": 2000000,
                            "cpm": 15.5,
                            "budget": 31000,
                            "frequency": 3,
                            "strategyTypeId": 1,
                            "linearTvReach": null,
                            "linearTvImpressions": null,
                            "linearTvBudget": null,
                            "linearTvCpm": null,
                            "campaignGeneratable": true
                          },
                          {
                            "id": 2002,
                            "name": "Voter Engagement Initiative",
                            "statusId": 2,
                            "ioId": null,
                            "createdOn": 1710259200000,
                            "createdByUserId": 5002,
                            "createdBy": "Jane Doe",
                            "userAvatarUrl": "https://example.com/avatars/jane-doe.png",
                            "startDate": 1710259200000,
                            "endDate": 1718640000000,
                            "reach": 750000,
                            "impressions": 3000000,
                            "cpm": 12.75,
                            "budget": 38250,
                            "frequency": 4,
                            "strategyTypeId": 2,
                            "linearTvReach": null,
                            "linearTvImpressions": null,
                            "linearTvBudget": null,
                            "linearTvCpm": null,
                            "campaignGeneratable": true
                          }
                        ],
                        "totalRecords": 45,
                        "filteredRecords": 2,
                        "recordsAggregation": {
                          "totalBudget": 69250
                        }
                      }
                    }
                  },
                  "Success response for cross screen planner": {
                    "description": "Success response for cross screen planner",
                    "value": {
                      "success": true,
                      "data": {
                        "data": [
                          {
                            "id": 2001,
                            "name": "Q1 2026 Digital Campaign",
                            "statusId": 1,
                            "ioId": 1,
                            "createdOn": 1709654400000,
                            "createdByUserId": 5001,
                            "createdBy": "John Smith",
                            "userAvatarUrl": "https://example.com/avatars/john-smith.png",
                            "startDate": 1709654400000,
                            "endDate": 1717430400000,
                            "reach": 500000,
                            "impressions": 2000000,
                            "cpm": 15.5,
                            "budget": 31000,
                            "frequency": 3,
                            "strategyTypeId": 1,
                            "linearTvReach": 232322,
                            "linearTvImpressions": 3245,
                            "linearTvBudget": 23232323,
                            "linearTvCpm": 8.75,
                            "campaignGeneratable": false
                          },
                          {
                            "id": 2002,
                            "name": "Voter Engagement Initiative",
                            "statusId": 2,
                            "ioId": null,
                            "createdOn": 1710259200000,
                            "createdByUserId": 5002,
                            "createdBy": "Jane Doe",
                            "userAvatarUrl": "https://example.com/avatars/jane-doe.png",
                            "startDate": 1710259200000,
                            "endDate": 1718640000000,
                            "reach": 750000,
                            "impressions": 3000000,
                            "cpm": 12.75,
                            "budget": 38250,
                            "frequency": 4,
                            "strategyTypeId": 2,
                            "linearTvReach": 232322,
                            "linearTvImpressions": 3245,
                            "linearTvBudget": 23232323,
                            "linearTvCpm": 9.1,
                            "campaignGeneratable": true
                          }
                        ],
                        "totalRecords": 45,
                        "filteredRecords": 2,
                        "recordsAggregation": {
                          "totalBudget": 69250
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Requesting political proposal listing for non-political vertical",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Forbidden vertical response": {
                    "description": "Forbidden vertical response",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Request for forbidden vertical"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid sort field": {
                    "description": "Invalid sort field",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Invalid sort field: invalidField",
                          "field": "sortBy"
                        }
                      ]
                    }
                  },
                  "Invalid status IDs": {
                    "description": "Invalid status IDs",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Invalid status IDs format",
                          "field": "statusIds"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "API to activate a proposal and its proposed campaigns",
        "description": "This API activates a proposal and all of its proposed campaigns by setting is_deleted = false. The caller provides a strategyId and the system looks up the linked proposal.",
        "operationId": "activateProposal",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24"
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id Header",
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivateProposalRequest"
              },
              "examples": {
                "Generate Proposal from Strategy": {
                  "description": "Generate Proposal from Strategy",
                  "value": {
                    "strategyId": 1
                  }
                },
                "Generate Proposal from Plan": {
                  "description": "Generate Proposal from Plan",
                  "value": {
                    "planId": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Proposal activated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseMessageIdResponse"
                },
                "examples": {
                  "Success response": {
                    "description": "Success response",
                    "value": {
                      "success": true,
                      "data": {
                        "id": 7,
                        "message": "Plan A saved successfully."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Requesting activation for non-political vertical",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Forbidden vertical response": {
                    "description": "Forbidden vertical response",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Request for forbidden vertical"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Strategy not found": {
                    "description": "Strategy not found",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Strategy with strategy id 42 does not exist",
                          "field": "strategyId"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Server error response": {
                    "description": "Server error response",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Something went wrong"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "MCP"
        ],
        "summary": "API to delete proposals by proposal IDs (bulk operation)",
        "description": "This API marks proposals as deleted for the given proposal IDs. Associated proposed campaigns are also deleted.",
        "operationId": "deleteProposalsByIds",
        "parameters": [
          {
            "name": "proposalIds",
            "in": "query",
            "description": "Comma-separated list of proposal IDs to be deleted. Example: proposalIds=101,102,103",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24"
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id Header",
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Proposals successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseMessageResponse"
                },
                "examples": {
                  "Success response": {
                    "description": "Success response",
                    "value": {
                      "success": true,
                      "data": {
                        "message": "Proposals have been deleted successfully"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "No proposals found for the given IDs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "No proposals found": {
                    "description": "No proposals found",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "No proposals found for the given proposal ids",
                          "field": "proposalIds"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Requesting delete for non-political vertical",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Forbidden vertical response": {
                    "description": "Forbidden vertical response",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Request for forbidden vertical"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/plan/political/proposals/{proposalId}/split": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "API to split an existing proposal",
        "description": "Regenerates a cross-screen (Voter TV+, objectiveId 3) proposal's CTV campaigns by splitting\nits targeting across the given dimensions -- e.g. a separate CTV campaign per device or per\ncreative -- instead of a single combined campaign. Only applies to cross-screen proposals;\ncalling this on any other proposal type is not supported.\n",
        "operationId": "splitProposal",
        "parameters": [
          {
            "name": "proposalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24"
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id Header",
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Advanced"
              },
              "examples": {
                "Split proposal request": {
                  "description": "Split proposal request",
                  "value": {
                    "locations": [
                      15
                    ]
                  }
                }
[...]
