{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0",
    "description": "MCP Campaign API Specification",
    "contact": {
      "name": "IQM Support",
      "url": "https://iqm.com/contact/",
      "email": "support@iqm.com"
    }
  },
  "servers": [
    {
      "url": "https://api.iqm.com",
      "description": "IQM API"
    }
  ],
  "tags": [
    {
      "name": "MCP",
      "description": "MCP API endpoints"
    }
  ],
  "paths": {
    "/api/v3/cmp/io/basic/list": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "API to get basic details of insertion-order (IO)",
        "description": "This API provides the list of basic insertion order details\n\n---\n\n#### Request Body Detail\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| owIdList | List of Integers | List of **owIds** for which IO details required.|\n| ioIdList | List of integers | List of **ioIds** for which IO details required .|\n| ioBudgetTypeIdsList | List of integers | List of **ioBudgetTypeIds** for which IO details are required .|\n| ioStatusIdsList | List of integers | List of **ioStatusIds** for which IO details are required .|\n| ids | List of integers | List of **ioIds** for which IO details required at the top .|\n| isAllOWIds | Boolean | Flag for consider all the owId for IO details (true = consider all the owId for which user has access, false = consider only provided owIds).|\n| pageNo | int | page number for required data.|\n| noOfEntries | int | Number of records per page.|\n| searchField | String | Name of search field (Support is available for name and id).|\n| sortBy | String | Comma separated names of the sorting field. it support multiple column sorting. for descending order user -(minus) and +(plus)(ascii value '%2B') for ascending order. i.g. ioId, ioName, ioStartTime, ioEndTime, ioTotalBudget.|\n| offset | int | Offset is alternative of page number. Offset is number of records to be skipped.|\n",
        "operationId": "getIOBasicDetailsList",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IOBasicDetailsRequestVO"
              },
              "examples": {
                "Request sample for Advertiser user": {
                  "description": "Request sample for Advertiser user",
                  "value": {
                    "pageNo": 1,
                    "noOfEntries": 20,
                    "ioIdList": [
                      12,
                      34
                    ],
                    "ids": [
                      2
                    ],
                    "searchField": "io name",
                    "sortBy": "-ioId",
                    "ioBudgetTypeIdsList": [
                      2
                    ],
                    "ioStatusIdsList": [
                      1,
                      2,
                      3
                    ],
                    "offset": 1
                  }
                },
                "Request sample for Workspace user (selected customers)": {
                  "description": "Request sample for Workspace user (selected customers)",
                  "value": {
                    "pageNo": 1,
                    "noOfEntries": 2,
                    "owIdList": [
                      1236,
                      4356
                    ],
                    "ioIdList": [
                      12,
                      34
                    ],
                    "ids": [
                      2
                    ],
                    "isAllOwIds": false,
                    "searchField": "io name",
                    "ioBudgetTypeIdsList": [
                      2
                    ],
                    "ioStatusIdsList": [
                      2
                    ],
                    "sortBy": "-ioId",
                    "offset": 3
                  }
                },
                "Request sample for Workspace user (all customers)": {
                  "description": "Request sample for Workspace user (all customers)",
                  "value": {
                    "pageNo": 1,
                    "noOfEntries": 2,
                    "ioIdList": [
                      12,
                      34
                    ],
                    "ids": [
                      2
                    ],
                    "isAllOwIds": true,
                    "searchField": "io name",
                    "ioBudgetTypeIdsList": [
                      2
                    ],
                    "ioStatusIdsList": [
                      2,
                      1
                    ],
                    "sortBy": "-ioId",
                    "offset": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IOBasicDetailsResponse"
                },
                "examples": {
                  "Success response": {
                    "description": "Success response",
                    "value": {
                      "success": true,
                      "data": {
                        "totalRecords": 3,
                        "ioBasicDetailsList": [
                          {
                            "ioId": 1630,
                            "ioName": "phase 2 test",
                            "ioStartTime": 1792179297123,
                            "ioEndTime": 1793179297123,
                            "ioTimeZoneId": 29,
                            "ioTotalBudget": 0,
                            "ioBudgetDistributionMethodId": 1,
                            "ioBudgetTypeId": 2,
                            "ioStatusId": 1,
                            "ioTotalImpressions": 0,
                            "isBudgetAutoSum": true
                          },
                          {
                            "ioId": 741,
                            "ioName": "testdatasync",
                            "ioStartTime": 1692860161542,
                            "ioEndTime": 1696226400000,
                            "ioTimeZoneId": 21,
                            "ioTotalBudget": 100001,
                            "ioBudgetDistributionMethodId": 1,
                            "ioBudgetTypeId": 2,
                            "ioTotalImpressions": 0,
                            "ioStatusId": 1,
                            "isBudgetAutoSum": true
                          },
                          {
                            "ioId": 738,
                            "ioName": "IO Bharat",
                            "ioStartTime": 1693251767612,
                            "ioEndTime": 1693353600000,
                            "ioTimeZoneId": 29,
                            "ioTotalBudget": 1100,
                            "ioBudgetDistributionMethodId": 1,
                            "ioBudgetTypeId": 2,
                            "ioStatusId": 2,
                            "ioTotalImpressions": 0,
                            "isBudgetAutoSum": true
                          }
                        ],
                        "filteredRecords": 3
                      }
                    }
                  },
                  "422_UNPROCESSABLE_ENTITY": {
                    "description": "422_UNPROCESSABLE_ENTITY",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Error message."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/cmp/io/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "It will add the insertion order details for campaign on IO creation.",
        "description": "This API will create IO and inserts it details as well as response with the added details.",
        "operationId": "createCampaignIO",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IODetailsVO"
              },
              "examples": {
                "budget based IO creation": {
                  "description": "Budget-based IO creation with manual budget. Note: when isAutoSumIoTotalBudget is true, do NOT include ioTotalBudget.",
                  "value": {
                    "ioName": "IO Name 1",
                    "ioStartTime": 1690898148000,
                    "ioEndTime": 1690898888000,
                    "ioTotalBudget": 1000,
                    "ioTimeZoneId": 29,
                    "isAutoSumIoTotalBudget": false,
                    "ioBudgetTypeId": 1,
                    "ioBudgetDistributionMethodId": 1
                  }
                },
                "impression based IO creation": {
                  "description": "Impression-based IO creation with auto-sum budget",
                  "value": {
                    "ioName": "IO Name 2",
                    "ioStartTime": 1690898148000,
                    "ioEndTime": 1690898888000,
                    "ioTimeZoneId": 29,
                    "isAutoSumIoTotalBudget": true,
                    "ioBudgetTypeId": 2,
                    "ioStatusId": 1,
                    "ioBudgetDistributionMethodId": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateIOResponse"
                },
                "examples": {
                  "Successful creation of IO": {
                    "description": "Successful creation of IO",
                    "value": {
                      "success": true,
                      "data": {
                        "ioId": 25096,
                        "ioName": "new IO 1",
                        "owId": 203578,
                        "createdByUowId": 188494,
                        "modifiedByUowId": 188494,
                        "ioStartTime": 1778299200000,
                        "ioEndTime": null,
                        "ioTotalBudget": null,
                        "ioTimeZoneId": 29,
                        "isAutoSumIoTotalBudget": true,
                        "ioBudgetDistributionMethodId": 1,
                        "ioBudgetTypeId": 1,
                        "ioTotalImpressions": null,
                        "ioStatusId": 1,
                        "ioNextPerformanceCheck": null,
                        "ioLastPriorityShift": null,
                        "ioCurrentPriority": null,
                        "isIoPrioritise": false
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Unprocessable entity": {
                    "description": "Unprocessable entity",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "The field 'ioName' cannot be empty."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/cmp/io/{ioId}": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "It will retrieve the insertion order details for campaign based on IO id.",
        "description": "This API will fetch the basic details based on insertion order Id.",
        "operationId": "getBasicIODetailsById",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          },
          {
            "name": "ioId",
            "in": "path",
            "description": "insertion order identity number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateIOResponse"
                },
                "examples": {
                  "IO with priority shift data": {
                    "description": "IO with priority shift data",
                    "value": {
                      "success": true,
                      "data": {
                        "ioId": 985,
                        "ioName": "TEST UPDATE",
                        "ioStartTime": 1793251767612,
                        "ioEndTime": 1794251767612,
                        "ioTotalBudget": 0,
                        "ioTimeZoneId": 29,
                        "isBudgetAutoSum": true,
                        "ioBudgetDistributionMethodId": 1,
                        "ioBudgetTypeId": 1,
                        "ioStatusId": 1,
                        "ioTotalImpressions": 0,
                        "owId": 201427,
                        "createdByUowId": 9480,
                        "modifiedByUowId": 9480,
                        "isIoPrioritise": true,
                        "ioNextPerformanceCheck": 1708606327000,
                        "ioLastPriorityShift": 1704976116958,
                        "ioCurrentPriority": 4
                      }
                    }
                  },
                  "IO without priority shift data": {
                    "description": "IO without priority shift data",
                    "value": {
                      "success": true,
                      "data": {
                        "ioId": 985,
                        "ioName": "TEST UPDATE",
                        "ioStartTime": 1793251767612,
                        "ioEndTime": 1794251767612,
                        "ioTotalBudget": 0,
                        "ioTimeZoneId": 29,
                        "isBudgetAutoSum": true,
                        "ioBudgetDistributionMethodId": 1,
                        "ioBudgetTypeId": 1,
                        "ioStatusId": 1,
                        "ioTotalImpressions": 0,
                        "owId": 201427,
                        "createdByUowId": 9480,
                        "modifiedByUowId": 9480,
                        "isIoPrioritise": true,
                        "ioNextPerformanceCheck": null,
                        "ioLastPriorityShift": null,
                        "ioCurrentPriority": null
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "examples": {
                  "Unprocessable entity": {
                    "description": "Unprocessable entity",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Invalid insertion order id."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "MCP"
        ],
        "summary": "It will edit the insertion order details for campaign on IO creation.",
        "description": "This API will edit IO and inserts its details with the added details.\n---\n\n#### Request Body Detail\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| ioName `[optional]`  | String | Name to be updated for the IO |\n| ioEndTime `[optional]`  | Long | IO end time that is to be updated in epochs (milliseconds) |\n| ioTotalBudget `[optional]`  | Double | IO total budget to be updated. |\n| ioTimeZoneId `[optional]`  | Integer | IO time zone id to be updated |\n| ioTotalImpressions `[optional]`  | Long | IO total impressions to be updated. |\n| isBudgetAutoSum `[optional]`  | Boolean | Whether the IO total budget is auto-summed from campaign budgets. When true, do NOT include ioTotalBudget. |\n",
        "operationId": "editIODetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          },
          {
            "name": "ioId",
            "in": "path",
            "description": "insertion order identity number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IOPatchEditRequestVO"
              },
              "example": {
                "ioName": "IO Name 1",
                "ioStartTime": 1690898148000,
                "ioEndTime": 1690898888000,
                "ioTotalBudget": 1000,
                "ioTotalImpressions": 0,
                "ioTimeZoneId": 29,
                "isBudgetAutoSum": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Successful edit of IO": {
                    "description": "Successful edit of IO",
                    "value": {
                      "success": true,
                      "data": "IO Name 1 saved successfully."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Unprocessable entity": {
                    "description": "Unprocessable entity",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Invalid ioId."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/cmp/io/campaign/basic/list": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "API for List of Campaign Details grouped by Insertion Order Details",
        "description": "This api provides list of Insertion Order basic details with List of Campaign details which are attached to that Insertion Order.\n---\n\n#### Request Body Detail\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| pageNo `[optional]` | Number | Page number for the required data. Default value is 1. |\n| noOfEntries `[optional]` | Number | The maximum number of returned results per page. Default value is 20.|\n| sortBy `[optional]` | String | Sort the result set by specific field. For ascending use plus(+) sign(ascii value '%2B') and for descending use minus(-) sign. Supported values are as follows : `ioId`,`ioName`,`ioStartTime`,`ioEndTime`,`ioTotalBudget`,`campaignId`,`isRecordTargeted` |\n| searchField `[optional]` | String | Search the result by provided keyword in the searchField.  |\n| ioIdsList `[optional]`  | Array of Integer | The list includes selected campaign IO IDs. Records matching the provided IDs will be returned first, before other records. |\n| campaignTypeIds `[optional]`  | Array of Integer | The list includes selected campaign type ids i.e Advanced campaign or PG campaign, Records matching the provided IDs will be returned. |\n| ids `[optional]`  | Array of Integer | This represent campaign ids filter. |\n| ioIds `[optional]`  | Array of Integer | This represent IO ids filter. |\n| status `[optional]`  | Array of String | The list includes types of campaign status to be fetched. |\n| creativeTypeIds `[optional]`  |  Array of Integer  | This represent creative type ids filter. |\n| ioBudgetTypeIds `[optional]`  |  Array of Integer  | This represent io budget type ids filter. |\n| owIds `[optional]` | Array of Integer  | This represent customer owIds filter.\n| audienceSubtypeId `[optional]` | Integer  | This represent audience subtype id filter. |\n",
        "operationId": "getIoMappedWithCampaignsDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IOCampaignRequestVO"
              },
              "examples": {
                "Request body for IO Campaign basic details for advanced campaigns": {
                  "description": "Request body for IO Campaign basic details for advanced campaigns",
                  "value": {
                    "creativeTypeIds": [
                      11,
                      14
                    ],
                    "owIds": [
                      201427
                    ],
                    "ids": [
                      321743
                    ],
                    "searchField": "default",
                    "pageNo": 1,
                    "noOfEntries": 20,
                    "sortBy": "+ioId",
                    "status": [
                      "running",
                      "pending"
                    ],
                    "ioIds": [
                      363
                    ],
                    "campaignTypeIds": [
                      1
                    ],
                    "ioBudgetTypeIds": [
                      1
                    ],
                    "offset": 1
                  }
                },
                "Request body for IO Campaign basic details for pg campaigns": {
                  "description": "Request body for IO Campaign basic details for pg campaigns",
                  "value": {
                    "creativeTypeIds": [
                      11,
                      14
                    ],
                    "owIds": [
                      201427
                    ],
                    "ids": [
                      321743
                    ],
                    "searchField": "default",
                    "pageNo": 1,
                    "noOfEntries": 20,
                    "sortBy": "+ioId",
                    "status": [
                      "running",
                      "pending"
                    ],
                    "ioIds": [
                      363
                    ],
                    "campaignTypeIds": [
                      2
                    ],
                    "offset": 1
                  }
                },
                "Request body for IO Campaign basic details for PG campaigns with payment type id": {
                  "description": "Request body for IO Campaign basic details for PG campaigns with payment type id",
                  "value": {
                    "creativeTypeIds": [
                      11,
                      14
                    ],
                    "owIds": [
                      201427
                    ],
                    "ids": [
                      321743
                    ],
                    "searchField": "default",
                    "pageNo": 1,
                    "noOfEntries": 20,
                    "sortBy": "+ioId",
                    "status": [
                      "running",
                      "pending"
                    ],
                    "ioIds": [
                      363
                    ],
                    "campaignTypeIds": [
                      2
                    ],
                    "paymentTypeId": 2,
                    "offset": 1
                  }
                },
                "Request body for IO Campaign basic details for both type of campaigns": {
                  "description": "Request body for IO Campaign basic details for both type of campaigns",
                  "value": {
                    "creativeTypeIds": [
                      11,
                      14
                    ],
                    "owIds": [
                      201427
                    ],
                    "ids": [
                      321743
                    ],
                    "searchField": "default",
                    "pageNo": 1,
                    "noOfEntries": 20,
                    "sortBy": "+ioId",
                    "status": [
                      "running",
                      "pending"
                    ],
                    "ioIds": [
                      363
                    ],
                    "offset": 1,
                    "includeTargetedAudienceList": true
                  }
                },
                "Request body for IO Campaign basic details for expired campaign with filter on the expiry date": {
                  "description": "Request body for IO Campaign basic details for expired campaign with filter on the expiry date",
                  "value": {
                    "creativeTypeIds": [
                      11,
                      14
                    ],
                    "owIds": [
                      201427
                    ],
                    "ids": [
                      321743
                    ],
                    "searchField": "default",
                    "pageNo": 1,
                    "noOfEntries": 20,
                    "sortBy": "+ioId",
                    "status": [
                      "running",
                      "pending"
                    ],
                    "ioIds": [
                      363
                    ],
                    "offset": 1,
                    "includeTargetedAudienceList": true,
                    "campaignExpiredAfterEpoch": 1719839148000
                  }
                },
                "Request body for IO Campaign basic details with audience filters and ABM flag": {
                  "description": "Request body for IO Campaign basic details with audience filters and ABM flag",
                  "value": {
                    "status": [
                      "running",
                      "paused",
                      "expired",
                      "draft",
                      "pending",
                      "rejected",
                      "deleted"
                    ],
                    "pageNo": -1,
                    "sortBy": "-ioId,-campaignId",
                    "includeTargetedAudienceList": true,
                    "campaignTypeIds": [
                      1
                    ],
                    "isOnlyABMAudienceRequiredFlag": false,
                    "audienceSubtypeId": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IoCampaignsBasicListResponse"
                },
                "examples": {
                  "List of Insertion Order with List of campaign details": {
                    "description": "List of Insertion Order with List of campaign details",
                    "value": {
                      "success": true,
                      "data": {
                        "totalRecords": 272,
                        "ioCampaignsList": [
                          {
                            "ioId": 4091,
                            "ioName": "Future start date",
                            "ioBudgetTypeId": 1,
                            "ioStatusId": 1,
                            "created": 1700726026913,
                            "lastModified": 1700726065000,
                            "owId": 201353,
                            "uowId": 8776,
                            "campaignCount": 1,
                            "campaigns": [
                              {
                                "id": 450700,
                                "campaignId": 450700,
                                "name": "future date campaign",
                                "creativeTypeId": 11,
                                "campaignTypeId": 1,
                                "status": "running",
                                "startTime": 1732690800,
                                "endTime": 1767164400,
                                "createdAt": 1701078853,
                                "modifiedAt": 1707091200000,
                                "owId": 201353,
                                "timezoneId": 21,
                                "targetedAudienceIds": [
                                  1010324,
                                  1054144,
                                  1060433,
                                  1063317
                                ]
                              }
                            ]
                          },
                          {
                            "ioId": 3979,
                            "ioName": "Test IO for campaign popup",
                            "ioBudgetTypeId": 1,
                            "ioStatusId": 1,
                            "created": 1700476689502,
                            "lastModified": 1701248369000,
                            "owId": 201353,
                            "uowId": 8776,
                            "campaignCount": 1,
                            "campaigns": [
                              {
                                "id": 451031,
                                "campaignId": 451031,
                                "name": "no end date",
                                "creativeTypeId": 11,
                                "campaignTypeId": 1,
                                "status": "running",
                                "startTime": 1701249000,
                                "createdAt": 1701248369,
                                "modifiedAt": 1707091200000,
                                "owId": 201353,
                                "timezoneId": 21,
                                "targetedAudienceIds": [
                                  1010324,
                                  1054144,
                                  1060433,
                                  1063317
                                ]
                              }
                            ]
                          },
                          {
                            "ioId": 225,
                            "ioName": "Beatrice King",
                            "ioBudgetTypeId": 1,
                            "ioStatusId": 2,
                            "created": 1677925263000,
                            "lastModified": 1700888400000,
                            "owId": 201353,
                            "uowId": 112037,
                            "campaignCount": 1,
                            "campaigns": [
                              {
                                "id": 450277,
                                "campaignId": 450277,
                                "name": "prod-campaign-20935 copy",
                                "creativeTypeId": 11,
                                "campaignTypeId": 1,
                                "status": "running",
                                "startTime": 1700819565,
                                "endTime": 1709182800,
                                "createdAt": 1700818673,
                                "modifiedAt": 1707177600000,
                                "owId": 201353,
                                "timezoneId": 29,
                                "targetedAudienceIds": null
                              }
                            ]
                          },
                          {
                            "ioId": 48,
                            "ioName": "UAW",
                            "ioBudgetTypeId": 1,
                            "ioStatusId": 1,
                            "created": 1665500839000,
                            "lastModified": 1704704810000,
                            "owId": 201353,
                            "uowId": 8776,
                            "campaignCount": 1,
                            "campaigns": [
                              {
                                "id": 20731,
                                "campaignId": 20731,
                                "name": "prod-campaign-20731",
                                "creativeTypeId": 11,
                                "campaignTypeId": 1,
                                "status": "running",
                                "startTime": 1676700273,
                                "endTime": 1711857600,
                                "createdAt": 1676700278,
                                "modifiedAt": 1707177600000,
                                "owId": 201353,
                                "timezoneId": 29,
                                "targetedAudienceIds": null
                              }
                            ]
                          }
                        ],
                        "filteredRecords": 4
                      }
                    }
                  },
                  "Request body for IO Campaign basic details for expired campaign with filter on the expiry date": {
                    "description": "Request body for IO Campaign basic details for expired campaign with filter on the expiry date",
                    "value": {
                      "success": true,
                      "data": {
                        "totalRecords": 24956,
                        "ioCampaignsList": [
                          {
                            "ioId": 27,
                            "ioName": "Sample name",
                            "ioBudgetTypeId": 1,
                            "ioStatusId": 1,
                            "created": 1667344573000,
                            "lastModified": 1698304782000,
                            "owId": 201427,
                            "uowId": 9480,
                            "campaignCount": 1,
                            "campaigns": [
                              {
                                "id": 262423,
                                "campaignId": 262423,
                                "name": "Sample Campaign 1",
                                "creativeTypeId": 17,
                                "status": "expired",
                                "startTime": 1888705936,
                                "endTime": 1888705937,
                                "createdAt": 1653907326,
                                "modifiedAt": 1711584000000,
                                "owId": 201427,
                                "ioId": 0,
                                "ioName": null,
                                "ioStatusId": 0,
                                "timezoneId": 11,
                                "campaignTypeId": 1,
                                "ioBudgetTypeId": 0,
                                "targetedAudienceIds": null
                              }
                            ]
                          }
                        ],
                        "filteredRecords": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/cmp/io/delete": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Update IO status to delete along with campaigns attached to it",
        "description": "This API updates the status to delete for the given list of IO ids.",
        "operationId": "updateIOStatusToDelete",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteIORequestVO"
              },
              "examples": {
                "Delete IO from Super": {
                  "description": "Delete IO from Super",
                  "value": {
                    "ioIdsList": [
                      1,
                      2,
                      3
                    ]
                  }
                },
                "Delete IO from Advertiser": {
                  "description": "Delete IO from Advertiser",
                  "value": {
                    "ioIdsList": [
                      1,
                      2,
                      3
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Multiple IO Response ": {
                    "description": "Multiple IO Response ",
                    "value": {
                      "success": true,
                      "data": "3 Insertion Orders deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "Invalid Io Ids": {
                    "description": "Invalid Io Ids",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Invalid IO ids."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden!"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/cmp/io/duplicate": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "This method duplicates single IO ",
        "description": "This method duplicates single IO and also duplicates the campaigns with status : **Running, Paused, Pending, Expired, Rejected** And within the IO ",
        "operationId": "duplicateIO",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IODuplicateRequestVO"
              },
              "examples": {
                "duplicate io with end date": {
                  "description": "duplicate io with end date",
                  "value": {
                    "ioStartTime": 1698295604000,
                    "ioEndTime": 1698258600000,
                    "ioId": 223,
                    "ioTimeZoneId": 105,
                    "ioExistingCampaignIds": [
                      12345,
                      67890,
                      21345
                    ]
                  }
                },
                "duplicate io without end date": {
                  "description": "duplicate io without end date",
                  "value": {
                    "ioStartTime": 1698295604000,
                    "ioId": 241,
                    "ioTimeZoneId": 105,
                    "ioExistingCampaignIds": [
                      12345,
                      54321
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateIOResponse"
                },
                "examples": {
                  "Success Response": {
                    "description": "Success Response",
                    "value": {
                      "success": true,
                      "data": {
                        "duplicatedCampaignIds": [
                          12345,
                          54321
                        ],
                        "duplicatedIoId": 271
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                },
                "examples": {
                  "When Start time is not provided": {
                    "description": "When Start time is not provided",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "Start date is mandatory "
                        }
                      ]
                    }
                  },
                  "When End time is not provided for expired IO": {
                    "description": "When End time is not provided for expired IO",
                    "value": {
                      "success": false,
                      "errorObjects": [
                        {
                          "error": "End date is mandatory for expired IO"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "server encountered an error !"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errorObjects": [
                    {
                      "error": "Forbidden!"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/cmp/campaigns/update-status": {
      "put": {
        "tags": [
          "MCP"
        ],
        "summary": "Update Campaign Status",
        "description": "This API updates status of multiple campaign to running/rejected/paused/deleted/draft. \n---\n\n#### Request Body Detail\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| campaignIds | String | Comma separated campaign ids whose status need to be updated. |\n| status | String | New status to be set for the campaigns. Allowed values are 'running', 'rejected', 'paused', 'deleted', 'draft'. |\n| adCategoryIds `[optional]` | String | Comma separated ad category ids to be set for all the campaigns. |\n| campaignAdCategories `[optional]` | Map<Integer, Map<String, String>> | Map of campaignId and ad category ids to be set for each campaign. Key is campaignId and value is map with key as 'adCategoryIds' and value as comma separated ad category ids. If this field is provided, 'adCategoryIds' field will be ignored. |\n",
        "operationId": "updateCampaignStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignStatusRequestDTO"
              },
              "example": {
                "campaignIds": "440264,440133",
                "status": "running",
                "adCategoryIds": "1,2,3"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ]
      }
    },
    "/api/v2/cmp/campaigns/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Save Campaign",
        "description": "This API saves the campaign with given targeting and with `pending` status.\n\n**Important Notes:**\n- The following fields are required: `campaignName`, `creativeType`, `exchanges`, `publisherAdCategory`, `ioId`, `isAgreementChecked`, `advertiserDomain`, `creativeIds`, `countryId`\n- Do NOT combine `totalBudgetPacing: true` with `budgetDay` \u2014 they are incompatible and will cause a 400 error\n- `startTime` uses epoch seconds (Unix timestamp)\n- `advertiserDomain` must include the protocol (e.g. `https://www.example.com`)\n- `exchanges` and `publisherAdCategory` accept empty strings even though they are listed as required\n- `countryId` uses IQM internal master IDs (e.g. 30100001 for US), not ISO country codes\n\n---\n\n#### Request Body Detail\n\n| **Field** | **Type** | **Description** |\n| --- | --- | --- |\n| advertiserDomain | String | add domain |\n| budgetDay | Number | Daily budget |\n| budgetTotal | Number | Total budget |\n| campaignName | String | name of campaign |\n| campaignType | Number | Campaign type id |\n| creativeIds | String | Comma separated creative Ids |\n| creativeType | Number | Creative type id |\n| isAgreementChecked | Boolean | agreement check |\n| maxBid | Number | max bid |\n| startTime | Number | campaign start time |\n| timezone | Number | timezone id. |\n| bidOptimization `[optional]` | Boolean | Optimize bid price based on analysis. |\n| bidPacing `[optional]` | Boolean | Budget is spent equally every hour. |\n| impressionCapping `[optional]` | Number | Maximum impressions in one inventory. |\n| maxDayClicks `[optional]` | Number | Maximum daily clicks |\n| totalClicks `[optional]` | Number | Total clicks |\n| maxDayImpressions `[optional]` | Number | Maximum daily impressions |\n| totalImpressions `[optional]` | Number | Total impressions |\n| maxDayConversions `[optional]` | Number | Maximum daily conversions |\n| totalConversions `[optional]` | Number | Total conversions |\n| conversionType `[optional]` | String | User conversion type. Allowed values: 'install', 'non-install'. |\n| appURL `[optional]` | String | If conversion type is install, specify URL of inventory. |\n| targetCPI `[optional]` | Number | Cost per install if conversion type is install. |\n| carriers `[optional]` | String | Carrier targeting. Value in form of String of comma separated IDs of targeted carrier(s). |\n| networkType `[optional]` | String | Network targeting. Value in form of String of comma separated IDs of targeted network(s). |\n| deviceType `[optional]` | String | Device targeting. Value in form of String of comma separated IDs of targeted device type(s). |\n| trafficType `[optional]` | String | Traffic type targeting. Value in form of String of comma separated IDs of targeted traffic type(s). |\n| manufacturer `[optional]` | String | Manufacturer targeting. Value in form of String of comma separated IDs of targeted manufacturer type(s). |\n| os `[optional]` | String | OS targeting. Value in form of String of comma separated IDs of targeted OS. |\n| osVersion `[optional]` | String | OS version targeting. Value in form of String of comma separated IDs of targeted OS version based on targeted OS. |\n| exchanges `[optional]` | String | Targeted exchanges. Value in form of String of comma separated IDs of exchanges. |\n| prebidAudienceSegmentIdList `[optional]` | Array | Prebid Audience Segment Ids to attach campaign to segment Ids. |\n| whiteListedDeviceId `[optional]` | String | Target Device Ids. Value in form of String of comma separated device IDs. |\n| whiteListedIp `[optional]` | String | IPV4 address. Value in form of String of comma separated IP Address. |\n| whiteListedAppId `[optional]` | String | iOS app ID |\n| whiteListedPackageName `[optional]` | String | Android package names. Value in form of String of comma separated package names. |\n| whiteListedSiteDomain `[optional]` | String | Target sites. Value in form of String of comma separated domain urls. |\n| blackListedDeviceId `[optional]` | String | Target Device Ids. Value in form of String of comma separated device IDs. |\n| blackListedIp `[optional]` | String | IPV4 address. Value in form of String of comma separated IP Address. |\n| blackListedAppId `[optional]` | String | iOS app ID |\n| blackListedPackageName `[optional]` | String | Android package names. Value in form of String of comma separated package names. |\n| blackListedSiteDomain `[optional]` | String | Target sites. Value in form of String of comma separated domain urls. |\n| publisherAdCategory `[optional]` | String | Target Publisher ad category. Value in form of String of comma separated IDs. |\n| ioId | Number | Target Insertion OrderId in which this campaign belongs. |\n| blackListedInventoryGroupIds `[optional]` | String | Target already created Inventory groups. Value in form of String of comma separated IDs. |\n| whiteListedInventoryGroupIds `[optional]` | String | Target already created Inventory groups. Value in form of String of comma separated IDs. |\n| blackListedCustomAudienceIds `[optional]` | String | Target already created custom audience Groups. Value in form of String of comma separated IDs. |\n| whiteListedCustomAudienceIds `[optional]` | String | Target already created custom audience Groups. Value in form of String of comma separated IDs. |\n| blackListedAudienceSegmentGroupIds `[optional]` | String | Target already created audience segment Groups. Value in form of String of comma separated IDs. |\n| whiteListedAudienceSegmentGroupIds `[optional]` | String | Target already created audience segment Groups. Value in form of String of comma separated IDs. |\n| blackListedConversionTagIds `[optional]` | String | Target already created conversion tags. Value in form of String of comma separated IDs. |\n| whiteListedConversionTagIds `[optional]` | String | Target already created conversion tags. Value in form of String of comma separated IDs. |\n| userDealId `[optional]` | String | User specific deal IDs. Value in form of String of comma separated deal IDs. |\n| groupDealId `[optional]` | String | Group of selected deals. Value in form of String of comma separated deal IDs. |\n| politicalAdvertiserClientId `[optional]` | Number | Id of political advertiser in case of campaign is political campaign. |\n| stateIds `[optional]` | String | State Target (It will be considered as White list State Target). Value in form of String of comma separated IDs. |\n| whiteListedStateIds `[optional]` | String | White list State Target . Value in form of String of comma separated IDs. |\n| blackListedStateIds `[optional]` | String | Black list State Target . Value in form of String of comma separated IDs. |\n| countryId | String | Country Target |\n| dmaIds `[optional]` `deprecated` | String | DMA Target. Value in form of String of comma separated IDs. |\n| whiteListedDmaIds `[optional]` | String | white list DMA Target. Value in form of String of comma separated IDs. |\n| blackListedDmaIds `[optional]` | String | black list DMA Target. Value in form of String of comma separated IDs. |\n| senateDistrictIds `[optional]` `deprecated` | String | Senate districts Target. Value in form of String of comma separated IDs. |\n| whiteListedSenateDistrictIds `[optional]` | String | white list senate districts Target. Value in form of String of comma separated IDs. |\n| blackListedSenateDistrictIds `[optional]` | String | black list senate districts Target. Value in form of String of comma separated IDs. |\n| congressionalDistrictIds `[optional]` `deprecated` | String | Congressional districts Target. Value in form of String of comma separated IDs. |\n| whiteListedCongressionalDistrictIds `[optional]` | String | white list congressional districts Target. Value in form of String of comma separated IDs. |\n| blackListedCongressionalDistrictIds `[optional]` | String | black list congressional districts Target. Value in form of String of comma separated IDs. |\n| houseDistrictIds `[optional]` `deprecated` | String | House districts Target. Value in form of String of comma separated IDs. |\n| whiteListedHouseDistrictIds `[optional]` | String | white list house districts Target. Value in form of String of comma separated IDs. |\n| blackListedHouseDistrictIds `[optional]` | String | black list house districts Target. Value in form of String of comma separated IDs. |\n| geoRadiusDetails `[optional]` `deprecated` | String | To target custom ares in circle or polygon. Value in form of JSON. |\n| whiteListedGeoRadiusDetails `[optional]` | String | To white list custom ares in circle or polygon. Value in form of JSON. |\n| blackListedGeoRadiusDetails `[optional]` | String | To black list custom ares in circle or polygon. Value in form of JSON. |\n| zipcodes `[optional]` `deprecated` | String | ZipCode Target. Value in form of String of comma separated IDs. |\n| whiteListedZipcodes `[optional]` | String | white list zipCode Target. Value in form of String of comma separated IDs. |\n| blackListedZipcodes `[optional]` | String | black list zipCode Target. Value in form of String of comma separated IDs. |\n| locationFileIds `[optional]` | String | Target location by uploading file. Value in form of String of comma separated csv file ids.(pre uploaded) |\n| whiteListedLocationIds `[optional]` | String | white list location ids from uploaded files. Value in form of String of comma separated location ids. |\n| blackListedLocationIds `[optional]` | String | black list location ids from uploaded files. Value in form of String of comma separated location ids. |\n| whiteListedCityIds `[optional]` | String | white list city Target. Value in form of String of comma separated IDs. |\n| blackListedCityIds `[optional]` | String | black list city Target. Value in form of String of comma separated IDs. |\n| whiteListedCountyIds `[optional]` | String | white list county Target. Value in form of String of comma separated IDs. |\n| blackListedCountyIds `[optional]` | String | black list county Target. Value in form of String of comma separated IDs. |\n| ageRangeIds `[optional]` | String | Target age range. Value in form of string of comma separated IDs. |\n| genderIds `[optional]` | String | Target gender. Value in form of String of comma-separated IDs. |\n| interestIds `[optional]` | String | Target user interest. Value in form of a string of comma-separated IDs. |\n| incomeRangeIds `[optional]` | String | Target user income range. Value in form of a string of comma-separated IDs. |\n| languageIds `[optional]` | String | Target user language. Value in form of a string of comma-separated IDs. |\n| ethnicityIds `[optional]` | String | Target user ethnicity. Value in form of a string of comma-separated ID. |\n| schedule `[optional]` | String\\[\\]\\[\\] | key as \\[0 to 6\\] maps to \\[Monday to Sunday\\] & values \\[\\['hh:mm:ss','hh:mm:ss'\\], ...\\] |\n| conversionIds `[optional]` | String | Target pixel conversions. Value in form of a string of comma-separated ID. |\n| isAdvanceAudioVideoTargeted | Boolean | To indicate if the advance targeting is enabled if this is true, 'creativeAdvanceTargeting' is optional and it is assumed that every video creative segment is targeted. |\n| isBidPacing | Boolean | To indicate whether the bid shading is enabled. |\n| creativeAdvanceTargeting | JSON Map: String to Integer | Map of Creative advanced targeting group to list of creative advance targeting segment ids. |\n| campaignEstimatorMetaData | JSON | Campaign  Estimator data with `reachMeta`, `landScapeMeta` and `sliderMeta`  |\n\n---\n\n#### Scheduling example\n\n```\n\"scheduling\": {\n    \"0\": [\n      [\n        \"03:00:00\",\n        \"05:00:00\"\n      ],\n      [\n        \"06:00:00\",\n        \"11:00:00\"\n      ]\n    ]\n}\n\n```\n\n---\n\n#### GeoRadiusDetails example (below is the common format for whitelist and blacklist both)\n\n```\n\"whiteListedGeoRadiusDetails\" : [\n        {\n            \"unit\": \"mile\",\n            \"address\": \"Denver, CO 80202, USA\",\n            \"latitude\": 39.739235,\n            \"radius\": 2,\n            \"type\": \"circle\",\n            \"longitude\": -104.99025,\n            \"sid\": \"4666\",\n            \"cid\": \"246\"\n        },\n        {\n            \"unit\": \"mile\",\n            \"address\": \"Grand Lake, CO 80447, USA\",\n            \"latitude\": 40.19427,\n            \"radius\": 1,\n            \"type\": \"circle\",\n            \"longitude\": -105.84889,\n            \"sid\": \"4666\",\n            \"cid\": \"246\"\n        },\n        {\n            \"unit\": \"mile\",\n            \"address\": \"Yonkers, NY 10710, USA\",\n            \"latitude\": 40.95017,\n            \"radius\": 3,\n            \"type\": \"circle\",\n            \"longitude\": -73.84669,\n            \"sid\": \"4694\",\n            \"cid\": \"246\"\n        },\n        {\n            \"polypath\": [\n                {\n                    \"lng\": -112.05635319323119,\n                    \"lat\": 40.80285757668772\n                },\n                {\n                    \"lng\": -111.44111881823119,\n                    \"lat\": 38.15773779255543\n                },\n                {\n                    \"lng\": -108.45283756823119,\n                    \"lat\": 39.25508137287102\n                },\n                {\n                    \"lng\": -109.15596256823119,\n                    \"lat\": 41.266931755469045\n                }\n            ],\n            \"unit\": \"mile\",\n            \"address\": \"Dry Creek Rd, Utah, USA\",\n            \"latitude\": 39.712334774012234,\n            \"type\": \"custom\",\n            \"radius\": 164.41,\n            \"longitude\": -110.25459538073119,\n            \"sid\": \"4709\",\n            \"cid\": \"246\"\n        },\n        {\n            \"polypath\": [\n                {\n                    \"lng\": -98.60998217413051,\n                    \"lat\": 39.527470270360105\n                },\n                {\n                    \"lng\": -93.16076342413051,\n                    \"lat\": 41.662771525199084\n                }\n            ],\n            \"unit\": \"mile\",\n            \"address\": \"Nebraska City, NE 68410, USA\",\n            \"latitude\": 40.595120897779594,\n            \"type\": \"square\",\n            \"radius\": 259.09,\n            \"longitude\": -95.88537279913051,\n            \"sid\": \"4689\",\n            \"cid\": \"246\"\n        }\n    ]\n\n```",
        "operationId": "saveCampaign",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCampaignRequestDTO"
              },
              "examples": {
                "Minimal Campaign (required fields only)": {
                  "description": "Minimum required fields to save a pending campaign. Do NOT combine totalBudgetPacing: true with budgetDay \u2014 they are incompatible and will cause a 400 error.",
                  "value": {
                    "campaignName": "My Campaign",
                    "isAgreementChecked": true,
                    "advertiserDomain": "https://www.example.com",
                    "creativeType": 14,
                    "budgetTotal": 100,
                    "budgetTypeId": 1,
                    "startTime": 1598427074,
                    "timezone": 105,
                    "creativeIds": "100027,100028",
                    "maxBid": 10.5,
                    "exchanges": "27,21",
                    "publisherAdCategory": "112",
                    "countryId": 246,
                    "ioId": "20",
                    "totalBudgetPacing": false
                  }
                },
                "Campaign with targeting options": {
                  "description": "Campaign with additional targeting options including geo, audience, and device targeting.",
                  "value": {
                    "campaignName": "Targeted Campaign",
                    "isAgreementChecked": true,
                    "advertiserDomain": "https://www.example.com",
                    "creativeType": 14,
                    "budgetTotal": 500,
                    "budgetTypeId": 1,
                    "startTime": 1598427074,
                    "timezone": 105,
                    "creativeIds": "100027,100028",
                    "maxBid": 10.5,
                    "minBid": 5.5,
                    "bidOptimization": false,
                    "bidPacing": true,
                    "exchanges": "27,21",
                    "publisherAdCategory": "112",
                    "countryId": 246,
                    "ioId": "20",
                    "totalBudgetPacing": false,
                    "deviceType": "15",
                    "trafficType": "11",
                    "os": "11,14",
                    "whiteListedStateIds": "30200031,30200032",
                    "whiteListedDmaIds": "1,2",
                    "whiteListedAudienceIds": "900254,900271"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "examples": {
                  "Save Campaign with all details.": {
                    "description": "Save Campaign with all details.",
                    "value": {
                      "statusCode": 201,
                      "responseObject": {
                        "data": 123456,
                        "message": "Campaign saved successfully.",
                        "status": "pending"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "examples": {
                  "Validation error": {
                    "description": "Validation error",
                    "value": {
                      "statusCode": 412,
                      "responseObject": {
                        "errorMsg": "Invalid arguments audience ids!",
                        "errorCode": 412
                      }
                    }
                  },
                  "Frequency capping error": {
                    "description": "Frequency capping error",
                    "value": {
                      "statusCode": 400,
                      "responseObject": {
                        "errorMsg": "Frequency capping map is required.",
                        "errorCode": 400,
                        "errorField": "frequencyCapping"
                      }
                    }
                  },
                  "Frequency cap type error": {
                    "description": "Frequency cap type error",
                    "value": {
                      "statusCode": 400,
                      "responseObject": {
                        "errorMsg": "Invalid frequency cap type.",
                        "errorCode": 400,
                        "errorField": "frequencyCapId"
                      }
                    }
                  },
                  "Frequency cap type duration error": {
                    "description": "Frequency cap type duration error",
                    "value": {
                      "statusCode": 400,
                      "responseObject": {
                        "errorMsg": "Invalid frequency duration for frequency cap type 'Campaign Duration'",
                        "errorCode": 400,
                        "errorField": "frequencyDuration"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 500,
                  "responseObject": {
                    "errorMsg": "Internal server error",
                    "errorCode": 500
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/cmp/campaigns/draft/add": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "Save Campaign as a draft",
        "description": "This API saves the campaign as a draft with given targeting and with `draft` status.\n\n**Important Notes:**\n- `advertiserDomain` must include the protocol (e.g. `https://www.example.com`)\n- `exchanges` and `publisherAdCategory` accept empty strings even though the schema lists them as required\n- `countryId` uses IQM internal master IDs (e.g. 30100001 for US), not ISO country codes",
        "operationId": "saveDraftCampaign",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCampaignRequestDTO"
              },
              "examples": {
                "Save Campaign as draft with all details.": {
                  "description": "Save Campaign as draft with all details.",
                  "value": "{   \"campaignName\": \"Sample campaign name \",    \"isAgreementChecked\": true,    \"advertiserDomain\": \"https://www.example.com\",    \"creativeType\": 14,    \"budgetTotal\": 100,    \"budgetTypeId\": 1,    \"startTime\": 1598427074,    \"budgetDay\": 18,    \"timezone\": 105,    \"creativeIds\": \"100027,100028\",    \"maxBid\": 10.5,    \"minBid\": 5.5,    \"bidOptimization\": false,    \"bidPacing\": true,    \"isBidShading\": true,    \"impressionCapping\": 2,    \"frequencyCapEnabled\": true,    \"frequencyCapping\": {        1: {            \"frequencyCapDuration\": 6,            \"frequencyCapValue\": 5        },        2: {            \"frequencyCapDuration\": 3,            \"frequencyCapValue\": 20        },        3: {            \"frequencyCapDuration\": 3,            \"frequencyCapValue\": 60        },        4: {            \"frequencyCapDuration\": 0,            \"frequencyCapValue\": 100        }    },    \"conversionType\": \"install\",    \"conversionTypeId\": 1,    \"appURL\": \"https://www.example.com\",    \"totalBudgetPacing\": false,    \"carriers\": \"293,294\",    \"networkType\": \"13\",    \"deviceType\": \"15\",    \"trafficType\": \"11\",    \"manufacturer\": \"451,155\",    \"os\": \"11,14\",    \"osVersion\": \"11,12,13\",    \"exchanges\": \"27,21\",    \"whiteListedIp\": \"df\",    \"whiteListedPackageName\": \"sdf\",    \"whiteListedSiteDomain\": \"example,https://www.example.com\",    \"blackListedDeviceId\": \"id1,id2\",    \"blackListedIp\": \"id11,id22\",    \"blackListedAppId\": \"id1, id2\",    \"blackListedPackageName\": \"id1,id2\",    \"blackListedSiteDomain\": \"https://www.example.com\",    \"prebidAudienceSegmentIdList\": [10,11,12],     \"publisherAdCategory\": \"112\",    \"userDealId\": \"1,2,b\",    \"countryId\": 246,    \"ioId\": \"1\",    \"politicalAdvertiserClientId\": 17,    \"locationFileIds\": \"1011,1010\",    \"whiteListedLocationIds\": \"48377\",    \"advertiserType\": \"political\",    \"blackListedLocationIds\": \"48376,48363\",    \"whiteListedGeoRadiusDetails\": [        {            \"unit\": \"mile\",            \"address\": \"Cimarron, KS 67835, USA\",            \"latitude\": 37.80248612144266,            \"radius\": 2,            \"type\": \"circle\",            \"longitude\": -100.27823091234018,            \"sid\": \"4678\",            \"cid\": \"246\"        },        {            \"polypath\": [                {                    \"lng\": -99.39437061774724,                    \"lat\": 37.76021967782698                },                {                    \"lng\": -99.61959034430974,                    \"lat\": 37.63852171601434                }            ],            \"unit\": \"mile\",            \"address\": \"Greensburg, KS 67054, USA\",            \"latitude\": 37.5741000760343,            \"type\": \"custom\",            \"radius\": 24.1195753931379,            \"longitude\": -99.33119923102849,            \"sid\": \"4678\",            \"cid\": \"246\"        }    ],    \"blackListedDmaIds\": \"3,4\",    \"whiteListedDeviceId\": \"123,jh34,jkd34\",    \"blackListedHouseDistrictIds\": \"5202,1684,1685\",    \"whiteListedCongressionalDistrictIds\": \"78,174,222\",    \"stateIds\": \"30200031,30200032\",    \"whiteListedStateIds\": \"30200031,30200032\",    \"blackListedStateIds\": \"30200033,30200035\",    \"blackListedZipcodes\": \"35007\",    \"whiteListedSenateDistrictIds\": \"662,665,2303\",    \"whiteListedHouseDistrictIds\": \"5096,5067,5201\",    \"blackListedSenateDistrictIds\": \"2308,988,992\",    \"whiteListedDmaIds\": \"1,2\",    \"whiteListedZipcodes\": \"35005\",    \"blackListedAudienceIds\": \"889185,888981\",    \"whiteListedAudienceIds\": \"900254,900271\",    \"blackListedCongressionalDistrictIds\": \"368,53,100\",    \"isAdvanceAudioVideoTargeted\":true,     \"campaignEstimatorMetaData\": {             \"reachMeta\": {},            \"landScapeMeta\": {},            \"sliderMeta\": {}    },    \"creativeAdvanceTargeting\":{        \"placementType\":[20600001],        \"rollPosition\":[20700001],        \"playerSize\":[20800001],        \"skippability\":[20900001],        \"playbackMethod\":[21000001]    },    \"inventoryKeywords\": [        \"Clothing\",        \"Education\"    ],    \"inventoryUrls\": [        \"https://www.google.com\",        \"https://www.iqm.com\"    ]}"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "examples": {
                  "Validation error": {
                    "description": "Validation error",
                    "value": {
                      "statusCode": 412,
                      "responseObject": {
                        "errorMsg": "Invalid arguments audience ids!",
                        "errorCode": 412
                      }
                    }
                  },
                  "Frequency capping error": {
                    "description": "Frequency capping error",
                    "value": {
                      "statusCode": 400,
                      "responseObject": {
                        "errorMsg": "Frequency capping map is required.",
                        "errorCode": 400,
                        "errorField": "frequencyCapping"
                      }
                    }
                  },
                  "Frequency cap type error": {
                    "description": "Frequency cap type error",
                    "value": {
                      "statusCode": 400,
                      "responseObject": {
                        "errorMsg": "Invalid frequency cap type.",
                        "errorCode": 400,
                        "errorField": "frequencyCapId"
                      }
                    }
                  },
                  "Frequency cap type duration error": {
                    "description": "Frequency cap type duration error",
                    "value": {
                      "statusCode": 400,
                      "responseObject": {
                        "errorMsg": "Invalid frequency duration for frequency cap type 'Campaign Duration'",
                        "errorCode": 400,
                        "errorField": "frequencyDuration"
                      }
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "examples": {
                  "Save Campaign as draft with all details.": {
                    "description": "Save Campaign as draft with all details.",
                    "value": {
                      "statusCode": 201,
                      "responseObject": {
                        "data": 123456,
                        "message": "Campaign saved successfully.",
                        "status": "draft"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 500,
                  "responseObject": {
                    "errorMsg": "Internal server error",
                    "errorCode": 500
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/cmp/campaign/draft/{campaignId}": {
      "put": {
        "tags": [
          "MCP"
        ],
        "summary": "Update draft campaign",
        "description": "This API updates the draft campaign with given targeting.\n\n**\u26a0\ufe0f Known Issue:** This endpoint may return a 500 Internal Server Error for certain campaigns due to a server-side bug. If you encounter a 500 error, the issue is on the server side, not with the request payload.",
        "operationId": "editDraftCampaign",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCampaignRequestDTO"
              },
              "examples": {
                "Update draft campaign with all details.": {
                  "description": "Update draft campaign with all details.",
                  "value": {
                    "campaignName": "Sample campaign name ",
                    "isAgreementChecked": true,
                    "advertiserDomain": "https://www.example.com",
                    "creativeType": 14,
                    "budgetTotal": 100,
                    "startTime": 1598427074,
                    "budgetDay": 18,
                    "timezone": 105,
                    "creativeIds": "100027,100028",
                    "maxBid": 10.5,
                    "minBid": 5.5,
                    "bidOptimization": false,
                    "bidPacing": true,
                    "isBidShading": true,
                    "impressionCapping": 2,
                    "frequencyCapEnabled": true,
                    "frequencyCapping": {
                      "1": {
                        "frequencyCapDuration": 6,
                        "frequencyCapValue": 5
                      },
                      "2": {
                        "frequencyCapDuration": 3,
                        "frequencyCapValue": 20
                      },
                      "3": {
                        "frequencyCapDuration": 3,
                        "frequencyCapValue": 60
                      },
                      "4": {
                        "frequencyCapDuration": 0,
                        "frequencyCapValue": 100
                      }
                    },
                    "conversionType": "install",
                    "conversionTypeId": 1,
                    "appURL": "https://www.example.com",
                    "totalBudgetPacing": false,
                    "carriers": "293,294",
                    "networkType": "13",
                    "deviceType": "15",
                    "trafficType": "11",
                    "manufacturer": "451,155",
                    "os": "11,14",
                    "osVersion": "11,12,13",
                    "exchanges": "27,21",
                    "prebidAudienceSegmentIdList": [
                      10,
                      11,
                      12
                    ],
                    "whiteListedIp": "df",
                    "whiteListedPackageName": "sdf",
                    "whiteListedSiteDomain": "example,https://www.example.com",
                    "blackListedDeviceId": "id1,id2",
                    "blackListedIp": "id11,id22",
                    "blackListedAppId": "id1, id2",
                    "blackListedPackageName": "id1,id2",
                    "blackListedSiteDomain": "https://www.example.com",
                    "publisherAdCategory": "112",
                    "userDealId": "1,2,b",
                    "countryId": 246,
                    "politicalAdvertiserClientId": 17,
                    "locationFileIds": "1011,1010",
                    "whiteListedLocationIds": "48377",
                    "blackListedLocationIds": "48376,48363",
                    "whiteListedGeoRadiusDetails": [
                      {
                        "unit": "mile",
                        "address": "Cimarron, KS 67835, USA",
                        "latitude": 37.8024861214427,
                        "radius": 2,
                        "type": "circle",
                        "longitude": -100.27823091234,
                        "sid": "4678",
                        "cid": "246"
                      },
                      {
                        "polypath": [
                          {
                            "lng": -99.3943706177472,
                            "lat": 37.760219677827
                          },
                          {
                            "lng": -99.6195903443097,
                            "lat": 37.6385217160143
                          }
                        ],
                        "unit": "mile",
                        "address": "Greensburg, KS 67054, USA",
                        "latitude": 37.5741000760343,
                        "type": "custom",
                        "radius": 24.1195753931379,
                        "longitude": -99.3311992310285,
                        "sid": "4678",
                        "cid": "246"
                      }
                    ],
                    "blackListedDmaIds": "3,4",
                    "whiteListedDeviceId": "123,jh34,jkd34",
                    "blackListedHouseDistrictIds": "5202,1684,1685",
                    "whiteListedCongressionalDistrictIds": "78,174,222",
                    "stateIds": "30200031,30200032",
                    "whiteListedStateIds": "30200031,30200032",
                    "blackListedStateIds": "30200033,30200035",
                    "blackListedZipcodes": "35007",
                    "whiteListedSenateDistrictIds": "662,665,2303",
                    "whiteListedHouseDistrictIds": "5096,5067,5201",
                    "blackListedSenateDistrictIds": "2308,988,992",
                    "whiteListedDmaIds": "1,2",
                    "whiteListedZipcodes": "35005",
                    "blackListedAudienceIds": "889185,888981",
                    "advertiserType": "political",
                    "whiteListedAudienceIds": "900254,900271",
                    "blackListedCongressionalDistrictIds": "368,53,100",
                    "isAdvanceAudioVideoTargeted": true,
                    "creativeAdvanceTargeting": {
                      "placementType": [
                        20600001
                      ],
                      "rollPosition": [
                        20700001
                      ],
                      "playerSize": [
                        20800001
                      ],
                      "skippability": [
                        20900001
                      ],
                      "playbackMethod": [
                        21000001
                      ]
                    },
                    "inventoryKeywords": [
                      "Clothing",
                      "Education"
                    ],
                    "inventoryUrls": [
                      "https://www.google.com",
                      "https://www.iqm.com"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "examples": {
                  "Update draft campaign with all details.": {
                    "description": "Update draft campaign with all details.",
                    "value": {
                      "statusCode": 200,
                      "responseObject": {
                        "data": 292664,
                        "message": "Campaign updated successfully.",
                        "status": "draft"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "examples": {
                  "Validation error": {
                    "description": "Validation error",
                    "value": {
                      "statusCode": 412,
                      "responseObject": {
                        "errorMsg": "Invalid arguments audience ids!",
                        "errorCode": 412
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 500,
                  "responseObject": {
                    "errorMsg": "Internal server error",
                    "errorCode": 500
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/cmp/campaign/{campaignId}": {
      "get": {
        "tags": [
          "MCP"
        ],
        "summary": "Get all details of the campaign",
        "description": "This API will provide all the campaign details for provided campaign Id",
        "operationId": "getCampaign",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization Bearer Token",
            "example": "Bearer 0ed52da8-24ab-44b1-bc88-7ea03a090d24",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{bearer_token}}"
            }
          },
          {
            "name": "X-IAA-OW-ID",
            "in": "header",
            "description": "Organization Workspace Id",
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int64",
              "example": "1"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "isSpentRequired",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "API to get all details of the campaign.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignBasicDetailRequestVO"
              },
              "examples": {
                "Get all campaign details": {
                  "description": "Get all campaign details",
                  "value": {
                    "isSpentRequired": false
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "examples": {
                  "Get all campaign details": {
                    "description": "Get all campaign details",
                    "value": {
                      "statusCode": 200,
                      "responseObject": {
                        "ioId": 1,
                        "ioName": "Insertion Order Name",
                        "owId": 100288,
                        "parentOrganizationName": "sample",
                        "id": 253397,
                        "uowId": 4767,
                        "campaignName": "Sample name",
                        "advertiserDomain": "https://sample.com",
                        "creativeType": 11,
                        "campaignType": 1,
                        "totalBudgetPacing": false,
                        "isTvAd": false,
                        "budgetDay": 120,
                        "budgetTotal": 1200,
                        "budgetTypeId": 1,
                        "maxBid": 12,
                        "baseBid": 12,
                        "ioCampaignPriority": 3,
                        "timezone": 11,
                        "startTime": 1640543431,
                        "endTime": 1640629831,
                        "campaignTypeId": 2,
                        "pgDealIds": [
                          378
                        ],
                        "spendingBudget": 98.76,
                        "pgFeesPercentage": 10,
                        "pgFeesBudget": 9.87,
                        "pgPaymentTypeId": 2,
                        "status": "draft",
                        "advertiserType": "political",
                        "dspMargin": 0,
                        "platformMargin": 0,
                        "userDealMargin": 0,
                        "spentScale": false,
                        "creativeIds": "394572",
                        "prebidAudienceSegmentIdList": [
                          10,
                          11,
                          12
                        ],
                        "conversionType": "None",
                        "conversionTypeId": 1,
                        "conversionIds": "3277,3278",
                        "bidOptimization": true,
                        "bidPacing": true,
                        "isBidShading": true,
                        "impressionCapping": 0,
                        "frequencyCapEnabled": true,
                        "frequencyCapping": {
                          "1": {
                            "frequencyCapDuration": 6,
                            "frequencyCapValue": 5
                          },
                          "2": {
                            "frequencyCapDuration": 3,
                            "frequencyCapValue": 20
                          },
                          "3": {
                            "frequencyCapDuration": 3,
                            "frequencyCapValue": 60
                          },
                          "4": {
                            "frequencyCapDuration": 0,
                            "frequencyCapValue": 100
                          }
                        },
                        "deviceType": "13,15,11,12",
                        "trafficType": "11,14,13,12",
                        "exchanges": "27,21,26",
                        "isLocationWithOrFilter": true,
                        "countryId": "246",
                        "stateIds": "30200031,30200032",
                        "whiteListedStateIds": "30200031,30200032",
                        "blackListedStateIds": "30200033,30200035",
                        "locationDetails": {},
[...]
